@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	.days .row{
		padding: 0 99px 0 81px;
		margin-left: 0;
		margin-right: 0;
	}
}


@media only screen and (min-width : 510px){
	.days .row{
		padding: 0 98px 0 86px;
		margin-left: 0;
		margin-right: 0;
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	.days .row{
		padding: 10px 61px 0 50px;
		margin-left: 0;
		margin-right: 0;
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body{
		font-size: 18px;
	}
	#hero-video{
		padding-bottom: 150px;
	}
	#about{
		padding-bottom: 150px;
	}
	#listing{
		padding: 60px 0;
	}
	#road-map{
		padding: 60px 0 450px;
	}
	.bordered{
		border-left: 4px solid $blue;
		padding-left: 75px;
		& h3:before{
			content: '';
			width: 40px;
			height: 40px;
			background-color: #fff;
			border-radius: 50%;
			position: absolute;
			top: 17px;
			left: -21px;
		}
		& h3:after{
			content: '';
			width: 14px;
			height: 14px;
			background-color: $gold;
			border-radius: 50%;
			position: absolute;
			top: 30px;
			left: -9px;
		}
	}
	#public-sale-info{
		padding: 60px 0 250px;
	}
	.days{
		font-size: 1em;
	}
	.days .row{
		padding: 10px 181px 0 170px;
		margin-left: 0;
		margin-right: 0;
	}

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	footer{
		& .footer-buttons-wrap{
			justify-content: space-between;
		}

		& .btn{
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
		}

	}
	footer .copyright{
		margin-top: -15px;
	}
	.days .row{
		padding: 10px 272px 0 259px;
		margin-left: 0;
		margin-right: 0;
	}
}

@media only screen and (min-width : 1300px){
	footer .btn{
		min-width: 268px;
	}
	.container{
		max-width: 1260px;
	}
	#hero-video{
		padding-bottom: 13vw;
	}
	#about{
		padding-bottom: 13vw;
	}
	#road-map{
		padding-bottom: 13vw;
	}
	.days .row{
		padding: 10px 335px 0 320px;
		margin-left: 0;
		margin-right: 0;
	}
}