@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	position:relative;
}

body {
	color: $black;
	font-size: 16px;
	line-height: 1.44;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	overflow-x: hidden;
	background-color: #E6E6E9;
}


h1,h2,h3,h4,h5,h6{
	font-family: 'Anton', sans-serif;
	font-weight: 400;
}

h1, .h1{
  font-size: 2.55em;
  line-height: 1.2;
}

h2{
  font-size: 1.77em;
  line-height: 1.1875;
}

h3{
  font-size: 1.44em;
  line-height: 1.46;
}

h4{
  font-size: 21px;
  line-height: 27px;
}

h5{
  font-size: 14px;
  line-height: 18px;
}

img{
	max-width: 100%;
	height: auto;
}

a{
	color:$pink;
	transition: all 0.3s ease-in-out;
	display: inline-block;
	text-decoration: none;
	&:hover{
		color:$black;
	}
}

a:hover, a:active, a:focus {
	outline: none;
}

button, button:hover, button:active, button:focus {
	outline: none;
}

input::-moz-focus-inner { 
  border: 0; 
}

input:focus, textarea:focus{
	outline: none;
}

object, embed { 
  outline: none;
}

::placeholder { 
  color: $grey;
  opacity: 1; 
}

.container{
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid{
	max-width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.column{
	padding: 0 15px;
	flex-basis: 100%;
	max-width: 100%;
}

.text-center{
	text-align: center;
}

.mb-15{
	margin-bottom: 15px;
}

.mb-30{
	margin-bottom: 30px;
}

.mb-45{
	margin-bottom: 45px;
}

.mb-60{
	margin-bottom: 60px;
}

.small{
	font-size: 0.88em;
}

.align-items-center{
	align-items: center;
}