@font-face{
	font-family: 'Nunito-Terence';
	src: url('../fonts/NunitoSans-Regular.ttf');
	font-weight: 400;
}

@font-face{
	font-family: 'Nunito-Terence';
	src: url('../fonts/NunitoSans-Bold.ttf');
	font-weight: 700;
}

@font-face{
	font-family: 'Fira-Terence';
	src: url('../fonts/FiraSans-Medium.ttf');
	font-weight: 500;
}

@font-face{
	font-family: 'Fira-Terence';
	src: url('../fonts/FiraSans-Bold.ttf');
	font-weight: 700;
}

@font-face{
	font-family: 'Fira-Terence';
	src: url('../fonts/FiraSans-Black.ttf');
	font-weight: 800;
}