@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){


}


@media only screen and (min-width : 576px){

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	body {
		font-size: 16px;
	}
	.success-icons{
		justify-content: space-between;
	}
	.fundraising-image{
		min-height: 500px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body {
		font-size: 18px;
	}
	#hero{
		margin-top: -190px;
		& h1{
			padding-top: 150px;
			margin-right: -150px;
		}
	}

	.sign img{
		width: 100px;
		margin-top: -50px;
	}
	#quote{
		padding: 60px 70px;
	}
	.seals{
		max-width: 25%;
	}
	.cases-wrap{
		padding-left: 45px;
		padding-right: 45px;
	}
	.fundraising-image{
		min-height: 700px;
	}
	.caselist{
		& li{
			padding-left: 60px;
		}
	}
	#about{
		padding: 60px 0;
	}
	.caselist{
		& li{
			&:before{
				top: 7px;
			}
		}
	}
	.success-icons{
		justify-content: center;
	}
	.expect-wrap{
		padding: 100px 80px;
	}
	#cases .bg-grey{
		padding-right: calc((100% - 930px) / 2);
	}
	#questions{
		padding: 60px 0;
	}
	.radio-container .checkmark:after {
	  top: 5px;
	  left: 9px;
	}
}



/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	
	#hero{
		margin-top: -190px;
		& h1{
			padding-top: 150px;
			margin-right: -150px;
		}
	}
	#quote{
		padding: 60px 0;
	}
	.quoted:before{
		content: url('../img/quote.svg');
		display: block;
		position: absolute;
		top: -80px;
		left: -120px;
	}
	.quoted:after{
		content: url('../img/quote.svg');
		display: block;
		position: absolute;
		transform: rotate(180deg);
		bottom: -80px;
		right: -120px;
	}
	#cases .bg-grey{
		padding-right: 0;
	}
}

@media only screen and (min-width : 1600px){
	body {
		font-size: 20px;
	}
	.container{
		max-width: 1560px;
	}

	.hero-subtitle{
		padding-right: 150px;
	}
	.quoted:before{
		top: -90px;
	}
	.quoted:after{
		bottom: -90px;
	}
	.fundraising-image{
		min-height: 825px;
	}
	.success-icons{
		margin-left: 50px;
	}
	.success-icons{
		justify-content: space-between;
	}
	.expect-wrap{
		margin-left: 90px;
		margin-right: 90px;
		margin-top: -80px;
	}
	#cases .bg-grey{
		padding-right: calc((100% - 1530px) / 2);
	}
	.answer, .question{
		padding-right: 80px;
	}
	.form-wrap{
		margin-left: 80px;
		margin-right: 80px;
		padding: 100px 130px;
	}
	.radio-container .checkmark:after {
	  top: 6px;
	  left: 11px;
	}
}