
.main-menu{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $grey;
	transform: translateY(-100%);
	transition: transform 0.8s ease-in-out;
	& ul{
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		& li{
			display: block;
			padding-left: 24px;
			padding-right: 24px;
			margin-bottom: 30px;
			line-height: 1;
			& a{
				position: relative;
				color:$black;
				font-weight: 500;
				align-items: center;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				transition: color 0.3s ease-in-out;
				&:hover{
					color:$blue;
				}
			}
		}
	}
}

.main-menu.open{
	transform: translateY(0%);
}


/* Toggle */
.toggle-btn {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9999999;
  &.open{
  	right:30px;
  }
   }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
   }

.hamburger .icon-bar {
  background-color: $blue;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  &:first-child{
	width: 28px;
  }
  &:nth-child(2){
  	width:18px;
  }
  &:nth-child(3){
  	width:8px;
  }
}

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 4px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  width: 28px;
  top: -7px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }




