@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";

.bar-social-buttons{
	position: fixed;
	top: 80px;
	right: 12px;
	z-index: 99;
	& ul{
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		& li{
			margin-bottom: 1em;
		}
	}
	&.open{
		display: none;
	}
}

.hero-subtitle{
	font-size: 1.5em;
	font-weight: 700;
}

.blue-button{
	color: #fff;
	background-color: $blue;
	padding: 20px 37px;
	line-height: 1;
	position: relative;
	&:hover{
		color: #fff;
		background-color: darken($blue, 10%);
	}
	&.arrow-down{
		padding-right: 67px;
		&:after{
			content: url('../img/arrow-down.svg');
			position: absolute;
			display: block;
			top: 16px;
			right: 22px;
		}
	}
}

.gold-button{
	color: #fff;
	background-color: $gold;
	padding: 20px 37px;
	line-height: 1;
	position: relative;
	&:hover{
		color: #fff;
		background-color: darken($gold, 10%);
	}
	&.arrow-down{
		padding-right: 67px;
		&:after{
			content: url('../img/arrow-down.svg');
			position: absolute;
			display: block;
			top: 16px;
			right: 22px;
		}
	}
}

#hero{
	padding-top: 30px;
}

#quote{
	padding: 30px 0;
	background-color: $blue;
	color: #fff;
}

.sign img{
		width: 80px;
		margin-top: -30px;
	}

#about{
	padding: 30px 0;
}

.seals-wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.seals{
	text-align: center;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}	

.seals-icon{
	min-height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.seals-description{
	font-size: 0.8em;
}

.fundraising-image{
	min-height: 280px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.cases-wrap{
	padding-left: 15px;
	padding-right: 15px;
}

.caselist{
	margin: 0;
	padding: 0;
	list-style: none;
	& li{
		font-weight: 700;
		padding-left: 45px;
		margin-bottom: 20px;
		position: relative;
		&:before{
			content: '';
			width: 12px;
			height: 12px;
			display: block;
			background-color: $gold;
			position: absolute;
			top: 4px;
			left: 0;
		}
	}
}

.success-icons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	& .success-icon{
		padding: 15px;
	}
}

.expect-wrap{
	background-color: $gold;
	padding: 60px;
}

#expect ul{
	margin: 0;
	padding-left: 20px;
	& li{
		list-style-type:"– ";
	}
}

.white-link{
	color: #fff;
	text-decoration: underline;
	&:hover{
		color: $blue;
		text-decoration: underline;
	}
}

#questions{
	padding: 30px 0;
}

.question-wrap{
	margin-bottom: 45px;
	position: relative;
	padding-left: 65px;
	min-height: 110px;
}

.question{
	& h3{
		font-weight: 500;
		margin-bottom: 40px;
		position: relative;
		&:before{
			content: url('../img/question.svg');
			display: block;
			position: absolute;
			left: -65px;
			opacity: 0.15;
			top: calc((-80px + 100%) / 2);
		}
	}
}

.form-wrap{
	background-color: $blue;
	padding: 30px 15px;
}

#fileInput{
	width: 0.1px;
	height: 0.1px;
	font-size: 0;
	opacity: 0;
	overflow:hidden;
	position: absolute;
	z-index: -1;
}

#dropContainer{
	width: 100%;
	height: 165px;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='6' stroke-dasharray='6%2c 14' stroke-dashoffset='4' stroke-linecap='square'/%3e%3c/svg%3e");
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	& img{
		margin-right: 10px;
	}
	& a{
		margin-left: 10px;
		text-decoration: underline;
		&:hover{
			color: #fff;
		}
	}
	&:hover{
		background-color: rgba(0,0,0,.15);
	}
}

.box_uploading,
.box_success,
.box_error {
  display: none;
}

.dropdown .dropdown-menu {
  width: 100%;
  padding: 0;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid $blue;
  background-color: #eee;
  border-radius: 0;
  margin-top: 0; }

.dropdown .dropdown-menu li {
  padding: 1.5em 2.5em;
  font-size: 1em;
  transition: all .2s ease-in-out;
  cursor: pointer; }

.dropdown .dropdown-menu li:hover {
  background-color: lighten($blue, 30%); }


.dropdown {
	height: 48.59px;
	outline: none;
  color: $black;
  border-radius: 0;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  line-height: 1;
  background-color: #fff;
  cursor: pointer; }
 .dropdown .select {
 	opacity: 0.7;
 	padding: 1.5em 2.5em; }
    .dropdown.filled .select {
 	opacity: 1; }
 .dropdown:after{
 	content: url('../img/arrow.svg');
 	position: absolute;
 	display: block;
 	width: 12px;
 	height: 12px;
 	top: 35%;
 	right: 15px;
 }
 .dropdown.active:after{
 	transform: rotate(180deg);
 }


.radio-container {
	color: #fff;
  display: block;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.radio-container .checkmark {
  position: absolute;
  top: -0.4em;
  left: 0;
  height: 2em;
  width: 2em;
  background-color: #fff;
  border-radius: 50%;
  border:1px solid #0f2b89;
}


.radio-container:hover input ~ .checkmark:after {
  opacity: 1;
}


.radio-container input:checked ~ .checkmark {
  background-color: #fff;
  border:1px solid $gold;
}


.radio-container .checkmark:after {
  content: url('../img/marker.svg');
  position: absolute;
  opacity: 0.15;
  transition: all 0.3s ease-in-out;
}


.radio-container input:checked ~ .checkmark:after {
  opacity: 1;
}


.radio-container .checkmark:after {
  top: 5px;
  left: 6px;

} 

.amount-container {
	color: $gold;
	font-size: 1.2em;
	font-weight: 700;
  display: inline-block;
  position: relative;
  padding: 10px 50px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.custom-amount{
  	padding-right: 100px;
  }
}


.amount-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.amount-container #custom-amount{
	position: absolute;
	opacity: 1;
	cursor: pointer;
	width: 45px;
	height: 30px;
	top: 0;
	right: 25px;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	color:$gold;
	font-size: 1em;
	font-weight: 700;
	line-height: 1;
	padding: 0;
}

.amount-container .checkmark {
  position: absolute;
  top: 0;
  left: 14px;
  bottom: 0;
  width: 15px;
  height: 20px;
    margin-top: auto;
  margin-bottom: auto;
}


.amount-container:hover input ~ .checkmark:after {
  opacity: 1;
}


.amount-container .checkmark:after {
  content: url('../img/marker.svg');
  font-size: 20px;
  line-height: 1;
  position: absolute;
  opacity: 0.15;
  transition: all 0.3s ease-in-out;
}


.amount-container input:checked ~ .checkmark:after {
  opacity: 1;
}

.copyright{
	color: #fff;
	font-size: 0.6em;
}

@import "media";