@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	.hero-img-column{
		flex-basis: 50%;
		max-width: 50%;
		order:2;
	}
	.hero-title-column{
		flex-basis: 50%;
		max-width: 50%;
		order:1;
	}
	.home-hero-row{
		align-items:center;
	}
	.influence-title-column{
		flex-basis: 50%;
		max-width: 50%;
		order: 2;
		margin-bottom: 0;
	}
	.influence-image-column{
		flex-basis: 50%;
		max-width: 50%;
		order: 1;
	}

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body{
		font-size: 18px;
	}
	#header{
		& .header-row{
			align-items:center;
		}
		& .brand-column{
			flex-basis: 240px;
			max-width: 240px;
			margin-bottom: 0;
			& .brand a{
				display: flex;
				align-items:center;
			}
		}
		& .top-buttons-column{
			flex-basis: 240px;
			max-width: 240px;
			& .btn:first-child{
				margin-right: 16px;
			}
		}
		& .main-menu-column{
			flex-basis: calc(100% - 480px);
			max-width: calc(100% - 480px);
		}
	}
	#home-hero{
		margin-top: -112px;
		padding-top: 112px;
	}
	#seals{
		padding: 60px 0;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	#home-hero{
		& h1{
			padding-left: 60px;
			padding-right: 140px;
		}
		& .home-hero-description{
			padding-left: 60px;
			padding-right: 180px;
		}
		& .btn{
			margin-left: 60px;
		}
	}

	#seals{
		& .seals-title-column{
			flex-basis: 180px;
			max-width: 180px;
			padding-left: 75px;
		}
		& .seals-column{
			flex-basis: calc(100% - 180px);
			max-width: calc(100% - 180px);
		}
	}

	.influence-title-column{
		padding-right: 215px;
	}
}