@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	height: 100%;
}

body {
	color: $black;
	font-size: 16px;
	line-height: 180%;
	font-family: Poppins-TomsPicks, sans-serif;
	overflow-x: hidden;
	background-color: #f7f9fa;
}



h1,h2,h3,h4,h5,h6{
	font-family: Poppins-TomsPicks, sans-serif;
}

h1{
	font-size: 50px;
	line-height: 100%;
	font-weight: 700;
}

h2{
  font-weight: 700;
	font-size: 32px;
	line-height: 140%;
	margin-bottom: 30px;
}

h3{
  font-weight: 700;
	font-size: 26px;
	line-height: 140%;
	margin-bottom: 20px;
}

h4{
  font-weight: 700;
	font-size: 18px;
	line-height: 140%;
}

h5{
  font-size: 14px;
  line-height: 18px;
}

a{
	color:$gold;
	transition: all 0.3s ease-in-out;
	&:hover{
		text-decoration: none;
		color:$gold;
	}
}

a:hover, a:active, a:focus {
	outline: 0;
}

#post-body img{
	border-radius: 10px;
	max-width: 100%;
	height: auto;
}

#post-body ul{
	list-style: none;
	padding: 0;
	& li{
		position: relative;
		padding-left: 15px;
		&:before{
			content: '';
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: $gold;
			position: absolute;
			left: 0;
			top: 14px;
		}
	}
}

input::-moz-focus-inner { 
  border: 0; 
}

object, embed { 
  outline: 0;
}

::placeholder { 
  color: $black;
  opacity: 0.6; 
}

