@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: 'WorkSans-DeFi';
  src: url("../fonts/WorkSans-Medium.ttf");
  font-weight: 500;
  font-display: swap; }

@font-face {
  font-family: 'WorkSans-DeFi';
  src: url("../fonts/WorkSans-Regular.ttf");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'Mont-DeFi';
  src: url("../fonts/Mont-Heavy.otf");
  font-weight: 800;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  color: #fff;
  font-size: 16px;
  line-height: 1.44;
  font-family: WorkSans-DeFi, sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  background-color: #000421; }

h1, h2, h3, h4, h5, h6 {
  font-family: Mont-DeFi, sans-serif; }

h1 {
  font-size: 3.3em; }

h2 {
  font-size: 2.88em; }

h3 {
  font-size: 1.44em; }

a {
  color: #EDC638;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a:hover {
    color: #fff;
    text-decoration: none; }

a:hover, a:active, a:focus {
  outline: none; }

button, button:hover, button:active, button:focus {
  outline: none; }

input::-moz-focus-inner {
  border: 0; }

input:focus, textarea:focus {
  outline: none; }

object, embed {
  outline: none; }

::-webkit-input-placeholder {
  color: #12133C;
  opacity: 1; }

::-moz-placeholder {
  color: #12133C;
  opacity: 1; }

:-ms-input-placeholder {
  color: #12133C;
  opacity: 1; }

::-ms-input-placeholder {
  color: #12133C;
  opacity: 1; }

::placeholder {
  color: #12133C;
  opacity: 1; }

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  z-index: 99;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .main-menu ul li {
      display: block;
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 30px;
      line-height: 1; }
      .main-menu ul li a {
        position: relative;
        color: #12133C;
        font-size: 12px;
        line-height: 14px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        -webkit-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out; }
        .main-menu ul li a:hover {
          color: #12133C; }

.main-menu.open {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

.main-menu .menu-button a {
  padding: 18px 65px;
  border: 1px solid #EDC638;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .main-menu .menu-button a:hover {
    background-color: #EDC638;
    color: #fff; }

.dropdown-link:after {
  content: url("../img/arrow-down.svg");
  position: absolute;
  right: -5px;
  top: -2px; }

/* Toggle */
.toggle-btn {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 9999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block; }

.hamburger .icon-bar {
  background-color: #EDC638;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 15px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media only screen and (min-width: 992px) {
  .main-menu {
    position: unset;
    background-color: transparent;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 14px;
    font-weight: 400; }
    .main-menu ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .main-menu ul li {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1;
        margin-bottom: 0; }
        .main-menu ul li:last-child {
          padding-right: 0; }
        .main-menu ul li a {
          color: #12133C;
          text-decoration: none;
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out; }
          .main-menu ul li a:hover {
            color: #12133C; }
  .toggle-btn {
    display: none; }
  .brand {
    text-align: left; } }

@media only screen and (min-width: 1200px) {
  .main-menu ul li {
    padding-left: 27px;
    padding-right: 27px; }
    .main-menu ul li:first-child {
      padding-left: 0; }
    .main-menu ul li:last-child {
      padding-right: 0; } }

header {
  padding: 10px 0;
  z-index: 2;
  position: relative; }

#hero-video {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  padding-top: 250px;
  margin-top: -216px;
  padding-bottom: 60px; }

video {
  object-fit: cover;
  object-position: 50% 74%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: block;
  right: 0;
  bottom: 0; }

.brand img {
  max-height: 196px; }

.gold-button {
  position: relative;
  background-color: #EDC638;
  border-radius: 26.5px;
  color: #12133C;
  font-size: .77em;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  padding: 18.5px 30px;
  min-width: 309px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .gold-button:hover {
    background-color: #fff; }

.white-button {
  position: relative;
  background-color: #fff;
  border-radius: 26.5px;
  color: #12133C;
  font-size: .77em;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  padding: 18.5px 30px;
  min-width: 309px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .white-button:hover {
    background-color: #EDC638; }

.telegram-button:after {
  content: url("../img/icon-telegram.svg");
  display: block;
  position: absolute;
  right: 23px;
  top: 17px; }

.horse-button:after {
  content: url("../img/uniswap-uni-logo.svg");
  display: block;
  position: absolute;
  right: 23px;
  top: 5px; }

.medium-button:after {
  content: url("../img/medium.svg");
  display: block;
  position: absolute;
  right: 23px;
  top: 17px; }

.countdown {
  display: inline-block;
  height: 100%;
  /* Reset */
  /* Skeleton */
  /* Colon Seperator - IE */
  /* Colon Seperator */ }

.countdown * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.countdown .countdownFix {
  z-index: 3 !important; }

.countdown .clockFix {
  z-index: 1 !important; }

.countdown li span .inn {
  /*backface-visibility*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.countdown ul {
  list-style: none; }

.countdown li {
  line-height: 87px; }

.countdown ul.flip {
  position: relative;
  float: left;
  margin-right: 2px;
  height: 100%;
  width: 40px;
  font-size: 50px;
  font-weight: bold;
  /*border-radius*/
  border-radius: 6px;
  /*box-shadow*/
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); }

@media only screen and (max-width: 767px) {
  .countdown ul.flip {
    width: 35px !important;
    font-size: 32px !important;
    height: 83% !important; }
  .countdown ul.flip li {
    line-height: 37px !important; }
  .countdown ul.flip:nth-child(2n + 2):not(:last-child):after {
    top: -24% !important; } }

@media only screen and (max-width: 540px) {
  .countdown ul.flip {
    width: 28px !important;
    font-size: 26px !important;
    height: 66% !important; }
  .countdown ul.flip li {
    line-height: 30px !important; }
  .countdown ul.flip:nth-child(2n + 2):not(:last-child):after {
    font-size: 35px !important; } }

.countdown ul.nth-child-2np2-notlast:after, .countdown ul.flip:nth-child(2n + 2):not(:last-child):after {
  position: absolute;
  top: 12%;
  right: -13px;
  content: ":";
  display: block;
  color: #fff;
  font-size: 46px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); }

.countdown ul.nth-child-2np2-notlast {
  margin-right: 14px; }

.countdown ul.flip:nth-child(2n + 2) {
  margin-right: 12px; }

.countdown ul.flip li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 60px; }

.countdown ul.flip li span {
  display: block;
  height: 100%;
  /*perspective*/
  -webkit-perspective: 200px;
  -ms-perspective: 200px;
  -o-perspective: 200px;
  perspective: 200px; }

.countdown ul.flip li span div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden; }

.countdown ul.flip li span div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.countdown ul.flip li span div.up {
  /*transform-origin*/
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.countdown ul.flip li span div.up:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4); }

.countdown ul.flip li span div.down {
  /*transform-origin*/
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  bottom: 0; }

.countdown ul.flip li span div div.inn {
  font-family: Mont-DeFi, sans-serif;
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #106CFA;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #fff;
  /*border-radius*/
  border-radius: 6px; }

.countdown ul.flip li span div.up div.inn {
  top: 0; }

.countdown ul.flip li span div.down div.inn {
  bottom: 0; }

/* PLAY */
.play ul li.previous {
  z-index: 2; }

.play ul li.current {
  /*animation*/
  -webkit-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 3; }

@-webkit-keyframes asd {
  0% {
    z-index: 2; }
  5% {
    z-index: 4; }
  100% {
    z-index: 4; } }

@keyframes asd {
  0% {
    z-index: 2; }
  5% {
    z-index: 4; }
  100% {
    z-index: 4; } }

.play ul li.current .down {
  z-index: 2;
  /*animation*/
  -webkit-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg); } }

@keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); } }

.play ul li.previous .up {
  z-index: 2;
  /*animation*/
  -webkit-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(-90deg); } }

@keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg); } }

/* SHADOW */
.play ul li.previous .up .shadow {
  /*linear-gradient*/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(rgba(0, 0, 0, 0.1), 0), color-stop(black, 1));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  /*@@prefixmycss->No equivalent*/
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  /*animation*/
  -webkit-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.play ul li.current .up .shadow {
  /*linear-gradient*/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(rgba(0, 0, 0, 0.1), 0), color-stop(black, 1));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  /*@@prefixmycss->No equivalent*/
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  /*animation*/
  -webkit-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }

/*DOWN*/
.play ul li.previous .down .shadow {
  /*linear-gradient*/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(black, 0), color-stop(rgba(0, 0, 0, 0.1), 1));
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  /*@@prefixmycss->No equivalent*/
  background: -webkit-linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  /*animation*/
  -webkit-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.play ul li.current .down .shadow {
  /*linear-gradient*/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(black, 0), color-stop(rgba(0, 0, 0, 0.1), 1));
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  /*@@prefixmycss->No equivalent*/
  background: -webkit-linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  /*animation*/
  -webkit-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.hero-video-bottom-curve {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 3; }
  .hero-video-bottom-curve img {
    width: 100%; }

#about {
  position: relative;
  padding-bottom: 60px; }

.about-bottom-curve {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 3; }
  .about-bottom-curve img {
    width: 100%; }

.gold {
  color: #EDC638; }

#listing {
  padding: 30px 0; }

.blue {
  color: #106CFA; }

.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.slider-item img {
  display: inline-block; }

#road-map {
  position: relative;
  padding: 30px 0 150px;
  background-image: url("../img/bg-road-map.png");
  background-size: 100vw;
  background-position: 50% 100%;
  background-repeat: no-repeat; }

.road-map-bottom-curve {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 3; }
  .road-map-bottom-curve img {
    width: 100%; }

#private-sale-info {
  padding: 30px 0; }

#public-sale-info {
  position: relative;
  padding: 30px 0 150px; }

.public-sale-bottom-curve {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 3; }
  .public-sale-bottom-curve img {
    width: 100%; }

footer {
  padding: 30px 0 60px; }
  footer .footer-buttons-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  footer .btn {
    min-width: 255px;
    padding: 15.5px 30px;
    margin: 15px; }
  footer .telegram-button:after {
    width: 15px;
    height: auto;
    top: 13px; }
  footer .medium-button:after {
    top: 13px;
    right: 15px; }
  footer .copyright {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.44;
    letter-spacing: 1.32px;
    margin-top: 30px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  body {
    font-size: 18px; }
  #hero-video {
    padding-bottom: 150px; }
  #about {
    padding-bottom: 150px; }
  #listing {
    padding: 60px 0; }
  #road-map {
    padding: 60px 0 450px; }
  .bordered {
    border-left: 4px solid #106CFA;
    padding-left: 75px; }
    .bordered h3:before {
      content: '';
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 17px;
      left: -21px; }
    .bordered h3:after {
      content: '';
      width: 14px;
      height: 14px;
      background-color: #EDC638;
      border-radius: 50%;
      position: absolute;
      top: 30px;
      left: -9px; }
  #public-sale-info {
    padding: 60px 0 250px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  footer .footer-buttons-wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  footer .btn:first-child {
    margin-left: 0; }
  footer .btn:last-child {
    margin-right: 0; }
  footer .copyright {
    margin-top: -15px; } }

@media only screen and (min-width: 1300px) {
  footer .btn {
    min-width: 268px; }
  .container {
    max-width: 1260px; }
  #hero-video {
    padding-bottom: 13vw; }
  #about {
    padding-bottom: 13vw; }
  #road-map {
    padding-bottom: 13vw; } }
