@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	position:relative;
	overflow-x: hidden;
}

body {
	color: $black;
	font-size: 15px;
	line-height: 1.55;
	font-family: Quicksand, sans-serif;
	height: 100%;
	
}

html.menu-open{
	overflow-y: hidden;
}


h1,h2,h3,h4,h5,h6{
	font-family: HammersmithOne, sans-serif;
	font-weight: 400;
}

h1{
  font-size: 1.6em;
  line-height: 0.92;
}

h2{
  font-size: 1.47em;
  line-height: 1;
}

h3{
  font-size: 1.38em;
  line-height: 1;
}

h4{
  font-size: 21px;
  line-height: 27px;
}

h5{
  font-size: 14px;
  line-height: 18px;
}

img{
	max-width: 100%;
	height: auto;
}

a{
	color:$red;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	&:hover{
		color:$violet;
	}
}

a:hover, a:active, a:focus {
	outline: none;
}

button, button:hover, button:active, button:focus {
	outline: none;
}

input::-moz-focus-inner { 
  border: 0; 
}

input:focus, textarea:focus{
	outline: none;
}

object, embed { 
  outline: none;
}

input[type=text],input[type=email],input[type=tel]{
	width: 100%;
	font-size: 0.66em;
	padding: 11px 14px;
	line-height: 1;
	border:none;
}

input[type=submit]{
	cursor: pointer;
}

textarea{
	width: 100%;
	height: 86px;
	font-size: 0.66em;
	padding: 11px 14px;
	line-height: 1;
	border:none;
}

@media only screen and (min-width : 992px){
	input[type=text],input[type=email],input[type=tel],textarea{
		font-size: .88em;
		padding: 20px 21px;
	}
}

::placeholder { 
  color: $black;
  opacity: 1; 
}

.container{
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.column{
	flex-basis: 100%;
	max-width: 100%;
	padding: 0 15px;
}

.text-center{
	text-align: center;
}

.red{
	color: $red;
}

.violet{
	color: $violet;
}

.yellow{
	color: $yellow;
}

.pink{
	color: $pink;
}

.white{
	color: #fff;
}

.uppercase{
	text-transform: uppercase;
}

.btn{
	display: inline-block;
	text-decoration: none;
	line-height: 1;
	font-weight: 700;
	font-size: 0.8em;
	min-width: 191px;
	height: 39px;
	padding: 12px 15px;
	text-align: center;
	border:1px solid transparent;
	border-radius:18.5px;
	transition: all 0.3s ease-in-out;
	&.slim{
		height: 30px;
		padding: 8px 15px;
	}
}

.red-button{
	background-color: $red;
	color: #fff;
	&:hover{
		background-color: #fff;
		color: $red;
		border-color:$red;
	}
}

.violet-button{
	background-color: $violet;
	color: #fff;
	&:hover{
		background-color: #fff;
		color: $violet;
		border-color:$violet;
	}
}