@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	height: 100%;
}

body {
	color: $black;
	background: #fafafa;
	font-family: Noto-Maple, serif;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
	letter-spacing: .02em;
	line-height: 1.6em;
	overflow-x: hidden;
}



h1,h2,h3,h4,h5,h6{
	font-family: Noto-Maple, serif;
}

h1{
	font-size: 80px;
	letter-spacing: .02em;
	line-height: 1em;
}

h2{
  	font-family: 'Nunito-Maple', sans-serif;
	font-size: 30px;
	letter-spacing: .15em;
	line-height: 1.2em;
	text-transform: lowercase;
}

h3{
  font-size: 24px;
  line-height: 32px;
}

h4{
  font-size: 21px;
  line-height: 27px;
}

h5{
  font-size: 14px;
  line-height: 18px;
}

p{
	margin-bottom: 17px;
}

.menu-transparent-button{
	display: inline-block;
	font-family: 'Nunito-Maple', sans-serif;
	font-size: 15px;
	line-height: 1;
	color: #fff;
	padding: 10px 18px;
	border: 2px solid #fff;
	transition: all 0.3s ease-in-out;
	&:hover{
		color:#000;
		background-color: #fff;
	}
}

.gold-button{
	display: inline-block;
	font-family: 'Nunito-Maple', sans-serif;
	font-size: 12px;
	line-height: 1;
	color: $gold;
	padding: 15px 35px;
	border: 2px solid $gold;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	&:hover{
		color:#000;
		background-color: $gold;
	}
}

.transparent-button{
	display: inline-block;
	font-family: 'Nunito-Maple', sans-serif;
	font-size: 12px;
	line-height: 1;
	color: #fff;
	padding: 15px 35px;
	border: 2px solid #fff;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	&:hover{
		color:#000;
		background-color: #fff;
	}
}

a{
	&:hover{
		text-decoration: none;
	}
}

::placeholder { 
  color: $grey;
  opacity: 1; 
}

