@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){
	#contact{
		& .contact-buttons-column{
			justify-content: space-around;
			& .contact-button{
				flex-basis: 50%;
				max-width: 50%;
			}
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	#contact{
		& .contact-buttons-column{
			justify-content: space-around;
			& .contact-button{
				flex-basis: auto;
				max-width: 100%;
			}
		}
	}
	#more-screens{
		& .more-screens-photo-wrap{
			max-width: 568px;
		}
		& .more-screens-photo-1{
			width: 290px;
			height: 185px;
			margin-left: 12px;
		}
		& .more-screens-photo-2{
			width: 303px;
			height: 426px;

		}
		& .more-screens-photo-3{
			width: 290px;
			height: 185px;
			margin-right: 12px;
		}
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	#header{
		& .row{
			align-items:center;
		}
		& .brand-column{
			flex-basis: 224px;
			max-width: 224px;
			margin-bottom: 0;
			& img{
				max-width: unset;
			}
		}
		& .header-buttons-column{
			flex-basis: calc(50% - 112px);
			max-width: calc(50% - 112px);
			justify-content: flex-end;
			margin-bottom: 30px;
		}
		& .main-menu-column{
			flex-basis: calc(50% - 112px);
			max-width: calc(50% - 112px);
			margin-bottom: 30px;
		}
		& .language-switch{
			position: relative;
			top: unset;
			right: unset;
		}
	}
	#hero{
		padding-top: 92px;
		margin-top: -164px;
		& .hero-row{
			position: relative;
			min-height: 780px;
			align-items:center;
		}
		& .title-column{
			text-align: left;
			flex-basis: 50%;
			max-width: 50%;
			position: relative;
			z-index: 2;
		}
		& .hero-image{
			position: absolute;
			z-index: 0;
			max-width: 67%;
			top: 0;
			right: -50px;
			padding: 0;
		}
	}
	#about{
		& h2{
			text-align: left;
		}
		& .about-row{
			align-items:center;
		}
		& .about-column{
			flex-basis: 45%;
			max-width: 45%;
		}
		& .presentation-column{
			flex-basis: 55%;
			max-width: 55%;
			margin-top: -50px;
		}
	}
	.slider-column{
		padding-left: 75px;
		padding-right: 75px;
	}
	#conditions{
		& .conditions-wrap{
			padding: 50px 125px;
		}
	}
	#more-screens{
		& .more-screens-row{
			align-items:center;
		}
		& .more-screens-data-column{
			flex-basis: 50%;
			max-width: 50%;
			order: 2;
			& h2{
				text-align: left;
			}
			& .more-screens-data-button{
				text-align: left;
			}
		}
		& .more-screens-photo-column{
			flex-basis: 50%;
			max-width: 50%;
			order: 1;
		}
		& .more-screens-photo-1{
			border-radius:30px;
			border:14px solid $gold;
		}
		& .more-screens-photo-2{
			border-radius:30px;
			border:14px solid $gold;
		}
		& .more-screens-photo-3{
			border-radius:30px;
			border:14px solid $gold;
		}
	}
	#features{
		& .features-row{
			justify-content: center;
		}
		& .feature-column{
			flex-basis: 50%;
			max-width: 50%;
		}
	}
	#contact{
		& .contact-form-wrap{
			padding: 74px 80px 40px;
			& .column:not(.submit-column){
				flex-basis: 50%;
				max-width: 50%;
			}
		}
	}
	 footer{
	 	& .copiright-column{
	 		display: flex;
	 		flex-wrap: wrap;
	 		align-items:center;
	 	}
	 	& .sosial-buttons{
	 		margin-bottom: 0;
	 		order: 2;
	 		justify-content: flex-end;
	 		flex-basis: 120px;
	 		max-width: 120px;
	 	}
	 	& .copiright{
	 		order: 1;
	 		flex-basis: calc(100% - 120px);
	 		max-width: calc(100% - 120px);
	 		text-align-last: left;
	 		padding-left: 12px;
	 	}
	 }   
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	h1{
		font-size: 4.06em;
	}
	h2{
		font-size: 3.125em;
	}
	h3{
		font-size: 2.25em;
		line-height: 1.11;
	}
	#hero{
		padding-bottom: 300px;
	}
	.slider-column{
		padding-left: 90px;
		padding-right: 90px;
	}
	#conditions{
		position: relative;
		& .conditions-wrap{
			padding: 50px 145px;
		}
		& .conditions-column{
			margin-top: -150px;
		}
	}
	#screens{
		padding-bottom: calc(6vw + 150px);
	}
	.more-screens-data-column{
		padding-left: 45px;
	}
	#features{
		& .feature-wrap{
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 70px;
		}
		& .feature-column{
			flex-basis: 33.33%;
			max-width: 33.33%;
		}
	}

	#contact{
		& .container{
			max-width: 1040px;
		}
	}
	footer{
		& .container{
			max-width: 1040px;
		}
		& .copiright{
			padding-left: 34px;
		}
	}
		
}