@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	.col-30{
		max-width: 33%;
	}
	.col-60{
		max-width: 66%;
	}
	.track-list-title{
		margin-top: 68px;
	}
	.stream-list-title{
		margin-top: 68px;
	}
	body{
		font-size: 20px;
	}
	.fullscreen-wrapper{
		min-height: 100vh;
	}
	.fullscreen{
		min-height: 100vh;
	}
	.container{
		min-height: calc(100vh - 30px);
	}
	#bgvidmobile{
		display: none;
	}
	#bgviddesctop{
		display: block;
	}
	video {
	  object-fit: contain;
	  object-position: 50% 50%;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	.album-description{
		padding-right: 150px;
	}
	.thanks-list{
		padding-right: 150px;
	}
}


@media only screen and (max-height:  530px){
	.stream-buttons{
		position: relative;
		margin-top: 30px;
	}
}

@media only screen and (min-width : 992px) and (min-height: 800px){
	body{
		overflow-y: hidden;
	}
}