@font-face{
	font-family: 'NunitoSans-Smartcity';
	src: url('../fonts/NunitoSans-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'NunitoSans-Smartcity';
	src: url('../fonts/NunitoSans-SemiBold.ttf');
	font-weight: 600;
	font-display: swap;
}

@font-face{
	font-family: 'NunitoSans-Smartcity';
	src: url('../fonts/NunitoSans-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'Arial-Smartcity';
	src: url('../fonts/Arial-Rounded-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}