@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";

#header{
	height: 52px;
	&:before{
		content:'';
		display: block;
		position: absolute;
		width: 140px;
	    height: 70px; 
	    background-color: #fff;
	    border-bottom-left-radius: 70px;  
	    border-bottom-right-radius: 70px; 
	    border-top: 0;
	    top:40px;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
	}
}

.top-menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	& li{
		display: inline-block;
	}
}

.left-menu-column, .right-menu-column{
	display: none;
}

.brand{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.brand img{
	max-height: 80px;
}


#home-hero{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0;
	& h1{
		color: #fff;
	}
}

.hero-button-column{
	& .btn{
		margin: 5px;
	}
}

.about-us-home{
	margin-bottom: 25px;
}

.home-about-row{
	& .btn{
		margin-bottom: 25px;
	}
}

#home-about{
	padding-bottom: 30px;
	& .column{
		text-align: center;
	}
}

#varieities{
	padding: 60px 0;
	background-color: $green;
	background-image: url('../img/varieities-bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	& h2{
		margin-bottom: 60px;
	}
}
.varieities-slider{
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 80px!important;
	& .slick-track
	{
	    display: flex !important;
	}

	& .slick-slide
	{
	    height: inherit !important;
	}
	& .slick-prev{
		left: 0;
		&:before{
			content: url('../img/slider-arrow.svg');
			display: block;
		}
	}

	& .slick-next{
		right: 0;
		&:before{
			content: url('../img/slider-arrow.svg');
			transform: rotate(180deg);
			display: block;
		}
	}
	& .slick-dots{
		bottom: -45px;
	}
	& .slick-dots li button::before {
		font-size: 12px;
		color: #fff;
	}
}
.varieities-item{
	background-color: #FFFEFD;
	margin-left: 15px;
	margin-right: 15px;
	& .varieities-tumbnail{
		height: 275px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	& .varieities-body{
		padding: 48px 20px 28px 31px;
		& .varieities-title{
			font-weight: 700;
			margin-bottom: 15px;
		}
	}
}

#recipes{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 60px 0;
	& .recipes-description{
		margin-bottom: 45px;
	}
}

.white-splash{
	background-color: #FFFEFD;
	padding: 5px 25px 25px;
}

#home-features{
	padding-top: 60px;
	& .home-feature-icon{
		margin-bottom: 35px;
	}
	& .home-feature-title{
		text-transform: uppercase;
		font-size: 1.33em;
		font-weight: 700;
		margin-bottom: 35px;
	}
	& .home-feature-column{
		margin-bottom: 45px;
	}
}

#where{
	& .where-description{
		margin-bottom: 30px;
	}
	& .btn{
		margin-bottom: 45px;
	}
	& .column:nth-child(2){
		text-align: center;
	}
}

main{
	padding-bottom: 175px;
}

footer{
	background-color: $green;
	padding: 145px 0 75px;
}

.footer-social ul{
	margin: 30px 0 45px;
	padding: 0;
	list-style: none;
	& li{
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
	}
}

.copyright{
	font-size: 12px;
	font-weight: 300;
	color: #fff;
}

.footer-brand{
	position: absolute;
	top: -234px;
	left: 0;
	right: 0;
	text-align: center;
	&:before{
		content:'';
		display: block;
		position: absolute;
		width: 323px;
	    height: 166px; 
	    background-color: #fff;
	    border-bottom-left-radius: 166px;  
	    border-bottom-right-radius: 166px; 
	    border-top: 0;
	    top:43px;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    z-index: 1;
	}
	& img{
		z-index: 5;
		position: relative;
	}
}

.footer-social-column{
	text-align: center;
}

[id^="footer-menu"]{
	margin: 0;
	padding: 0;
	list-style: none;
	& li{
		margin-bottom: 27px;
		& a{
			text-transform: uppercase;
			color: #fff;
			font-size: 0.88em;
			font-weight: 700;
			&:hover{
				color: $red;
			}
		}
	}
}

#page-title{
	padding-top: 40px;
	& h1{
		color: #fff;
	}
}

#about{
	padding: 45px 0 0;
	& .about-us-description{
		margin-bottom: 30px;
	}
	& .btn{
		margin-bottom: 15px;
		display: block;
		max-width: 440px;
		&:last-child{
			margin-bottom: 45px;
		}
	}
}

#watermelons{
	padding-top: 60px;
	& h3{
		margin-bottom: 45px;
	}
}

.watermelons-grid-column{
	margin-bottom: 30px;
	& .watermelons-wrap{
		background-color: $green;
		color: #fff;
		max-width: 410px;
		margin-left: auto;
		margin-right: auto;
		height: 100%;
		& h5{
			margin-bottom: 20px;
		}
		& .watermelons-tumbnail{
			height: 275px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		& .watermelons-title{
			padding: 15px 15px 0;
		}
		& .watermelons-excerpt{
			padding: 0 15px 40px;
		}
	}
}

#where-we-farm{
	& .where-we-description-title{
		margin-bottom: 45px;
	}
	& .where-we-locations-column{
		margin-bottom: 25px;
	}
	& .where-we-row{
		margin-bottom: 45px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	& .whre-we-location-detail{
		padding-left: 45px;
		position: relative;
		&:before{
			content: url('../img/map-pin-location.svg');
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

#food-safety{
	padding-top: 60px;
	& .food-safety-description-column{
		margin-bottom: 45px;
	}
	& .food-safety-item-column{
		margin-bottom: 45px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

@import "media";