@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

:root {
  --bs-gutter-x: 5px;
}

.row {
    --bs-gutter-x: 10px;
}

html, body {
	position:relative;
	height: 100%;
	overflow-x: hidden;
}

body {
	color: $black;
	font-size: 16px;
	line-height: 1.44;
	font-family: Asap-Mason, sans-serif;
	background-color: #081E40;
}



h1,h2,h3,h4,h5,h6{
	font-family: Gotham-Mason, sans-serif;
	font-weight: 700;
	line-height: 0.8;
}

h1{
  font-size: 3.3em;
}

h2{
  font-size: 2.22em;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 21px;
}

h5{
  font-size: 14px;
}

h2.big{
	font-size: 3em;
}

a{
	color:$orange;
	text-decoration: none;
	&:hover{
		color:$blue;
	}
}

a:hover, a:active, a:focus {
	outline: none;
}

button, button:hover, button:active, button:focus {
	outline: none;
}

input::-moz-focus-inner { 
  border: 0; 
}

input:focus, textarea:focus{
	outline: none;
}

object, embed { 
  outline: none;
}

input[type="text"],input[type="email"],input[type="tel"]{
	width: 100%;
	border: none;
	border-radius: 8px;
	background-color: #fff;
	font-family: Asap-Mason, sans-serif;
	font-size: 0.83em;
	font-weight: 500;
	padding: 17px 25px;
}

textarea{
	width: 100%;
	height: 160px;
	border: none;
	border-radius: 8px;
	background-color: #fff;
	font-family: Asap-Mason, sans-serif;
	font-size: 0.83em;
	font-weight: 500;
	padding: 17px 25px;
}

::placeholder { 
  color: $blue;
  opacity: 1; 
}

