@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	.hero-slider{
		& .hero-slider-subtitle{
			color: #BCBEC0;
			font-size: 1.33em;
		}
		& .hero-slider-title{
			font-family: Gotham-Mason, sans-serif;
			font-size: 4.88em;
			line-height: 0.8;
			color: #fff;
			padding-bottom: 45px;
		}
	}
	#home-hero{
		padding-bottom: 115px;
		padding-top: 210px;
	}
	#about-company{
		padding: 115px 0;
	}
	#what-is-cmmc{
		padding: 115px 0;
	}
	#how-will-cmmc{
		padding-bottom: 255px;
	}
	#experience{
		padding: 90px 0;
		& .experience-title-wrap{
			margin-top: -265px;
		}
	}
	.contact-form-wrap{
		padding: 85px 75px;
	}
	#footer-menu{
		& li{
			position: relative;
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
				&:after{
					display: none;
				}
			}
			&:after{
				content: '';
				width: 5px;
				height: 5px;
				background-color: #fff;
				border-radius: 50%;
				display: block;
				position: absolute;
				right: -2.5px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	body{
		font-size: 18px;
	}
	.about-company-splash{
		height: 200%;
		width: 540px;
		background-color: #F2F2F2;
		border-radius: 8px;
		position: absolute;
		bottom: 0;
		right: 0;
		background-image: url('../img/about-company-bg.svg');
		background-repeat: no-repeat;
		background-position: center right;
	}
	.pc-r{
		padding-right: calc((100vw - 1170px)/2);
	}
	.pc-l{
		padding-left: calc((100vw - 1170px)/2);
	}
	#footer-menu{
		& li{
			padding-left: 27px;
			padding-right: 27px;
		}
	}
}

@media only screen and (min-width : 1400px){
	#home-hero{
		& .hero-buttons-group{
			justify-content: space-between;
		}
	}
	h2.big{
		font-size: 4.44em;
	}
	.pc-r{
		padding-right: calc((100vw - 1320px)/2);
	}
	.pc-l{
		padding-left: calc((100vw - 1320px)/2);
	}
	#how-will-cmmc{
		h2{
			margin-right: -150px;
		}
		p{
			padding-right: 100px;
		}
	}
	#footer-menu{
		& li{
			padding-left: 45px;
			padding-right: 45px;
		}
	}
}