@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	position:relative;
}

body {
	color: $black;
	font-size: 16px;
	line-height: 1.6;
	font-family: FiraSans, sans-serif;
	height: 100%;
	overflow-x: hidden;
}


h1,h2,h3,h4,h5,h6{
	font-family: WorkSans, sans-serif;
	font-weight: 900;
}

h1{
  font-size: 1.95em;
  line-height: 0.97;
}

h2{
  font-size: 1.3em;
  line-height: .97;
}

h3{
  font-size: 24px;
  line-height: 32px;
}

h4{
  font-size: 21px;
  line-height: 27px;
}

h5{
  font-size: 14px;
  line-height: 18px;
}

img{
	max-width: 100%;
	height: auto;
}

a{
	display: inline-block;
	color:$red;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	&:hover{
		color:$black;
	}
}

a:hover, a:active, a:focus {
	outline: none;
}

button, button:hover, button:active, button:focus {
	outline: none;
}

input::-moz-focus-inner { 
  border: 0; 
}

input:focus, textarea:focus{
	outline: none;
}

object, embed { 
  outline: none;
}

input[type="submit"]{
	cursor: pointer;
}

::placeholder {
	font-family: inherit; 
  color: $black;
  opacity: 1; 
}

.container{
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 12px;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}

.column{
	padding: 0 12px;
	flex-basis: 100%;
	max-width: 100%;
}

.text-center{
	text-align: center;
}

.btn{
	line-height: 1;
	padding: 16px 25px;
	display: inline-block;
	font-size: .85em;
	min-width: 237px;
	text-align: center;
}

.red-button{
	color: #fff;
	background-color: $red;
	border: 1px solid $red;
	transition: all 0.3s ease-in-out;
	&:hover{
		color: #fff;
		background-color: $black;
		border-color: $black;
	}
	&.alt:hover{
		color:$black;
		background-color: #fff;
		border-color: #fff;
	}
}

.transparent-button{
	color: $black;
	background-color: transparent;
	border: 1px solid $black;
	transition: all 0.3s ease-in-out;
	&:hover{
		color: #fff;
		background-color: $black;
		border-color: $black;
	}
}
.black-button{
	color: #fff;
	background-color: $black;
	border: 1px solid $black;
	transition: all 0.3s ease-in-out;
	&:hover{
		color: $black;
		background-color: #fff;
		border-color: #fff;
	}
}

.white-button{
	color: $black;
	background-color: #fff;
	border: 1px solid #fff;
	transition: all 0.3s ease-in-out;
	&:hover{
		color: #fff;
		background-color: $black;
		border-color: $black;
	}
}

.white{
	color: #fff;
}

.red{
	color: $red;
}

.uppercase{
	text-transform: uppercase;
}

.mb-30{
	margin-bottom: 30px!important;
}