@font-face{
	font-family: 'FiraSans';
	src: url('../fonts/FiraSans-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'FiraSans';
	src: url('../fonts/FiraSans-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'WorkSans';
	src: url('../fonts/WorkSans-ExtraBold.ttf');
	font-weight: 900;
	font-display: swap;
}