@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	#features{
		.features-bg{
			height: 300px;
		}
	}

}


@media only screen and (min-width : 510px){
	.home-hero-title-column{
		flex-basis: 80%;
		max-width: 80%;
	}
	#home-hero{
		background-position: 63% 50%;
		padding: 60px 0 60px;
		& h1{
			padding-right: 14%;
		}
		& .home-hero-description{
			padding-right: 29%;
		}
		& .home-hero-buttons{
			text-align: left;
			& .btn{
				margin-bottom: 12px;
			}
		}
	}
	#features{
		.features-bg{
			height: 350px;
		}
	}
	.services-row .service-column{
		flex-basis: 50%;
		max-width: 50%;
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	#bar-menu-wrap{
		& #bar-menu{
			& li{
				padding-left:27px;
				padding-right: 27px;
			}
		}
	}
	#home-hero{
		background-position: 50% 50%;
		padding: 60px 0 60px;
		& h1{
			padding-right: 14%;
		}
		& .home-hero-description{
			padding-right: 29%;
		}
		& .home-hero-buttons{
			& .btn{
				margin-bottom: 12px;
				&:not(:first-child){
					margin-left: 15px;
				}
			}
		}
	}
	.feature-item{
		display: flex;
		flex-wrap: wrap;
		& .feature-icon{
			flex-basis: 148px;
			max-width: 148px;
			padding-top: 5px;
		}
		& .feature-description{
			flex-basis: calc(100% - 148px);
			max-width: calc(100% - 148px);
		}
		& .feature-title{
			text-align: left;
		}
	}
	#features{
		.features-bg{
			height: 450px;
		}
	}
	.home-service-buttons{
		& .btn:first-child{
			margin-right: 19px;
		}
	}
	#home-clients-experience{

		& .client-experience-column{
			flex-basis: 50%;
			max-width: 50%;
		}
	}
	.footer-column-2{
		flex-basis: 50%;
		max-width: 50%;
	}
	.footer-column-3{
		flex-basis: 50%;
		max-width: 50%;
	}

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body{
		font-size: 18px;
	}
	.brand{
		position: absolute;
		background-color: #fff;
		box-shadow: $shadow;
		padding: 15px 45px;
		top: 0;
		z-index: 10;
		& img{
			max-height: 150px;
		}
	}
	#bar-menu-wrap{
		& #bar-menu{
			justify-content: flex-end;
			& li{
				padding-left:18px;
				padding-right: 18px;
				&.bar-button{
					padding-right: 0;
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
	}
	#header{
		padding-top: 20px;
	}
	.home-hero-title-column{
		flex-basis: 60%;
		max-width: 60%;
	}
	#home-hero{
		padding: 130px 0 160px;
		& h1{
			padding-right: 0;
		}
		& .home-hero-description{
			padding-right: 0;
		}
		& .home-hero-buttons{
			& .btn{
				margin-bottom: 0;
				&:not(:first-child){
					margin-left: 30px;
				}
			}
		}
	}
	#home-about-us{
		& .arrow-right{
			margin-bottom: 0;
		}
		& .row{
			align-items: center;
		}
		& .column:first-child{
			flex-basis: 60%;
			max-width: 60%;
		}
		& .column:last-child{
			flex-basis: 40%;
			max-width: 40%;
		}
	}
	.features-row{
		align-items:center;
	}
	.features-row .column{
		flex-basis: 50%;
		max-width: 50%;
		margin-left: 50%;
		padding-top: 50px;
		padding-bottom: 30px;
	}
	#features{
		.features-bg{
			height: 100%;
			position: absolute;
			width: calc(50vw - 7px);
			top: 0;
			left: 0;
		}
	}
	footer{
		& .footer-logo{
			text-align: left;
		}
		& .footer-contact{
			justify-content: flex-start;
			& ul{

				& li{
					margin-bottom: 24px;
				}
			}
		}
	}
	.footer-column-1{
		flex-basis: 20%;
		max-width: 20%;
	}
	.footer-column-2{
		flex-basis: 30%;
		max-width: 30%;
	}
	.footer-column-3{
		flex-basis: 20%;
		max-width: 20%;
	}
	.footer-column-4{
		flex-basis: 30%;
		max-width: 30%;
	}
	[class^='footer-menu-']{
		& ul{
			& li{
				text-align: left;
				margin-bottom: 24px;
				padding-left: 40px;
			}
		}
	}
	.copyright{
		text-align: left;
	}
	.service-features-column{
		flex-basis: 33.33%;
		max-width: 33.33%;
	}
	#cta{
		& .row{
			align-items:center;
		}
		& .cta-text-column{
			text-align: left;
			margin-bottom: 0;
			flex-basis: calc(100% - 261px);
			max-width:calc(100% - 261px);
		}
		& .cta-button-column{
			flex-basis: 261px;
			max-width: 261px;
		}
	}
	#service-description{
		& .row{
			align-items:center;
		}
		& .service-image-column{
			text-align: left;
			flex-basis: 50%;
			max-width: 50%;
		}
		& .service-description-column{
			flex-basis: 50%;
			max-width: 50%;
			& h2{
				margin-top: 0;
			}
		}
	}
	.video-row{
		align-items:center;
		& h2{
			margin-top: 0;
		}
	}
	.video-player-column{
		flex-basis: 50%;
		max-width: 50%;
		order: 2;
	}
	.video-description-column{
		flex-basis: 50%;
		max-width: 50%;
		order: 1;
	}
	.contact-column{
		flex-basis: 50%;
		max-width: 50%;
	}
	.contact-form-column{
		flex-basis: 50%;
		max-width: 50%;
	}
	.half-column{
		flex-basis: 50%;
		max-width: 50%;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	#bar-menu-wrap{
		& #bar-menu{
			& li{
				padding-left:67px;
				padding-right:67px;
			}
		}
	}

}
@media only screen and (min-width : 1250px){
	body{
		font-size: 20px;
	}
	.home-hero-title-column{
		flex-basis: 50%;
		max-width: 50%;
	}
	#services{
		& .container{
			max-width: 1640px;
			& .service-column{
				flex-basis: 25%;
				max-width: 25%;
			}
		}
	}
	#home-clients-experience{

		& .client-experience-column{
			flex-basis: 25%;
			max-width: 25%;
			padding-left: 24px;
			padding-right: 24px;
		}
	}
	.footer-column-1{
		flex-basis: 33.33%;
		max-width: 33.33%;
	}
	.footer-column-2{
		flex-basis: 25%;
		max-width: 25%;
	}
	.footer-column-3{
		flex-basis: 20%;
		max-width: 20%;
	}
	.footer-column-4{
		flex-basis: 21.67%;
		max-width: 21.67%;
	}
	.footer-button{
		text-align: right;
		padding-top: 48px;
	}
	#page-subtitle{
		& .column{
			flex-basis: 90%;
			max-width: 90%;
			margin-left: 5%;
		}
	}
	#cta{
		& .cta-text-column{
			flex-basis: calc(100% - 421px - 80px);
			max-width:calc(100% - 421px - 80px);
			margin-left: 80px;
		}
		& .cta-button-column{
			flex-basis: 421px;
			max-width: 421px;
		}
	}
	#service-description{
		& .service-description-column{
			padding-left: 94px;
		}
	}
	.testimonials-column{
		padding-left: 94px;
		padding-right: 94px;
	}
	.video-description-column{
		padding-right: 96px;
	}
	.contact-column{
		padding-right: 96px;
	}
	.contact-form-wrap{
		padding: 63px 80px 33px;
	}
	.contact-list{
		& li{
			margin-bottom: 45px;
		}
	}
}