@font-face{
	font-family: 'Asap';
	src: url('../fonts/Asap-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'Nexa';
	src: url('../fonts/NexaHeavy.otf');
	font-weight: 900;
	font-display: swap;
}