@import "fonts";
@import "libs";
@import "base";
@import "vars";




#countdown{
	margin-bottom: 30px;
	max-width: calc(100% - 30px);
	margin-left: auto;
  margin-right: auto;
}


.countdown-row {
  clear: both;
  width: 100%;
  padding: 0px 2px;
  text-align: center;
  display: flex;
  & .countdown-section{
  	background-color: rgba(#060A21, .7);
  	margin-right: 5px;
  	margin-left: 5px;
  	border-radius: 11px;
  	padding: 15px;
  }
  & .countdown-amount{
  	font-family: Nexa, sans-serif;
	font-weight: 900;
	font-size: 1.5em;
  }
  & .countdown-period{
  	color: $magenta;
  	font-size: .5em;
  }
}

.countdown-show1 .countdown-section { width: 98%; }

.countdown-show2 .countdown-section { width: 48%; }

.countdown-show3 .countdown-section { width: 32.5%; }

.countdown-show4 .countdown-section { width: 24.5%; }

.countdown-show5 .countdown-section { width: 19.5%; }

.countdown-show6 .countdown-section { width: 16.25%; }

.countdown-show7 .countdown-section { width: 14%; }

.countdown-section {
  display: block;
  float: left;
  text-align: center;
}

.countdown-amount {
	font-family: Vote-DelFi, sans-serif;
	font-size: 3.5em;
	margin-bottom: 30px;
}

.countdown-period{
	display: block;
	font-size: 0.63em;
	text-transform: uppercase;
}

.countdown-descr {
  display: block;
  width: 100%;
}

.magenta{
	color: $magenta;
}

#top-bar{
	padding: 45px 0;
	& ul{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			padding-left: 20px;
			padding-right: 20px;
			display: inline-block;
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
			}
			& a{
				color: #fff;
				font-size: 0.7em;
				line-height: 1;
				text-transform: uppercase;
				&:hover{
					color: $magenta;
					text-decoration: none;
					transform: translateY(0);
				}
			}
			&.menu-button a{
				background-color: $magenta;	
				padding: 17px 28px;
				border-radius: 5px;
				&:hover{
					background-color: #fff;
					color: $magenta;
				}
			}
		}
			
	}

}

.white-button{
	background-color: #fff;
	text-transform: uppercase;
	font-size: 0.9em;
	line-height: 1;
	padding: 17px 55px;
	border-radius: 5px;
	letter-spacing: 1.28px;
	color: $magenta;
	&:hover{
		color: #fff;
		background-color: $magenta;
	}
}

.magenta-button{
	background-color: $magenta;
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1;
	padding: 15px 20px;
	border-radius: 5px;
	letter-spacing: 1px;
	width: 200px;
	max-width: 100%;
	color: #fff;
	&:hover{
		color: $magenta;
		background-color: #fff;
	}
}

#buy-tokens{
	padding: 60px 0;
	& .token-card{
		height: 100%;
		background-color: rgba(#060A21, .7);
		border-radius: 11px;
		padding: 30px 25px;
		& .token-icon{
			height: 160px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 15px;
		}
		& .token-description{
			font-size: 0.7em;
		}
		& .token-table{
			border-top: 1px solid rgba($magenta, .28);
			border-bottom: 1px solid rgba($magenta, .28);
			& table{
				width: 100%;
				font-size: 0.7em;
				margin-top: 15px;
				& tr{
					& td{
						padding-bottom: 15px;
					}
					& td:first-child{
						text-align: left;
					}
					& td:last-child{
						text-align: right;
					}
				}
			}
		}
	}
}

#road-map{
	padding-bottom: 60px;
	& .map-element{
		padding-left: 45px;
		position: relative;
		padding-bottom: 45px;
		&:last-child{
			padding-bottom: 0;
		}
		
		& .element-date{
			background-color: rgba(#060A21, .7);
			display: inline-block;
			padding: 15px 25px 5px;
			margin-bottom: 15px;
			border-radius: 5px;
			font-family: Nexa, sans-serif;
			font-size: 2em;
			color: $magenta;
			line-height: 1;
		}
		
		&:before{
			content: '';
			display: block;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background-color: $magenta;
			position: absolute;
			top: 0;
			left: -9px;
		}
		&:after{
			content: '';
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: #fff;
			position: absolute;
			top: 6px;
			left: -3.5px;
		}
		&:first-child:before{
			content: url('');
			background-image: url('../img/start-road.svg');
			background-size: cover;
			display: block;
			position: absolute;
			background-color: transparent;
			width: 90px;
			height: 90px;
			left: -33px;
			top: -35px;
		}
		&:first-child:after{
			display: none;
		}
	}
	& .road-map{
		&:before{
			content: '';
			position: absolute;
			left: 25px;
			height: 100%;
			display: block;
			border-left: 2px dashed #fff;
		}
	}
}

#team{
	padding: 60px 0;
	margin-bottom: -160px;
	& .mb-160{
		margin-bottom: 160px;
	}
	& .team-member{
		height: 100%;
		background-color: rgba(#060A21, .7);
		border-radius: 11px;
		padding: 25px 25px 60px 50px;
		& .member-avatar{
			margin-top: -110px;
			& img{
				border-radius: 50%;
				border:9px solid $magenta;
			}
		}
		& .name{
			font-family: Nexa, sans-serif;
			font-weight: 900;
		}
		& .position{
			font-size: 0.7em;
			color: $magenta;
		}
		& .member-description{
			font-size: 0.7em;
			padding-right: 35px;
		}
	}
}

footer{
	padding: 60px 0;
	& .social-link{
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 15px;
		flex-basis: 50%;
		& a{
			font-family: Nexa, sans-serif;
			font-weight: 900;
			font-size: 0.7em;
			text-transform: uppercase;
			line-height: 1;
			color: #fff;
			& svg{
				width: 55px;
				margin-right: 10px;
				& path{
					transition: all 0.3s ease;
				}
			}
			&:hover{
				color: $magenta;
				text-decoration: none;
				& svg path{
					fill: $magenta;
				}
			}
		}
	}
	& .sosial-wrap{
		align-items: center;
		justify-content: flex-start;
	}
	& .copyright{
		padding-top: 30px;
		font-size: 10px;
		opacity: 0.5;
	}
}

@import "media";