@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	height: 100%;
}

body {
	color: $black;
	font-size: 14px;
	line-height: 1.6;
	font-family: Mont-Brilliant, sans-serif;
	overflow-x: hidden;
}



h1,h2,h3,h4,h5,h6{
	font-family: Mont-Brilliant, sans-serif;
	font-weight: 700;
}

h1{
  font-size: 3.57em;
  line-height: .95;
}

h2{
  font-size: 2.86em;
  line-height: .95;
}

h3{
  font-size: 2.58em;
  line-height: 0.95;
}

h4{
  font-size: 2.28em;
  line-height: .95;
}

h5{
  font-size: 1.42em;
  line-height: .95;
}

a:hover, a:active, a:focus {
	outline: 0;
}

a{
	color: $green;
	&:hover{
		color:$green;
		text-decoration: none;
	}
}

input::-moz-focus-inner { 
  border: 0; 
}

object, embed { 
  outline: 0;
}

::placeholder { 
  color: $black;
  opacity: .4; 
}

