@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){
	#hero-slider{
		& .item-image{
			margin-top: -100px;
		}
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	.product-slider-buttons{
		position: absolute;
		left: 430px;
		top: -8px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	
	#hero-slider{
		margin-top: -180px;
		& .item-description{
			margin-right: 50px;
		}
		& .item-image{
			max-width: unset;
			height: auto;
			margin-left: -200px;
			margin-top: 0;
		}
	}
	.hero-slider-buttons{
		margin-top: -170px;
	}
	.company-description{
		margin-right: 50px;
	}
	.share-buttons{
	position: absolute;
	text-align: left;
	left: 3rem;
		& ul{
			padding: 0;
			margin: 0;
			list-style: none;
			& a:hover{
				opacity: .8;
			}
			& li{
				padding: 6px;
				display:block;
			}
		}
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	#hero-slider{
		margin-top: -180px;
		& .item-description{
			margin-right: 280px;
		}
		& .item-image{
			max-width: unset;
			height: auto;
			margin-left: -200px;
		}
	}
	.company-description{
		margin-right: 200px;
	}
	#subscribe{
		& .subscribe-form-wrap{
			padding: 35px 15px 30px 80px;
		}
	}
	.video-wrap{
		margin-left: -200px;
	}
}