@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";

#top-bar{
	background: #F2F4F7;
	padding: 8.5px 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

.social-buttons{
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	z-index: 99;
	& li{
		display: inline-block;
		padding-left: 3px;
		padding-right: 3px;
	}
	& li.facebook a:hover svg path{
		fill:$black;
	}
	& li.instagram a:hover svg path{
		stroke:$black;
	}
	& li.twitter a:hover svg path{
		fill:$black;
	}
}
header{
	padding: 28px 0;
	position: relative;
	z-index: 99999999;
}

.green-button{
	color: $green;
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	padding: 18px 40px;
	background: #FFFFFF;
	border: 2px solid $green;
	border-radius: 60px;
	&:hover{
		background: $green;
		color: #fff;
	}
}

.green{
	color:$green;
}

.item-description{
	margin-bottom: 30px;
}

#hero-slider{
	& .item-image{
		max-width: 100%;
		height: auto;
		margin-top: -50px;
	}
}



.prev-button{
	width: 54px;
	height: 54px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #E6E8F0;
	border-radius: 50%;
	margin-right: 12px;
	&:hover svg path{
		stroke:$black;
	}
}
.next-button{
	width: 54px;
	height: 54px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #E6E8F0;
	border-radius: 50%;
	&:hover svg path{
		stroke:$black;
	}
}

.hero-slider-buttons{
	position: relative;
	padding-left: 15px;
	margin-top: -50px;
	z-index: 999999;
}

#our-products{
	padding: 120px 0;
}

.product-slider-wrap{
	position: relative;
	& .slick-track{
    	display: flex !important;
	}
	& .slick-slide{
    	height: inherit;
    	display: flex;
    }
}


.product-slider-item{
	position: relative;
	padding-top: 60px;
	margin-left: 15px;
	margin-right: 15px;
}

.product-slider-bg{
	height: auto;
	position: relative;
	margin-top: 125px;
	text-align: center;
	padding: 28px 28px 125px;
}

.product-slider-image{
	margin-top: -140px;
	& img{
		display: inline-block;
		margin-bottom: 30px;
	}
}


.product-slider-title{
	font-size: 1.71em;
	font-weight: 700;
	line-height: 1.5;
}

.white-button{
	font-size: 1.14em;
	font-weight: 600;
	color: $green;
	background-color: #fff;
	line-height: 1;
	padding: 24.5px 45px;
	border-radius: 70px;
	&:hover{
		color: #fff;
		background-color: $green;
	}
}

.product-slider-button{
	position: absolute;
	bottom: 28px;
	left: 28px;
	right: 28px;
	& .btn{
		width: 100%;
		max-width: 320px;
	}
}

.yellow-bg{
	background: linear-gradient(180deg, #FFF8E1 0%, #F4FDD1 100%);
	border-radius: 20px;
}

.magenta-bg{
	background: linear-gradient(180deg, #FFE1E1 0%, #FFE9FD 100%);
	border-radius: 20px;
}

.green-bg{
	background: linear-gradient(180deg, #C8FCE6 0%, #E7FFE1 100%);
	border-radius: 20px;
}

.violet-bg{
	background: linear-gradient(180deg, #FFE1FE 0%, #FFF7FB 100%);
	border-radius: 20px;
}

.navy-bg{
	background: linear-gradient(180deg, #C1D9FC 0%, #E6F1FC 100%);
	border-radius: 20px;
}

.play-video-link{
	& a{
		color: $black;
		font-weight: 600;
	}
	& a:hover{
		color:$green;
	}
	& a:hover svg path{
		stroke:$green;
	}
}

.company-logo{
	margin-bottom: 120px;
}

.video-wrap{
	text-align: center;
	position: relative;
	& .video-button{
		position: absolute;
		top: 45%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;

	}
	& img{
		width: 550px;
		height: auto;
		max-width: 100%;
	}
}

#why{
	padding: 80px 0;
}

.brilliant-list{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1.14em;
	& li{
		padding-left: 30px;
		margin-bottom: 10px;
		position: relative;
		&:before{
			content:url('../img/list-marker.svg');
			position: absolute;
			left: 0;
		}
	}
}

#home-blog{
	background-color: #F2F4F7;
	padding: 120px 0;
	position: relative;
	& .top-curve{
		background-image: url('../img/top-curve.svg');
		height: 3vw;
		background-size: cover;
		background-position: 50% 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
	& .bottom-curve{
		background-image: url('../img/bottom-curve.svg');
		height: 3vw;
		background-size: cover;
		background-position: 50% 0%;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}


.blogpost-wrap{
	background-color: #fff;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
	padding-bottom: 74px;
	position: relative;
}

.blogpost-tumbnail{
	width: 100%;
	height: 226px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}

.blogpost-title{
	padding: 0 24px;
	margin-bottom: 15px;
	color: $black;
}

.blogpost-excerpt{
	padding: 0 24px;
	color: $black;
}

.blogpost-date{
	position: absolute;
	bottom: 24px;
	left: 24px;
	opacity: .4;
}

#subscribe{
	padding: 140px 0 40px;
	& .subscribe-form-wrap{
		background-color: #E4FFE3;
		border-radius: 20px;
		padding: 35px 15px 30px;
	}
	& form{
		position: relative;
		& input[type='email']{
			width: 100%;
			border: none;
			line-height: 1;
			padding: 22px 160px 21px 32px;
			background-color: #fff;
			border-radius: 70px;
			font-style: italic;
			height: 60px;
		}
		& input[type="submit"]{
			position: absolute;
			right: 0;
			border: none;
			background-color: $green;
			color: #fff;
			line-height: 1;
			padding: 22px 42px 21px 42px;
			border-radius: 70px;
			height: 60px;
			&:hover{
				color:$black;
			}
		}
	}
}

footer{
	background-color: #F2F4F7;
	position: relative;
	padding-top: 140px;
	padding-bottom: 40px;
}

.footer-curve{
	background-image: url('../img/footer-curve.svg');
	height: 16vw;
	background-size: cover;
	background-position: 50% 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

#footer-menu{
	list-style: none;
	padding: 0;
	margin: 0;
	& li{
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		& a{
			font-weight: 600;
			color: $black;
			&:hover{
				color: $green;
			}
		}
	}
}

.hr{
	width: 100%;
	height: 1px;
	background-color: #D1D5E5;
	position: relative;
}

.copyright{
	font-size: 0.86em;
	font-weight: 600;
}

#bottom-menu{
	list-style: none;
	padding: 0;
	margin: 0;
	& li{
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		& a{
			font-weight: 600;
			color: $black;
			&:hover{
				color: $green;
			}
		}
	}
}

#our-blog .blogpost-wrap{
	border: 1px solid #E0E6EE;
}

.post-tumbnail{
	height: 27.7vw;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.singlepost-date{
	opacity: .4;
}

.aligncenter{
	text-align: center;
}

.share-buttons{
	width: 100%;
	text-align: center;
	margin-top: 3rem;
	& ul{
		padding: 0;
		margin: 0;
		list-style: none;
		& li{
			padding: 6px;
			display: inline-block;
		}
	}
}

#article{
	margin-bottom: 80px;
}

input[type='text'],input[type='tel'],input[type='email']{
	width: 100%;
	line-height: 1;
	padding: 22px 160px 21px 32px;
	background-color: #fff;
	border: 1px solid #E0E6EE;
	border-radius: 70px;
	font-style: italic;
	height: 60px;
	font-family: Mont-Brilliant, sans-serif;
}
input[type="submit"]{
	font-family: Mont-Brilliant, sans-serif;
	border: none;
	background-color: $green;
	color: #fff;
	line-height: 1;
	padding: 22px 42px 21px 42px;
	border-radius: 70px;
	height: 60px;
	&:hover{
		color:$black;
	}
}
textarea{
	font-family: Mont-Brilliant, sans-serif;
	width: 100%;
	line-height: 1;
	padding: 22px 160px 21px 32px;
	background-color: #fff;
	border: 1px solid #E0E6EE;
	border-radius: 30px;
	font-style: italic;
	height: 140px;
}

#contact{
	padding-top: 30px;
}

#product{
	padding-top: 30px;
	padding-bottom: 30px;
}

.product-image-wrap{
	border: 1px solid #D1D5E5;
	border-radius: 20px;
	padding: 50px;
	text-align: center;
	& img{
		max-height: 458px;
	}
}

.product-dimensions{
	color: #7B8A9B;
	font-size: 1.14em;
}

.product-gallery{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.gallery-item{
	border: 1px solid #D1D5E5;
	border-radius: 20px;
	padding: 18px;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	cursor: pointer;
	& img{
		max-height: 105px;
	}
}

.product-amount{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	& .amount{
		color: #AABAC5;
		margin-right: 40px;
	}
	& .less{
		display: flex;
		width: 54px;
		height: 54px;
		justify-content: center;
		align-items: center;
		background-color: #F2F4F7;
		border-radius: 50%;
		margin-right: 20px;
		cursor:pointer;
		transition: all .15s ease;
		&:hover{
			background-color: darken(#F2F4F7,5%);
		}
	}
	& .more{
		display: flex;
		width: 54px;
		height: 54px;
		justify-content: center;
		align-items: center;
		background-color: #F2F4F7;
		border-radius: 50%;
		margin-left: 20px;
		cursor:pointer;
		transition: all .15s ease;
		&:hover{
			background-color: darken(#F2F4F7,5%);
		}
	}
}

.add-to-cart{
	display: flex;
	align-items: center;
	& .btn{
		margin-right: 30px;
	}
	& .price{
		font-size: 2.14em;
		font-weight: 600;
		color: $green;
	}
}

.features{
	margin-top: 60px;
}

#product-reviews{
	padding: 60px 0;
	& .review-autor{
		display: flex;
		align-items: center;
	}
	& .review-autor-avatar{
		width: 60px;
		height: 60px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-right: 15px;
	}
	& .review-date{
		font-size: 1.14em;
		font-weight: 600;
		color: #AABAC5;
	}
	& .review-header{
		display: flex;
		justify-content: space-between;
	}
}


@import "media";