@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body{
		font-size: 18px;
	}
	h1{
		font-size: 3em;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	h1{
		font-size: 3.77em;
	}

}