@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	height: 100%;
}

body {
	color: $black;
	font-size: 16px;
	line-height: 1.4;
	font-family: GrowYour420-Roboto, sans-serif;
	overflow-x: hidden;
	background: #DCE1D8;
}



h1,h2,h3,h4,h5,h6{
	font-family: GrowYour420-Roboto, sans-serif;
}

h1{
  font-size: 3.3em;
}

h2{
  font-size: 1.44em;
  font-weight: 500;
}

h3{
  font-size: 1.29em;
  font-weight: 700;
}

h4{
  font-size: 1em;
  font-weight: 700;
}

h5{
  font-size: 14px;
}

a{
	color:$green;
	&:hover{
		color:$green;
		text-decoration: none;
	}
}

a:hover, a:active, a:focus {
	outline: none;
}

button, button:hover, button:active, button:focus {
	outline: none;
}

input::-moz-focus-inner { 
  border: 0; 
}

input:focus, textarea:focus{
	outline: none;
}

object, embed { 
  outline: none;
}

::placeholder { 
  color: $grey;
  opacity: 1; 
}

