@font-face{
	font-family: 'GrowYour420-VarelaRound';
	src: url('../fonts/VarelaRound-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'GrowYour420-Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'GrowYour420-Roboto';
	src: url('../fonts/Roboto-Medium.ttf');
	font-weight: 500;
	font-display: swap;
}

@font-face{
	font-family: 'GrowYour420-Roboto';
	src: url('../fonts/Roboto-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'GrowYour420-Roboto';
	src: url('../fonts/Roboto-Light.ttf');
	font-weight: 300;
	font-display: swap;
}