@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";

header{
	background-color: #323232;
	border-top: 4px solid $green;
	padding: 7px 0;
	min-height: 77px;
}

.main-nav{
	display: flex;
	justify-content: space-between;
}

.search{
	position: absolute;
	top: 30px;
	left: 15px;
	display: flex;
	& form{
		display: none;
		margin-left: 15px;
		margin-right: 15px;
		width: 100%;
		& input{
			border:none;
			background-color: transparent;
			color: #fff;
			width: 100%;
		}
			
	}
	&.open{
		width: 100%;
		& form{
			display: block;
		}
		& #close-search{
			display: block;
		}
	}
	& #close-search{
		display: none;
	}
}

#open-search.open svg path{
	fill:$green;
}

#page-title{
	position: relative;
	padding: 30px 0 160px;
	background-image: url('../img/bg-page-title.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	& .overlay{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(358.53deg, #DCE1D8 1.25%, rgba(20, 21, 23, 0) 251.48%);
	}
	& h1{
		font-size: 2.5em;
		color: #fff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}

.green{
	color: $green;
}

.mobile-big-logo-title{
	position: absolute;
	bottom: 60px;
	right: 0;
}

.header-wrap{
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-bottom: 2px solid $black;

}

#home-review{
	padding-bottom: 15px;
	& .review-tumbnail{
		border-top: 3px solid $green;
	}
}

.review-wrap{
	height: 100%;
	position: relative;
	padding-bottom: 65px;
}

.review-tumbnail{
	min-height: 284px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: 20px;
	transition: all 0.3s ease-in-out;
	&:after{
		content: url('../img/small-logo.png');
		display: block;
		position: absolute;
		bottom: 5px;
		right: 5px;
	}
	&:hover{
		opacity: 0.8;
	}
}

.review-description{
	color: $green;
	margin-bottom: 20px;
	font-weight: 500;
}

.review-button{
	position: absolute;
	bottom: 15px;
	width: 100%;
	& a{
		display: block;
	}
} 

.green-button{
	background-color: $green;
	border-radius: 3px;
	color: #fff;
	padding: 17.5px 35px;
	line-height: 1;
	transition: all 0.3s ease-in-out;
	&:hover{
		color: #fff;
		background-color: #6EBD27;
	}
}

.blog-wrap{
	height: 100%;
	position: relative;
	& a:hover .blog-tumbnail{
		opacity: 0.8;
	}
}

.blog-tumbnail{
	min-height: 239px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: 20px;
	transition: all 0.3s ease-in-out;
	
}

.blog-title{
	color:$black;
}

.blog-date{
	font-weight: 500;
	color: $green;
}

.hr{
	width: 100%;
	height: 2px;
	background-color: $black;
	margin-bottom: 30px;
}

footer{
	padding: 60px 0 20px;
	background-image: url('../img/bg-footer.svg');
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	& ul{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			position: relative;
			padding-left: 12px;
			&:before{
				content: url('../img/list-maker.svg');
				display: block;
				position: absolute;
				left: 0;
				top: 0;
			}
			& a{
				font-size: 0.88em;
				color: $black;
				transition: all 0.3s ease-in-out;
				&:hover{
					color: $green;
				}
			}
		}
	}
}

.footer-posts li{
	min-height: 39.41px;
}

.amazon-program{
	font-size: 0.88em;
}

.copyright{
	font-size: 14px;
	font-weight: 300;
}

#to-top{
	position: fixed;
	bottom: 45px;
	right: 15px;
	display: none;
}

.green-shadow{
	text-shadow: 0px 4px 4px #459300;
}

.rgb-red{
	color:#D12121;
}

.rgb-blue{
	color:#0E23E8;
}

.rgb-green{
	color:#03C200;
}

#all-ledsearch-form{
	position: relative;
	& input[type="text"]{
		width: 100%;
		background: rgba(69, 147, 0, 0.44);
		border-radius: 18.5px;
		border:none;
		padding: 9px 35px 9px 45px;
		&::placeholder{
			color:rgba(255,255,255,.5);
		}
	}
	
	& label{
		position: absolute;
		top: 7px;
		left: 15px;
		cursor: pointer;
		margin-bottom: 0;
	}
}

.allled-review-wrap{
	height: 100%;
	padding: 20px;
	border: 1px solid $green;
}

.allled-review-tumbnail{
	min-height: 239px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s ease-in-out;
	&:hover{
		opacity: 0.8;
	}
}

@import "media";