@import "../libs/normalize-css/normalize.css";
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "DroidSans";
  src: url("../fonts/DroidSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  position: relative;
}

body {
  color: #093A57;
  font-size: 16px;
  line-height: 1.4;
  font-family: PTSans, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

body.menu-open {
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: DroidSans, sans-serif;
  font-weight: 700;
  line-height: 1.19;
}

h1, .h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1em;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #CE2D15;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #093A57;
}

a:hover, a:active, a:focus {
  outline: none;
}

button {
  cursor: pointer;
}

button, button:hover, button:active, button:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

input[type=text], input[type=email], input[type=tel] {
  border: 1px solid transparent;
  width: 100%;
  background-color: #fff;
  font-size: 16px;
  padding: 10px 48px 10px 24px;
  height: 44px;
}

textarea {
  border: 1px solid transparent;
  width: 100%;
  background-color: #fff;
  font-size: 16px;
  padding: 10px 48px 10px 24px;
  height: 212px;
}

input:focus, textarea:focus {
  outline: none;
  border: 1px solid #093A57;
}

object, embed {
  outline: none;
}

::-webkit-input-placeholder {
  color: #093A57;
  opacity: 1;
  font-family: inherit;
}

::-moz-placeholder {
  color: #093A57;
  opacity: 1;
  font-family: inherit;
}

:-ms-input-placeholder {
  color: #093A57;
  opacity: 1;
  font-family: inherit;
}

::-ms-input-placeholder {
  color: #093A57;
  opacity: 1;
  font-family: inherit;
}

::placeholder {
  color: #093A57;
  opacity: 1;
  font-family: inherit;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.column {
  padding: 0 15px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  border-radius: 23px;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  padding: 15px 25px;
  height: 46px;
  min-width: 190px;
  max-width: 100%;
}
.btn:hover {
  text-decoration: none;
}
.btn.wide-button {
  min-width: 270px;
  max-width: 100%;
}

.red-button {
  color: #fff;
  background-color: #CE2D15;
}
.red-button:hover {
  color: #093A57;
  background-color: #fff;
}

.red-button.alt:hover {
  color: #fff;
  background-color: #093A57;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #093A57;
}

.text-red {
  color: #CE2D15;
}

.text-uppercase {
  text-transform: uppercase;
}

.form-element {
  margin-bottom: 12px;
}
.form-element.name input {
  background-image: url("../img/form-user.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 10px;
}
.form-element.email input {
  background-image: url("../img/form-email.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 10px;
}
.form-element.phone input {
  background-image: url("../img/form-phone.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 10px;
}
.form-element.company input {
  background-image: url("../img/form-company.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 10px;
}

main ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
main ul li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
}
main ul li:before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #CE2D15;
  position: absolute;
  top: 8px;
  left: 0;
  display: block;
}

#main-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
#main-menu ul {
  height: 100vh;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#main-menu ul li {
  position: relative;
  margin-bottom: 25px;
}
#main-menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
#main-menu ul li a:hover {
  text-decoration: none;
  color: #CE2D15;
}

#main-menu.open {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

/* Toggle */
#toggle-btn {
  display: block;
  position: absolute;
  top: 35px;
  right: 15px;
  z-index: 9999999;
}

#toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
}

.hamburger .icon-bar {
  background-color: #CE2D15;
  display: block;
  height: 4px;
  border-radius: 2px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 40px;
}

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 5px;
}

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -9px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (min-width: 992px) {
  #main-menu {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
  }
  #main-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  #main-menu ul li {
    margin-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
  }
  #main-menu ul li a {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #main-menu ul li a:hover {
    color: #CE2D15;
  }
  #main-menu ul li.current-menu-item a {
    color: #CE2D15;
  }
  #main-menu ul li:first-child {
    padding-left: 0;
  }
  #main-menu ul li:last-child {
    padding-right: 0;
  }
  #toggle-btn {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  #main-menu ul li {
    padding-left: 19px;
    padding-right: 19px;
  }
  #main-menu ul li:first-child {
    padding-left: 0;
  }
  #main-menu ul li:last-child {
    padding-right: 0;
  }
}
@media only screen and (min-width: 1320px) {
  #main-menu ul li {
    padding-left: 27px;
    padding-right: 27px;
  }
  #main-menu ul li:first-child {
    padding-left: 0;
  }
  #main-menu ul li:last-child {
    padding-right: 0;
  }
}
.menu-button a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 1 !important;
  text-align: center;
  border-radius: 23px;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  padding: 15px 25px;
  height: 46px;
  min-width: 190px;
  max-width: 100%;
  color: #fff !important;
  background-color: #CE2D15;
}
.menu-button a:hover {
  text-decoration: none;
  color: #fff !important;
  background-color: #093A57;
}

header {
  padding: 30px 0;
}

#sticky-header {
  display: none;
}

#home-hero {
  background-image: url("../img/bg-home-hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}
#home-hero .home-hero-subtitle {
  color: #fff;
  margin-bottom: 30px;
}
#home-hero .home-hero-seals {
  margin-top: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#home-hero .home-hero-seals img {
  padding-left: 15px;
  padding-right: 15px;
}

#home-features .home-features-bg {
  background-color: #fff;
}
#home-features .column {
  margin-top: 35px;
  margin-bottom: 15px;
}
#home-features h3 {
  margin-top: 0;
  margin-bottom: 8px;
}
#home-features .features-description {
  text-transform: uppercase;
  color: #A4B49F;
  font-weight: 700;
  font-size: 0.8em;
}

#service-solution {
  padding-top: 69px;
  padding-bottom: 24px;
}
#service-solution .column {
  padding-bottom: 45px;
}
#service-solution .service-solution-wrap {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#service-solution .service-solution-wrap .service-solution-img {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#service-solution .service-solution-wrap .service-solution-data {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  padding: 15px 15px 70px;
  position: relative;
}
#service-solution .service-solution-wrap h6 {
  margin-top: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.1em;
}
#service-solution .service-solution-wrap .service-solution-description {
  font-size: 0.9em;
  line-height: 1.67;
}
#service-solution .service-solution-wrap .service-solution-link {
  position: absolute;
  bottom: 30px;
  left: 15px;
}
#service-solution .service-solution-wrap .service-solution-link a {
  font-size: 13px;
  letter-spacing: 2px;
  color: #fff;
}
#service-solution .service-solution-wrap .service-solution-link a:after {
  content: url("../img/arrow-more.svg");
  padding-left: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#service-solution .service-solution-wrap .service-solution-link a:hover:after {
  padding-left: 30px;
}

#values {
  position: relative;
  padding-bottom: 80px;
}
#values h2 {
  text-align: center;
  line-height: 1;
}
#values .data-column {
  padding-top: 30px;
  position: relative;
}
#values .value-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}
#values .value-wrap h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
#values .value-wrap .data-icon-column {
  -webkit-flex-basis: 75px;
  -ms-flex-preferred-size: 75px;
  flex-basis: 75px;
  max-width: 75px;
}
#values .value-wrap .data-icon-column .data-icon-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #A4B49F;
  border-radius: 50%;
  padding: 15px;
  height: 75px;
  width: 75px;
}
#values .value-wrap.visible .data-icon-column .data-icon-wrap {
  background-color: #093A57;
}
#values .value-wrap .data-text-column {
  -webkit-flex-basis: calc(100% - 75px);
  -ms-flex-preferred-size: calc(100% - 75px);
  flex-basis: calc(100% - 75px);
  max-width: calc(100% - 75px);
  padding-left: 15px;
}
#values .value-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 49px;
  z-index: -1;
}
#values .bottom-waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#slogan-slide {
  background-image: url("../img/slogan-slide-bg.png");
  background-position: center;
  background-size: cover;
  padding: 220px 0;
}
#slogan-slide .slick-dots li {
  width: 40px;
  height: 20px;
}
#slogan-slide .slick-dots li button {
  width: 40px;
  height: 20px;
}
#slogan-slide .slick-dots li button:before {
  content: "";
  width: 40px;
  height: 8px;
  border-radius: 4px;
  background-color: #fff;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#slogan-slide .slick-dots li.slick-active button:before {
  background-color: #CE2D15;
}

#services-solution-slider {
  padding: 60px 0 80px;
}
#services-solution-slider .container {
  max-width: 950px;
}
#services-solution-slider .service-solution-slider-subtile {
  margin-bottom: 80px;
}
#services-solution-slider .services-solution-slider-item {
  background-color: #A4B49F;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-image {
  height: 255px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body {
  padding: 48px 35px 80px;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body h6 {
  margin-top: 0;
  margin-bottom: 20px;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body .services-solution-slider-item-description {
  color: #fff;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body .services-solution-slider-item-link-more {
  position: absolute;
  bottom: 30px;
  left: 35px;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body .services-solution-slider-item-link-more a {
  font-size: 13px;
  letter-spacing: 2px;
  color: #fff;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body .services-solution-slider-item-link-more a:after {
  content: url("../img/arrow-more.svg");
  padding-left: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body .services-solution-slider-item-link-more a:hover:after {
  padding-left: 30px;
}
#services-solution-slider .slick-track {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
#services-solution-slider .slick-slide {
  height: inherit !important;
}
#services-solution-slider .slick-dots {
  bottom: -50px;
}
#services-solution-slider .slick-dots li {
  width: 40px;
  height: 20px;
}
#services-solution-slider .slick-dots li button {
  width: 40px;
  height: 20px;
}
#services-solution-slider .slick-dots li button:before {
  content: "";
  width: 40px;
  height: 8px;
  border-radius: 4px;
  background-color: #CE2D15;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#services-solution-slider .slick-dots li.slick-active button:before {
  background-color: #CE2D15;
  opacity: 1;
}

#home-testimonials {
  padding-bottom: 80px;
}
#home-testimonials .testimonial-text {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}
#home-testimonials .testimonial-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-image: url("../img/quote.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#home-testimonials .testimonial-text:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background-image: url("../img/quote.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#home-testimonials .testimonial-author-column {
  padding-left: 65px;
  margin-bottom: 15px;
  position: relative;
}
#home-testimonials .testimonial-author-column:before {
  content: "";
  width: 32px;
  height: 1px;
  background-color: #CE2D15;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
#home-testimonials .testimonial-author-column .author {
  color: #CE2D15;
  font-family: DroidSans, sans-serif;
  font-weight: 700;
}
#home-testimonials .testimonial-author-column .separator {
  color: #EDF4EA;
  padding-left: 5px;
  padding-right: 5px;
}
#home-testimonials .testimonial-author-column .company-name {
  font-size: 0.7em;
  text-transform: uppercase;
}
#home-testimonials .testimonial-link-column {
  padding-left: 65px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 18px;
  margin-bottom: 15px;
}
#home-testimonials .testimonial-link-column a {
  padding-right: 52px;
  position: relative;
}
#home-testimonials .testimonial-link-column a:after {
  content: url("../img/arrow-red.svg");
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#home-testimonials .testimonial-link-column a:hover {
  color: #CE2D15;
}
#home-testimonials .testimonial-link-column a:hover:after {
  right: -5px;
}

footer {
  background-color: #093A57;
  color: #fff;
  padding: 70px 0;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #CE2D15;
}
footer .footer-brand {
  margin-bottom: 35px;
}
footer .footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
footer .footer-menu li {
  margin-bottom: 35px;
}
footer .footer-button {
  margin-bottom: 30px;
}
footer .copyright {
  font-size: 10px;
  opacity: 0.6;
  margin-top: 15px;
}

#footer-contact {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
#footer-contact li {
  position: relative;
  padding-left: 45px;
  margin-bottom: 35px;
}
#footer-contact li.address:before {
  content: url("../img/address.svg");
  position: absolute;
  top: -4px;
  left: 0;
}
#footer-contact li.tel:before {
  content: url("../img/phone.svg");
  position: absolute;
  top: -4px;
  left: 0;
}

#footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#footer-social li {
  padding-left: 15px;
  padding-right: 15px;
}

#page-title {
  position: relative;
  padding: 70px 0 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-links {
  padding-top: 52px;
}
#page-links .column {
  padding-bottom: 45px;
}
#page-links .service-solution-wrap {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#page-links .service-solution-wrap .service-solution-img {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#page-links .service-solution-wrap .service-solution-data {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  padding: 15px 15px 34px;
  position: relative;
}
#page-links .service-solution-wrap h6 {
  margin-top: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.1em;
}
#page-links .service-solution-wrap .service-solution-link {
  position: absolute;
  bottom: 25px;
  left: 15px;
}
#page-links .service-solution-wrap .service-solution-link a {
  font-size: 13px;
  letter-spacing: 2px;
  color: #fff;
}
#page-links .service-solution-wrap .service-solution-link a:after {
  content: url("../img/arrow-more.svg");
  padding-left: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#page-links .service-solution-wrap .service-solution-link a:hover:after {
  padding-left: 30px;
}

#about-boss {
  padding-bottom: 60px;
}
#about-boss .about-boss-description {
  margin-bottom: 30px;
}
#about-boss .about-boss-img-wrap {
  padding-top: 45px;
  width: 422px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#about-boss .about-boss-img-wrap .about-boss-img-1 {
  height: 400px;
  width: 311px;
  max-width: 74%;
  margin-left: auto;
  position: relative;
}
#about-boss .about-boss-img-wrap .about-boss-img-2 {
  height: 400px;
  width: 311px;
  max-width: 74%;
  margin-right: auto;
  margin-top: -280px;
  position: relative;
  z-index: -1;
}

#about-features {
  background-color: #F9F8F8;
  padding: 45px 0 70px;
}
#about-features .about-features-column {
  margin-bottom: 45px;
}
#about-features .about-features-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 153px;
  height: 153px;
  background-color: #A4B49F;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
#about-features .about-features-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#about-features .about-features-description {
  font-size: 0.8em;
}
#about-features .about-oracle-wrap {
  background-color: #fff;
  padding: 45px 15px;
}
#about-features .about-oracle-text-column {
  margin-bottom: 15px;
}

#about-managment {
  padding: 80px 0;
}
#about-managment .about-managment-photo-wrap {
  padding: 0 17px 19px;
  max-width: 349px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#about-managment .about-managment-photo-wrap .about-managment-photo-bg {
  width: calc(100% - 34px);
  height: calc(100% - 19px);
  background-color: #CE2D15;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
#about-managment .about-managment-bio-column h3 {
  text-align: center;
  margin-bottom: 20px;
}
#about-managment .about-managment-bio-column .about-managment-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
}
#about-managment .about-managment-bio-column .about-managment-data .about-managment-position {
  font-weight: 700;
  padding-right: 30px;
}
#about-managment .about-managment-bio-column .about-managment-data .about-managment-social ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#about-managment .about-managment-bio-column .about-managment-data .about-managment-social ul li {
  padding-left: 8px;
  padding-right: 8px;
}

#contact-form {
  position: relative;
}
#contact-form .contact-bg-column {
  background-color: #A4B49F;
  padding: 35px 15px;
}
#contact-form button {
  margin-top: 18px;
}

#contact-data {
  padding: 35px 0 0;
}
#contact-data a {
  color: #093A57;
  position: relative;
}
#contact-data a:hover {
  color: #CE2D15;
}
#contact-data .column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#contact-data .contact-data-address {
  padding-left: 43px;
  position: relative;
  margin-bottom: 30px;
}
#contact-data .contact-data-address:before {
  content: url("../img/contact-pin.svg");
  position: absolute;
  top: -3px;
  left: 0;
  display: block;
}
#contact-data .contact-data-phone {
  padding-left: 43px;
  position: relative;
  margin-bottom: 30px;
}
#contact-data .contact-data-phone:before {
  content: url("../img/contact-phone.svg");
  position: absolute;
  top: -3px;
  left: 0;
  display: block;
}
#contact-data .contact-data-linkedin {
  padding-left: 43px;
  position: relative;
  margin-bottom: 30px;
}
#contact-data .contact-data-linkedin:before {
  content: url("../img/contact-linkedin.svg");
  position: absolute;
  top: -3px;
  left: 0;
  display: block;
}

#resources-grid {
  position: relative;
  padding: 60px 0;
}
#resources-grid .resource-grid-item {
  margin-bottom: 30px;
}
#resources-grid .resource-grid-item:hover .resource-thumbnail {
  opacity: 0.8;
}
#resources-grid .resource-grid-item .resource-grid-wrap {
  background-color: #A4B49F;
  position: relative;
  padding-bottom: 40px;
  height: 100%;
}
#resources-grid .resource-grid-item .resource-grid-wrap .resource-thumbnail {
  height: 255px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#resources-grid .resource-grid-item .resource-grid-wrap .resource-title {
  padding-left: 15px;
  padding-right: 15px;
}
#resources-grid .resource-grid-item .resource-grid-wrap .resource-title h6 {
  margin-bottom: 20px;
  margin-top: 30px;
}
#resources-grid .resource-grid-item .resource-grid-wrap .resource-excerpt {
  font-size: 0.8em;
  line-height: 1.5;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
#resources-grid .resource-grid-item .resource-grid-wrap .resource-learn-more {
  position: absolute;
  bottom: 20px;
  left: 15px;
}
#resources-grid .resource-grid-item .resource-grid-wrap .resource-learn-more a {
  font-size: 13px;
  letter-spacing: 2px;
  color: #fff;
}
#resources-grid .resource-grid-item .resource-grid-wrap .resource-learn-more a:after {
  content: url("../img/arrow-more.svg");
  padding-left: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#resources-grid .resource-grid-item .resource-grid-wrap .resource-learn-more a:hover:after {
  padding-left: 30px;
}

.pagination .pagination-pages {
  font-size: 0.9em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pagination .pagination-pages .page-numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #CE2D15;
  margin-left: 5px;
  margin-right: 5px;
}
.pagination .pagination-pages .page-numbers:hover:not(.dots) {
  background-color: #CE2D15;
  color: #fff;
}
.pagination .pagination-pages .page-numbers.current {
  background-color: #CE2D15;
  color: #fff;
}
.pagination .pagination-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px 0;
}
.pagination .pagination-buttons .page-numbers {
  background-color: #A4B49F;
  padding: 12px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75px;
  height: 44px;
}
.pagination .pagination-buttons .page-numbers img {
  width: 35px;
  height: auto;
}
.pagination .pagination-buttons .page-numbers.prev {
  margin-right: 15px;
}
.pagination .pagination-buttons .page-numbers:hover {
  background-color: #093A57;
}

#page-description {
  position: relative;
  padding-top: 30px;
  padding-bottom: 60px;
}

#offered-services {
  background-color: #F9F8F8;
  padding: 40px 0 60px;
}
#offered-services h3 {
  margin-bottom: 55px;
}
#offered-services .offered-services-column {
  margin-bottom: 30px;
}
#offered-services .offered-services-wrap {
  background-color: #A4B49F;
  position: relative;
  padding-bottom: 80px;
  height: 100%;
}
#offered-services .offered-services-wrap .offered-services-thumbnail {
  height: 255px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#offered-services .offered-services-wrap .offered-services-title {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
#offered-services .offered-services-wrap .offered-services-title h6 {
  margin-bottom: 20px;
}
#offered-services .offered-services-wrap .offered-services-excerpt {
  font-size: 0.8em;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-bottom: 20px;
}
#offered-services .offered-services-wrap .offered-services-read-more {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  text-align: center;
}
#offered-services .offered-services-wrap:hover .offered-services-thumbnail {
  opacity: 0.8;
}

#other-services {
  padding: 60px 0;
}
#other-services .service-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 153px;
  height: 153px;
  background-color: #A4B49F;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
#other-services .service-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
#other-services .service-description {
  font-size: 0.8em;
}
#other-services .other-services-row {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#other-services .other-services-row .column {
  margin-bottom: 45px;
}

.mb-45 {
  margin-bottom: 45px;
}

#consulting-section {
  margin-bottom: 70px;
}

#cta .cta-wrap {
  background-color: #A4B49F;
  margin-bottom: 70px;
  padding: 25px 15px;
  color: #fff;
}
#cta .cta-wrap .text-column {
  margin-bottom: 30px;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 510px) {
  #home-features .column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #home-features .column:nth-child(1) {
    border-right: 1px solid #EDF4EA;
  }
  #home-features .column:nth-child(3) {
    border-right: 1px solid #EDF4EA;
  }
  .footer-menu-1-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .footer-menu-2-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #service-solution .column {
    padding-bottom: 45px;
  }
  #service-solution .service-solution-wrap {
    min-height: 250px;
  }
  #service-solution .service-solution-wrap .service-solution-img {
    -webkit-flex-basis: 250px;
    -ms-flex-preferred-size: 250px;
    flex-basis: 250px;
    max-width: 250px;
    height: 100%;
  }
  #service-solution .service-solution-wrap .service-solution-data {
    -webkit-flex-basis: calc(100% - 250px);
    -ms-flex-preferred-size: calc(100% - 250px);
    flex-basis: calc(100% - 250px);
    max-width: calc(100% - 250px);
    padding: 15px 35px 70px;
    position: relative;
  }
  #service-solution .service-solution-wrap .service-solution-link {
    position: absolute;
    bottom: 30px;
    left: 35px;
  }
  #values h2 {
    text-align: center;
  }
  #values .value-wrap h4 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  #values .value-wrap .data-icon-column {
    -webkit-flex-basis: 110px;
    -ms-flex-preferred-size: 110px;
    flex-basis: 110px;
    max-width: 110px;
  }
  #values .value-wrap .data-icon-column .data-icon-wrap {
    padding: 15px;
    height: 110px;
    width: 110px;
  }
  #values .value-wrap .data-text-column {
    -webkit-flex-basis: calc(100% - 110px);
    -ms-flex-preferred-size: calc(100% - 110px);
    flex-basis: calc(100% - 110px);
    max-width: calc(100% - 110px);
    padding-left: 15px;
  }
  #values .value-line {
    left: 66px;
  }
  #home-testimonials .testimonial-author-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #home-testimonials .testimonial-link-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 65px;
    text-align: right;
  }
  .footer-brand-column {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
  .footer-menu-1-column {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 45px;
  }
  .footer-menu-2-column {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 45px;
  }
  .footer-social-column {
    padding-top: 45px;
  }
  .footer-social-column .footer-button {
    margin-bottom: 45px;
  }
  footer .copyright {
    margin-top: 40px;
  }
  #page-links .column {
    padding-bottom: 45px;
  }
  #page-links .service-solution-wrap {
    min-height: 150px;
  }
  #page-links .service-solution-wrap .service-solution-img {
    -webkit-flex-basis: 150px;
    -ms-flex-preferred-size: 150px;
    flex-basis: 150px;
    max-width: 150px;
    height: 100%;
  }
  #page-links .service-solution-wrap .service-solution-data {
    -webkit-flex-basis: calc(100% - 150px);
    -ms-flex-preferred-size: calc(100% - 150px);
    flex-basis: calc(100% - 150px);
    max-width: calc(100% - 150px);
    padding: 15px 35px 34px;
    position: relative;
  }
  #page-links .service-solution-wrap .service-solution-link {
    position: absolute;
    bottom: 25px;
    left: 35px;
  }
  #about-features .about-features-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #about-features .about-oracle-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #about-features .about-oracle-row .about-oracle-img-column {
    -webkit-flex-basis: 320px;
    -ms-flex-preferred-size: 320px;
    flex-basis: 320px;
    max-width: 320px;
  }
  #about-features .about-oracle-row .about-oracle-text-column {
    -webkit-flex-basis: calc(100% - 320px);
    -ms-flex-preferred-size: calc(100% - 320px);
    flex-basis: calc(100% - 320px);
    max-width: calc(100% - 320px);
  }
  #contact-form .data-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #contact-form .message-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #contact-data .contact-data-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  #resources-grid .resource-grid-item {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .pagination .pagination-pages .page-numbers {
    margin-left: 20px;
    margin-right: 20px;
  }
  .offered-services-row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .offered-services-row .offered-services-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #other-services .other-services-row .column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .logo-column {
    -webkit-flex-basis: 230px;
    -ms-flex-preferred-size: 230px;
    flex-basis: 230px;
    max-width: 230px;
  }
  .main-menu-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main-menu-column {
    -webkit-flex-basis: calc(100% - 230px);
    -ms-flex-preferred-size: calc(100% - 230px);
    flex-basis: calc(100% - 230px);
    max-width: calc(100% - 230px);
  }
  #home-hero .home-hero-title-column {
    -webkit-flex-basis: 58.33%;
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    max-width: 58.33%;
  }
  #home-hero .home-hero-seals-column {
    -webkit-flex-basis: 41.67%;
    -ms-flex-preferred-size: 41.67%;
    flex-basis: 41.67%;
    max-width: 41.67%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  #home-hero .home-hero-seals-column .home-hero-seals {
    margin-top: 0;
  }
  #home-features .column {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  #home-features .column:nth-child(2) {
    border-right: 1px solid #EDF4EA;
  }
  #service-solution .column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #values .data-column {
    padding-top: 60px;
  }
  #values h2 {
    text-align: center;
  }
  #values .value-wrap h4 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  #values .value-wrap .data-icon-column {
    -webkit-flex-basis: 153px;
    -ms-flex-preferred-size: 153px;
    flex-basis: 153px;
    max-width: 153px;
  }
  #values .value-wrap .data-icon-column .data-icon-wrap {
    padding: 15px;
    height: 153px;
    width: 153px;
  }
  #values .value-wrap .data-text-column {
    -webkit-flex-basis: calc(100% - 153px);
    -ms-flex-preferred-size: calc(100% - 153px);
    flex-basis: calc(100% - 153px);
    max-width: calc(100% - 153px);
    padding-left: 60px;
  }
  #values .value-line {
    left: 88px;
  }
  #slogan-slide .slick-dots li {
    width: 105px;
    height: 20px;
  }
  #slogan-slide .slick-dots li button {
    width: 105px;
    height: 20px;
  }
  #slogan-slide .slick-dots li button:before {
    content: "";
    width: 105px;
    height: 8px;
    border-radius: 4px;
    background-color: #fff;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #slogan-slide .slick-dots li.slick-active button:before {
    background-color: #CE2D15;
  }
  .footer-brand-column {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer-menu-1-column {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer-menu-2-column {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer-social-column {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  #sticky-header {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    z-index: 89;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    padding: 10px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  #sticky-header.sticky {
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  #page-title .page-subtitle {
    max-width: 881px;
    margin-left: auto;
    margin-right: auto;
  }
  #page-links {
    position: relative;
  }
  #page-links .column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #about-boss .column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #about-boss .row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #about-boss .about-boss-img-wrap {
    padding-top: 0;
  }
  #about-features .about-oracle-wrap {
    padding-left: 65px;
    padding-right: 65px;
  }
  #about-managment .about-managment-photo-column {
    -webkit-flex-basis: 379px;
    -ms-flex-preferred-size: 379px;
    flex-basis: 379px;
    max-width: 379px;
  }
  #about-managment .about-managment-bio-column {
    -webkit-flex-basis: calc(100% - 379px);
    -ms-flex-preferred-size: calc(100% - 379px);
    flex-basis: calc(100% - 379px);
    max-width: calc(100% - 379px);
  }
  #about-managment .about-managment-bio-column h3 {
    text-align: left;
  }
  #about-managment .about-managment-bio-column .about-managment-data {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  #contact-form .contact-bg-column {
    padding: 65px 90px 40px;
  }
  #consulting-section .consulting-section-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #consulting-section .consulting-section-row .half-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #consulting-section .consulting-section-row .half-column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  #consulting-section .consulting-section-row .half-column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  #cta .cta-wrap {
    padding: 65px;
  }
  #cta .cta-wrap .row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #cta .cta-wrap .text-column {
    margin-bottom: 0;
    -webkit-flex-basis: calc(100% - 300px);
    -ms-flex-preferred-size: calc(100% - 300px);
    flex-basis: calc(100% - 300px);
    max-width: calc(100% - 300px);
  }
  #cta .cta-wrap .button-column {
    -webkit-flex-basis: 300px;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1320px) {
  body {
    font-size: 20px;
  }
  #home-hero {
    padding-bottom: 200px;
  }
  #home-hero .home-hero-title-column {
    padding-left: 50px;
  }
  #home-hero .home-hero-title-column h1 {
    margin-bottom: 45px;
  }
  #home-hero .home-hero-title-column .home-hero-subtitle {
    margin-bottom: 45px;
  }
  #home-features {
    margin-top: -140px;
    height: 140px;
  }
  #home-features .home-features-bg {
    padding-left: 25px;
    padding-right: 25px;
  }
  #home-features .home-features-bg .features-description {
    padding-left: 45px;
    padding-right: 45px;
  }
  #service-solution .container {
    padding-left: 45px;
    padding-right: 45px;
  }
  #values .title-column {
    -webkit-flex-basis: 41.67%;
    -ms-flex-preferred-size: 41.67%;
    flex-basis: 41.67%;
    max-width: 41.67%;
    position: relative;
  }
  #values .title-column h2 {
    position: absolute;
    text-align: left;
    padding-left: 70px;
    padding-right: 70px;
  }
  #values .data-column {
    -webkit-flex-basis: 58.33%;
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    max-width: 58.33%;
  }
  #slogan-slide .container {
    padding-left: 220px;
    padding-right: 220px;
  }
  #services-solution-slider .services-solution-slider-wrap {
    padding-left: 90px;
    padding-right: 90px;
  }
  #services-solution-slider .slick-prev {
    width: 74px;
    height: 60px;
    left: 0;
    background-color: #CE2D15;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  #services-solution-slider .slick-prev:before {
    content: url("../img/arrow-left.svg");
    opacity: 1;
  }
  #services-solution-slider .slick-next {
    width: 74px;
    height: 60px;
    right: 0;
    background-color: #CE2D15;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  #services-solution-slider .slick-next:before {
    content: url("../img/arrow-right.svg");
    opacity: 1;
  }
  #home-testimonials .testimonial-text {
    padding-left: 200px;
    padding-right: 200px;
    position: relative;
    margin-bottom: 80px;
  }
  #home-testimonials .testimonial-text:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 80px;
    width: 51px;
    height: 51px;
    background-image: url("../img/quote.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #home-testimonials .testimonial-text:after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 80px;
    width: 51px;
    height: 51px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-image: url("../img/quote.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #home-testimonials .testimonial-author-column {
    padding-left: 215px;
    margin-bottom: 15px;
    position: relative;
  }
  #home-testimonials .testimonial-author-column:before {
    content: "";
    width: 32px;
    height: 1px;
    background-color: #CE2D15;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }
  #home-testimonials .testimonial-author-column .author {
    color: #CE2D15;
    font-family: DroidSans, sans-serif;
    font-weight: 700;
  }
  #home-testimonials .testimonial-author-column .separator {
    color: #EDF4EA;
    padding-left: 5px;
    padding-right: 5px;
  }
  #home-testimonials .testimonial-author-column .company-name {
    font-size: 0.7em;
    text-transform: uppercase;
  }
  #home-testimonials .testimonial-link-column {
    padding-left: 15px;
    padding-right: 215px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  #home-testimonials .testimonial-link-column a {
    padding-right: 52px;
    position: relative;
  }
  #home-testimonials .testimonial-link-column a:after {
    content: url("../img/arrow-red.svg");
    position: absolute;
    right: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #home-testimonials .testimonial-link-column a:hover {
    color: #CE2D15;
  }
  #home-testimonials .testimonial-link-column a:hover:after {
    right: -5px;
  }
  .title-container {
    background-color: #fff;
    height: 140px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
  #page-title {
    padding-bottom: 230px;
    margin-bottom: -140px;
  }
  #page-links .container {
    padding-left: 125px;
    padding-right: 125px;
  }
  #about-boss .container {
    padding-left: 125px;
    padding-right: 125px;
  }
  #about-boss .about-boss-img-wrap {
    margin-right: 0;
  }
  #about-features .about-features-column {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  #about-features .about-features-description {
    padding-left: 10px;
    padding-right: 10px;
  }
  #about-features .about-oracle-wrap {
    margin-left: 80px;
    margin-right: 80px;
  }
  #about-features .about-oracle-row .about-oracle-img-column {
    -webkit-flex-basis: calc(100% - 662px);
    -ms-flex-preferred-size: calc(100% - 662px);
    flex-basis: calc(100% - 662px);
    max-width: calc(100% - 662px);
  }
  #about-features .about-oracle-row .about-oracle-text-column {
    -webkit-flex-basis: 662px;
    -ms-flex-preferred-size: 662px;
    flex-basis: 662px;
    max-width: 662px;
  }
  #about-managment .about-managment-photo-column {
    -webkit-flex-basis: 450px;
    -ms-flex-preferred-size: 450px;
    flex-basis: 450px;
    max-width: 450px;
  }
  #about-managment .about-managment-bio-column {
    -webkit-flex-basis: calc(100% - 450px);
    -ms-flex-preferred-size: calc(100% - 450px);
    flex-basis: calc(100% - 450px);
    max-width: calc(100% - 450px);
  }
  #contact-form .container {
    padding-left: 125px;
    padding-right: 125px;
  }
  #contact-data {
    padding-bottom: 40px;
  }
  #contact-data .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  #page-title {
    min-height: 450px;
  }
  #resources-grid {
    padding-top: 0;
  }
  #resources-grid .resource-grid-item {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
  #resources-grid .resource-grid-item .resource-grid-wrap .resource-thumbnail {
    height: 255px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #resources-grid .resource-grid-item .resource-grid-wrap .resource-title {
    padding-left: 30px;
    padding-right: 30px;
  }
  #resources-grid .resource-grid-item .resource-grid-wrap .resource-excerpt {
    padding-left: 30px;
    padding-right: 30px;
  }
  #resources-grid .resource-grid-item .resource-grid-wrap .resource-learn-more {
    left: 30px;
  }
  #page-description {
    position: relative;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  #page-description .column {
    -webkit-flex-basis: 66.67%;
    -ms-flex-preferred-size: 66.67%;
    flex-basis: 66.67%;
    max-width: 66.67%;
    margin-left: auto;
    margin-right: auto;
  }
  #offered-services .offered-services-row .offered-services-column {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
  #offered-services .offered-services-row .offered-services-wrap .offered-services-title {
    padding-left: 30px;
    padding-right: 30px;
  }
  #offered-services .offered-services-row .offered-services-wrap .offered-services-excerpt {
    padding-left: 30px;
    padding-right: 30px;
  }
  #other-services .other-services-row .column {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
  #consulting-section .container {
    padding-left: 125px;
    padding-right: 125px;
  }
  #cta .cta-wrap {
    padding-left: 110px;
    padding-right: 110px;
  }
  #cta .cta-wrap .text-column {
    -webkit-flex-basis: 727px;
    -ms-flex-preferred-size: 727px;
    flex-basis: 727px;
    max-width: 727px;
  }
  #cta .cta-wrap .button-column {
    -webkit-flex-basis: calc(100% - 727px);
    -ms-flex-preferred-size: calc(100% - 727px);
    flex-basis: calc(100% - 727px);
    max-width: calc(100% - 727px);
  }
}