@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	position:relative;
}

body {
	color: $black;
	font-size: 16px;
	line-height: 1.31;
	font-family: Assistant, sans-serif;
	font-weight: 400;
	height: 100%;
	overflow-x: hidden;
	background-color: $blue;
}


h1,h2,h3,h4,h5,h6{
	font-family: Amatic, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

h1, .h1{
  font-size: 5em;
  line-height: 0.92;
}

h2{
  font-size: 2.8em;
  line-height: 0.92;
}

h3{
  font-size: 2.2em;
  line-height: .92;
}

h4{
  font-size: 21px;
  line-height: 27px;
}

h5{
  font-size: 14px;
  line-height: 18px;
}

img{
	max-width: 100%;
	height: auto;
}

a{
	color:#fff;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	&:hover{
		color:$yellow;
	}
}

a:hover, a:active, a:focus {
	outline: none;
}

button, button:hover, button:active, button:focus {
	outline: none;
}

input[type=text], input[type=email], input[type=tel]{
	width: 100%;
	height: 48px;
	border:none;
	font-family: inherit;
	padding: 13.5px 32px;
	letter-spacing: 0.44px;
	border-radius: 29.5px;
	background-color: #fff;
	color: $black;
}

input[type=submit]{
	border:none;
	cursor: pointer;
}

input::-moz-focus-inner { 
  border: 0; 
}

input:focus, textarea:focus{
	outline: none;
}

object, embed { 
  outline: none;
}

::placeholder { 
  color: $black;
  opacity: 1; 
}

.container{
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 12px;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}

.column{
	padding: 0 12px;
	flex-basis: 100%;
	max-width: 100%;
}

.text-center{
	text-align: center;
}

.white{
	color: #fff;
}

.yellow{
	color: $yellow;
}

.blue{
	color:$blue;
}

.black{
	color: $black;
}

.btn{
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 16px 15px;
	line-height: 1;
	width: 296px;
	height: 48px;
	max-width: 100%;
	font-weight: 700;
	letter-spacing: 0.44px;
	border-radius: 29.5px;
	transition: all 0.3s ease-in-out;
	&.video-button{
		position: relative;
		padding-left: 59px;
		padding-right: 59px;
		&:after{
			content: url('../img/button-play.svg');
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
		}
	}
}

.blue-button{
	background-color: $blue;
	color: #fff;
	&:hover{
		color: $blue;
		background-color: #fff;
	}
}

.yellow-button{
	background-color: $yellow;
	color: $black;
	&:hover{
		color: $black;
		background-color: #fff;
	}
}

.desktop{
	display: none;
}

.email-error{
	font-size: 10px;
	font-weight: 400;
	color: red;
	position: absolute;
	left: 25px;
	margin-top: 2px;
}

.success-send{
	font-size: 1.625em;
	font-weight: 700;
	color: green;
}

.error-send{
	font-size: 1.625em;
	font-weight: 700;
	color: red;
}