#main-menu{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	width: 300px;
	height: 100%;
	background: $yellow;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
	transform: translate3d(-320px,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	& ul{
		height: 100vh;
		overflow-y: auto;
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		& li{
			position: relative;
			margin-bottom: 25px;
			transform: translate3d(0,500px,0);
			transition: transform 0s 0.4s;
			transition-timing-function: cubic-bezier(0.7,0,0.3,1);
			&:nth-child(2){
				transform: translate3d(0,1000px,0);
			}
			&:nth-child(3){
				transform: translate3d(0,1500px,0);
			}
			&:nth-child(4){
				transform: translate3d(0,2000px,0);
			}
			&:nth-child(5){
				transform: translate3d(0,2500px,0);
			}
			&:nth-child(6){
				transform: translate3d(0,3000px,0);
			}
			& a{
				font-size: 1em;
				font-weight: 700;
				color: $blue;
				text-decoration: none;
				&:hover{
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
	& .close-button{
		position: absolute;
		top: 5px;
		right: 5px;
		width: 1em;
		height: 1em;
		position: absolute;
		right: 1em;
		top: 1em;
		overflow: hidden;
		text-indent: 1em;
		font-size: 0.75em;
		border: none;
		background: transparent;
		color: transparent;
		cursor: pointer;
	}


	& .close-button::before,
	.close-button::after {
		content: '';
		position: absolute;
		width: 3px;
		height: 100%;
		top: 0;
		left: 50%;
		background: $blue;
	}

	& .close-button::before {
		transform: rotate(45deg);
	}

	& .close-button::after {
		transform: rotate(-45deg);
	}
}

.show-menu #main-menu{
	transform: translate3d(0,0,0);
	transition: transform 0.8s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	& ul{
		& li{
			transform: translate3d(0,0,0);
			transition: transform 0.8s;
			transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		}
	}
}

/* Toggle */
#toggle-btn {
  display: block;
  position: absolute;
  top: 35px;
  left: 15px;
  z-index: 999; }

#toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
   }

.hamburger .icon-bar {
  background-color: #fff;
  display: block;
  height: 4px;
  position: relative;
  transition: all 0.4s;
  border-radius:3px;
  width: 30px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 5px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
	background-color: $blue;
  top: 9px;
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
	background-color: $blue;
  top: -9px;
  transform: rotate(-45deg); }


@media only screen and (min-width: 992px){

	#main-menu{
		transform: translate3d(0,0,0);
		position: relative;
		top: unset;
		left: unset;
		right: unset;
		bottom:unset;
		background: transparent;
		width: 100%;
		height: unset;
		padding: 0;
		font-size: 1em;
		& .close-button{
			display: none;
		}
		& ul{
			display: flex;
			height: unset;
			flex-direction: row;
			justify-content: center;
			& li{
				margin-bottom: 0;
				padding-left: 25px;
				padding-right: 25px;
				transform: translate3d(0,0,0)!important;
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
				}
				& a{
					color: #fff;
					font-size: 1em;
					font-weight: 400;
					&:hover{
						color: $yellow;
					}
				}
				&.current-menu-item a{
					color: $yellow;
				}
			}
		}
		
	}
	#toggle-btn{
		display: none;
	}
}

@media only screen and (min-width: 1250px){
	#main-menu ul li{
		padding-left: 27px;
		padding-right: 27px;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
	}
}