@import "../libs/normalize-css/normalize.css";
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Boldstrom";
  src: url("../fonts/Boldstrom.otf");
  font-weight: 400;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  position: relative;
}

body {
  color: #020303;
  font-size: 16px;
  line-height: 1.33;
  font-family: Barlow, sans-serif;
  height: 100%;
  overflow-x: hidden;
  background-color: #FFFEFD;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1 {
  font-family: Boldstrom, sans-serif;
  font-size: 2.5em;
  line-height: 0.97;
}

h2 {
  font-family: Boldstrom, sans-serif;
  font-size: 2em;
  line-height: 1.055;
}

h3 {
  font-size: 1.33em;
  font-weight: 700;
  line-height: 1;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1;
}

h5 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.055;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #EA0228;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
a:hover {
  color: #265D33;
}

a:hover, a:active, a:focus {
  outline: none;
}

button, button:hover, button:active, button:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

input:focus, textarea:focus {
  outline: none;
}

object, embed {
  outline: none;
}

input[type=text], input[type=email], input[type=tel] {
  width: 100%;
  border: 1px solid #020303;
  background-color: #FFFFFF;
  padding: 18.5px 27px;
}

textarea {
  height: 206px;
  width: 100%;
  border: 1px solid #020303;
  background-color: #FFFFFF;
  padding: 18.5px 27px;
}

input[type=submit] {
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::-webkit-input-placeholder {
  color: #020303;
  opacity: 0.75;
}

::-moz-placeholder {
  color: #020303;
  opacity: 0.75;
}

:-ms-input-placeholder {
  color: #020303;
  opacity: 0.75;
}

::-ms-input-placeholder {
  color: #020303;
  opacity: 0.75;
}

::placeholder {
  color: #020303;
  opacity: 0.75;
}

.container {
  max-width: 1320px;
  padding: 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
  position: relative;
}

.column {
  position: relative;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

.btn {
  line-height: 1;
  display: inline-block;
  text-transform: uppercase;
  min-width: 250px;
  text-align: center;
  font-weight: 700;
  padding: 20px 25px;
}

.white-button {
  background-color: #fff;
  color: #020303;
}
.white-button:hover {
  color: #fff;
  background-color: #EA0228;
}

.red-button {
  background-color: #EA0228;
  color: #fff;
}
.red-button:hover {
  color: #fff;
  background-color: #265D33;
}

.red-button.inverse {
  background-color: #EA0228;
  color: #fff;
}
.red-button.inverse:hover {
  color: #EA0228;
  background-color: #fff;
}

.green-button {
  background-color: #265D33;
  color: #fff;
}
.green-button:hover {
  color: #fff;
  background-color: #EA0228;
}

.red {
  color: #EA0228;
}

.green {
  color: #265D33;
}

.white {
  color: #fff;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.mobile-menu ul {
  height: 100vh;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.mobile-menu ul li {
  position: relative;
  margin-bottom: 25px;
}
.mobile-menu ul li a {
  color: #020303;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-menu ul li a:hover {
  text-decoration: none;
  color: #EA0228;
}

.mobile-menu.open {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

/* Toggle */
#toggle-btn {
  display: block;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 9999999;
}

#toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
}

.hamburger .icon-bar {
  background-color: #265D33;
  display: block;
  height: 5px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 35px;
}

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 4px;
}

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -10px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (min-width: 992px) {
  #main-menu {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
  }
  #main-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  #main-menu ul li {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  #main-menu ul li:first-child {
    padding-left: 0;
  }
  #main-menu ul li:last-child {
    padding-right: 0;
  }

  #toggle-btn {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  #main-menu ul li {
    padding-left: 27px;
    padding-right: 27px;
  }
  #main-menu ul li:first-child {
    padding-left: 0;
  }
  #main-menu ul li:last-child {
    padding-right: 0;
  }
}
#header {
  height: 52px;
}
#header:before {
  content: "";
  display: block;
  position: absolute;
  width: 140px;
  height: 70px;
  background-color: #fff;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  border-top: 0;
  top: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.top-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-menu ul li {
  display: inline-block;
}

.left-menu-column, .right-menu-column {
  display: none;
}

.brand {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.brand img {
  max-height: 80px;
}

#home-hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}
#home-hero h1 {
  color: #fff;
}

.hero-button-column .btn {
  margin: 5px;
}

.about-us-home {
  margin-bottom: 25px;
}

.home-about-row .btn {
  margin-bottom: 25px;
}

#home-about {
  padding-bottom: 30px;
}
#home-about .column {
  text-align: center;
}

#varieities {
  padding: 60px 0;
  background-color: #265D33;
  background-image: url("../img/varieities-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#varieities h2 {
  margin-bottom: 60px;
}

.varieities-slider {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 80px !important;
}
.varieities-slider .slick-track {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.varieities-slider .slick-slide {
  height: inherit !important;
}
.varieities-slider .slick-prev {
  left: 0;
}
.varieities-slider .slick-prev:before {
  content: url("../img/slider-arrow.svg");
  display: block;
}
.varieities-slider .slick-next {
  right: 0;
}
.varieities-slider .slick-next:before {
  content: url("../img/slider-arrow.svg");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
.varieities-slider .slick-dots {
  bottom: -45px;
}
.varieities-slider .slick-dots li button::before {
  font-size: 12px;
  color: #fff;
}

.varieities-item {
  background-color: #FFFEFD;
  margin-left: 15px;
  margin-right: 15px;
}
.varieities-item .varieities-tumbnail {
  height: 275px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.varieities-item .varieities-body {
  padding: 48px 20px 28px 31px;
}
.varieities-item .varieities-body .varieities-title {
  font-weight: 700;
  margin-bottom: 15px;
}

#recipes {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 0;
}
#recipes .recipes-description {
  margin-bottom: 45px;
}

.white-splash {
  background-color: #FFFEFD;
  padding: 5px 25px 25px;
}

#home-features {
  padding-top: 60px;
}
#home-features .home-feature-icon {
  margin-bottom: 35px;
}
#home-features .home-feature-title {
  text-transform: uppercase;
  font-size: 1.33em;
  font-weight: 700;
  margin-bottom: 35px;
}
#home-features .home-feature-column {
  margin-bottom: 45px;
}

#where .where-description {
  margin-bottom: 30px;
}
#where .btn {
  margin-bottom: 45px;
}
#where .column:nth-child(2) {
  text-align: center;
}

main {
  padding-bottom: 175px;
}

footer {
  background-color: #265D33;
  padding: 145px 0 75px;
}

.footer-social ul {
  margin: 30px 0 45px;
  padding: 0;
  list-style: none;
}
.footer-social ul li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-social ul li:first-child {
  padding-left: 0;
}
.footer-social ul li:last-child {
  padding-right: 0;
}

.copyright {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}

.footer-brand {
  position: absolute;
  top: -234px;
  left: 0;
  right: 0;
  text-align: center;
}
.footer-brand:before {
  content: "";
  display: block;
  position: absolute;
  width: 323px;
  height: 166px;
  background-color: #fff;
  border-bottom-left-radius: 166px;
  border-bottom-right-radius: 166px;
  border-top: 0;
  top: 43px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.footer-brand img {
  z-index: 5;
  position: relative;
}

.footer-social-column {
  text-align: center;
}

[id^=footer-menu] {
  margin: 0;
  padding: 0;
  list-style: none;
}
[id^=footer-menu] li {
  margin-bottom: 27px;
}
[id^=footer-menu] li a {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.88em;
  font-weight: 700;
}
[id^=footer-menu] li a:hover {
  color: #EA0228;
}

#page-title {
  padding-top: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#page-title h1 {
  color: #fff;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-30 {
  margin-top: 30px;
}

#about {
  padding: 45px 0 0;
}
#about .about-us-description {
  margin-bottom: 30px;
}
#about .btn {
  margin-bottom: 15px;
  display: block;
  max-width: 440px;
}
#about .btn:last-child {
  margin-bottom: 45px;
}

#watermelons {
  padding-top: 60px;
}
#watermelons h3 {
  margin-bottom: 45px;
}

.watermelons-grid-column {
  margin-bottom: 30px;
}
.watermelons-grid-column .watermelons-wrap {
  background-color: #265D33;
  color: #fff;
  max-width: 394px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.watermelons-grid-column .watermelons-wrap h5 {
  margin-bottom: 20px;
}
.watermelons-grid-column .watermelons-wrap .watermelons-tumbnail {
  height: 275px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.watermelons-grid-column .watermelons-wrap .watermelons-title {
  padding: 15px 15px 0;
}
.watermelons-grid-column .watermelons-wrap .watermelons-excerpt {
  padding: 0 15px 40px;
}

#where-we-farm .where-we-description-title {
  margin-bottom: 45px;
}
#where-we-farm .where-we-locations-column {
  margin-bottom: 25px;
}
#where-we-farm .where-we-row {
  margin-bottom: 45px;
}
#where-we-farm .where-we-row:last-child {
  margin-bottom: 0;
}
#where-we-farm .whre-we-location-detail {
  padding-left: 45px;
  position: relative;
}
#where-we-farm .whre-we-location-detail:before {
  content: url("../img/map-pin-location.svg");
  position: absolute;
  top: 0;
  left: 0;
}

#food-safety {
  padding-top: 60px;
}
#food-safety .food-safety-description-column {
  margin-bottom: 45px;
}
#food-safety .food-safety-item-column {
  margin-bottom: 45px;
}
#food-safety .food-safety-item-column:last-child {
  margin-bottom: 0;
}

.recipes-title-column .recipes-description {
  margin-bottom: 35px;
}
.recipes-title-column h3 {
  margin-bottom: 45px;
}

.recipes-grid-column {
  margin-bottom: 35px;
}
.recipes-grid-column .recipes-grid-wrap {
  background-color: #265D33;
  max-width: 394px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-bottom: 60px;
  position: relative;
}
.recipes-grid-column .recipes-grid-tumbnail {
  height: 274px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.recipes-grid-column h5 {
  margin-bottom: 20px;
  color: #fff;
}
.recipes-grid-column .recipes-grid-title {
  padding: 15px 15px 0;
}
.recipes-grid-column .recipes-grid-read-more {
  position: absolute;
  left: 15px;
  bottom: 40px;
}
.recipes-grid-column .recipes-grid-read-more a {
  color: #F9AB48;
  font-size: 0.88em;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-right: 50px;
}
.recipes-grid-column .recipes-grid-read-more a:hover {
  color: #EA0228;
}
.recipes-grid-column .recipes-grid-read-more a:hover:after {
  right: 0;
}
.recipes-grid-column .recipes-grid-read-more a:after {
  content: url("../img/arrow-learn-more.svg");
  position: absolute;
  display: block;
  height: 24px;
  width: 24px;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#contact {
  padding-top: 30px;
}

.contact-title-column {
  margin-bottom: 55px;
}

.contact-form-wrap {
  background-color: #265D33;
  background-image: url("../img/varieities-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px 15px;
}
.contact-form-wrap .form-item {
  margin-bottom: 20px;
}
.contact-form-wrap .form-button {
  padding-top: 23px;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 510px) {
  .hero-title-column {
    -webkit-flex-basis: 90%;
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-menu-1 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .footer-menu-2 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #recipes .column {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
    margin-left: 20%;
  }

  .footer-menu-1 {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  .footer-menu-2 {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  .footer-menu-3 {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  .watermelons-grid-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .watermelons-grid-column .watermelons-wrap h5 {
    margin-bottom: 20px;
  }
  .watermelons-grid-column .watermelons-wrap .watermelons-title {
    padding: 15px 25px 0 35px;
  }
  .watermelons-grid-column .watermelons-wrap .watermelons-excerpt {
    padding: 0 25px 40px 35px;
  }

  #where-we-farm .where-we-locations-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .food-safety-item-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .contact-form-wrap .form-item:nth-child(1) {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .contact-form-wrap .form-item:nth-child(2) {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 3em;
  }

  .hero-button-column .btn {
    margin: 7.5px 15px;
  }

  .left-menu-column, .right-menu-column {
    display: block;
    -webkit-flex-basis: 41.66%;
    -ms-flex-preferred-size: 41.66%;
    flex-basis: 41.66%;
    max-width: 41.66%;
    z-index: 5;
  }
  .left-menu-column ul, .right-menu-column ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .left-menu-column ul li, .right-menu-column ul li {
    padding-left: 5px;
    padding-right: 5px;
  }
  .left-menu-column ul li:first-child, .right-menu-column ul li:first-child {
    padding-left: 0;
  }
  .left-menu-column ul li:last-child, .right-menu-column ul li:last-child {
    padding-right: 0;
  }
  .left-menu-column ul li a, .right-menu-column ul li a {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #020303;
  }
  .left-menu-column ul li a:hover, .right-menu-column ul li a:hover {
    color: #EA0228;
  }
  .left-menu-column ul li.current-menu-item a, .right-menu-column ul li.current-menu-item a {
    color: #EA0228;
  }

  .brand-column {
    -webkit-flex-basis: 16.66%;
    -ms-flex-preferred-size: 16.66%;
    flex-basis: 16.66%;
    max-width: 16.66%;
  }

  #home-about {
    padding: 60px 0;
  }
  #home-about .home-about-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #home-about .column:first-child {
    text-align: left;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #home-about .column:last-child {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .varieities-slider {
    padding-left: 65px;
    padding-right: 65px;
  }

  #recipes {
    padding: 160px 0;
  }
  #recipes .column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    margin-left: 50%;
  }

  #home-features {
    padding-top: 90px;
  }
  #home-features .home-feature-column {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  #where .where-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #where .column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #where .column:nth-child(2) {
    text-align: center;
  }

  .footer-brand {
    text-align: left;
    padding-left: 72px;
  }
  .footer-brand:before {
    margin-left: 0;
  }

  .footer-social-column {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .footer-menu-1 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  .footer-menu-2 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }

  .footer-menu-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }

  .about-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about-row .column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  #where-we-farm .where-we-description-column {
    -webkit-flex-basis: 83.33%;
    -ms-flex-preferred-size: 83.33%;
    flex-basis: 83.33%;
    max-width: 83.33%;
    margin-left: auto;
    margin-right: auto;
  }
  #where-we-farm .where-we-map-column {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
  #where-we-farm .where-we-location-column {
    -webkit-flex-basis: 66.66%;
    -ms-flex-preferred-size: 66.66%;
    flex-basis: 66.66%;
    max-width: 66.66%;
  }
  #where-we-farm .where-we-location-column h2 {
    margin-top: 0;
  }

  .food-safety-description-column {
    -webkit-flex-basis: 66.66%;
    -ms-flex-preferred-size: 66.66%;
    flex-basis: 66.66%;
    max-width: 66.66%;
    margin-left: auto;
    margin-right: auto;
  }

  .food-safety-item-column {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  #food-safety .food-safety-description-column {
    margin-bottom: 60px;
  }

  .recipes-title-column {
    -webkit-flex-basis: 82%;
    -ms-flex-preferred-size: 82%;
    flex-basis: 82%;
    max-width: 82%;
    margin-left: auto;
    margin-right: auto;
  }
  .recipes-title-column .recipes-description {
    padding-left: 140px;
    padding-right: 140px;
  }

  .recipes-grid-column {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
  .recipes-grid-column .recipes-grid-wrap {
    background-color: #265D33;
    max-width: 394px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-bottom: 60px;
    position: relative;
  }
  .recipes-grid-column .recipes-grid-tumbnail {
    height: 274px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .recipes-grid-column h5 {
    margin-bottom: 20px;
    color: #fff;
  }
  .recipes-grid-column .recipes-grid-title {
    padding: 15px 22px 0 35px;
  }
  .recipes-grid-column .recipes-grid-read-more {
    position: absolute;
    left: 35px;
  }

  .contact-form-wrap {
    padding: 79px 72px 45px;
  }
  .contact-form-wrap .btn {
    min-width: 440px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1320px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 4.11em;
    margin-bottom: 70px;
  }

  .hero-title-column {
    -webkit-flex-basis: 83%;
    -ms-flex-preferred-size: 83%;
    flex-basis: 83%;
    max-width: 83%;
    margin-left: auto;
    margin-right: auto;
  }

  #header {
    height: 107px;
  }
  #header:before {
    content: "";
    display: block;
    position: absolute;
    width: 323px;
    height: 166px;
    background-color: #fff;
    border-bottom-left-radius: 166px;
    border-bottom-right-radius: 166px;
    border-top: 0;
    top: 62px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  #header .container {
    height: 100%;
  }

  .main-menu-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }

  .left-menu-column, .right-menu-column {
    display: block;
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }

  .left-menu-column ul li:last-child {
    padding-right: 25px;
  }

  .right-menu-column ul li:first-child {
    padding-left: 10px;
  }

  .brand-column {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }

  .brand {
    top: -40px;
  }

  .brand img {
    max-height: 230px;
  }

  #home-hero {
    padding: 180px 0 220px;
  }

  #home-about .column:first-child {
    text-align: left;
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
    padding-right: 60px;
    margin-left: 10%;
  }
  #home-about .column:last-child {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .about-us-home {
    margin-bottom: 40px;
  }

  #recipes .column {
    -webkit-flex-basis: 51%;
    -ms-flex-preferred-size: 51%;
    flex-basis: 51%;
    max-width: 51%;
    margin-left: 49%;
  }

  .white-splash {
    padding: 70px 60px 70px 90px;
  }

  #home-features .home-feature-column:nth-child(2) {
    padding-left: 80px;
    padding-right: 80px;
  }
  #home-features .home-feature-column:nth-child(3) {
    padding-left: 70px;
    padding-right: 70px;
  }

  #where .column:nth-child(1) {
    -webkit-flex-basis: 41.66%;
    -ms-flex-preferred-size: 41.66%;
    flex-basis: 41.66%;
    max-width: 41.66%;
    margin-left: 8.33%;
  }
  #where .column:nth-child(1) .where-description {
    padding-right: 75px;
  }
  #where .column:nth-child(2) {
    -webkit-flex-basis: 41.66%;
    -ms-flex-preferred-size: 41.66%;
    flex-basis: 41.66%;
    max-width: 41.66%;
    margin-right: 8.33%;
  }

  #page-title {
    padding-top: 120px;
    padding-bottom: 19px;
  }

  #about .about-row .column:first-child {
    -webkit-flex-basis: 41.66%;
    -ms-flex-preferred-size: 41.66%;
    flex-basis: 41.66%;
    max-width: 41.66%;
    margin-left: 8.34%;
    padding-right: 75px;
  }
  #about .about-row .about-us-description {
    margin-bottom: 45px;
  }
  #about .about-row .btn:last-child {
    margin-bottom: 0;
  }

  .watermelons-grid-column {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  .contact-form-column {
    -webkit-flex-basis: 990px;
    -ms-flex-preferred-size: 990px;
    flex-basis: 990px;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
  }
}