@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";

#header{
	padding: 30px 0;
	& .row{
		align-items:center;
	}
	& .brand{
		max-width: 158px;
	}
}

.subtitle{
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

#hero-slider{
	background: linear-gradient(180deg, #5BBCE7 0%, #51B8E3 11.35%, #31A7DB 35.85%, #1B8FCA 72.34%, #1682C2 100%);
	padding: 90px 0;
	position: relative;
	& .slick-dots{
		text-align: left;
	}
	& .slick-dots li button::before{
		content: '';
		width: 12px;
		height: 12px;
		border-radius:50%;
		border:1px solid #fff;
		opacity: 1;
		transition: all 0.3s ease-in-out;
	}
	& .slick-dots li.slick-active button::before{
		background-color: #fff;
	}
	& .slick-dots li:hover button::before{
		background-color: #fff;
	}
}

#focus{
	padding: 96px 0;
	background-color: #E1F4FC;
	background-image: url('../img/bg-focus-m.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#service{
	padding: 96px 0 100px;
	position: relative;
	overflow-x: hidden;
	& .left-top-image{
		position: absolute;
		top: -250px;
		z-index: -1;
	}
	& .right-top-image{
		position: absolute;
		top: -50px;
		z-index: -1;
		right: -150px;
	}
	& .right-bottom-image{
		position: absolute;
		bottom: 0;
		z-index: -1;
		right: 0;
	}
}

.service-buttons{
	margin: 0;
	padding: 0;
	list-style: none;
	& li{
		position: relative;
		margin-bottom: 24px;
		& a{
			color: $black;
			padding: 19px 24px;
			border-left:4px solid $black;
			display: inline-block;
			width: 420px;
			max-width: 100%;
			position: relative;
			&:after{
				content: url('../img/arrow-white.svg');
				display: block;
				position: absolute;
				width: 32px;
				height: 32px;
				top: 50%;
				transform: translateY(-50%);
				right: 20px;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
			}
			&:hover{
				color: #fff;
				background-color: $red;
				border-left:4px solid $red;
				&:after{
					opacity: 1;
				}

			}
		}
	}
}

#ticker{
	background-color: $black;
	padding: 64px 0;
	& .ticker-slide{
		color: #fff;
		text-transform: uppercase;
		padding: 0 20px 0 28px;
		position: relative;
		line-height: 1;
		&:before{
			content: '';
			width: 8px;
			height: 8px;
			border-radius:50%;
			background-color: #fff;
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
}

#team{
	padding: 96px 0 156px;
	& .team-image-column{
		text-align: right;
		& img{
			max-width: 266px;
			border-radius: 4px;
		}
	}
}

#testimonials{
	padding: 124px 0 64px;
	background-color: #E1F4FC;
	& .testimonials-img{
		position: absolute;
		top: -256px;
		left: -60px;
		max-width: 264px;
		border-radius:4px;
	}
	& .testimonials-column{
		flex-basis: calc(100% - 80px);
		max-width: calc(100% - 80px);
		margin-left: 80px;
	}
	& .quote{
		margin-bottom: 24px;
		
	}
	& .testimonials-slider{
		&:before{
			content: '';
			position: absolute;
			display: block;
			left: -70px;
			top: -10px;
			width: 51px;
			height: 36px;
			background-image:url('../img/quote.svg');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	& .author{
		font-weight: 700;
	}
}

#insights{
	padding: 96px 0;
	position: relative;
	& .bottom-right-image{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 0;
	}
	& .top-left-image{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}
	& .insights-column{
		counter-reset: insights-counter;
		& .insight{
			counter-increment: insights-counter;
			border-bottom: 1px solid rgba(50, 46, 47, 0.65);
			margin-bottom: 24px;
			&:before{
				content: counter(insights-counter) ".";
				font-size: 1.5em;
				position: absolute;
			}
			& h3{
				color: $black;
				padding: 40px 32px 0;
				margin: 0;
				transition:all 0.3s ease-in-out;
			}
			& .insight-description{
				color: rgba(50, 46, 47, 0.65);
				padding: 24px 0;
				transition:all 0.3s ease-in-out;
			}
			&:hover{
				& h3{
					color:$red;
				}
				& .insight-description{
					color: $red;
				}
			}
		}
	}
}

#seals{
	padding-bottom: 96px;
	& img{
		margin-left: 20px;
		margin-right: 20px;
		transform: scale(0.5);
	}
}

#subsribe{
	padding: 40px 20px;
	background-color: $red;
	& input[type="email"]{
		display: block;
		margin-bottom: 16px;
		width: 100%;
	}
	& button{
		width: 100%;
		justify-content: center;
		align-items:center;
	}
}

footer{
	background-color: #000;
	padding: 64px 0 48px;
	& .footer-logo-column{
		text-align: center;
		margin-bottom: 24px;
	}
	& .footer-menu-column{
		margin-bottom: 16px;
		& ul{
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-direction: column;
			align-items:center;
			& li{
				margin-bottom: 16px;
				& a{
					color: #fff;
					&:hover{
						color: $red;
					}
				}
			}
		}
	}
	& .footer-social-column{
		margin-bottom: 16px;
		& ul{
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-direction: column;
			align-items:center;
			& li{
				margin-bottom: 16px;
				& a:hover{
					opacity: 0.8;
				}
			}
		}
	}
	& .footer-row{
		margin-bottom: 16px;
		&:after{
			content: '';
			width: calc(100% - 40px);
			height: 1px;
			background-color: #fff;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
	& .copyright-menu-column{
		& ul{
			margin: 0 0 24.5px;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			& li{
				padding-left: 12px;
				padding-right: 12px;
				padding-top: 7.5px;
				padding-bottom: 7.5px;
				& a{
					color: #fff;
					font-size: 0.875em;
					&:hover{
						color: $red;
					}
				}
			}
		}
	}
	& .copyright-column{
		text-align: center;
		color: #fff;
		font-size: 0.875em;
	}
}

@import "media";