@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: 'SourceSansPro-Slaapkops';
  src: url("../fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'SourceSansPro-Slaapkops';
  src: url("../fonts/SourceSansPro-Bold.ttf");
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: 'SourceSansPro-Slaapkops';
  src: url("../fonts/SourceSansPro-Light.ttf");
  font-weight: 300;
  font-display: swap; }

@font-face {
  font-family: 'SourceSansPro-Slaapkops';
  src: url("../fonts/SourceSansPro-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'ButtercellBrush-Slaapkops';
  src: url("../fonts/ButtercellBrush.ttf");
  font-weight: 400;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  color: #768C97;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.9px;
  font-family: SourceSansPro-Slaapkops, sans-serif;
  overflow-x: hidden; }

h1, h2, h3, h4 {
  font-family: ButtercellBrush-Slaapkops, serif; }

h1 {
  font-size: 2.5em;
  line-height: 1.5; }

h2 {
  font-size: 2.44em;
  line-height: 1.5; }

h3 {
  font-size: 2.2em;
  line-height: 1.5; }

h4 {
  font-size: 1.66em;
  line-height: 1.5; }

h5 {
  font-size: 1.11em;
  font-weight: 700;
  line-height: 1.5;
  color: #958671; }

a {
  color: #E9941E; }
  a:hover {
    color: #958671;
    text-decoration: none; }

a:hover, a:active, a:focus {
  outline: none; }

button, button:hover, button:active, button:focus {
  outline: none; }

input::-moz-focus-inner {
  border: 0; }

input:focus, textarea:focus {
  outline: none; }

object, embed {
  outline: none; }

::-webkit-input-placeholder {
  color: #AEC4CF;
  opacity: 1; }

::-moz-placeholder {
  color: #AEC4CF;
  opacity: 1; }

:-ms-input-placeholder {
  color: #AEC4CF;
  opacity: 1; }

::-ms-input-placeholder {
  color: #AEC4CF;
  opacity: 1; }

::placeholder {
  color: #AEC4CF;
  opacity: 1; }

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  z-index: 99;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .main-menu ul li {
      display: block;
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 30px;
      line-height: 1; }
      .main-menu ul li a {
        position: relative;
        color: #000000;
        font-size: 14px;
        line-height: 14px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        -webkit-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out; }
        .main-menu ul li a:hover {
          color: #958671; }

.main-menu.open {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

.main-menu .menu-button a {
  padding: 18px 65px;
  border: 1px solid #E9941E;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .main-menu .menu-button a:hover {
    background-color: #958671;
    color: #fff; }

.dropdown-link:after {
  content: url("../img/arrow-down.svg");
  position: absolute;
  right: -5px;
  top: -2px; }

/* Toggle */
.toggle-btn {
  display: block;
  position: absolute;
  top: 40px;
  right: 15px;
  z-index: 9999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block; }

.hamburger .icon-bar {
  background-color: #958671;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 15px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media only screen and (min-width: 992px) {
  .main-menu {
    position: unset;
    background-color: transparent;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 400; }
    .main-menu ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .main-menu ul li {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1;
        margin-bottom: 0; }
        .main-menu ul li:last-child {
          padding-right: 0; }
        .main-menu ul li a {
          color: #000000;
          text-decoration: none;
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out; }
          .main-menu ul li a:hover {
            color: #AEC4CF; }
  .toggle-btn {
    display: none; }
  .brand {
    text-align: left; } }

@media only screen and (min-width: 1200px) {
  .main-menu ul li {
    padding-left: 27px;
    padding-right: 27px; }
    .main-menu ul li:first-child {
      padding-left: 0; }
    .main-menu ul li:last-child {
      padding-right: 0; } }

.container {
  padding-left: 10px;
  padding-right: 10px; }

.row {
  margin-left: -10px;
  margin-right: -10px; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 10px;
  padding-right: 10px; }

header {
  background-color: #f5f6f5; }

#top-bar {
  background-color: #AEC4CF;
  color: #768C97; }
  #top-bar .row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #top-bar a {
    color: #fff; }
    #top-bar a:hover {
      color: #768C97; }
  #top-bar svg {
    margin-right: 10px; }

.top-bar-email {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 7px; }

.top-bar-tel {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 7px; }

.top-bar-social {
  padding-left: 25px;
  padding-top: 4px;
  padding-bottom: 7px; }
  .top-bar-social a {
    padding-left: 5px;
    padding-right: 5px; }
    .top-bar-social a:first-child {
      padding-left: 0; }
    .top-bar-social a:last-child {
      padding-right: 0; }
  .top-bar-social a:hover g {
    fill: #768C97; }
  .top-bar-social a:hover path {
    fill: #768C97; }

.brand {
  font-family: ButtercellBrush-Slaapkops, serif;
  font-size: 38px;
  letter-spacing: 0;
  line-height: 89px; }
  .brand a {
    color: #958671; }
  .brand img {
    max-width: 163px;
    margin-top: 10px;
    z-index: 99;
    position: relative; }

#home-slider {
  position: relative; }
  #home-slider .item-home-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-color: #f5f6f5;
    padding-bottom: 90px;
    padding-left: 10px;
    padding-right: 10px; }
  #home-slider p {
    margin-top: -90px;
    margin-bottom: 55px;
    font-family: ButtercellBrush-Slaapkops, serif;
    font-size: 1.9em;
    color: #768C97; }
  #home-slider .slick-prev {
    left: 10px;
    z-index: 9; }
    #home-slider .slick-prev:before {
      display: block;
      content: url("../img/slider-arrow.svg"); }
  #home-slider .slick-next {
    right: 10px;
    z-index: 9; }
    #home-slider .slick-next:before {
      display: block;
      content: url("../img/slider-arrow.svg");
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  #home-slider .slick-dots li.slick-active button::before {
    color: #768C97;
    font-size: 10px; }
  #home-slider .slick-dots li button::before {
    font-size: 10px; }
  #home-slider .slick-dots {
    bottom: 45px;
    z-index: 9; }

.yellow-button {
  border-radius: 26px;
  background-color: #E9941E;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 300px;
  max-width: 100%;
  padding: 13px; }
  .yellow-button:hover {
    color: #fff;
    background-color: #958671; }

.home-slider-bottom-curve {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  z-index: 9; }
  .home-slider-bottom-curve img {
    width: 100%; }

#home-features h1 {
  font-family: SourceSansPro-Slaapkops, sans-serif;
  font-size: 2.44em;
  line-height: 1.11;
  font-weight: 700;
  color: #958671; }

.slaapcoach-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .slaapcoach-list li {
    position: relative;
    padding-left: 55px;
    margin-bottom: 25px; }
    .slaapcoach-list li:before {
      content: url("../img/Checkmark.svg");
      position: absolute;
      left: 0;
      top: -2px; }
  .slaapcoach-list.orange li:before {
    content: url("../img/checkmark-orange.svg"); }

#home-features {
  position: relative;
  padding-bottom: 60px;
  padding-top: 20px; }

.slaapcoach-bottom-curve {
  position: absolute;
  bottom: -1px;
  left: 0; }

#slaapblogs {
  padding: 30px 0 60px; }

.blog-post-tumbnail {
  height: 260px;
  background-position: center;
  background-size: cover; }

.blog-post-data {
  background-color: #F5F6F5;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -40px;
  padding: 33px; }

.blog-post-title {
  margin-bottom: 20px; }
  .blog-post-title a {
    font-size: 1.44em;
    font-weight: 700;
    color: #958671;
    letter-spacing: 0; }
    .blog-post-title a:hover {
      color: #E9941E; }

.blog-post-read-more a {
  color: #768C97; }
  .blog-post-read-more a:after {
    content: url("../img/more-arrow.svg");
    margin-left: 20px;
    -webkit-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease; }
  .blog-post-read-more a:hover:after {
    margin-left: 25px; }

#slaapcoach-diensten {
  padding: 60px 0;
  background: -webkit-linear-gradient(top, rgba(118, 140, 151, 0.22) 0%, rgba(245, 246, 245, 0) 100%);
  background: linear-gradient(180deg, rgba(118, 140, 151, 0.22) 0%, rgba(245, 246, 245, 0) 100%); }

.price-box {
  background-color: #fff;
  padding: 40px 0 100px;
  position: relative;
  height: 100%;
  overflow: hidden; }
  .price-box.bordered {
    border: 8px solid #958671;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px; }
    .price-box.bordered .plan-button {
      bottom: 40px; }
  .price-box .corner-label {
    background-color: #958671;
    color: #fff;
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 35px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -45px;
    top: 20px; }

.plan-name {
  font-size: 1.33em;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px; }

.plan-price {
  font-size: 4em;
  font-weight: 300;
  background-color: #F5F6F5;
  height: 122px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #958671; }
  .plan-price.aanvraag {
    font-size: 1.44em;
    font-weight: 400; }

.plan-description {
  padding: 20px 40px; }
  .plan-description ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px; }
    .plan-description ul li {
      position: relative;
      padding: 12px 0 12px 45px;
      border-bottom: 1px solid #F5F6F5; }
      .plan-description ul li:before {
        content: url("../img/list-mark.svg");
        position: absolute;
        left: 0;
        top: 11px; }

.plan-button {
  position: absolute;
  bottom: 56px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

#slaapcoaching {
  background-color: #F5F6F5;
  padding: 60px 0; }

.video-link {
  color: #958671; }
  .video-link:after {
    content: url("../img/video-link-arrow.svg");
    margin-left: 20px;
    -webkit-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease; }
  .video-link:hover:after {
    margin-left: 25px; }

.video-tumbnail {
  position: relative; }
  .video-tumbnail .video-button {
    width: 105px;
    height: 105px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
  .video-tumbnail .video-bg {
    margin-left: auto;
    margin-right: auto; }

#action {
  padding: 60px 0; }
  #action h2 {
    font-family: SourceSansPro-Slaapkops, sans-serif;
    font-size: 2.44em;
    line-height: 1.11;
    font-weight: 700;
    color: #958671; }

#subscribe {
  padding: 60px 0;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 150px;
  margin-bottom: 100px; }
  #subscribe .subscribe-subtitle {
    font-size: 1.33em;
    font-weight: 700;
    letter-spacing: 1.2px; }
  #subscribe form {
    position: relative;
    text-align: center; }

input[type="text"], input[type="email"], input[type="tel"] {
  font-family: SourceSansPro-Slaapkops, sans-serif;
  width: 100%;
  height: 52px;
  border: 1px solid #768C97;
  border-radius: 26px;
  background-color: #FFFFFF;
  box-shadow: inset 6px 5px 11px 0 rgba(0, 0, 0, 0.24);
  padding: 13.5px 25px;
  line-height: 1; }

textarea {
  font-family: SourceSansPro-Slaapkops, sans-serif;
  width: 100%;
  height: 130px;
  border: 1px solid #768C97;
  border-radius: 26px;
  background-color: #FFFFFF;
  box-shadow: inset 6px 5px 11px 0 rgba(0, 0, 0, 0.24);
  padding: 13.5px 25px;
  line-height: 1; }

input[type="submit"] {
  font-family: SourceSansPro-Slaapkops, sans-serif;
  border: none;
  border-radius: 26px;
  background-color: #E9941E;
  color: #fff;
  font-size: 0.89em;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 14px 48px;
  height: 52px; }
  input[type="submit"]:hover {
    color: #fff;
    background-color: #958671; }

.subscribe-bottom-curve {
  width: 100%;
  position: absolute;
  bottom: -1px; }
  .subscribe-bottom-curve img {
    width: 100%; }

.subscribe-stars {
  width: calc(100% - 20px);
  position: absolute;
  bottom: -195px; }
  .subscribe-stars img {
    width: 100%; }

footer {
  padding: 30px 0 0; }
  footer .footer-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
    footer .footer-social a {
      padding-left: 10px;
      padding-right: 10px; }
      footer .footer-social a:first-child {
        padding-left: 0; }
      footer .footer-social a:last-child {
        padding-right: 0; }
      footer .footer-social a:hover g {
        fill: #958671; }
      footer .footer-social a:hover path {
        fill: #958671; }
  footer .copyright {
    font-size: .67em;
    letter-spacing: 0.75px;
    color: #958671;
    margin-bottom: 20px; }
  footer .footer-link {
    color: #000000;
    font-size: 0.67em;
    letter-spacing: 0.75px;
    line-height: 1; }
    footer .footer-link a {
      color: #000000; }
      footer .footer-link a:hover {
        color: #958671; }
  footer h5 {
    margin-bottom: 30px; }
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    footer ul li {
      position: relative;
      padding-left: 30px;
      font-size: 0.89em;
      margin-bottom: 13px; }
      footer ul li:before {
        content: url("../img/footer-menu-marker.svg");
        position: absolute;
        left: 0;
        top: 0; }
      footer ul li a {
        color: #000000; }
        footer ul li a:hover {
          color: #958671; }
  footer .footer-email {
    margin-bottom: 13px; }
  footer .footer-email a {
    position: relative;
    font-size: 0.89em;
    color: #768C97;
    padding-left: 30px; }
    footer .footer-email a:hover {
      color: #958671; }
    footer .footer-email a:before {
      content: url("../img/footer-email.svg");
      position: absolute;
      left: 0;
      top: 2px; }
  footer .footer-tel {
    margin-bottom: 13px;
    font-size: 0.89em; }
    footer .footer-tel a {
      position: relative;
      color: #768C97; }
      footer .footer-tel a:hover {
        color: #958671; }
      footer .footer-tel a:first-child {
        padding-left: 30px; }
        footer .footer-tel a:first-child:before {
          content: url("../img/footer-tel.svg");
          position: absolute;
          left: 0;
          top: 0; }

#bottom-bar {
  padding-bottom: 15px;
  display: none; }
  #bottom-bar.open {
    display: block; }

.cookie-note {
  font-size: 0.89em;
  width: calc(100% - 84px); }

.cookie-button {
  text-align: center;
  width: 84px; }
  .cookie-button a {
    font-size: 0.89em;
    color: #fff;
    border-radius: 26px;
    background-color: #768C97;
    padding: 9px 21px; }
    .cookie-button a:hover {
      background-color: #958671; }

.footer-menu-links {
  padding-left: 14%; }

#page-title {
  background-color: #f5f6f5;
  padding-bottom: 60px;
  position: relative; }
  #page-title .page-title-bottom-curve {
    position: absolute;
    bottom: -1px;
    width: 100%; }
    #page-title .page-title-bottom-curve img {
      width: 100%; }
  #page-title form {
    position: relative; }
  #page-title form input[type='image'] {
    background-color: #E9941E;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px; }

.breadcrumbs svg {
  margin-bottom: 2px;
  margin-right: 7px; }

#diensten {
  padding: 20px 0 60px; }
  #diensten .col-lg-4:first-child .price-box {
    background: -webkit-linear-gradient(top, rgba(118, 140, 151, 0.22) 0%, rgba(245, 246, 245, 0) 100%);
    background: linear-gradient(180deg, rgba(118, 140, 151, 0.22) 0%, rgba(245, 246, 245, 0) 100%); }
  #diensten .col-lg-4:first-child .plan-price {
    background-color: #fff; }
  #diensten .col-lg-4:last-child .price-box {
    background: -webkit-linear-gradient(top, rgba(118, 140, 151, 0.22) 0%, rgba(245, 246, 245, 0) 100%);
    background: linear-gradient(180deg, rgba(118, 140, 151, 0.22) 0%, rgba(245, 246, 245, 0) 100%); }
  #diensten .col-lg-4:last-child .plan-price {
    background-color: #fff; }

#slaapcoaching-basis {
  padding: 80px 0;
  background: -webkit-linear-gradient(top, rgba(118, 140, 151, 0.22) 0%, rgba(245, 246, 245, 0) 100%);
  background: linear-gradient(180deg, rgba(118, 140, 151, 0.22) 0%, rgba(245, 246, 245, 0) 100%); }

#slaapcoaching-uitgebreid {
  padding: 80px 0;
  background-color: #F5F6F5; }

#slaapcoaching-op-maat {
  padding: 80px 0;
  background: -webkit-linear-gradient(top, rgba(118, 140, 151, 0.22) 0%, rgba(245, 246, 245, 0) 100%);
  background: linear-gradient(180deg, rgba(118, 140, 151, 0.22) 0%, rgba(245, 246, 245, 0) 100%); }

#resultaten {
  position: relative;
  padding: 80px 0 60px;
  border-top: 1px solid #979797;
  background-color: #768C97;
  position: relative;
  margin-bottom: 80px; }

.resultaten-call-to-action {
  font-size: 1.44em;
  font-weight: 700; }

.pagenavi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .pagenavi .pagenavi-next {
    font-size: 12px;
    color: #958671; }
    .pagenavi .pagenavi-next:hover {
      color: #E9941E; }
    .pagenavi .pagenavi-next:after {
      content: url("../img/pagenavi-marker.svg");
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin-left: 5px; }
  .pagenavi .pagenavi-prev {
    font-size: 12px;
    color: #958671; }
    .pagenavi .pagenavi-prev:hover {
      color: #E9941E; }
    .pagenavi .pagenavi-prev:before {
      content: url("../img/pagenavi-marker.svg");
      display: inline-block;
      vertical-align: top;
      position: relative;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      margin-right: 5px; }
  .pagenavi .current {
    color: #fff;
    width: 52px;
    height: 52px;
    background-color: #AEC4CF;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px; }
  .pagenavi .single_page {
    color: #958671;
    width: 52px;
    height: 52px;
    background-color: transparent;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .pagenavi .single_page:hover {
      color: #fff;
      background-color: #AEC4CF; }
  .pagenavi .expand {
    margin-left: 5px;
    margin-right: 5px; }
  .pagenavi .last {
    color: #958671;
    width: 52px;
    height: 52px;
    background-color: transparent;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .pagenavi .last:hover {
      color: #fff;
      background-color: #AEC4CF; }

#about {
  padding: 60px 0 90px; }

.social-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }
  .social-buttons a {
    height: 37px;
    width: 37px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #958671;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .social-buttons a:hover {
      background-color: #E9941E; }
    .social-buttons a:first-child {
      margin-left: 0; }
    .social-buttons a:last-child {
      margin-right: 0; }

.hr {
  width: 100%;
  height: 1px;
  background-color: #F5F6F5;
  margin-top: 5em;
  margin-bottom: 5em; }

#contact-us {
  padding: 60px 0 90px; }

.contact-form-wrap {
  background-color: #958671;
  padding: 54px 40px 33px;
  border-radius: 19px;
  max-width: 608px; }
  .contact-form-wrap .yellow-button:hover {
    background-color: #768C97; }

#contacts {
  list-style: none;
  padding: 0;
  margin: 0 0 60px; }
  #contacts li {
    position: relative;
    padding-left: 60px;
    margin-bottom: 40px; }
    #contacts li:last-child {
      margin-bottom: 0; }
    #contacts li a {
      color: #958671; }
      #contacts li a:hover {
        color: #E9941E; }
    #contacts li.email-contact:before {
      content: url("../img/contact-email.svg");
      position: absolute;
      left: 0;
      top: -7px;
      width: 37px;
      height: 37px;
      border-radius: 50%;
      background-color: #958671;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    #contacts li.tel-contact:before {
      content: url("../img/contact-tel.svg");
      position: absolute;
      left: 0;
      top: -7px;
      width: 37px;
      height: 37px;
      border-radius: 50%;
      background-color: #958671;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }

#plog-post {
  padding: 60px 0 20px; }
  #plog-post h1, #plog-post h2, #plog-post h3, #plog-post h4, #plog-post h5, #plog-post h6 {
    margin-bottom: 30px; }
  #plog-post img {
    max-width: 100%;
    height: auto; }
  #plog-post .post-thumbnail {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px; }
  #plog-post blockquote {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.27em;
    font-style: italic;
    letter-spacing: 1.15px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px; }
    #plog-post blockquote:before {
      content: url("../img/Quote.svg");
      position: absolute;
      top: 0;
      left: 0; }
    #plog-post blockquote:after {
      content: url("../img/Quote.svg");
      position: absolute;
      bottom: 0;
      right: 0; }
  #plog-post p {
    margin-bottom: 2em; }

img.alignleft, .alignleft {
  float: left;
  margin-right: 70px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 0; }

.aligncenter, div.aligncenter, img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

img.alignright, .alignright {
  float: right;
  margin-left: 70px;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 30px; }

#post-call-to-action {
  margin-bottom: 60px;
  color: #fff; }
  #post-call-to-action .cta-wrap {
    background-color: #E9941E;
    padding: 20px 30px;
    border-radius: 19px; }

.white-button {
  border-radius: 26px;
  background-color: #fff;
  color: #000000;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 300px;
  max-width: 100%;
  padding: 13px; }
  .white-button:hover {
    color: #fff;
    background-color: #768C97; }

#blog-post-author {
  padding: 60px 0;
  background-color: #F5F6F5; }
  #blog-post-author .blog-post-author-avatar {
    border-radius: 50%;
    width: 190px;
    height: 190px; }

#gerelateerde-blogs {
  padding: 60px 0; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px; }
  #home-slider .item-home-slider {
    padding-left: 90px;
    padding-right: 90px; }
  #home-features {
    padding-bottom: 100px; }
  #subscribe form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0; }
  .subscribe-stars {
    bottom: -257px; }
  .footer-menu-links {
    padding-left: inherit; }
  #page-title {
    padding-bottom: 100px; }
  #home-slider p {
    font-size: 2.5em;
    margin-top: -130px; }
  .pagenavi .pagenavi-next {
    margin-left: 30px; }
    .pagenavi .pagenavi-next:after {
      margin-left: 30px; }
  .pagenavi .pagenavi-prev {
    margin-right: 30px; }
    .pagenavi .pagenavi-prev:before {
      margin-right: 30px; }
  #plog-post .post-thumbnail {
    height: 300px; }
  #plog-post blockquote {
    padding-left: 80px;
    padding-right: 80px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #top-bar .row {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  #home-features {
    padding-bottom: 190px; }
  #home-slider p {
    font-size: 4.27em;
    margin-top: -150px; }
  #slaapblogs .blog-post-title {
    min-height: 90px;
    margin-bottom: 0; }
  footer .footer-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  footer h5 {
    margin-top: 32px;
    margin-bottom: 50px; }
  .brand img {
    margin-bottom: -50px; }
  #page-title {
    padding-bottom: 150px; }
  #resultaten {
    padding-bottom: 150px;
    margin-bottom: 100px; }
  #home-slider .item-home-slider {
    padding-bottom: 160px; }
  #contacts {
    margin-bottom: 0; }
  #plog-post .post-thumbnail {
    height: 313px;
    width: 500px;
    float: right;
    margin-left: 80px;
    margin-bottom: 70px;
    margin-top: 20px; }
  #post-call-to-action .cta-wrap {
    padding: 40px 50px; }
  #blog-post-author .blog-post-author-wrap {
    padding-left: 75px;
    padding-right: 75px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px; }
  #subscribe form {
    margin-left: 40px;
    margin-right: 40px; }
  #page-title {
    padding-bottom: 9vw; }
  #plog-post h1, #plog-post h2, #plog-post h3, #plog-post h4, #plog-post h5, #plog-post h6 {
    padding-left: 75px;
    padding-right: 75px; }
  #plog-post p {
    padding-right: 75px;
    padding-left: 75px; }
  #plog-post blockquote {
    padding-left: 150px; }
    #plog-post blockquote:before {
      left: 75px; }
  #post-call-to-action .cta-wrap {
    margin-left: 75px;
    margin-right: 75px; } }
