@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	position:relative;
}

body {
	color: $blue;
	font-size: 16px;
	line-height: 1.4;
	font-family: PTSans, sans-serif;
	height: 100%;
	overflow-x: hidden;
}

body.menu-open{
	overflow-y: hidden;
}


h1,h2,h3,h4,h5,h6{
	font-family: DroidSans, sans-serif;
	font-weight: 700;
	line-height: 1.19;
}

h1, .h1{
  font-size: 2.1em;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.6em;
}

h4{
  font-size: 1.5em;
}

h5{
  font-size: 1.3em;
}
h6{
	font-size: 1em;
}

img{
	max-width: 100%;
	height: auto;
}

a{
	color:$red;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	&:hover{
		color:$blue;
	}
}

a:hover, a:active, a:focus {
	outline: none;
}

button{
	cursor: pointer;
}

button, button:hover, button:active, button:focus {
	outline: none;
}

input::-moz-focus-inner { 
  border: 0; 
}

input[type=text],input[type=email],input[type=tel]{
	border:1px solid transparent;
	width: 100%;
	background-color: #fff;
	font-size: 16px;
	padding: 10px 48px 10px 24px;
	height: 44px;
}

textarea{
	border:1px solid transparent;
	width: 100%;
	background-color: #fff;
	font-size: 16px;
	padding: 10px 48px 10px 24px;
	height: 212px;
}

input:focus, textarea:focus{
	outline: none;
	border:1px solid $blue;
}

object, embed { 
  outline: none;
}

::placeholder { 
  color: $blue;
  opacity: 1;
  font-family: inherit; 
}

.container{
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.column{
	padding: 0 15px;
	flex-basis: 100%;
	max-width: 100%;
}

.text-center{
	text-align: center;
}

.btn{
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	border-radius: 23px;
	border:none;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	padding: 15px 25px;
	height: 46px;
	min-width: 190px;
	max-width: 100%;
	&:hover{
		text-decoration: none;
	}
	&.wide-button{
		min-width: 270px;
		max-width: 100%;
	}
}

.red-button{
	color: #fff;
	background-color: $red;
	&:hover{
		color: $blue;
	  background-color: #fff;
	}
}

.red-button.alt{
	&:hover{
		color: #fff;
	  background-color: $blue;
	}
}


.text-white{
	color: #fff;
}

.text-blue{
	color: $blue;
}

.text-red{
	color: $red;
}

.text-aly{
	color: $aly;
}

.text-grey{
	color: $grey;
}

.text-uppercase{
	text-transform: uppercase;
}

.mt-15{
	margin-top: 15px;
}

.bg-grey{
	background-color: #F9F8F8;
}

.form-element{
	margin-bottom: 12px;
	&.name{
		& input{
			background-image: url('../img/form-user.svg');
			background-repeat: no-repeat;
			background-position: calc(100% - 12px) 10px;
		}
	}
	&.email{
		& input{
			background-image: url('../img/form-email.svg');
			background-repeat: no-repeat;
			background-position: calc(100% - 12px) 10px;
		}
	}
	&.phone{
		& input{
			background-image: url('../img/form-phone.svg');
			background-repeat: no-repeat;
			background-position: calc(100% - 12px) 10px;
		}
	}
	&.company{
		& input{
			background-image: url('../img/form-company.svg');
			background-repeat: no-repeat;
			background-position: calc(100% - 12px) 10px;
		}
	}
}

main ul{
	padding: 0;
	margin: 0;
	list-style: none;
	& li{
		position: relative;
		padding-left: 40px;
		margin-bottom: 15px;
		&:before{
			content: '';
			width: 9px;
			height: 9px;
			border-radius:50%;
			background-color: $red;
			position: absolute;
			top: 8px;
			left: 0;
			display: block;
		}
	}
}