@font-face{
	font-family: 'PTSans';
	src: url('../fonts/PTSans-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'PTSans';
	src: url('../fonts/PTSans-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'DroidSans';
	src: url('../fonts/DroidSans-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}