@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: 'Mont-Ecom';
  src: url("../fonts/Mont-Regular.ttf");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'Mont-Ecom';
  src: url("../fonts/Mont-SemiBold.ttf");
  font-weight: 500;
  font-display: swap; }

@font-face {
  font-family: 'Mont-Ecom';
  src: url("../fonts/Mont-Bold.ttf");
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: 'Mont-Ecom';
  src: url("../fonts/Mont-Black.ttf");
  font-weight: 800;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  color: #0D1523;
  font-size: 14px;
  font-weight: 500;
  line-height: 180%;
  font-family: Mont-Ecom, sans-serif;
  overflow-x: hidden;
  background-color: #E5E5E5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Mont-Ecom, serif; }

h1 {
  font-size: 3.3em;
  line-height: 0.95; }

h2 {
  font-size: 3.14em;
  font-weight: 700;
  line-height: 127%; }

h3 {
  font-size: 24px;
  line-height: 32px; }

h4 {
  font-size: 1.43em;
  font-weight: 700;
  line-height: 130%; }

h5 {
  font-size: 14px;
  line-height: 18px; }

a {
  color: #47CF80;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a:hover {
    color: #2aa05b;
    text-decoration: none; }

a:hover, a:active, a:focus {
  outline: 0; }

input::-moz-focus-inner {
  border: 0; }

object, embed {
  outline: 0; }

::-webkit-input-placeholder {
  opacity: 1; }

::-moz-placeholder {
  opacity: 1; }

:-ms-input-placeholder {
  opacity: 1; }

::-ms-input-placeholder {
  opacity: 1; }

::placeholder {
  opacity: 1; }

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  z-index: 99;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left; }
    .main-menu ul li {
      display: block;
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 30px;
      line-height: 1; }
      .main-menu ul li a {
        position: relative;
        color: #0D1523;
        font-size: 16px;
        line-height: 14px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        -webkit-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out; }
        .main-menu ul li a:hover {
          color: #2aa05b; }
        .main-menu ul li a.dropdown-link:after {
          content: url("../img/icon-dropdown-menu.svg");
          position: absolute;
          right: -5px;
          top: 0px; }
        .main-menu ul li a.dropdown-item {
          font-size: .85em;
          color: #0D1523 !important;
          padding-top: 10px;
          padding-bottom: 10px; }
          .main-menu ul li a.dropdown-item:hover {
            color: #2aa05b !important; }

.main-menu.open {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

.main-menu .menu-button a {
  padding: 18px 65px;
  border: 1px solid #47CF80;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .main-menu .menu-button a:hover {
    background-color: #47CF80;
    color: #fff; }

.dropdown-link:after {
  content: url("../img/arrow-down.svg");
  position: absolute;
  right: -5px;
  top: -2px; }

/* Toggle */
.toggle-btn {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block; }

.hamburger .icon-bar {
  background-color: #47CF80;
  display: block;
  height: 3px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 25px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -8px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media only screen and (min-width: 992px) {
  .light .main-menu {
    position: unset;
    background-color: transparent;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 14px;
    font-weight: 400; }
    .light .main-menu ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .light .main-menu ul li {
        display: inline-block;
        padding-left: 7px;
        padding-right: 7px;
        line-height: 1;
        margin-bottom: 0; }
        .light .main-menu ul li:first-child {
          padding-left: 0; }
        .light .main-menu ul li:last-child {
          padding-right: 0; }
        .light .main-menu ul li a {
          color: #fff;
          text-decoration: none;
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out; }
          .light .main-menu ul li a:hover {
            color: #47CF80; }
  .toggle-btn {
    display: none; }
  .brand {
    text-align: left; } }

@media only screen and (min-width: 1200px) {
  .light .main-menu ul li {
    padding-left: 37px;
    padding-right: 37px; }
    .light .main-menu ul li:first-child {
      padding-left: 0; }
    .light .main-menu ul li:last-child {
      padding-right: 0; } }

header {
  padding: 15px 0 80px;
  position: relative;
  z-index: 99; }

header.light .header-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/bg-light-header.svg");
  background-size: cover;
  background-position: 50% 100%;
  z-index: 0; }

.green-button {
  background-color: #47CF80;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .green-button:hover {
    color: #fff;
    background-color: #2aa05b; }

header .green-button {
  padding: 12px 7px;
  white-space: nowrap;
  font-size: 12px; }

#home-hero {
  position: relative;
  margin-top: -145px;
  padding-top: 240px;
  padding-bottom: 350px;
  min-height: 450px;
  background-image: url("../img/bg-home-hero.png");
  background-size: cover;
  background-position: 40% 100%;
  background-repeat: no-repeat; }
  #home-hero h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 24px; }
  #home-hero .home-hero-subtitle {
    color: #F3F3F3;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 110px; }

.home-hero-left-curve {
  position: absolute;
  left: 0;
  top: 0; }

.home-hero-phones {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 100%; }

.home-hero-right-curve {
  position: absolute;
  right: 0;
  top: 430px; }

.home-hero-call-to-action {
  font-weight: 600;
  font-size: 1.14em;
  color: #FFFFFF; }

.home-hero-form-wrap {
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .home-hero-form-wrap input[type="tel"] {
    width: 100%;
    height: 60px;
    background: #1E2C3E;
    border: 1px solid #3D4E63;
    border-radius: 4px;
    color: #fff;
    padding: 23px 20px; }
  .home-hero-form-wrap input[type="submit"] {
    height: 60px;
    width: 60px;
    background-color: #47CF80;
    background-image: url("../img/icon-send-mail.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .home-hero-form-wrap input[type="submit"]:hover {
      background-color: #2aa05b; }
  .home-hero-form-wrap .input-field-wrap {
    margin-right: 4px;
    width: calc(100% - 64px); }

#home-seals {
  margin-top: -135px;
  position: relative; }

.seals-wrap {
  background: #FFFFFF;
  box-shadow: 12px 12px 120px rgba(65, 84, 139, 0.06);
  border-radius: 10px;
  padding: 52px 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .seals-wrap img {
    padding-left: 45px;
    padding-right: 45px; }

.green {
  color: #47CF80; }

#client-result {
  padding-top: 120px;
  padding-bottom: 30px; }

.transparent-button {
  background-color: transparent;
  border-radius: 4px;
  color: #47CF80;
  text-decoration: none;
  padding: 12px 30px;
  border: 1px solid #47CF80; }
  .transparent-button:hover {
    background-color: #47CF80;
    color: #fff; }

.numbers {
  font-size: 3.57em;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4E5F74;
  margin-bottom: 15px;
  padding-top: 20px; }

.numbers-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase; }

#three-steps {
  position: relative;
  background: -webkit-linear-gradient(327.18deg, #1E2C3E 0.63%, #091120 98.1%);
  background: linear-gradient(122.82deg, #1E2C3E 0.63%, #091120 98.1%);
  padding: 25vw 0;
  color: #F3F3F3; }
  #three-steps h2 {
    color: #FAFDFF; }
  #three-steps h4 {
    color: #FAFDFF; }
  #three-steps ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    #three-steps ul li {
      position: relative;
      padding-left: 22px; }
      #three-steps ul li:before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #F3F3F3;
        position: absolute;
        top: 12px;
        left: 0; }

.top-3step-curve {
  position: absolute;
  top: -1px;
  left: 0;
  min-height: 9vw;
  width: 100%;
  background-image: url("../img/top-curve-3step.svg");
  background-size: cover;
  background-position: 50% 100%; }

.bottom-3step-curve {
  position: absolute;
  bottom: -1px;
  left: 0;
  min-height: 9vw;
  width: 100%;
  background-image: url("../img/bottom-curve-3step.svg");
  background-size: cover;
  background-position: 50% 0%; }

.our-differents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px; }

.different-case {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 75px;
  margin-bottom: 80px;
  margin-top: 60px; }

.different-case .case-number {
  position: absolute;
  font-weight: bold;
  font-size: 120px;
  line-height: 153px;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #E7EAEF;
  top: -95px;
  left: -10px;
  z-index: 0; }

.different-case .case-description {
  font-size: 1.43em;
  font-weight: 400;
  line-height: 140%;
  position: relative; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

#how-we-are-different {
  position: relative;
  padding: 60px 0; }

.how-we-are-left-curve {
  position: absolute;
  left: 0;
  top: 400px; }

#client-case-studies {
  padding: 60px 0 100px;
  position: relative; }

.client-name {
  font-weight: bold;
  font-size: 2.28em;
  line-height: 128%;
  margin-bottom: 20px; }

.client-case {
  font-weight: 500;
  font-size: .85em;
  line-height: 160%;
  color: #565F73;
  margin-bottom: 20px; }

.case-more-info {
  margin-bottom: 60px; }
  .case-more-info a {
    color: #00194C;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .case-more-info a:hover {
      color: #002a7f; }

.client-photo {
  width: 100%;
  height: 605px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .client-photo:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }

.show-more-button {
  text-transform: uppercase;
  font-weight: 700;
  color: #00194C;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .show-more-button:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #00194C;
    position: absolute;
    top: 30px;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .show-more-button:hover {
    color: #2aa05b; }
    .show-more-button:hover:after {
      background-color: #2aa05b; }

.client-case-right-curve {
  position: absolute;
  right: 0;
  bottom: -400px;
  z-index: 2; }

#our-work {
  padding: 8vw 0;
  background-color: #fff;
  position: relative;
  display: block; }

.our-work-top-curve {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 3vw;
  width: 100%;
  background-image: url("../img/our-work-top-curve.svg");
  background-size: cover;
  background-position: 50% 0%; }

.our-work-bottom-curve {
  position: absolute;
  bottom: -3vw;
  left: 0;
  min-height: 3vw;
  width: 100%;
  background-image: url("../img/our-work-bottom-curve.svg");
  background-size: cover;
  background-position: 50% 100%; }

.our-work-slider-item {
  margin-right: 15px;
  margin-left: 15px; }
  .our-work-slider-item img {
    max-height: 280px;
    width: auto; }

footer {
  padding: 120px 0 30px;
  background: -webkit-linear-gradient(329.08deg, #1E2C3E 0%, #091120 100%);
  background: linear-gradient(120.92deg, #1E2C3E 0%, #091120 100%); }
  footer #subscribe h2 {
    color: #F5F8FF; }
  footer .subscribe-subtitle {
    color: #F5F8FF;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px; }
  footer .hr {
    width: 100%;
    height: 1px;
    background-color: #C4C4C4;
    opacity: .2;
    margin-top: 45px;
    margin-bottom: 45px; }
  footer #footer-widgets {
    color: #F5F8FF;
    font-size: .85em;
    font-weight: 500; }
    footer #footer-widgets a {
      color: #F5F8FF; }
      footer #footer-widgets a:hover {
        color: #2aa05b; }
    footer #footer-widgets h5 {
      font-size: 1em;
      text-transform: uppercase; }
    footer #footer-widgets ul {
      padding: 0;
      margin: 0;
      list-style: none; }
  footer #copyright .footer-social-links a {
    padding-left: 14px;
    padding-right: 14px;
    opacity: .6; }
    footer #copyright .footer-social-links a:hover {
      opacity: 1; }
  footer #copyright .footer-rights-links a {
    color: #F5F8FF;
    line-height: 1.2;
    padding-left: 14px;
    padding-right: 14px;
    display: inline-block;
    border-right: 1px solid #F5F8FF; }
    footer #copyright .footer-rights-links a:last-child {
      border-right: none; }
    footer #copyright .footer-rights-links a:hover {
      color: #2aa05b; }
  footer #copyright .footer-copyright {
    color: #F5F8FF;
    opacity: .6; }

#client-case-studies .row:nth-child(2) .client-photo-back {
  position: absolute;
  z-index: -1;
  right: -160px;
  top: 65px; }

#client-case-studies .row:nth-child(3) .client-photo-back {
  position: absolute;
  z-index: -1;
  left: -150px;
  top: -115px; }

#client-case-studies .row:nth-child(4) .client-photo-back {
  position: absolute;
  z-index: -1;
  right: -160px;
  top: -155px;
  -webkit-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  transform: rotate(24deg); }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  header .green-button {
    padding: 12px 30px;
    white-space: nowrap;
    font-size: 14px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .seals-wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  #home-hero {
    background-position: 50% 100%; }
  #home-hero h1 {
    font-size: 4em; }
  #three-steps {
    padding: 11vw 0; }
  .three-step-line {
    position: absolute;
    top: 90px;
    left: 0;
    right: 50px;
    text-align: center; }
  #three-steps .step1 .step-icon {
    margin-top: 50px; }
  #three-steps .step2 .step-icon {
    margin-top: 25px; }
  .different-case {
    width: 33%; }
  .different-case:nth-child(4) {
    width: 40%; }
  .different-case:nth-child(5) {
    width: 40%; }
  .col-lg-five {
    max-width: 20%; } }

/* Large Devices, Wide Screens */
