@import "../libs/normalize-css/normalize.css";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  position: relative;
}

body {
  color: #fff;
  background-color: #080D16;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.23px;
  font-family: Montserrat, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 2.48em;
  line-height: 0.95;
}

h2 {
  font-size: 2.3em;
  line-height: 0.95;
}

h3 {
  font-size: 2em;
  line-height: 0.95;
}

h4 {
  font-size: 1.8em;
  line-height: 0.95;
}

h5 {
  font-size: 1.3em;
  line-height: 0.95;
}

h6 {
  font-size: 1em;
  line-height: 0.95;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #D9AC4C;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #D9AC4C;
}

a:hover, a:active, a:focus {
  outline: none;
}

button, button:hover, button:active, button:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

input, textarea {
  font-family: inherit;
  color: #fff;
  background-color: #080D16;
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 15px 24px;
  height: 54px;
}

textarea {
  height: 182px;
}

input:focus, textarea:focus {
  outline: none;
}

object, embed {
  outline: none;
}

::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 12px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.column {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 12px;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 15px 35px;
  background-color: transparent;
  border-width: 2px;
  border-radius: 24px;
  border-style: solid;
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0.2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  min-width: 209px;
  text-align: center;
}

.gold-button {
  color: #fff;
  border-color: #D9AC4C;
}
.gold-button:hover {
  color: #fff;
  background-color: #D9AC4C;
}

.white-button {
  color: #fff;
  border-color: #fff;
}
.white-button:hover {
  color: #080D16;
  background-color: #fff;
}

#main-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
#main-menu ul {
  height: 100vh;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#main-menu ul li {
  position: relative;
  margin-bottom: 25px;
}
#main-menu ul li a {
  font-size: 1.25em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
#main-menu ul li a:hover {
  text-decoration: none;
}

#main-menu.open {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

/* Toggle */
#toggle-btn {
  display: block;
  position: absolute;
  top: 46px;
  left: 20px;
  z-index: 9999999;
}

#toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
}

.hamburger .icon-bar {
  background-color: #fff;
  display: block;
  height: 3px;
  position: relative;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 25px;
}

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px;
}

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  background-color: #080D16;
  top: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  background-color: #080D16;
  top: -8px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (min-width: 992px) {
  #main-menu {
    background-color: transparent;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
  }
  #main-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  #main-menu ul li {
    margin-bottom: 0;
    padding-left: 9px;
    padding-right: 9px;
  }
  #main-menu ul li:first-child {
    padding-left: 0;
  }
  #main-menu ul li:last-child {
    padding-right: 0;
  }
  #main-menu ul li a {
    color: #fff;
    font-size: 0.875em;
  }
  #main-menu ul li a:hover {
    color: #D9AC4C;
  }

  #toggle-btn {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  #main-menu ul li {
    padding-left: 27px;
    padding-right: 27px;
  }
  #main-menu ul li:first-child {
    padding-left: 0;
  }
  #main-menu ul li:last-child {
    padding-right: 0;
  }
}
#header {
  padding: 30px 0;
}
#header .brand-column {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 15px;
}
#header .brand-column img {
  max-width: 150px;
}
#header .header-buttons-column {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#header .language-switch {
  padding-left: 12px;
  padding-right: 12px;
  position: absolute;
  top: 40px;
  right: 12px;
}
#header .language-switch a {
  color: #fff;
  font-size: 0.875em;
  font-weight: 500;
}
#header .language-switch a:hover {
  color: #D9AC4C;
}
#header .cta-button {
  padding-left: 12px;
  padding-right: 12px;
}

#hero {
  padding-top: 227px;
  margin-top: -227px;
  padding-bottom: 220px;
  background-image: url("../img/bg-hero.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
#hero .title-column {
  text-align: center;
}
#hero .title-column h1 {
  text-shadow: 0 2px 27px rgba(0, 0, 0, 0.5);
}
#hero .hero-image {
  padding-left: 42px;
  padding-right: 12px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#best-screen {
  margin-top: -206px;
}
#best-screen img {
  border-radius: 30px;
  border: 14px solid #D9AC4C;
}
#best-screen .best-screen-caption {
  text-align: center;
  padding: 15px 0;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.26px;
}

#about {
  padding-bottom: 50px;
}
#about h2 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 2px 27px rgba(0, 0, 0, 0.5);
}
#about p {
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 0.26px;
}
#about .ceo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#about .ceo .ceo-avatar {
  -webkit-flex-basis: 68px;
  -ms-flex-preferred-size: 68px;
  flex-basis: 68px;
  max-width: 68px;
}
#about .ceo .ceo-avatar img {
  border-radius: 50%;
  border: 4px solid #D9AC4C;
}
#about .ceo .ceo-data {
  -webkit-flex-basis: calc(100% - 68px - 19px);
  -ms-flex-preferred-size: calc(100% - 68px - 19px);
  flex-basis: calc(100% - 68px - 19px);
  max-width: calc(100% - 68px - 19px);
  margin-left: 19px;
}
#about .ceo .ceo-data .ceo-name {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.26px;
}
#about .ceo .ceo-data .ceo-position {
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.2px;
}
#about .presentation-column {
  text-align: center;
}
#about .presentation-column img {
  margin-bottom: -21%;
}

#screens {
  padding-top: 6vw;
  padding-bottom: calc(6vw + 80px);
  background-color: #0E131C;
  position: relative;
}
#screens .top-curve {
  background-color: #080D16;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
#screens .top-curve img {
  width: 100%;
  height: auto;
}
#screens .bottom-curve {
  background-color: #080D16;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#screens .bottom-curve img {
  width: 100%;
  height: auto;
}
#screens h2 {
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 70px;
}
#screens .slick-slider-item {
  height: 322px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 30px;
  border: 14px solid #D9AC4C;
  position: relative;
  overflow: hidden;
  margin-left: 12px;
  margin-right: 12px;
}
#screens .slick-slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(8, 13, 22, 0.78);
  z-index: 0;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#screens .slick-slider-item .screen-name {
  z-index: 1;
  font-size: 1.375em;
  font-weight: 700;
  letter-spacing: 0.26px;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#screens .slick-slider-item .screen-description {
  z-index: 1;
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 0.31px;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#screens .slick-slider-item .screen-button {
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#screens .slick-slider-item:hover .overlay {
  opacity: 1;
}
#screens .slick-slider-item:hover .screen-name {
  opacity: 1;
}
#screens .slick-slider-item:hover .screen-description {
  opacity: 1;
}
#screens .slick-slider-item:hover .screen-button {
  opacity: 1;
}
#screens .slick-dots li button::before {
  color: #fff;
  font-size: 8px;
}
#screens .slick-dots {
  bottom: -35px;
}
#screens .slick-prev::before {
  content: url("../img/slide-arrow.svg");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
#screens .slick-next::before {
  content: url("../img/slide-arrow.svg");
  display: block;
}
#screens .slick-prev {
  height: 60px;
  width: 60px;
  left: -65px;
}
#screens .slick-next {
  height: 60px;
  width: 60px;
  right: -65px;
}

#conditions {
  padding-bottom: 60px;
}
#conditions .conditions-wrap {
  padding: 25px 15px;
  background: -webkit-linear-gradient(135deg, #D9AC4C 0%, #BA843A 30.86%, #F0D46D 50.95%, #CAA64B 80.27%, #D9AC4C 100%);
  background: linear-gradient(315deg, #D9AC4C 0%, #BA843A 30.86%, #F0D46D 50.95%, #CAA64B 80.27%, #D9AC4C 100%);
  text-align: center;
  border-radius: 30px;
  color: #080D16;
}
#conditions .conditions-wrap h3 {
  text-transform: uppercase;
}
#conditions .conditions-wrap p {
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 0.26px;
  line-height: 1.55;
  margin-bottom: 25px;
}
#conditions .conditions-wrap .white-button {
  border-color: #D9AC4C;
  color: #080D16;
  background-color: #fff;
}
#conditions .conditions-wrap .white-button:hover {
  color: #fff;
  background-color: #080D16;
}

#more-screens h2 {
  text-align: center;
}
#more-screens p {
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.27;
  letter-spacing: 0.26px;
  margin-bottom: 15px;
}
#more-screens p.accent {
  font-size: 1.375em;
  font-weight: 700;
  margin-bottom: 45px;
  color: #D9AC4C;
}
#more-screens .more-screens-data-button {
  text-align: center;
}
#more-screens .more-screens-photo-wrap {
  background-image: url("../img/more-screens-photo-bg.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 35px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
#more-screens .more-screens-photo-column {
  padding-top: 45px;
  padding-bottom: 45px;
}
#more-screens .more-screens-photo-1 {
  width: 100%;
  width: 140px;
  height: 90px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 7px solid #D9AC4C;
  margin-left: 10%;
  position: relative;
  z-index: 3;
}
#more-screens .more-screens-photo-2 {
  width: 100%;
  width: 146px;
  height: 206px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 7px solid #D9AC4C;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  margin-top: -60px;
}
#more-screens .more-screens-photo-3 {
  width: 100%;
  width: 140px;
  height: 90px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 7px solid #D9AC4C;
  margin-left: auto;
  margin-right: 10%;
  position: relative;
  z-index: 3;
  margin-top: -60px;
}

#features {
  margin-top: -380px;
  padding-top: 400px;
  padding-bottom: 60px;
  background-image: url("../img/bg-features.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
#features h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
#features .features-subtitle {
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 140px;
}
#features .feature-column {
  padding-bottom: 170px;
}
#features .feature-wrap {
  height: 100%;
  border-radius: 30px;
  background-color: #080D16;
  padding: 90px 15px 60px;
  text-align: center;
  position: relative;
}
#features .feature-wrap h4 {
  text-transform: uppercase;
}
#features .feature-wrap .feature-icon {
  width: 172px;
  height: 172px;
  position: absolute;
  top: -90px;
  left: 50%;
  -webkit-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
}

#contact {
  background-color: #141A25;
  position: relative;
  padding-bottom: 60px;
}
#contact .top-curve {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
#contact .top-curve img {
  width: 100%;
  height: auto;
}
#contact .contact-form-wrap {
  border-radius: 30px;
  background: -webkit-linear-gradient(135deg, #D9AC4C 0%, #BA843A 30.86%, #F0D46D 50.95%, #CAA64B 80.27%, #D9AC4C 100%);
  background: linear-gradient(315deg, #D9AC4C 0%, #BA843A 30.86%, #F0D46D 50.95%, #CAA64B 80.27%, #D9AC4C 100%);
  padding: 30px 15px;
  margin-top: -150px;
  position: relative;
  margin-bottom: 60px;
}
#contact .contact-form-wrap p {
  color: #080D16;
  font-size: 0.75em;
  font-weight: 500;
  letter-spacing: 0.17px;
}
#contact .contact-form-wrap .submit-column {
  padding-top: 30px;
  text-align: center;
}
#contact .contact-form-wrap .white-button {
  color: #080D16;
  border-color: #D9AC4C;
  background-color: #fff;
  margin-bottom: 15px;
  max-width: 368px;
}
#contact .contact-form-wrap .white-button:hover {
  color: #fff;
  background-color: #080D16;
}
#contact .contact-form-element {
  margin-bottom: 10px;
}
#contact .contact-buttons-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
#contact .contact-buttons-column .contact-button {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
  padding-left: 12px;
  padding-right: 12px;
}
#contact .contact-buttons-column a {
  color: #fff;
  font-weight: 700;
  position: relative;
  padding-left: 63px;
  line-height: 50px;
  margin-bottom: 10px;
  display: block;
}
#contact .contact-buttons-column a:hover {
  color: #D9AC4C;
}
#contact .contact-buttons-column a.phone:before {
  content: url("../img/Phone.svg");
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}
#contact .contact-buttons-column a.email:before {
  content: url("../img/Email.svg");
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}
#contact .contact-buttons-column a.telegram:before {
  content: url("../img/Telegram.svg");
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}
#contact .contact-buttons-column a.whatsapp:before {
  content: url("../img/Whatsapp.svg");
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}

footer {
  background-color: #141A25;
  font-size: 0.75em;
  font-weight: 500;
  letter-spacing: 0.17px;
  padding-bottom: 30px;
}
footer .sosial-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
}
footer .sosial-buttons a {
  padding-left: 20px;
  padding-right: 20px;
}
footer .copiright {
  text-align: center;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 510px) {
  #contact .contact-buttons-column {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  #contact .contact-buttons-column .contact-button {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #contact .contact-buttons-column {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  #contact .contact-buttons-column .contact-button {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: 100%;
  }

  #more-screens .more-screens-photo-wrap {
    max-width: 568px;
  }
  #more-screens .more-screens-photo-1 {
    width: 290px;
    height: 185px;
    margin-left: 12px;
  }
  #more-screens .more-screens-photo-2 {
    width: 303px;
    height: 426px;
  }
  #more-screens .more-screens-photo-3 {
    width: 290px;
    height: 185px;
    margin-right: 12px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #header .row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #header .brand-column {
    -webkit-flex-basis: 224px;
    -ms-flex-preferred-size: 224px;
    flex-basis: 224px;
    max-width: 224px;
    margin-bottom: 0;
  }
  #header .brand-column img {
    max-width: unset;
  }
  #header .header-buttons-column {
    -webkit-flex-basis: calc(50% - 112px);
    -ms-flex-preferred-size: calc(50% - 112px);
    flex-basis: calc(50% - 112px);
    max-width: calc(50% - 112px);
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
  #header .main-menu-column {
    -webkit-flex-basis: calc(50% - 112px);
    -ms-flex-preferred-size: calc(50% - 112px);
    flex-basis: calc(50% - 112px);
    max-width: calc(50% - 112px);
    margin-bottom: 30px;
  }
  #header .language-switch {
    position: relative;
    top: unset;
    right: unset;
  }

  #hero {
    padding-top: 92px;
    margin-top: -164px;
  }
  #hero .hero-row {
    position: relative;
    min-height: 780px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #hero .title-column {
    text-align: left;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    position: relative;
    z-index: 2;
  }
  #hero .hero-image {
    position: absolute;
    z-index: 0;
    max-width: 67%;
    top: 0;
    right: -50px;
    padding: 0;
  }

  #about h2 {
    text-align: left;
  }
  #about .about-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #about .about-column {
    -webkit-flex-basis: 45%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    max-width: 45%;
  }
  #about .presentation-column {
    -webkit-flex-basis: 55%;
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
    max-width: 55%;
    margin-top: -50px;
  }

  .slider-column {
    padding-left: 75px;
    padding-right: 75px;
  }

  #conditions .conditions-wrap {
    padding: 50px 125px;
  }

  #more-screens .more-screens-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #more-screens .more-screens-data-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  #more-screens .more-screens-data-column h2 {
    text-align: left;
  }
  #more-screens .more-screens-data-column .more-screens-data-button {
    text-align: left;
  }
  #more-screens .more-screens-photo-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  #more-screens .more-screens-photo-1 {
    border-radius: 30px;
    border: 14px solid #D9AC4C;
  }
  #more-screens .more-screens-photo-2 {
    border-radius: 30px;
    border: 14px solid #D9AC4C;
  }
  #more-screens .more-screens-photo-3 {
    border-radius: 30px;
    border: 14px solid #D9AC4C;
  }

  #features .features-row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #features .feature-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  #contact .contact-form-wrap {
    padding: 74px 80px 40px;
  }
  #contact .contact-form-wrap .column:not(.submit-column) {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  footer .copiright-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .sosial-buttons {
    margin-bottom: 0;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-basis: 120px;
    -ms-flex-preferred-size: 120px;
    flex-basis: 120px;
    max-width: 120px;
  }
  footer .copiright {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex-basis: calc(100% - 120px);
    -ms-flex-preferred-size: calc(100% - 120px);
    flex-basis: calc(100% - 120px);
    max-width: calc(100% - 120px);
    -moz-text-align-last: left;
    text-align-last: left;
    padding-left: 12px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 4.06em;
  }

  h2 {
    font-size: 3.125em;
  }

  h3 {
    font-size: 2.25em;
    line-height: 1.11;
  }

  #hero {
    padding-bottom: 300px;
  }

  .slider-column {
    padding-left: 90px;
    padding-right: 90px;
  }

  #conditions {
    position: relative;
  }
  #conditions .conditions-wrap {
    padding: 50px 145px;
  }
  #conditions .conditions-column {
    margin-top: -150px;
  }

  #screens {
    padding-bottom: calc(6vw + 150px);
  }

  .more-screens-data-column {
    padding-left: 45px;
  }

  #features .feature-wrap {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
  }
  #features .feature-column {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  #contact .container {
    max-width: 1040px;
  }

  footer .container {
    max-width: 1040px;
  }
  footer .copiright {
    padding-left: 34px;
  }
}