@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	height: 100%;
	overflow-x: hidden;
}

body {
	color: $black;
	font-size: 14px;
	line-height: 1.25;
	font-family: ProximaNova, sans-serif;
}



h1,h2,h3,h4,h5,h6{
	font-family: ProximaNova, sans-serif;
}

h1{
  font-size: 3.3em;
  line-height: 0.95;
}

h2{
  font-size: 32px;
  line-height: 42px;
}

h3{
  font-size: 24px;
  line-height: 32px;
}

h4{
  font-size: 21px;
  line-height: 27px;
}

h5{
  font-size: 14px;
  line-height: 18px;
}

a{
	color:#5696c6;
	&:hover{
		color:lighten(#5696c6, 10%);
		text-decoration: none;
	}
}

.btn-white{
	font-weight: 300;
	padding: 26px 50px;
	background-color: #fff;
	border-radius: 35px;
	font-size: 16px;
	line-height: 1;
	transition: all 0.3s ease-in-out;
	&:hover{
		color: #fff;
		background-color: $pink;
	}
}

.btn-pink{
	padding: 36px 50px 35px;
	border-radius: 45px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 1;
	transition: all 0.3s ease-in-out;
	position: relative;
	z-index: 99;
	&:before{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		border-style: solid;
        border-width: 1px;
        border-color: rgb(170, 119, 246);
        background-image: -moz-linear-gradient( 90deg, rgb(145,77,247) 0%, rgb(170,120,246) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(145,77,247) 0%, rgb(170,120,246) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(145,77,247) 0%, rgb(170,120,246) 100%);
	    border-radius: 45px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgb(132, 70, 226);
		border-radius: 45px;
		position: absolute;
		bottom: -5px;
		left: 0;
		z-index: -2;
	}
	&:hover{
		color: #fff;
		box-shadow: 0px 13px 19px 0px rgba(167,114,246,0.7);
	}
}


::placeholder { 
  color: lighten($black, 5%);
  opacity: 1; 
}

