@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	#report{
		margin-bottom: 150px;
	}

}


@media only screen and (min-width : 510px){
	#report{
		margin-bottom: 180px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	.features-column{
		margin-top: -500px;
	}
	#features{
		margin-right: -150px;
	}
	.header-subtitle{
		margin-right: 120px;
	}
	.plant-image{
		display: block!important;
		position: absolute;
		top: 590px;
		left: -60px;
	}
	.title-column{
		min-height: 630px;
	}
	.franchazi-wrap .social-buttons{
		position: absolute;
		left: 15px;
		bottom: 30px;
	}
	.header-title{
		font-size: 2.21em;
	}
	.btn-pink{
		padding: 24px 40px 22px;
		font-size: 16px;
		display: inline-block;
	}
	.title{
		font-size: 2.21em;
	}
	.slide-border{
		padding: 40px 40px;
	}
	.keyses-form-wrap{
		margin-top: 0;
	}

	.keyses-form-border{
		padding: 40px;
	}
	 .keyses-form-wrap .btn-pink{
	 	padding-left: 40px;
	 	padding-right: 40px;
	 }
	.tab-border{
		padding: 20px 40px;
	}
	.hipoteza img{
		max-width: unset;
	}
	.planet img{
		max-width: unset;
		margin-left: 0;
	}
	.file-cover img{
		max-width: unset;
	}
	.step-item{
		min-height: 213px;
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: #fff;
		transition: all 0.3s ease-in-out;
		& .step-description{
			padding-left: 3.88em;
			padding-right: 3.88em;
		}
		& .step-title{
			font-weight: 700;
		}
	}
	.steps-wrap{
		margin-bottom: 30px;
	}
	.info-border{
		padding: 40px 40px 10px;
	}
	.personal-price-border{
		border-radius: 10px;
		border:1px solid #f2f3f4;
		padding: 40px 40px;
	}
	.month-report img{
		max-width: unset;
	}
	#report{
		margin-bottom: 190px;
	}
	.franchazi-name{
		text-align: left;
		font-size: 1.28em;
		margin-right: -80px;
		position:inherit;
		z-index: 9;
	}
	.franchazi-wrap{
		height: 338px;
	}
	.play-button{
		top: 30%;
	}
	.contacts-border{
		padding: 40px 40px;
	}
	.questions-form-title{
		font-size: 1.77em;
	}
	.questons-note{
		font-size: 1.77em;
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body {
		font-size: 16px;
		line-height: 1.25;
	}
	.features-column{
		margin-top: unset;
	}
	.plant-image{
		display: none!important;
	}
	.usb-cable{
		position: absolute;
		bottom: -20px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 415px;
	}
	.title-column{
		min-height: 0;
	}
	.portfolio-image{
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.portfolio-slider .slick-prev{
		&:after{
			content: 'Предыдущий проект';
			font-size: 14px;
			font-weight: 300;
			line-height: 1;
			color: $black;
			display: block;
			position: absolute;
			left: 71px;
			top: 7px;
			width: 150px;
		}
	}

	.portfolio-slider .slick-next{
		&:after{
			content: 'Следующий проект';
			font-size: 14px;
			font-weight: 300;
			line-height: 1;
			color: $black;
			display: block;
			position: absolute;
			right: 71px;
			top: 7px;
			width: 150px;
		}
	}
	.form-title{
		margin-right: 50px;
	}
	.report-list{
		align-items: baseline;
	}
	.slide-item{
		height: 540px;
	}
	.keyses-bg{
		position: absolute;
		left: 170px;
		top: 70px;
		bottom: unset;
	}
	.hipoteza{
		position: absolute;
	}
	.planet{
		position: absolute;
		left: -100px;
		top: -45px;
	}
	.file-cover{
		position: absolute;
		left: 20px;
	}
	#testimonials{
		padding-bottom: 5.55em;
	}
	.step-item{
		min-height: 213px;
		& .step-description{
			display: none;
		}
		&:hover{
			background-color: $pink;
			box-shadow: inset 0px 10px 15px 0px rgba(0,0,0,0.07);
			& .step-description{
				display: block;
			}
			& .hover{
				display: block;
			}
			& .original{
				display: none;
			}
			& .step-title{
				color: #fff;
			}
		}
	}

	.text-lg-white{
		color: #fff;
	}
	.btn-pink{
		padding: 36px 50px 35px;
	}
	.month-report{
		position: absolute;
		left: -122px;
		top: -168px;
	}
	#report{
		background: linear-gradient(to right, #fff 0%, #fff 50%, #14181a 50%, #14181a 100%);
		margin-bottom: 150px;
		padding-bottom: 0;
	}
	.row.bg-black{
		padding: 40px;
	}
	.questions-bg {
	    position: absolute;
	    bottom: 0;
	    left: 48px;
	    & img{
	    	max-width: unset;
	    }
	}
	.btn-white{
		padding: 26px 50px;
	}
	.questions-bg {
	    bottom: 0;
	    left: 20px;
	    right: unset;
	}
	.master-position{
		bottom: 50px;
		left: 60px;
		right: unset;
		max-width: 330px;
	}

	.master-name{
		bottom: 108px;
		left: 30px;
		right: unset;
	}
	.security{
		margin-left: 30px;
	}
}



/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	body {
		font-size: 18px;
		line-height: 1.25;
	}
	#features{
		list-style: none;
		margin: 0;
		padding: 0;
		& li:first-child{
			display: flex;
			align-items: center;
			padding-left: 100px;
			padding-right: 54px;
		    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.05);
	  		width: 373px;
	 		height: 110px;
			background-color: #fff;
			position: relative;
			margin-top: 65px;
			margin-bottom: 20px;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			background-image: url('../img/shadow.png');
			background-repeat: no-repeat;
			background-position: 100% 50%;
			&:before{
				content:url('../img/feedback.png');
				position: absolute;
				top: 39px;
				left: 33px;
			}
		}
		& li:nth-child(2){
			display: flex;
			align-items: center;
			padding-left: 54px;
			padding-right: 100px;
		    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.05);
	  		width: 373px;
	 		height: 110px;
			background-color: #fff;
			position: relative;
			margin-bottom: 20px;
			margin-left: 52px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			background-image: url('../img/shadow-r.png');
			background-repeat: no-repeat;
			background-position: 0% 50%;
			&:before{
				content:url('../img/digital-marketing.png');
				position: absolute;
				top: 39px;
				left: unset;
				right: 33px;
			}
		}
		& li:last-child{
			display: flex;
			align-items: center;
			padding-left: 100px;
			padding-right: 54px;
		    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.05);
	  		width: 373px;
	 		height: 110px;
			background-color: #fff;
			position: relative;
			margin-bottom: 90px;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			background-image: url('../img/shadow.png');
			background-repeat: no-repeat;
			background-position: 100% 50%;
			&:before{
				content:url('../img/analysis.png');
				position: absolute;
				top: 39px;
				left: 33px;
			}
		}
	}
	.pen-image{
		position: absolute;
		top: 150px;
		right: -80px;
	}
	.pen-shadow{
		position: absolute;
		top: 0;
		right: -80px;
	}
	a.dialog-close{
		right: -50px;
	}
	
}

@media only screen and (min-width : 1400px){
	.plant-image{
		display: block!important;
		position: absolute;
		top: 70px;
		left: -80px;
	}
	.plant-shadow{
		display: block!important;
		position: absolute;
		top: 0;
		left: -80px;
	}
}

@media only screen and (min-width : 1600px){
	.pen-image{
		position: absolute;
		top: 150px;
		right: 0;
	}
	.pen-shadow{
		position: absolute;
		top: 0;
		right: 0;
	}
	.plant-image{
		position: absolute;
		top: 70px;
		left: 0;
	}
	.plant-shadow{
		position: absolute;
		top: 0;
		left: 0;
	}
}