@import "fonts";
@import "libs";
@import "base";
@import "vars";

header{
	padding-top: 24px;
	background-image: url('../img/bg-header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.brand-description{
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	text-transform: uppercase;
}

.header-phone{
	color: $black;
	font-weight: 700;
	line-height: 1;
	margin-right: 30px;
	transition: all 0.3s ease-in-out;
	&:hover{
		color: $pink;
	}
}


.header-title{
	font-size: 2.21em;
	font-weight: 300;
	line-height: 1.375;
}

.header-subtitle{
	font-size: 1.22em;
	font-weight: 300;
	line-height: 1.36;
}

.features-bg{
	min-height: 580px;
	min-width: 550px;
	background-image: url('../img/phone.png');
	position: absolute;
	left: 16px;
	top: -20px;
}

.features-wrap{
	position: relative;
	z-index: 2;
}

#features{
	list-style: none;
	margin: 0 -15px 0 0;
	padding: 0;
	font-weight: 300;
	& li{
		display: flex;
		align-items: center;
		padding-left: 100px;
		padding-right: 54px;
	    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.05);
  		width: 373px;
  		max-width: 100%;
 		height: 110px;
		background-color: #fff;
		position: relative;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		background-image: url('../img/shadow.png');
		background-repeat: no-repeat;
		background-position: 100% 50%;
	}
	& li:first-child{
		margin-top: 65px;
		margin-bottom: 20px;
		&:before{
			content:url('../img/feedback.png');
			position: absolute;
			top: 39px;
			left: 33px;
		}
	}
	& li:nth-child(2){
		margin-bottom: 20px;
		&:before{
			content:url('../img/digital-marketing.png');
			position: absolute;
			top: 39px;
			left: 33px;
		}
	}
	& li:last-child{
		margin-bottom: 80px;
		&:before{
			content:url('../img/analysis.png');
			position: absolute;
			top: 39px;
			left: 33px;
		}
	}
}

#porfolio{
	background-color: #fff;
	position: relative;
	padding-top: 5.55em;
	padding-bottom: 5.55em;
	& .title{
		margin-bottom: 2.4em;
	}
}

.title{
	font-size: 2.21em;
	font-weight: 300;
	line-height: 1.25;
}

.slide-item{
	border-radius: 10px;
	border:1px solid rgba(226, 227, 230, .5);
	overflow:hidden;
}


.portfolio-mobile-image{
	height: 200px;
	width: 290px;
	border-radius: 10px; 
	background-position: center -80px;
	background-repeat: no-repeat;
	display: inline-block;
	margin-bottom: 45px;
}

.portfolio-date{
	font-size: .78em;
}

.porfolio-done-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
	& li{
		font-weight: 300;
		font-size: .89em;
		padding-left: 25px;
		margin-bottom: 30px;
		position: relative;
		&:before{
			content: url('../img/portfolio-list-marker.png');
			position: absolute;
			left: 0;
		} 
	}
}

.porfolio-budjet-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
	& li{
		font-weight: 300;
		font-size: .89em;
		padding-left: 25px;
		margin-bottom: 30px;
		position: relative;
		&:before{
			content: url('../img/ruble.png');
			position: absolute;
			left: 0;
		} 
	}
}

.portfolio-slider{
	border-radius: 10px;
	box-shadow: 0px 15px 50px 0px rgba(0,0,0,.08);
}

.portfolio-slider .slick-dots{
	bottom: -50px;
}

.portfolio-slider .slick-prev{
	width: 61px;
	height: 30px;
	bottom: -75px;
	left: 0;
	top: unset;
	z-index: 99;
}

.portfolio-slider .slick-next{
	width: 61px;
	height: 30px;
	bottom: -75px;
	right: 0;
	top: unset;
	z-index: 99;
}

.portfolio-slider .slick-prev:before{
	content: url('../img/arrow.png');
	font-size: 0;
	display: block;
}

.portfolio-slider .slick-next:before{
	content: url('../img/arrow.png');
	transform: rotate(180DEG);
	font-size: 0;
	display: block;
}

.portfolio-slider .slick-dots li{
	margin-left: 11px;
	margin-right: 11px;
}

.portfolio-slider .slick-dots li button{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border:2px solid rgba(158,99,246,.3);
	background-color: #fff;
}

.portfolio-slider .slick-dots li.slick-active button{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border:2px solid $pink;
	background-color: $pink;
}

.portfolio-slider .slick-dots li:hover button{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border:2px solid $pink;
	background-color: $pink;
}



.portfolio-slider .slick-dots li button:before{
	color: #fff;
	line-height: 24px;
	position: absolute;
	width: 24px;
	height: 24px;
}

#keyses{
	padding-bottom: 5.55em;
}

.keyses-bg{
	position: absolute;
	left: 170px;
	top: 70px;
}

.keyses-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
	& li{
		font-weight: 300;
		font-size: .89em;
		padding-left: 25px;
		margin-bottom: 30px;
		position: relative;
		&:before{
			content: url('../img/portfolio-list-marker.png');
			position: absolute;
			left: 0;
		} 
	}
}

.keyses-form-wrap{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 15px 50px 0px rgba(0,0,0,.08);
	padding: 9px;
}

.keyses-form-border{
	border-radius: 10px;
	border:1px solid #f2f3f4;
	padding: 40px 40px;
}

.tel-input{
	background-image: url('../img/number-prefix.png');
	background-repeat: no-repeat;
	background-position: 5px 2px;
}

.insta-input{
	background-image: url('../img/url-prefix.png');
	background-repeat: no-repeat;
	background-position: 5px 2px;
}

 .keyses-form-wrap .btn-pink{
 	padding-left: 40px;
 	padding-right: 40px;
 }


.checkmark-container {
  display: block;
  color:#171b1e;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: .67em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.agreement{
	color:#171b1e;
	font-size: .67em;
	padding-left: 35px;
	min-height: 30px;
	display: inline-block;
	vertical-align: baseline;
}


.checkmark-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border:1px solid #ddd;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  width: 21px;
  height: 21px;
  background-color: #ddd;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.checkmark-container:hover input ~ .checkmark:after {
  background-color: #ccc;
}

.checkmark-container input:checked ~ .checkmark:after {
  background-color: $pink;
}


#what-you-get{
	background-color: #14181a;
	padding-top: 5.55em;
	padding-bottom: 5.55em;
}


.tabs-item .tabs-link {
	display: flex;
	justify-content: center;
	align-items: center;
  font-size: .89em;
  font-weight: 300;
  text-align: center;
  width: 100%;
  height: 74px;
  padding: 5px 34px;
  color:#fff;
  border:1px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out; }

.tabs-item:hover .tabs-link{
	background-color: $pink;
}  

.tabs-item .tabs-link.active {
	background-color: $pink;
 }

.tab-wrap{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 15px 50px 0px rgba(0,0,0,.08);
	padding: 9px;
}

.tab-border{
	border-radius: 10px;
	border:1px solid #f2f3f4;
	padding: 40px 40px;
}

.tab-title{
	font-size: 1.77em;
	font-weight: 300;
}

.tab-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
	& li{
		padding-left: 25px;
		padding-bottom: 15px;
		margin-bottom: 15px;
		position: relative;
		&:before{
			content: url('../img/portfolio-list-marker.png');
			position: absolute;
			left: 0;
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			left: 25px;
			right: 50px;
			bottom: 0;
			width: calc(100% - 75px);
			height: 1px;
			background-color: #f2f3f4;
		}  
	}
	& li:last-child:after{
		display: none;
	}
}

.file-cover{
	position: absolute;
	left: 20px;
}

.hipoteza{
	position: absolute;
}

.second-tab, .third-tab, .fourth-tab{
	display: none;
}

.planet{
	position: absolute;
	left: -135px;
	top: -75px;
}

.adds{
	position: absolute;
	left: -100px;
	top: 150px;
}

#testimonials{
	padding-top: 5.55em;
	padding-bottom: 5.55em;
}

.social-buttons a:before{
	font-size: 16px;
	color: $pink;
	width: 36px;
	height: 36px;
	line-height: 33px;
	border-radius: 50%;
	border:1px solid $pink;
	transition: all 0.3s ease-in-out;
}

.social-buttons a:hover:before{
	color: #fff;
	background-color: $pink;
}

.testi-slide{
	padding: 30px 7.5px;
}

.testi-slide-wrap{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.08);
	padding: 33px 25px 0;
	position: relative;
}

.testi-author-position{
	font-size: .78em;
}

.author-ava{
	position: absolute;
	bottom: 0;
	right: -10px;
}

.video-button{
	position: relative;
	margin-left: -15px;	
}

.video-button a:before{
	display: block;
	color: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: $pink;
	line-height: 60px;
	transition: all 0.3s ease-in-out;
}

.video-button a:hover:before{
	background-color: lighten($pink, 5%);
}

#testimonials .slick-prev::before{
	display: block;
	content: '\f104';
	color:$black;
	font-family: "fontello";
}

#testimonials .slick-next::before{
	display: block;
	content: '\f104';
	color:$black;
	font-family: "fontello";
	transform: rotate(180DEG);
}

.why-us-description{
	font-weight: 300;
	font-size: .77em;
}

.steps-wrap{
	background-color: #fff;
	box-shadow: 0px 15px 50px 0px rgba(0,0,0,.08);
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 30px;
}

.step-item{
	min-height: 213px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
	& .hover{
		display: none;
	}
	& .step-description{
		display: none;
		font-size: .77em;
		font-weight: 300;
		padding-left: 3.88em;
		padding-right: 3.88em;
	}
	& .step-title{
		font-weight: 700;
	}
	&:hover{
		background-color: $pink;
		box-shadow: inset 0px 10px 15px 0px rgba(0,0,0,0.07);
		& .step-description{
			display: block;
		}
		& .hover{
			display: block;
		}
		& .original{
			display: none;
		}
		& .step-title{
			color: #fff;
		}
	}
}

.info-form-title{
	font-weight: 300;
	font-size: 1.77em;
}

.info-wrap{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 15px 50px 0px rgba(0,0,0,.08);
	padding: 9px;
}

.info-border{
	border-radius: 10px;
	border:1px solid #f2f3f4;
	padding: 40px 40px 10px;
}

.info-bg{
	position: absolute;
	bottom: 0;
	left: 80px;
}

.price-paket{
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.08);
  padding: 45px 40px;
}

.paket-logo{
	position: absolute;
	width: 87px;
	height: 79px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $pink;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: -79px;
}

.paket-title{
	font-weight: 700;
	color:$pink;
	font-size: 1.33em;
	margin-bottom: 2.5em;
}

.paket-options{
	list-style: none;
	padding: 0;
	margin: 0;
	& li{
		padding-top: 25px;
		padding-bottom: 25px;
		font-size: .88em;
		background-image: url('../img/price-shadow.png');
		background-position: 50% 0;
		background-repeat: no-repeat;
	}
}

.personal-price-wrap{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 15px 50px 0px rgba(0,0,0,.08);
	padding: 9px;
}

.personal-price-border{
	border-radius: 10px;
	border:1px solid #f2f3f4;
	padding: 40px 40px;
}

#report{
	background: linear-gradient(to right, #fff 0%, #fff 50%, #14181a 50%, #14181a 100%);
	margin-bottom: 150px;
}

.bg-black{
	background-color: #14181a;
}

.row.bg-black{
	padding: 40px;
}

.report-list{
	position: relative;
	padding-left: 110px;
	font-size: .88em;
	font-weight: 300;
	min-height: 81px;
	display: flex;
	align-items: center;
}

.lids:before{
	content: url('../img/lids.png');
	position: absolute;
	left: 0;
	top: 0;
}

.hipotez-list:before{
	content: url('../img/hipotez-list.png');
	position: absolute;
	left: 0;
	top: 0;
}

.adds-list:before{
	content: url('../img/adds-list.png');
	position: absolute;
	left: 0;
	top: 0;
}

.target-list:before{
	content: url('../img/target-list.png');
	position: absolute;
	left: 0;
	top: 0;
}

.month-report{
	position: absolute;
	left: -122px;
	top: -168px;
}

@import "media";