@import "fonts";
@import "libs";
@import "base";
@import "vars";

header{
	padding-top: 24px;
	background-image: url('../img/bg-header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.brand-description{
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	text-transform: uppercase;
}

.header-phone{
	color: $black;
	font-weight: 700;
	line-height: 1;
	margin-right: 30px;
	transition: all 0.3s ease-in-out;
	&:hover{
		color: $pink;
	}
}


.header-title{
	font-size: 2.21em;
	font-weight: 300;
	line-height: 1.375;
}

.header-subtitle{
	font-size: 1.22em;
	font-weight: 300;
	line-height: 1.36;
}

.features-bg{
	min-height: 580px;
	min-width: 550px;
	background-image: url('../img/phone.png');
	position: absolute;
	left: 16px;
	top: -20px;
}

.features-wrap{
	position: relative;
	z-index: 2;
}

#features{
	list-style: none;
	margin: 0 -15px 0 0;
	padding: 0;
	font-weight: 300;
	& li{
		display: flex;
		align-items: center;
		padding-left: 100px;
		padding-right: 54px;
	    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.05);
  		width: 373px;
  		max-width: 100%;
 		height: 110px;
		background-color: #fff;
		position: relative;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		background-image: url('../img/shadow.png');
		background-repeat: no-repeat;
		background-position: 100% 50%;
	}
	& li:first-child{
		margin-top: 65px;
		margin-bottom: 20px;
		&:before{
			content:url('../img/feedback.png');
			position: absolute;
			top: 39px;
			left: 33px;
		}
	}
	& li:nth-child(2){
		margin-bottom: 20px;
		&:before{
			content:url('../img/digital-marketing.png');
			position: absolute;
			top: 39px;
			left: 33px;
		}
	}
	& li:last-child{
		margin-bottom: 80px;
		&:before{
			content:url('../img/analysis.png');
			position: absolute;
			top: 39px;
			left: 33px;
		}
	}
}

#porfolio{
	background-color: #fff;
	position: relative;
	padding-top: 5.55em;
	padding-bottom: 5.55em;
	& .title{
		margin-bottom: 2.4em;
	}
}

.title{
	font-size: 2.21em;
	font-weight: 300;
	line-height: 1.25;
}

.slide-item{
	border-radius: 10px;
	border:1px solid rgba(226, 227, 230, .5);
	overflow:hidden;
}


.portfolio-mobile-image{
	height: 200px;
	width: 290px;
	border-radius: 10px; 
	background-position: center -80px;
	background-repeat: no-repeat;
	display: inline-block;
	margin-bottom: 45px;
}

.portfolio-date{
	font-size: .78em;
}

.porfolio-done-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
	& li{
		font-weight: 300;
		font-size: .89em;
		padding-left: 25px;
		margin-bottom: 30px;
		position: relative;
		&:before{
			content: url('../img/portfolio-list-marker.png');
			position: absolute;
			left: 0;
		} 
	}
}

.porfolio-budjet-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
	& li{
		font-weight: 300;
		font-size: .89em;
		padding-left: 25px;
		margin-bottom: 30px;
		position: relative;
		&:before{
			content: url('../img/ruble.png');
			position: absolute;
			left: 0;
		} 
	}
}

.portfolio-slider{
	border-radius: 10px;
	box-shadow: 0px 15px 50px 0px rgba(0,0,0,.08);
}

.portfolio-slider .slick-dots{
	bottom: -50px;
}

.portfolio-slider .slick-prev{
	width: 61px;
	height: 30px;
	bottom: -75px;
	left: 0;
	top: unset;
	z-index: 99;
}

.portfolio-slider .slick-next{
	width: 61px;
	height: 30px;
	bottom: -75px;
	right: 0;
	top: unset;
	z-index: 99;
}

.portfolio-slider .slick-prev:before{
	content: url('../img/arrow.png');
	font-size: 0;
	display: block;
}

.portfolio-slider .slick-next:before{
	content: url('../img/arrow.png');
	transform: rotate(180DEG);
	font-size: 0;
	display: block;
}

.portfolio-slider .slick-dots li{
	margin-left: 11px;
	margin-right: 11px;
}

.portfolio-slider .slick-dots li button{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border:2px solid rgba(158,99,246,.3);
	background-color: #fff;
}

.portfolio-slider .slick-dots li.slick-active button{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border:2px solid $pink;
	background-color: $pink;
}

.portfolio-slider .slick-dots li:hover button{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border:2px solid $pink;
	background-color: $pink;
}



.portfolio-slider .slick-dots li button:before{
	color: #fff;
	line-height: 24px;
	position: absolute;
	width: 24px;
	height: 24px;
}

#keyses{
	background-image: url('../img/book.png');
	background-repeat: no-repeat;
	background-position: 150px 160px;
	background-size: contain;
	padding-bottom: 11.1em;
}

.keyses-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
	& li{
		font-weight: 300;
		font-size: .89em;
		padding-left: 25px;
		margin-bottom: 30px;
		position: relative;
		&:before{
			content: url('../img/portfolio-list-marker.png');
			position: absolute;
			left: 0;
		} 
	}
}

.keyses-form-wrap{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 15px 50px 0px rgba(0,0,0,.08);
	padding: 9px;
}

.keyses-form-border{
	border-radius: 10px;
	border:1px solid #f2f3f4;
	padding: 40px 40px;
}

.tel-input{
	background-image: url('../img/number-prefix.png');
	background-repeat: no-repeat;
	background-position: 5px 2px;
}

.insta-input{
	background-image: url('../img/url-prefix.png');
	background-repeat: no-repeat;
	background-position: 5px 2px;
}

 .keyses-form-wrap .btn-pink{
 	padding-left: 40px;
 	padding-right: 40px;
 }

@import "media";