@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Radomir Tinkov - Gilroy-Bold.otf");
  font-weight: 700;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  position: relative;
  height: 100%; }

body {
  color: #585858;
  font-size: 15px;
  line-height: 1.41;
  font-family: Montserrat, sans-serif;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: Gilroy, sans-serif; }

h1 {
  font-size: 2.4em;
  font-weight: 700;
  line-height: 1;
  background: -webkit-linear-gradient(left, #2a918b, #07605a);
  background: linear-gradient(to right, #2a918b, #07605a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  background: -webkit-linear-gradient(left, #2a918b, #07605a);
  background: linear-gradient(to right, #2a918b, #07605a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

h3 {
  font-size: 1.41em;
  font-weight: 700;
  line-height: 1; }

h4 {
  font-size: 21px;
  line-height: 27px; }

h5 {
  font-size: 14px;
  line-height: 18px; }

a {
  color: #7dcdc8;
  text-decoration: underline; }
  a:hover {
    color: #585858; }

a:hover, a:active, a:focus {
  outline: none; }

button, button:hover, button:active, button:focus {
  outline: none; }

input::-moz-focus-inner {
  border: 0; }

input:focus, textarea:focus {
  outline: none; }

object, embed {
  outline: none; }

::-webkit-input-placeholder {
  color: #585858;
  opacity: 1; }

::-moz-placeholder {
  color: #585858;
  opacity: 1; }

:-ms-input-placeholder {
  color: #585858;
  opacity: 1; }

::-ms-input-placeholder {
  color: #585858;
  opacity: 1; }

::placeholder {
  color: #585858;
  opacity: 1; }

input:not([type="submit"]) {
  width: 100%;
  border-radius: 20px;
  border: none;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  padding: 19px 35px; }

textarea {
  width: 100%;
  height: 109px;
  border-radius: 20px;
  border: none;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  padding: 19px 35px; }

input[type="submit"] {
  font-size: 1.11em;
  padding: 24px 52px; }

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  z-index: 99;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left; }
    .main-menu ul li {
      display: block;
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 30px;
      line-height: 1; }
      .main-menu ul li a {
        font-family: Gilroy, sans-serif;
        font-weight: 700;
        position: relative;
        color: #585858;
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        -webkit-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
        text-decoration: none; }
        .main-menu ul li a:hover {
          color: #7dcdc8;
          text-decoration: none; }

.main-menu.open {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

/* Toggle */
.toggle-btn {
  display: block;
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 9999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
  width: 35px;
  height: 35px;
  padding: 10px 5px;
  border: 1px solid #7dcdc8;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.hamburger .icon-bar {
  background-color: #7dcdc8;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 23px; }

.toggle-btn:hover .hamburger {
  border-color: #1cc3b9; }

.toggle-btn:hover .hamburger .icon-bar {
  background-color: #1cc3b9; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 6px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -4px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media only screen and (min-width: 992px) {
  .main-menu {
    position: unset;
    background-color: transparent;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 14px;
    font-weight: 400; }
    .main-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .main-menu ul li {
        display: inline-block;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1;
        margin-bottom: 0; }
        .main-menu ul li a {
          font-family: Gilroy, sans-serif;
          font-weight: 700;
          color: #fff;
          text-transform: uppercase;
          font-size: 0.94em;
          text-decoration: none;
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out; }
          .main-menu ul li a:hover {
            color: #ffe593; }
  .toggle-btn {
    display: none; } }

header {
  border-top: 6px solid #7dcdc8;
  padding-top: 10px; }
  header .brand {
    line-height: 1; }
    header .brand img {
      max-height: 63px;
      width: auto; }
    header .brand a {
      font-family: Gilroy, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #07605a;
      font-size: 1.5em;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      text-decoration: none; }
      header .brand a:hover {
        text-decoration: none; }
  header .mobile-phone {
    position: absolute;
    top: 12px;
    right: 56px; }
  header .mobile-phone a:hover svg path {
    fill: #1cc3b9; }
  header .phone-top-bar {
    display: inline-block;
    margin-right: 32px;
    vertical-align: middle; }
    header .phone-top-bar a {
      font-family: Gilroy, sans-serif;
      font-weight: 700;
      font-size: 1.76em;
      color: #07605a;
      line-height: 1;
      text-decoration: none; }
      header .phone-top-bar a:hover {
        text-decoration: none; }
  header .social-top-bar {
    display: inline-block; }
    header .social-top-bar ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      header .social-top-bar ul li {
        padding-left: 8px;
        padding-right: 8px;
        display: inline-block; }
        header .social-top-bar ul li:first-child {
          padding-left: 0; }
        header .social-top-bar ul li:last-child {
          padding-right: 0; }
        header .social-top-bar ul li a svg path {
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        header .social-top-bar ul li.facebook a:hover svg path {
          fill: #4387bb; }
        header .social-top-bar ul li.instagram a:hover svg path {
          fill: #F44AB6; }
        header .social-top-bar ul li.whatsup a:hover svg path {
          fill: #1CC3B9; }
        header .social-top-bar ul li.telegram a:hover svg path {
          fill: #21B9FF; }
  header .main-menu-wrap {
    background-color: #7dcdc8; }

#hero {
  padding-top: 30px;
  padding-bottom: 30px;
  background: -webkit-linear-gradient(top, #B1D8F6 0%, #FCF291 100%);
  background: linear-gradient(to bottom, #B1D8F6 0%, #FCF291 100%);
  position: relative; }
  #hero .hero-cloud {
    position: absolute;
    opacity: 0.44;
    top: -50px;
    right: -170px; }
  #hero .hero-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("../img/hero-bg-m.png"); }

.green-button {
  font-family: Gilroy, sans-serif;
  font-size: 1.06em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #7dcdc8;
  line-height: 1;
  border-radius: 45px;
  padding: 21px 20px;
  text-decoration: none; }
  .green-button:hover {
    color: #ffe593; }

.red-button {
  font-family: Gilroy, sans-serif;
  font-size: 1.06em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #f15b45;
  line-height: 1;
  border-radius: 45px;
  padding: 21px 20px;
  text-decoration: none; }
  .red-button:hover {
    color: #ffe593; }

#slider {
  padding: 60px 0;
  background-color: #7dcdc8;
  position: relative; }
  #slider .slider-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 30px;
    left: 0;
    background-image: url("../img/slider-bg-m.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  #slider .slider-wrap .slider-item {
    height: 204px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid #fff; }
  #slider .slick-prev {
    width: 71px;
    height: 71px;
    left: -90px; }
  #slider .slick-prev::before {
    content: '';
    width: 71px;
    height: 71px;
    display: block;
    background-image: url("../img/slider-arrow.svg");
    background-size: cover;
    background-repeat: no-repeat; }
  #slider .slick-next {
    width: 71px;
    height: 71px;
    right: -90px; }
  #slider .slick-next::before {
    content: '';
    width: 71px;
    height: 71px;
    display: block;
    background-image: url("../img/slider-arrow.svg");
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: cover;
    background-repeat: no-repeat; }
  #slider .slick-dots {
    bottom: -35px; }
    #slider .slick-dots li {
      width: 14px;
      height: 14px; }
    #slider .slick-dots li button::before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border: 2px solid #fff;
      border-radius: 50%; }
    #slider .slick-dots li button:hover::before {
      background: #fff; }
    #slider .slick-dots li.slick-active button::before {
      background: #fff; }

#why-us {
  padding: 60px 0; }

#our-lessons {
  padding: 60px 0;
  background-color: #d4efed; }
  #our-lessons .col-lg-6 .our-lessons-wrap {
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    padding: 45px 15px;
    box-shadow: 0.518px 1.932px 51px 0px rgba(125, 205, 200, 0.27); }
    #our-lessons .col-lg-6 .our-lessons-wrap h3 {
      display: block;
      width: 100%; }
  #our-lessons .col-lg-6:first-child h3 {
    color: #7dcdc8;
    margin-bottom: 15px; }
    #our-lessons .col-lg-6:first-child h3:before {
      content: url("../img/smile-cloud.png");
      display: block;
      width: 100%;
      margin-bottom: 10px; }
  #our-lessons .col-lg-6:first-child ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #our-lessons .col-lg-6:first-child ul li {
      position: relative;
      padding-left: 40px;
      line-height: 1.58;
      margin-bottom: 7px; }
      #our-lessons .col-lg-6:first-child ul li:before {
        content: url("../img/lessons-marker.png");
        display: block;
        position: absolute;
        left: 0;
        top: 3px; }
  #our-lessons .col-lg-6:last-child h3 {
    color: #fecc44;
    margin-bottom: 15px; }
  #our-lessons .col-lg-6:last-child ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #our-lessons .col-lg-6:last-child ul li {
      position: relative;
      padding-left: 40px;
      line-height: 1.58;
      margin-bottom: 7px; }
      #our-lessons .col-lg-6:last-child ul li:before {
        content: url("../img/lessons-marker-yellow.png");
        display: block;
        position: absolute;
        left: 0;
        top: 3px; }

#our-teachers {
  background: -webkit-linear-gradient(top, #d4efed, #f9f3e5);
  background: linear-gradient(to bottom, #d4efed, #f9f3e5);
  position: relative; }
  #our-teachers .teacher-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/teacher-bg-m.png");
    background-repeat: no-repeat;
    background-position: center bottom; }
  #our-teachers .teacher-wrap {
    height: 100%;
    border-radius: 30px;
    padding: 45px 15px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #our-teachers .teacher-wrap .teacher-photo {
      height: 353px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 15px; }
  #our-teachers .left-composition {
    display: none; }
  #our-teachers .right-composition {
    display: none; }
  #our-teachers .right-composition-2 {
    display: none; }

.green {
  color: #7dcdc8; }

#schedule {
  padding: 0 0 30px; }

#meal {
  padding: 60px 0;
  background-image: url("../img/meal-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  #meal .meal-slider .meal-slider-item {
    height: 245px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid #fff;
    margin-left: 15px;
    margin-right: 15px; }
  #meal .meal-slider .slick-prev {
    width: 71px;
    height: 71px;
    left: 32%;
    z-index: 9999; }
  #meal .meal-slider .slick-prev::before {
    content: '';
    width: 71px;
    height: 71px;
    display: block;
    background-image: url("../img/arrow_small_left.svg");
    background-size: cover;
    background-repeat: no-repeat; }
  #meal .meal-slider .slick-next {
    width: 71px;
    height: 71px;
    right: 32%;
    z-index: 9999; }
  #meal .meal-slider .slick-next::before {
    content: '';
    width: 71px;
    height: 71px;
    display: block;
    background-image: url("../img/arrow_small_left.svg");
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: cover;
    background-repeat: no-repeat; }
  #meal .meal-slider .slick-dots {
    bottom: -35px; }
    #meal .meal-slider .slick-dots li {
      width: 14px;
      height: 14px; }
    #meal .meal-slider .slick-dots li button::before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border: 2px solid #7dcdc8;
      border-radius: 50%; }
    #meal .meal-slider .slick-dots li button:hover::before {
      background: #7dcdc8; }
    #meal .meal-slider .slick-dots li.slick-active button::before {
      background: #7dcdc8; }
  #meal .meal {
    margin: 0;
    padding: 0;
    list-style: none; }
    #meal .meal li {
      position: relative;
      padding-left: 45px;
      margin-bottom: 10px; }
      #meal .meal li:before {
        content: url("../img/meals-marker.png");
        display: block;
        position: absolute;
        left: 0;
        top: 3px; }

#testimonials {
  padding: 60px 0; }
  #testimonials .testimonial-item {
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #testimonials .testimonial-item img {
      margin-left: auto;
      margin-right: auto; }
    #testimonials .testimonial-item.slick-current {
      opacity: 1; }
  #testimonials .slick-prev {
    width: 71px;
    height: 71px;
    left: 32%;
    z-index: 9999; }
  #testimonials .slick-prev::before {
    content: '';
    width: 71px;
    height: 71px;
    display: block;
    background-image: url("../img/arrow_small_left.svg");
    background-size: cover;
    background-repeat: no-repeat; }
  #testimonials .slick-next {
    width: 71px;
    height: 71px;
    right: 32%;
    z-index: 9999; }
  #testimonials .slick-next::before {
    content: '';
    width: 71px;
    height: 71px;
    display: block;
    background-image: url("../img/arrow_small_left.svg");
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: cover;
    background-repeat: no-repeat; }
  #testimonials .slick-dots {
    bottom: -50px; }
    #testimonials .slick-dots li {
      width: 14px;
      height: 14px; }
    #testimonials .slick-dots li button::before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border: 2px solid #7dcdc8;
      border-radius: 50%; }
    #testimonials .slick-dots li button:hover::before {
      background: #7dcdc8; }
    #testimonials .slick-dots li.slick-active button::before {
      background: #7dcdc8; }

#gallery {
  padding: 60px 0;
  background-color: #faf6f4;
  position: relative; }
  #gallery .gallery-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../img/gallery-bg.png");
    background-position: center bottom;
    background-repeat: no-repeat; }
  #gallery .gallery-item {
    height: 569px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  #gallery .slider-wrap .slider-item {
    height: 204px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid #fff; }
  #gallery .slick-prev {
    width: 71px;
    height: 71px;
    left: -90px; }
  #gallery .slick-prev::before {
    content: '';
    width: 71px;
    height: 71px;
    display: block;
    background-image: url("../img/slider-arrow-green.svg");
    background-size: cover;
    background-repeat: no-repeat; }
  #gallery .slick-next {
    width: 71px;
    height: 71px;
    right: -90px; }
  #gallery .slick-next::before {
    content: '';
    width: 71px;
    height: 71px;
    display: block;
    background-image: url("../img/slider-arrow-green.svg");
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: cover;
    background-repeat: no-repeat; }
  #gallery .slick-dots {
    bottom: -35px; }
    #gallery .slick-dots li {
      width: 14px;
      height: 14px; }
    #gallery .slick-dots li button::before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border: 2px solid #7dcdc8;
      border-radius: 50%; }
    #gallery .slick-dots li button:hover::before {
      background: #7dcdc8; }
    #gallery .slick-dots li.slick-active button::before {
      background: #7dcdc8; }

#price {
  padding: 60px 0; }
  #price .col-lg-4 .price-wrap {
    height: 100%;
    padding: 45px 0;
    border-radius: 30px; }
    #price .col-lg-4 .price-wrap .price {
      text-align: center;
      font-size: 1.06em;
      font-weight: 700;
      color: #365755; }
  #price .col-lg-4:nth-child(1) .price-wrap {
    background-color: #e9f8f7; }
  #price .col-lg-4:nth-child(1) h3 {
    text-transform: uppercase;
    text-align: center;
    background: -webkit-linear-gradient(left, #2a918b, #07605a);
    background: linear-gradient(to right, #2a918b, #07605a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-height: 73px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 45px; }
  #price .col-lg-4:nth-child(1) ul {
    margin: 0 0 30px;
    padding: 0;
    list-style: none; }
    #price .col-lg-4:nth-child(1) ul li {
      padding: 15px 15px 15px 55px;
      border-top: 1px solid #cfdddc;
      position: relative; }
      #price .col-lg-4:nth-child(1) ul li:last-child {
        border-bottom: 1px solid #cfdddc; }
      #price .col-lg-4:nth-child(1) ul li:before {
        content: url("../img/marker-price-1.png");
        position: absolute;
        top: 50%;
        left: 15px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  #price .col-lg-4:nth-child(2) .price-wrap {
    background-color: #fff7e3; }
  #price .col-lg-4:nth-child(2) h3 {
    text-transform: uppercase;
    text-align: center;
    background: -webkit-linear-gradient(left, #fecc44, #aa6800);
    background: linear-gradient(to right, #fecc44, #aa6800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-height: 73px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 45px; }
  #price .col-lg-4:nth-child(2) ul {
    margin: 0 0 30px;
    padding: 0;
    list-style: none; }
    #price .col-lg-4:nth-child(2) ul li {
      padding: 15px 15px 15px 55px;
      border-top: 1px solid #e3dcca;
      position: relative; }
      #price .col-lg-4:nth-child(2) ul li:last-child {
        border-bottom: 1px solid #e3dcca; }
      #price .col-lg-4:nth-child(2) ul li:before {
        content: url("../img/marker-price-2.png");
        position: absolute;
        top: 50%;
        left: 15px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  #price .col-lg-4:nth-child(3) .price-wrap {
    background-color: #fff1ef; }
  #price .col-lg-4:nth-child(3) h3 {
    text-transform: uppercase;
    text-align: center;
    background: -webkit-linear-gradient(left, #ff2b0d, #b26357);
    background: linear-gradient(to right, #ff2b0d, #b26357);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-height: 73px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 45px; }
  #price .col-lg-4:nth-child(3) ul {
    margin: 0 0 30px;
    padding: 0;
    list-style: none; }
    #price .col-lg-4:nth-child(3) ul li {
      padding: 15px 15px 15px 55px;
      border-top: 1px solid #e3d7d5;
      position: relative; }
      #price .col-lg-4:nth-child(3) ul li:last-child {
        border-bottom: 1px solid #e3d7d5; }
      #price .col-lg-4:nth-child(3) ul li:before {
        content: url("../img/marker-price-3.png");
        position: absolute;
        top: 50%;
        left: 15px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }

#contact {
  padding: 60px 0;
  background-color: #e2f4f3; }
  #contact .contact-wrap {
    margin-top: 45px;
    position: relative;
    padding: 45px 15px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0.518px 1.932px 51px 0px rgba(125, 205, 200, 0.48); }
    #contact .contact-wrap .contact-composition {
      position: absolute;
      right: 35px;
      top: -40px; }
    #contact .contact-wrap .contact-title {
      font-size: 1.76em;
      font-family: Gilroy, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #7dcdc8;
      margin-bottom: 40px; }
    #contact .contact-wrap .address {
      position: relative;
      padding-left: 70px;
      margin-bottom: 40px; }
      #contact .contact-wrap .address:before {
        content: url("../img/address-icon.png");
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    #contact .contact-wrap .phone {
      position: relative;
      padding-left: 70px;
      margin-bottom: 40px; }
      #contact .contact-wrap .phone a {
        text-decoration: none;
        color: #585858; }
        #contact .contact-wrap .phone a:hover {
          color: #7dcdc8; }
      #contact .contact-wrap .phone:before {
        content: url("../img/phone-icon.png");
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    #contact .contact-wrap .email {
      position: relative;
      padding-left: 70px;
      margin-bottom: 20px; }
      #contact .contact-wrap .email a {
        text-decoration: none;
        color: #585858; }
        #contact .contact-wrap .email a:hover {
          color: #7dcdc8; }
      #contact .contact-wrap .email:before {
        content: url("../img/email-icon.png");
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  #contact h3 {
    font-size: 1.76em;
    background: -webkit-linear-gradient(left, #2a918b, #07605a);
    background: linear-gradient(to right, #2a918b, #07605a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

#map {
  width: 100%;
  height: 503px;
  padding: 0;
  margin: 0; }

footer {
  color: #fff;
  font-size: 0.82em;
  padding: 30px 0;
  background-color: #7dcdc8; }

#to-top {
  width: 60px;
  height: 60px;
  background-color: #7dcdc8;
  box-shadow: 1.035px 3.864px 18px 0px rgba(7, 96, 90, 0.48);
  position: fixed;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }
  #to-top.show {
    opacity: 1;
    z-index: 1; }

.modal-open .modal {
  background-color: rgba(125, 205, 200, 0.5); }

.modal-content {
  border-radius: 30px;
  box-shadow: 1.035px 3.864px 18px 0px rgba(7, 96, 90, 0.48);
  border: none; }

.modal-dialog {
  max-width: 560px; }
  .modal-dialog .close {
    position: absolute;
    top: -30px;
    right: 0;
    color: #fff;
    font-weight: 400;
    font-size: 2.5em;
    text-shadow: none; }
  .modal-dialog .modal-header {
    border-bottom-color: #e3e3e3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .modal-dialog .modal-body {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 45px; }
    .modal-dialog .modal-body input:not([type="submit"]) {
      background-color: #ddf4f5; }
  .modal-dialog .btn.whatsapp {
    font-size: 1.11em;
    padding: 24px 105px 24px 50px;
    position: relative; }
    .modal-dialog .btn.whatsapp:after {
      content: url("../img/whatsapp-icon.png");
      position: absolute;
      top: 50%;
      right: 35px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

#chat {
  position: fixed;
  top: 35%;
  right: 0;
  background-color: #fff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 1.035px 3.864px 18px 0px rgba(7, 96, 90, 0.48);
  padding: 15px 15px 15px 25px; }
  #chat .chat-title {
    text-align: center;
    color: #07605a;
    font-weight: 700;
    font-size: 1.11em;
    font-family: Gilroy, sans-serif;
    margin-bottom: 15px; }
  #chat ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #chat ul li {
      text-align: center;
      margin-bottom: 10px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  #slider .slider-wrap .slider-item {
    height: 290px; } }

@media only screen and (min-width: 510px) {
  #slider .slider-wrap .slider-item {
    height: 350px; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #our-lessons .col-lg-6 .our-lessons-wrap {
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    padding: 45px 40px;
    box-shadow: 0.518px 1.932px 51px 0px rgba(125, 205, 200, 0.27); }
    #our-lessons .col-lg-6 .our-lessons-wrap h3 {
      min-height: 84px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%; }
  #our-lessons .col-lg-6:first-child h3:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: unset; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  body {
    font-size: 17px; }
  h1 {
    font-size: 3.52em; }
  h2 {
    font-size: 2.58em; }
  #hero {
    padding-bottom: 350px; }
    #hero .hero-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-image: url("../img/hero-bg.png"); }
  header .brand img {
    max-height: 105px;
    width: auto; }
  header .brand a {
    font-size: 2.35em; }
  .green-button {
    font-family: Gilroy, sans-serif;
    font-size: 1.41em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #7dcdc8;
    line-height: 1;
    border-radius: 45px;
    padding: 31px 50px; }
    .green-button:hover {
      color: #ffe593; }
  .red-button {
    font-family: Gilroy, sans-serif;
    font-size: 1.41em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #f15b45;
    line-height: 1;
    border-radius: 45px;
    padding: 31px 50px; }
    .red-button:hover {
      color: #ffe593; }
  #slider {
    padding: 80px 0; }
    #slider .slider-wrap .slider-item {
      height: 560px; }
    #slider .slider-bg {
      background-image: url("../img/slider-bg.png"); }
  #why-us {
    padding: 80px 0; }
  #our-teachers .col-lg-4:nth-child(3n + 2) {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px); }
  #our-teachers .col-lg-4:nth-child(3n + 3) {
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px); }
  #our-teachers .teacher-wrap {
    padding: 45px 40px; }
    #our-teachers .teacher-wrap:hover {
      background-color: #fff;
      box-shadow: 0.518px 1.932px 51px 0px rgba(125, 205, 200, 0.64); }
  #our-teachers .teacher-bg {
    background-image: url("../img/teacher-bg.png"); }
  #schedule {
    padding: 80px 0 30px; }
  #meal {
    padding: 80px 0; }
    #meal .meal-slider .meal-slider-item {
      margin-left: 30px;
      margin-right: 30px; }
  #testimonials {
    padding: 80px 0;
    background-color: #f5eeeb; }
    #testimonials .testimonial-item {
      margin-left: 30px;
      margin-right: 30px; }
  #gallery {
    padding: 80px 0; }
  #price {
    padding: 80px 0; }
  #contact {
    padding: 80px 0; }
    #contact .contact-wrap {
      padding: 45px 35px; }
  .modal-dialog .close {
    top: -20px;
    right: -20px; }
  .modal-dialog .modal-body {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 45px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #meal .meal-slider .meal-slider-item {
    opacity: 0.5;
    min-height: 16vw;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #meal .meal-slider .meal-slider-item.slick-current {
      opacity: 1; } }

@media only screen and (min-width: 1600px) {
  #our-teachers .left-composition {
    display: block;
    position: absolute;
    top: 565px;
    left: 0px;
    z-index: 0; }
  #our-teachers .right-composition {
    display: block;
    position: absolute;
    top: 60px;
    right: 0px;
    z-index: 0; }
  #our-teachers .right-composition-2 {
    display: block;
    position: absolute;
    top: 860px;
    right: 0px;
    z-index: 0; } }

@media only screen and (min-width: 1920px) {
  #hero .hero-bg {
    background-image: url("../img/hero-bg-big.png"); }
  #slider {
    padding: 120px 0; }
    #slider .slider-bg {
      background-image: url("../img/slider-bg-big.png"); }
  #our-teachers .left-composition {
    left: 4%; }
  #our-teachers .right-composition {
    right: 5%; }
  #our-teachers .right-composition-2 {
    right: 3%; }
  #our-teachers .teacher-bg {
    background-image: url("../img/teacher-bg-big.png"); }
  #gallery .gallery-bg {
    background-image: url("../img/gallery-bg-big.png"); } }

@media only screen and (min-width: 2500px) {
  #hero .hero-bg {
    background-size: cover; }
  #our-teachers .teacher-bg {
    background-size: contain; } }
