@font-face{
	font-family: 'Mont-Bobbi';
	src: url('../fonts/Mont-Regular.otf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'Mont-Bobbi';
	src: url('../fonts/Mont-RegularItalic.otf');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face{
	font-family: 'Mont-Bobbi';
	src: url('../fonts/Mont-SemiBold.otf');
	font-weight: 600;
	font-display: swap;
}

@font-face{
	font-family: 'Mont-Bobbi';
	src: url('../fonts/Mont-Bold.otf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'Hobo-Bobbi';
	src: url('../fonts/HoboStd.otf');
	font-weight: 400;
	font-display: swap;
}