@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	position:relative;
	overflow-x: hidden;
}

body {
	color: $black;
	font-size: 14px;
	line-height: 1.76;
	font-family: HS-OpenSans, sans-serif;
}

p:last-child{
	margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6{
	font-family: HS-Gilroy, sans-serif;
}

h1{
  font-size: 3.3em;
  line-height: 0.95;
  font-weight: 500;
}

h2{
  font-size: 2.11em;
  line-height: 42px;
  font-weight: 700;
}

h3{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h4{
  font-size: 21px;
  line-height: 27px;
  font-weight: 700;
}

h5{
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

a{
	color:$green;
	transition: all 0.15s ease-in-out;
	&:hover{
		color:$lightgreen;
		text-decoration: none;
	}
}

a:hover, a:active, a:focus {
	outline: none;
}

button, button:hover, button:active, button:focus {
	outline: none;
}

input::-moz-focus-inner { 
  border: 0; 
}

input:focus, textarea:focus{
	outline: none;
}

object, embed { 
  outline: none;
}

::placeholder { 
  color: $grey;
  opacity: 1; 
}

.green-button{
	background-color: $green;
	color: #fff;
	border-radius: 5px;
	font-size: 19px;
	font-family: HS-Gilroy, sans-serif;
	font-weight: 700;
	padding: 18px 85px;
	line-height: 1;
	&:hover{
		color: #fff;
		background-color: $lightgreen;
	}
}

.arrow-button{
	position: relative;
	display: inline-block;
	& .green-button{
		padding: 18px 90px 18px 80px;
		&:hover + svg path{
			fill:#FFFFFF;
		}
	}
	& svg{
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		transition: all 0.15s ease-in-out;
	}
}