@font-face{
	font-family: 'HS-OpenSans';
	src: url('../fonts/OpenSans-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'HS-Gilroy';
	src: url('../fonts/Radomir Tinkov - Gilroy-Medium.otf');
	font-weight: 500;
	font-display: swap;
}