@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body{
		font-size: 15px;
	}
	#home-hero{
		min-height: 690px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		align-items:center;
		& .header-title-first-line{
			color: #fff;
			font-size: 5.2em;
			font-family: HS-Gilroy, sans-serif;
			font-weight: 500;
			line-height: 1;
		}
		& .header-title-second-line{
			color: #fff;
			font-size: 8.3em;
			font-family: HS-Gilroy, sans-serif;
			font-weight: 500;
			line-height: 1;
			padding-left: 135px;
		}
		& .header-title-third-line{
			color: #fff;
			font-size: 3.35em;
			font-family: HS-Gilroy, sans-serif;
			font-weight: 500;
			line-height: 1;
			padding-left: 45px;
		}
	}
	section.colored{
		clip-path: polygon(100% 0%, 100% 90%, 0% 100%, 0% 10%);
	}
	#our-services{
		& .our-services-wrap{
			clip-path: polygon(120% 0%, 120% 120%, -10% 120%, -10% 10%);
		}
	}
	.footer-map{
		position: relative;
		line-height: 0;
		& .contact-section-wrap{
			position: absolute;
			top:50%;
			left: calc((100% - 1140px) / 2);
			width: 475px;
			transform: translateY(-50%);
			padding: 60px 65px 60px 80px;
			background-color: #fff;
			box-shadow: 0px 2px 28.7px 6.3px rgba(0, 0, 0, 0.11);
			line-height: 1.76;
		}
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	.header-contact{
		& ul{
			& li{
				&:last-child{
					padding-left: 20px;
				}
				& a{

					& span{
						display: inline-block;
					}
				}
			}
		}
	}

}

@media only screen and (min-width : 1400px){
	body{
		font-size: 17px;
	}
	header .container{
		max-width: 1400px;
		& .row{
			justify-content: space-between!important;
		}
	}
	.footer-widgets .container{
		max-width: 1400px;
	}
}