@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";

.hidden{
	opacity: 0;
	transition: all 0.15s ease-in-out;
}

.visible{
	opacity: 1;
}

header{
	padding: 15px 0;
}

.brand-column{
	padding-left: 15px;
	padding-right: 15px;
}

.contact-column{
	padding-left: 15px;
	padding-right: 15px;
}

.brand{
	& img{
		max-height: 90px;
		width: auto;
	}
}
.green{
	color: $green;
}
.lightgreen{
	color: $lightgreen;
}
.header-contact{
	& ul{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			display: inline-block;
			position: relative;
			line-height: 1;
			&:last-child{
				padding-left: 10px;
			}
			& a{
				font-size: 1.1em;
				color: $black;
				&:hover{
					color: $green;
				}
				& span{
					display: none;
				}
			}
		}
	}
}

#home-hero{
	position: relative;
	min-height: 590px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items:center;
	& .header-title-first-line{
		color: #fff;
		font-size: 3.2em;
		font-family: HS-Gilroy, sans-serif;
		font-weight: 500;
		line-height: 1;
	}
	& .header-title-second-line{
		color: #fff;
		font-size: 4.3em;
		font-family: HS-Gilroy, sans-serif;
		font-weight: 500;
		line-height: 1;
		padding-left: 55px;
	}
	& .header-title-third-line{
		color: #fff;
		font-size: 2em;
		font-family: HS-Gilroy, sans-serif;
		font-weight: 500;
		line-height: 1;
		padding-left: 15px;
	}
}

#our-services{
	margin-top: -115px;
	padding: 0;
	& .bg-hs{
			background-image: url('../img/HS-bg.png');
			background-position: center;
			background-size: 85%;
			background-repeat: no-repeat;
		}
	& .our-services-wrap{
		box-shadow: 0px 2px 28.7px 6.3px rgba(0, 0, 0, 0.11);
		margin-bottom: 45px;
		position: relative;
		clip-path: polygon(120% 0%, 120% 120%, -10% 120%, -10% 5%);
		&:before{
			content: url('../img/our-services-shape.png');
			position: absolute;
			top: 10px;
			right: -30px;
		}
	}
	& .our-services-bg{
		background-position: bottom left;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 750px;
	}
	#our-services-list{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			position: relative;
			padding-left: 75px;
			font-size: 1.29em;
			margin-bottom: 40px;
		}
		& .fund-administration:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 55px;
			width: 55px;
			background-image: url('../img/Fund Administration.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size:contain;
		}
		& .accounting-for-management:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 55px;
			width: 55px;
			background-image: url('../img/Accounting for Management.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size:contain;
		}
		& .internal-controls:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 55px;
			width: 55px;
			background-image: url('../img/Internal Controls.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size:contain;
		}
		& .advisory-and-consulting:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 55px;
			width: 55px;
			background-image: url('../img/Advisory and Consulting.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size:contain;
		}
		& .tax-consulting:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 55px;
			width: 55px;
			background-image: url('../img/Tax Consulting.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size:contain;
		}
		& .fund-setup-advisory:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 55px;
			width: 55px;
			background-image: url('../img/Fund Set-up Advisory.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size:contain;
		}
	}
}

section{
	padding: 50px 0;
}

section.colored{
	padding: 120px 0;
	background-color: #f0f0f0;
	clip-path: polygon(100% 0%, 100% 95%, 0% 100%, 0% 5%);
}
footer{
	position: relative;
}
.footer-map{
	position: relative;
	line-height: 0;
	& .contact-section-wrap{
		padding: 45px 15px;
		background-color: #fff;
		box-shadow: 0px 2px 28.7px 6.3px rgba(0, 0, 0, 0.11);
		line-height: 1.76;
		& #contact-list{
			margin: 0;
			padding: 0;
			list-style: none;
			& li{
				position: relative;
				padding-left: 50px;
				margin-bottom: 15px;
				& svg{
					position: absolute;
					top: -2px;
					left: 0;
				}
				& a{
					color: $black;
					font-size: 0.94em;
					&:hover{
						color: $green;
					}
				}
			}
		}
	}
}

.footer-widgets{
	padding: 50px 0 40px;
	background-color: #202121;
	font-size: 14px;
	color: #fff;
	& svg path{
		transition: all 0.15s ease-in-out;
	}
	& svg polygon{
		transition: all 0.15s ease-in-out;
	}
	& a{
		color: #fff;
		&:hover{
			color: $lightgreen;
			& svg path{
				fill: $lightgreen;
			}
			& svg polygon{
				fill: $lightgreen;
			}
		}
	}
	& #footer-menu{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			margin-bottom: 15px;

		}
	}
	& #footer-contact{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			position: relative;
			padding-left: 45px;
			margin-bottom: 15px;
			& svg{
				position: absolute;
				top: -2px;
				left: 0;
			}
		}
		& .footer-social{
			padding-left: 0;
			& svg{
				position: relative;
			}
		}
		& .footer-social a{
			padding-left: 7.5px;
			padding-right: 7.5px;
			&:first-child{
				padding-left: 0;
			}
		}
	}

}

#social-wdget{
	position: fixed;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 17.46px 0.54px rgba(0, 0, 0, 0.11);
    top: 150px;
    right: 0;
    padding: 17px 10px 17px 15px;
    & ul{
    	margin: 0;
    	padding: 0;
    	list-style: none;
    	& li{
    		margin-bottom: 7px;
    		&:last-child{
    			margin-bottom: 0;
    		}
    		& a svg path{
    			transition: all 0.15s ease-in-out;
    		}
    		& a svg polygon{
    			transition: all 0.15s ease-in-out;
    		}
    		&:hover a svg path{
    			fill: #00ead1;
    		}
    		&:hover a svg polygon{
    			fill: #00ead1;
    		}
    	}
    }
}

#page-hero{
	padding: 120px 0;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;

}

@import "media";