@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";

.hidden{
	opacity: 0;
	transition: all 0.15s ease-in-out;
}

.visible{
	opacity: 1;
}

header{
	padding: 15px 0;
}

.brand-column{
	padding-left: 15px;
	padding-right: 15px;
}

.contact-column{
	padding-left: 15px;
	padding-right: 15px;
}

.brand{
	& img{
		max-height: 90px;
		width: auto;
	}
}
.green{
	color: $green;
}
.lightgreen{
	color: $lightgreen;
}
.header-contact{
	& ul{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			display: inline-block;
			position: relative;
			line-height: 1;
			&:last-child{
				padding-left: 10px;
			}
			& a{
				font-size: 1.1em;
				color: $black;
				&:hover{
					color: $green;
				}
				& span{
					display: none;
				}
			}
		}
	}
}

#home-hero{
	position: relative;
	min-height: 590px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items:center;
	& .header-title-first-line{
		color: #fff;
		font-size: 3.2em;
		font-family: HS-Gilroy, sans-serif;
		font-weight: 500;
		line-height: 1;
	}
	& .header-title-second-line{
		color: #fff;
		font-size: 4.3em;
		font-family: HS-Gilroy, sans-serif;
		font-weight: 500;
		line-height: 1;
		padding-left: 55px;
	}
	& .header-title-third-line{
		color: #fff;
		font-size: 2em;
		font-family: HS-Gilroy, sans-serif;
		font-weight: 500;
		line-height: 1;
		padding-left: 15px;
	}
}

#our-services{
	margin-top: -115px;
	padding: 0;
	& .bg-hs{
			background-image: url('../img/HS-bg.png');
			background-position: center;
			background-size: 85%;
			background-repeat: no-repeat;
		}
	& .our-services-wrap{
		box-shadow: 0px 2px 28.7px 6.3px rgba(0, 0, 0, 0.11);
		margin-bottom: 45px;
		position: relative;
		clip-path: polygon(120% 0%, 120% 120%, -10% 120%, -10% 5%);
		&:before{
			content: url('../img/our-services-shape.png');
			position: absolute;
			top: 10px;
			right: -30px;
		}
	}
	& .our-services-bg{
		background-position: bottom left;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 750px;
	}
	#our-services-list{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			position: relative;
			padding-left: 75px;
			font-size: 1.29em;
			margin-bottom: 40px;
		}
		& .fund-administration:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 55px;
			width: 55px;
			background-image: url('../img/Fund Administration.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size:contain;
		}
		& .accounting-for-management:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 55px;
			width: 55px;
			background-image: url('../img/Accounting for Management.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size:contain;
		}
		& .internal-controls:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 55px;
			width: 55px;
			background-image: url('../img/Internal Controls.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size:contain;
		}
		& .advisory-and-consulting:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 55px;
			width: 55px;
			background-image: url('../img/Advisory and Consulting.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size:contain;
		}
		& .tax-consulting:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 55px;
			width: 55px;
			background-image: url('../img/Tax Consulting.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size:contain;
		}
		& .fund-setup-advisory:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 55px;
			width: 55px;
			background-image: url('../img/Fund Set-up Advisory.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size:contain;
		}
	}
}

section{
	padding: 50px 0;
}

section.colored{
	padding: 120px 0;
	background-color: #f0f0f0;
	clip-path: polygon(100% 0%, 100% 95%, 0% 100%, 0% 5%);
}
footer{
	position: relative;
}
.footer-map{
	position: relative;
	line-height: 0;
	& .contact-section-wrap{
		padding: 45px 15px;
		background-color: #fff;
		box-shadow: 0px 2px 28.7px 6.3px rgba(0, 0, 0, 0.11);
		line-height: 1.76;
		& #contact-list{
			margin: 0;
			padding: 0;
			list-style: none;
			& li{
				position: relative;
				padding-left: 50px;
				margin-bottom: 15px;
				& svg{
					position: absolute;
					top: -2px;
					left: 0;
				}
				& a{
					color: $black;
					font-size: 0.94em;
					&:hover{
						color: $green;
					}
				}
			}
		}
	}
}

.footer-widgets{
	padding: 50px 0 40px;
	background-color: #202121;
	font-size: 14px;
	color: #fff;
	& svg path{
		transition: all 0.15s ease-in-out;
	}
	& svg polygon{
		transition: all 0.15s ease-in-out;
	}
	& a{
		color: #fff;
		&:hover{
			color: $lightgreen;
			& svg path{
				fill: $lightgreen;
			}
			& svg polygon{
				fill: $lightgreen;
			}
		}
	}
	& #footer-menu{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			margin-bottom: 15px;

		}
	}
	& #footer-contact{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			position: relative;
			padding-left: 45px;
			margin-bottom: 15px;
			& svg{
				position: absolute;
				top: -2px;
				left: 0;
			}
		}
		& .footer-social{
			padding-left: 0;
			& svg{
				position: relative;
			}
		}
		& .footer-social a{
			padding-left: 7.5px;
			padding-right: 7.5px;
			&:first-child{
				padding-left: 0;
			}
		}
	}

}

#social-wdget{
	position: fixed;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 17.46px 0.54px rgba(0, 0, 0, 0.11);
    top: 150px;
    right: 0;
    padding: 17px 10px 17px 15px;
    & ul{
    	margin: 0;
    	padding: 0;
    	list-style: none;
    	& li{
    		margin-bottom: 7px;
    		&:last-child{
    			margin-bottom: 0;
    		}
    		& a svg path{
    			transition: all 0.15s ease-in-out;
    		}
    		& a svg polygon{
    			transition: all 0.15s ease-in-out;
    		}
    		&:hover a svg path{
    			fill: #00ead1;
    		}
    		&:hover a svg polygon{
    			fill: #00ead1;
    		}
    	}
    }
}

#page-hero{
	padding: 120px 0;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;

}

.service-wrap{
	display: flex;
	flex-wrap: wrap;
}

#client-center{
	color: #fff;
	padding: 110px 0 90px;
	clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 10%);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	& .client-center-title{
		font-size: 3.53em;
		font-weight: 700;
	}
	& .client-center-description{
		font-size: 1.29em;
	}
}

.news-wrap{
	position: relative;
	height: 100%;
	border:1px solid #ececec;
	padding: 45px 30px 110px;
	& a{
		color: #454545;
		&:hover{
			color: $green;
		}
	}
	& .post-tumbnail{
		height: 190px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	& .post-description{
		font-size: 0.94em;
		line-height: 1.56;
		text-align: justify;
		hyphens: auto;
	}
	& p{
		margin-bottom: 0;
	}
	& .post-readmore{
		position: absolute;
		bottom: 35px;
	}
}

a.read-more-button{
	border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 13.12px 2.88px rgba(0, 0, 0, 0.08);
  font-size: 14px;
  line-height: 14px;
  padding: 13.5px 49px 13.5px 25px;
  position:relative;
  color: #4e4e4e;
  font-family: HS-Gilroy, sans-serif;
  font-weight: 700;
  & svg{
  	position: absolute;
  	right: 15px;
  	top: 13.5px;
  	& path{
  		transition: all 0.15s ease-in-out;
  	}
  }
  &:hover{
  	color: #fff;
  	background-color: $lightgreen;
  	& svg path{
  		fill: #fff;
  	}
  }
}

.pagination{
	display: flex;
	align-items:center;
	line-height: 1;
	& .page-numbers{
		font-family: HS-Gilroy, sans-serif;
		font-size: 14px;
		font-weight: 700;
		border-style: solid;
		  border-width: 1px;
		  border-color: rgb(226, 226, 226);
		  border-radius: 2px;
		  background-color: rgb(255, 255, 255);
		  box-shadow: 0px 0px 13.12px 2.88px rgba(0, 0, 0, 0.08);
		  width: 42px;
		  height: 42px;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  margin: 8.5px;
		  color: #4e4e4e;
		  &:hover{
		  	background-color: $lightgreen;
		  	color: #fff;
		  }
	}
	& .page-numbers.current{
		color: #fff;
		background-color: $green;
	}
	& .page-numbers.dots{
		border:none;
		box-shadow:none;
		align-items: flex-end;
		margin-left: 0;
		margin-right: 0;
		&:hover{
			color: #4e4e4e;
			background-color: #fff;
		}
	}
	& .page-numbers.prev, .page-numbers.next{
		position:relative;
		border:none;
		box-shadow:none;
		color: #4e4e4e;
		width: unset;
		& svg path{
			transition: all 0.15s ease-in-out;
		}
		&:hover{
			color: $green;
			background-color: #fff;
			& svg path{
				fill: $green;
			}
		}
	}
	& .page-numbers.prev span{
		display: none;
	}
	& .page-numbers.next span{
		display: none;
	}
	 
}

@import "media";