@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	#contact{
		& .send-button-column{
			flex-basis: 40%;
			min-width: 40%;
		}
		& .contacts-column{
			flex-basis: 60%;
			min-width: 60%;
			display: flex;
			justify-content: flex-end;
		}
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body{
		font-size: 18px;
	}
	#terms{
		& .terms-row{
			align-items:center;
			& .terms-data-column{
				flex-basis: 50%;
				max-width: 50%;
			}
			& .terms-image-column{
				flex-basis: 50%;
				max-width: 50%;
			}
		}
		& #terms-list li{
			padding-right: 40px;
		}
	}
	#contact{
		& .contact-image-column{
			flex-basis: 50%;
			max-width: 50%;
		}
		& .contact-form-column{
			flex-basis: 50%;
			max-width: 50%;
		}
		& .send-button-column{
			flex-basis: 100%;
			min-width: 100%;
		}
		& .contacts-column{
			flex-basis: 100%;
			min-width: 100%;
			justify-content: flex-start;
		}
	}
	footer{
		& nav{
			& ul{
				& li{
					padding-left: 38px;
					padding-right: 30px;
				}
			}
		}
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	#contact{
		& .send-button-column{
			flex-basis: 40%;
			min-width: 40%;
		}
		& .contacts-column{
			flex-basis: 60%;
			min-width: 60%;
			justify-content: flex-end;
		}
	}
}