@import "fonts";
@import "libs";
@import "base";
@import "vars";


#page-title{
	padding: 67px 60px;
}

.price-wrap{
	max-width: 900px;
	padding: 36px 40px;
	border:2px solid $red;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.51;
	margin-bottom: 90px;
	& #price-table{
		width: 100%;
		font-size: 1.11em;
		font-weight: 500;
		& td{
			width: 50%;
			border-bottom: 1.5px solid #E3EDFE;
			padding-top: 5px;
			padding-bottom: 5px;
			&:first-child{
				border-right: 1.5px solid #E3EDFE;
			}
			&:last-child{
				padding-left: 25px;
			}
		}
		& tr:last-child td{
			border-bottom: none;
		}
	}
}
#terms{
	padding-bottom: 80px;
	& #terms-wrap{
		background-color: #FEF3F6;
		padding: 40px;
		border-radius:15px;
	}
	& .terms-image-wrap{
		padding: 40px;
		border-radius:15px;
		background-color: #1A79C7;
	}
	& #terms-list{
		list-style: none;
		padding: 0;
		margin: 0 0 30px;
		& li{
			position: relative;
			padding-left: 35px;
			&:before{
				content: '';
				width: 16px;
				height: 16px;
				border-radius:50%;
				background-color: $red;
				position: absolute;
				top: 5.5px;
				left: 0;
			}
		}
	}
}

#contact{
	padding: 80px 0 140px;
	& .contact-image-column{
		margin-bottom: 65px;
	}
	& .send-button-column{
		margin-bottom: 15px;
	}
}

#contact-table{
	& a{
		color: $black;
		font-weight: 700;
		text-decoration: none;
		&:hover{
			color: $red;
		}
	}
}

footer{
	padding: 45px 0;
	background-color: #3F1C54;
	color: #fff;
	font-size: 0.77em;
	& a{
		color: #fff;
		text-decoration: none;
	}
	& nav{
		& ul{
			list-style: none;
			margin: 0;
			padding: 0;
			left: 0;
			display: flex;
			width: 100%;
			justify-content: center;
			& li{
				padding-left: 20px;
				padding-right: 20px;
				border-right:1px solid #fff;
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
					border-right:none;
				}
			}
		}
	}
}

@import "media";