@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	position:relative;
	height: 100%;
	overflow-x: hidden;
}

body {
	color: $black;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 0.5px;
	font-family: Poppins-Ferramentas, sans-serif;
}


body.menu-open{
	overflow-y: hidden;
}


h1,h2,h3,h4,h5,h6{
	font-family: Mont-Ferramentas, serif;
	font-weight: 800;
	color: #000;
}

h1{
  font-size: 2.96em;
  line-height: 0.96;
}

h2{
  font-size: 2.3em;
  line-height: 1;
  letter-spacing: 1.17px;
}

h3{
  font-size: 24px;
  line-height: 32px;
}

h4{
  font-size: 1.33em;
  line-height: 1.08;
}

h5{
  font-size: 14px;
  line-height: 18px;
}

a{
	color:$yellow;
	transition: all 0.3s ease-in-out;
	&:hover{
		color:$yellow;
		text-decoration: none;
	}
}

a:hover, a:active, a:focus {
	outline: none;
}

button, button:hover, button:active, button:focus {
	outline: none;
}

input::-moz-focus-inner { 
  border: 0; 
}

input:focus, textarea:focus{
	outline: none;
}

object, embed { 
  outline: none;
}

::placeholder { 
  color: $grey;
  opacity: 1; 
}

.yellow-button{
	color: $black;
	font-size: 0.8333em;
	font-weight: 500;
	letter-spacing: 3px;
	line-height: 1;
	text-transform: uppercase;
	background-color: $yellow;
	border-radius: 0;
	padding: 16.5px 65px;
	transition: all 0.3s ease-in-out;
	&:hover{
		background-color: lighten($yellow, 15%);
	}
}

.white-button{
	color: #000;
	font-size: 0.8333em;
	font-weight: 500;
	letter-spacing: 3px;
	line-height: 1;
	text-transform: uppercase;
	background-color: #fff;
	border-radius: 0;
	padding: 16.5px 65px;
	transition: all 0.3s ease-in-out;
	&:hover{
		background-color: $yellow;
	}
}