@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";


header{
	padding: 30px 0;
	position: relative;
	z-index: 3;
}

#home-hero{
	background-image: url('../img/bg-home-hero.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 60% 0;
	margin-top: -126px;
	padding-top: 126px;
	padding-bottom: 400px;
	margin-bottom: -250px;
	& .hero-description{
		font-size: 1.25em;
		letter-spacing: 0.5px;
		margin-bottom: 100px;
	}
}

#companies{
	position: relative;
	background: linear-gradient(to bottom, transparent 0, transparent 250px, #CECDCD 250px, #CECDCD 100%);
	padding-bottom: 130px;
	& .companies-title{
		font-size: 1.5625em;
	}
	
	& .more-companies{
		color: $black;
		font-size: 0.9375em;
		font-weight: 500;
		letter-spacing: 3px;
		line-height: 1;
		text-transform: uppercase;
		transition: all 0.3s ease-in-out;
		padding: 16.5px 0;
		border-bottom: 1px dashed #000;
		&:hover{
			color: #fff;
			border-color: #fff;
		}
	}
}

.companies-grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 181px;
	grid-gap: 30px;
	margin-bottom: 50px;
	& .companies-item{
		padding: 20px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 6px;
		box-shadow: 0 13px 41px 0 rgba(0,0,0,0.04);
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

#call-to-action{
	background-color: #000;
	padding: 57px 0;
	& h2{
		line-height: 1;
		margin: 0;
		position: relative;
		z-index: 2;
	}
	& .action-button-wrap{
		& img{
			position: absolute;
			transform: translateY(-50%);
			margin-top: -10px;
		}
		& .white-button{
			position: relative;
		}
	}
}

#industry-insights{
	padding-top: 200px;
	& .insight-wrap{
		min-height: 150px;
		position: relative;
		margin-bottom: 90px;
		padding-bottom: 40px;
		& a{
			color: #000;
			&:hover{
				color: $yellow;
			}
		}
		& .insight-data{
			width: 100%;
			position: absolute;
			bottom: 0;
			& .insight-date{
				position: relative;
				color: #9E9E9E;
				font-size: 12px;
				&:before{
					content: url('../img/calendar.svg');
					display: inline-block;
					vertical-align: middle;
					margin-right: 12px;
				}
			}
			& a img{
				transition: all 0.3s ease-in-out;
			}
			& a:hover img{
				transform: translateX(5px);
			}
		}
	}
}

#team-presents{
	& .team-presents-wrap{
		position: relative;
		background-color: #000;
		padding: 30px;
		margin-top: 90px;
		margin-bottom: 90px;
		border-radius: 6px;
	}
	
}
.shadowed-image{
	position: relative;
	text-align: right;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
		& img{
			border-radius: 6px;
			position: relative;

		}
		& .image-shadow{
			background-color: $yellow;
			position: absolute;
			top: 30px;
			bottom:-30px;
			right: 30px;
			left: -30px;
			border-radius: 6px;
		}
	}
.main-content{
	position: relative;
	z-index: 2;
}
footer{
	position: relative;
	margin-top: -450px;
	padding-top: 500px;
	padding-bottom: 30px;
	& .footer-bg{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		& img{
			width: 100vw;
		}
	}
	& .footer-social ul{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			display: inline-block;
			vertical-align: middle;
			padding-left: 30px;
			padding-right: 30px;
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
			}
			& a:hover{
				opacity: 0.75;
			}
		}
	}
	& .copyright{
		font-size: 12px;
	}
}

#page-title{
	margin-top: -126px;
	padding-top: 126px;
	padding-bottom: 60px;
	& .bg-page-title{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		& img{
			width: 100vw;
			height: auto;
		}
	}
}

#focus{
	padding-bottom: 180px;
}

.bold-list{
	margin: 30px 0;
	padding: 0;
	list-style: none;
	text-align: left;;
	& li{
		position: relative;
		padding-left: 40px;
		font-size: 1.2em;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 20px;
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: .23em;
			width: 0.6em;
			height: 0.6em;
			border-radius: 50%;
			background-color: $yellow;
		}
	}
}

#services{
	padding-top: 140px;
}

#advantage{
	padding: 80px 0;
	& .advantage-wrap{
		height: 100%;
		padding-left: 48px;
		position: relative;
		padding-top: 30px;
		&:before{
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 17px;
			height: 100%;
			background-color: $yellow;
			border-radius: 6px;
		}
		& .advantage-title{
			font-size: 1.33em;
			font-weight: 700;
			letter-spacing: 0;
			line-height: 1.08;
			margin-bottom: 30px;
		}
		& .advantage-list{
			margin: 0;
			padding: 0;
			list-style: none;
			& li{
				margin-bottom: 10px;

			}
		}
	}
}

#learn-more-action{
 	& .learn-more-action-wrap{
 		background-color: #000;
 		border-radius: 6px;
 		padding: 70px 15px;
 		& .yellow-button{
 			width: 250px;
 			padding-left: 15px;
 			padding-right: 15px;
 		}
 	}
}

#companies-grid{
	padding-bottom: 60px;
}

@import "media";