@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	position:relative;
	height: 100%;
	overflow-x: hidden;
}

body {
	color: $black;
	font-size: 16px;
	line-height: 19px;
	font-family: Karla, sans-serif;
	background-color: #F8F7F3;
}



h1,h2,h3,h4,h5,h6{
	font-family: Karla, sans-serif;
}

h1{
  font-size: 3.3em;
  line-height: 0.95;
}

h2{
  font-size: 1.44em;
  line-height: 1.2;
}

h3{
  font-size: 1.22em;
  line-height: 1.1;
}

h4{
  font-size: 21px;
  line-height: 27px;
}

h5{
  font-size: 1em;
  line-height: 1.1;
}

img{
	max-width: 100%;
	height: auto;
}

a{
	color:$red;
	text-decoration: none;
	transition: $transition;
	&:hover{
		color:$red;
	}
}

a:hover, a:active, a:focus {
	outline: none;
}

button, button:hover, button:active, button:focus {
	outline: none;
}

input{
	font-family: Karla, sans-serif;
}

input::-moz-focus-inner { 
  border: 0; 
}

input:focus, textarea:focus{
	outline: none;
}

object, embed { 
  outline: none;
}

::placeholder { 
  color: $grey;
  opacity: 1; 
}

.container{
	max-width: 1320px;
	margin: 0 auto;
	padding-left: 12px;
	padding-right: 12px;
	position: relative;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}

.column{
	width: 100%;
	flex-basis: 100%;
	max-width: 100%;
	padding: 0 12px;
	position: relative;
}

.text-center{
	text-align: center;
}