@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){
	.product-mini-card-column{
		flex-basis: 50%;
		max-width: 50%;
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	.brand{
		flex-basis: 209px;
		max-width: 209px;
	}
	.top-bar{
		padding-top: 30px;
		flex-basis: calc(100% - 209px);
		max-width: calc(100% - 209px);
		justify-content: flex-end;
	}
	.header-menu{
		flex-basis: 70%;
		max-width: 70%;
		display: flex;
		align-items:center;
	}
	.header-search{
		margin-left: auto;
		flex-basis: 30%;
		max-width: 532px;
	}
	.post-wrap.small{
		& .post-data{
			width: calc(100% - 30px);
			& .post-category{
				flex-basis: 50%;
				max-width: 50%;
			}
			& .post-date{
				flex-basis: 50%;
				max-width: 50%;
			}
		}
	}
	.post-wrap.middle{
		& .post-data{
			width: calc(100% - 30px);
			& .post-category{
				flex-basis: 50%;
				max-width: 50%;
			}
			& .post-date{
				flex-basis: 50%;
				max-width: 50%;
			}
		}
	}
	.home-category-list-title{
		flex-basis: auto;
		max-width: auto;
		& h3{
			margin-bottom: 5px;
			margin-top: 5px;
		}
	}
	.product-mini-card-column{
		flex-basis: 33.33%;
		max-width: 33.33%;
	}
	.product-standard-card-column{
		flex-basis: 50%;
		max-width: 50%;
	}
	.newsletters-column{
		flex-basis: 75%;
		max-width: 692px;
	}
	.home-newsletters-wrap{
		& h2{
			text-align: left;
		}
		& input[type="text"]{
			padding-right: 200px;
		}
		& input[type="submit"]{
			position: absolute;
			top: 0;
			right: 0;
			width: auto;
		}
	}
	.footer-brand-column{
		text-align: left;
		flex-basis: 25%;
		max-width: 25%;
		& .footer-social{
			justify-content: flex-start;
		}
	}
	.footer-menu-column{
		flex-basis: 75%;
		max-width: 75%;
	}
	.footer-menu-wrap{
		justify-content: flex-start;
		order:1;
		& ul{
			margin: 0 0 20px;
			padding: 0;
			list-style: none;
			& li{
				margin-bottom: 12px;
				display: inline-block;
				padding-left: 10px;
				padding-right: 10px;
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
				}
				& a{
					text-transform: uppercase;
					&:hover{
						color: $black;
					}
				}
			}
		}
	}
	.footer-newsletters-column{
		& h2{
			text-align: left;
			margin-top: 12px;
		}
	}
	.footer-search{
		order:2;
	}
	.copyrigth-menu{
		& ul{
			& li{
				display: inline-block;
				padding-left: 10px;
				padding-right: 10px;
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
				}
			}
		}
	}
	.copyright-row{
		margin-top: 30px;
	}
	.footer-newsletters-form{
		& input[type="submit"]{
			position: absolute;
			width: auto;
			top: 0;
			right: 0;
		}
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	.header-menu{
		flex-basis: 60%;
		max-width: 60%;
		display: flex;
		align-items:center;
	}
	.header-search{
		margin-left: auto;
		flex-basis: 40%;
		max-width: 532px;
	}
	.big-column{
		flex-basis: 57%;
		max-width: 57%;
	}
	.post-wrap.big{
		& .post-thumbnail{
			height: 345px;
		}
		& .post-title{
			padding-left: 37px;
			padding-right: 37px;
		}
		& .post-excerpt{
			padding-left: 37px;
			padding-right: 37px;
		}
		& .post-data{
			padding-left: 37px;
			padding-right: 37px;
		}
		& .post-author{
			flex-basis: 50%;
			max-width: 50%;
		}
		& .post-category{
			flex-basis: 25%;
			max-width: 25%;
			display: flex;
			align-items:center;
			justify-content: flex-end;
			margin-bottom: 15px;
		}
		& .post-date{
			flex-basis: 25%;
			max-width: 25%;
			display: flex;
			align-items:center;
			justify-content: flex-end;
			margin-bottom: 15px;
		}
	}
	.small-column{
		flex-basis: 43%;
		max-width: 43%;
	}
	.middle-column{
		flex-basis: 50%;
		max-width: 50%;
	}
	.home-featured{
		margin-top: -253px;
		padding-top: 253px;
		& .big-line-hero{
			position: absolute;
			top: -253px;
			left: -300px;
		}
	}
	.post-wrap.main{
		height: 100%;
		padding-bottom: 80px;
		& .post-thumbnail{
			height: 345px;
		}
		& .post-title{
			padding-left: 37px;
			padding-right: 37px;
			& h5{
				min-height: 40px;
			}
		}
		& .post-excerpt{
			padding-left: 37px;
			padding-right: 37px;
		}
		& .post-data{
			padding-left: 37px;
			padding-right: 37px;
			position: absolute;
			width: 100%;
			bottom: 40px;
			line-height: 1;
		}
		& .post-author{
			flex-basis: 60%;
			max-width: 60%;
		}
		& .post-date{
			flex-basis: 40%;
			max-width: 40%;
			display: flex;
			align-items:center;
			justify-content: flex-end;
		}
	}
	.main-column{
		flex-basis: 33.33%;
		max-width: 33.33%;
		margin-bottom: 34px;
		& article{
			height: 100%;
		}
	}
	.post-wrap.middle{
		& .post-thumbnail-column{
			flex-basis: 178px;
			max-width: 178px;
		}
		& .post-data-column{
			flex-basis: calc(100% - 178px);
			max-width: calc(100% - 178px);
		}
	}
	.home-newsletters-wrap{
		padding: 55px 72px 72px;
	}
	.footer-menu-row{
		align-items:center;
	}
	.footer-menu-wrap{
		flex-basis: 66.67%;
		max-width: 66.67%;
	}
	.footer-search{
		flex-basis: 33.33%;
		max-width: 33.33%;
	}
	.footer-newsletters-column{
		flex-basis: 70%;
		max-width: 70%;
	}
	.copyright{
		flex-basis: 40%;
		max-width: 40%;
		order: 1;
		text-align: left;
	}
	.copyrigth-menu{
		flex-basis: 60%;
		max-width: 60%;
		order: 2;
		justify-content: flex-end;
		& ul{
			& li{
				display: inline-block;
				padding-left: 10px;
				padding-right: 10px;
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
				}
			}
		}
	}

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	body{
		font-size: 18px;
	}
	.header-menu{
		flex-basis: 50%;
		max-width: 50%;
		display: flex;
		align-items:center;
	}
	.header-search{
		margin-left: auto;
		flex-basis: 50%;
		max-width: 532px;
	}
	.post-wrap.small{
		& .post-data{
			padding-right:30px;
			width: calc(100% - 24px);
			bottom: 30px;
			& .post-author{
				flex-basis: 40%;
				max-width: 40%;
			}
			& .post-category{
				flex-basis: 35%;
				max-width: 35%;
				text-align: right;
			}
			& .post-date{
				flex-basis: 25%;
				max-width: 25%;
				text-align: right;
			}
		}
	}
	.product-mini-card-column{
		flex-basis: 16.66%;
		max-width: 16.66%;
	}
	.product-standard-card-column{
		flex-basis: 25%;
		max-width: 25%;
	}
	.post-wrap.middle{
		& .post-data{
			padding-right:30px;
			width: calc(100% - 24px);
			bottom: 30px;
			& .post-author{
				flex-basis: 40%;
				max-width: 40%;
			}
			& .post-category{
				flex-basis: 35%;
				max-width: 35%;
				text-align: right;
			}
			& .post-date{
				flex-basis: 25%;
				max-width: 25%;
				text-align: right;
			}
		}
	}
	.footer-search-wrap{
		margin-bottom: 0;
	}
	.footer-menu-wrap{
		& ul{
			margin: 0;
			& li{
				margin-bottom: 0;
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}