@import "fonts";
@import "libs";
@import "base";
@import "vars";

.toggle-btn {
  display: block;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 9999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
   }

.hamburger .icon-bar {
  background-color: $red;
  display: block;
  height: 3px;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 20px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 6px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }  

.container{
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.brand{
	text-align: center;
	margin-bottom: 30px;
}

.left-menu{
	background-color: $lightred;
	background-image: url('../img/bg-menu.png');
	padding: 25px 15px;
	width: 250px;
	height: 100vh;
	overflow-y: auto;
	position: absolute;
	left: -250px;
	top: 0;
	z-index: 999;
	transition: background-position 0.3s linear, left 0.3s ease-in-out;
	& ul{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			font-size: 1em;
			line-height: 1;
			font-weight: 700;
			text-align: center;
			padding: 10px 15px;
			background-color: $red;
			border-radius: 3px;
			margin-bottom: 7px;
			box-shadow: $shadow;
			transition: all 0.3s ease-in-out;
			&:hover{
				background-color: darken($red, 10%);
			}
			& a{
				color: #fff;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
}

.menu-open .left-menu{
	left: 0;
}

.hero-slider{
	margin-bottom: 45px!important;
	& .item{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 25px 60px;
		height: 250px;
		max-height: 60vh;
		display: flex;
		justify-content: center;
		align-items: center;
		& h1{
			color: #fff;
			text-transform: uppercase;
			text-align: center;
			text-shadow: $text-shadow;
		}
	}
	& .slick-next{
		right: 15px;
		&:before{
			color: $red;
		}
	}
	& .slick-prev{
		left: 15px;
		z-index: 99;
		&:before{
			color:$red;
		}
	}

	& .slick-dots{
		bottom: -35px;
	}
	& .slick-dots li button::before {
		color: $red;
		font-size: 10px;
	}
}

.content{
	margin-left: 0;
	max-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	transition: margin-left 0.3s ease-in-out;
}

.services{
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	& .item{
		width: 100%;
		max-width: calc(100% - 30px);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 200px;
		border-radius: 3px;
		box-shadow: $shadow;
		margin-bottom: 30px;
		margin-left: 15px;
		margin-right: 15px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		transition: all 0.3s ease-in-out;
		opacity: 1;
		&:hover{
			opacity: .75;
		}
		& a{
			color: #fff;
			font-size: 1.5em;
			line-height: .95;
			padding: 45px;
			text-shadow: $text-shadow;
		}
	}
}

.our-partners{
	margin-bottom: 45px;
 	& .item{
		display: flex;
		justify-content: center;
		margin-left: 30px;
		margin-right: 30px;
		& img{
			max-width: 100%;
			height: auto;
			max-height: 150px;
		}
	}
	& .slick-next{
		right: -15px;
		&:before{
			color: $red;
		}
	}
	& .slick-prev{
		left: -15px;
		&:before{
			color:$red;
		}
	}
}


.terms{
	background-color: $red;
	padding: 45px 15px;
	& .item{
		text-align: center;
		color: #fff;
		& a{
			color: #fff;
		}
	}
}

.terms-title{
	color: #fff;
	margin-bottom: 45px;
}

.mfp-content{
	max-width: 640px;
	background-color: #fff;
	padding-left: 15px;
	padding-right: 15px;
}

.terms-wrap{
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	& .item{
		width: 100%;
		max-width: calc(100% - 30px);
		display: flex;
		justify-content: center;
		align-items: top;
		text-align: center;
		margin-bottom: 30px;
		margin-left: 15px;
		margin-right: 15px;
		& .icon{
			margin-bottom: 15px;
		}
	}
}

.law{
	padding: 45px 0;
}

.law-document{
	padding-top: 45px;
	& .item{
		margin-bottom: 45px;
		& h4{
			margin-top: 0;
			margin-bottom: 0;
		}
		& p{
			margin-top: 5px;
		}
		& .document-description{
			padding-left: 95px;
			position: relative;
			& a:before{
				content: url('../img/document.svg');
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}

.how-it-work{
	background-color: $red;
	padding: 45px 15px;
	color: #fff;
}

.title-how-it-work{
	margin-bottom: 45px;
}

.steps-wrap{
	display: flex;
	flex-wrap: wrap;
	& .item{
		width: 100%;
		margin-bottom: 30px;
		margin-left: 15px;
		margin-right: 15px;
	}
}

.step-icon{
	text-align: center;
	margin-bottom: 15px;
}

.step-title{
	text-align: center;
}

.white-button{
	display: inline-block;
	padding: 10px 25px;
	border-radius: 3px;
	background-color: #fff;
	color: $red;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	&:hover{
		opacity: .8;
	}
}

.red-button{
	display: inline-block;
	padding: 10px 25px;
	border-radius: 3px;
	background-color: $red;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	&:hover{
		opacity: .8;
	}
}

#features{
	padding: 0;
	margin: 0 0 45px;
	list-style: none;
	& li{
		padding-left: 25px;
		position: relative;
		margin-bottom: 15px;
		&:before{
			content: '';
			width: 10px;
			height: 10px;
			border-radius: 3px;
			background-color: $red;
			display: block;
			position: absolute;
			left: 0;
			top: 3px;
		}

	}

}

footer{
	padding: 30px 0 30px;
	font-size: .75em;
}

#arrow-up{
	display: none;
	position: fixed;
	width: 36px;
	height: 36px;
	background-color: rgba(0,0,0,0.2);
	bottom: 15px;
	left: 15px;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	&:hover{
		background-color: rgba(0,0,0,0.4);
	}
}

.page-title{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	& h1{
		color: #fff;
		text-shadow: $text-shadow;
	}
}

.chmark{
	padding: 0;
	margin: 0 0 45px;
	list-style: none;
	& li{
		padding-left: 25px;
		position: relative;
		margin-bottom: 15px;
		&:before{
			content: '';
			width: 10px;
			height: 10px;
			border-radius: 3px;
			background-color: $red;
			display: block;
			position: absolute;
			left: 0;
			top: 3px;
		}

	}
}

.dropdown {
	width: 100%;
	text-align: left;
  color: $black;
  margin-bottom: 15px;
  border-radius: 0;
  border: 1px solid $red;
  height: 40px;
  font-size: 12px;
  position: relative;
  background-color: $lightred;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 95% 3px; }
.dropdown .select {
    padding: 9px 12px; }

.dropdown .dropdown-menu {
	display: none;
	position: relative;
	z-index: 99;	
  width: calc(100% + 2px);
  padding: 0;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid $red;
  border-top: none;
  background-color: #fff;
  margin-top: 1px;
  margin-left: -1px;
  margin-right: -1px; }

.dropdown .dropdown-menu li {
  padding: 10px 12px;
  font-size: 12px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer; }

.dropdown .dropdown-menu li:hover {
  background-color: #FAFBF9; }

input:not([type="submit"]){
  color: $black;
  margin-bottom: 15px;
  border-radius: 0;
  border: 1px solid $red;
  height: 40px;
  font-size: 12px;
  background-color: $lightred;
  padding: 12px;
  width: 100%;
  margin-bottom: 15px;
}

input[type="submit"]{
	border: none;
}

.form-wrap{
	display: flex;
	flex-wrap: wrap;
}

input[name="owner-other"]{
	display: none;
}

input[name="control-system-other"]{
	display: none;
}

input[name="sklad-quantity"]{
	display: none;
}

input[name="sklad-address"]{
	display: none;
}

@import "media";