@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){
	#header{
		margin-bottom: -264px;
	}
	#home-hero{
		padding-top: 264px;
	}
	#page-hero{
		padding-top: 264px;
	}
	#subscribe{
		form{
			position: relative;
			& input[type='email']{
				padding-right: 230px;
			}
			& input[type="submit"]{
				position: absolute;
				top: 0;
				right: 0;
				margin-top: 0;
				margin-right: 0;
			}
		}
	}
	.footer-menu-column ul{
		& li{
			padding-left: 10px;	
			padding-right: 10px;	
			display: inline-block;	
		}
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	.why-wrapper{
		padding: 45px;
	}
	.why-quote{
		padding-left: 45px;
		padding-right: 45px;
		font-size: 1.25em;
	}

	.why-quote-author{
		padding-left: 45px;
		padding-right: 45px;
		font-size: 1.875em;
	}
	.deputy-quote-wrapper{
		padding: 45px;
	}
	.deputy-quote{
		padding-left: 45px;
		padding-right: 45px;
		font-size: 1.25em;
	}

	.deputy-quote-author{
		padding-left: 45px;
		padding-right: 45px;
		font-size: 1.875em;
	}
	#issues-list{
		& .issues-item{
			flex-basis: 50%;
			max-width: 50%;
		}
		& .issues-item:nth-child(3){
			flex-basis: 100%;
			max-width: 100%;
		}
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	#header{
		margin-bottom: -205px;
	}
	.logo-column{
		flex-basis: 230px;
		max-width: 230px;
	}
	.header-social-column{
		flex-basis: 130px;
		max-width: 130px;
	}
	.main-menu-column{
		flex-basis: calc(100% - 230px - 130px);
		max-width: calc(100% - 230px - 130px);
	}
	.header-row{
		align-items: center;
	}
	#home-hero{
		background-position: center;
		padding-top: 220px;
		padding-bottom: 50px;
	}
	#why{
		background-position: center;
	}
	.home-issues-row{
		display: flex;
		& .home-issue{
			flex-basis: 33.33%;
			max-width: 33.33%;
			& h4{
				min-height: 45px;
				margin-bottom: 15px;
			}
		}
	}
	.footer-menu-row{
		align-items: center;
	}
	.footer-logo-column{
		text-align: left;
		flex-basis: 230px;
		max-width: 230px;
	}
	.footer-social-column{
		text-align: right;
		flex-basis: 190px;
		max-width: 190px;
	}
	.footer-menu-column{
		flex-basis: calc(100% - 230px - 190px);
		max-width: calc(100% - 230px - 190px);
	}
	.footer-slogan-column{
		flex-basis: 50%;
		max-width: 50%;
	}
	.footer-contact-column{
		flex-basis: 50%;
		max-width: 50%;
	}
	.page-hero-title-column{
		flex-basis: 50%;
		max-width: 50%;
		text-align: left;
	}
	.page-hero-description-column{
		padding-top: 45px;
		flex-basis: 50%;
		max-width: 50%;
		& h2{
			text-align: left;
		}
	}
	#page-hero{
		background-position: center;
		padding-top: 220px;
		padding-bottom: 50px;
	}
	.deputy-column{
		flex-basis: 40%;
		max-width: 40%;
	}
	.deputy-quote-column{
		flex-basis: 60%;
		max-width: 60%;
	}
	#issues-list{
		& .issues-item{
			padding: 120px 70px 135px;
			& .issues-read-more{
				left: 70px;
			}
		}
		
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	#home-hero{
		padding-top: 230px;
		padding-bottom: 150px;
		& .column{
			flex-basis: 902px;
			max-width: 902px;
			margin-left: auto;
			margin-right: auto;
		}
		& .home-hero-subtitle{
			padding-left: 72px;
			padding-right: 72px;
		}
	}
	#subscribe{
		padding: 25px 0;
	}
	.subscribe-row{
		align-items: center;
	}
	.subscribe-title-column{
		flex-basis: 360px;
		max-width: 360px;
	}
	.subscribe-form-column{
		flex-basis: calc(100% - 360px);
		max-width: calc(100% - 360px);
	}
	#why{
		padding-top: 295px;
	}
	.why-wrapper{
		max-width: 849px;
		margin-left: auto;
		margin-right: 110px;
	}
	.why-quote{
		padding-left: 35px;
		padding-right: 35px;
		margin-bottom: 55px;
		&:before{
			width: 96px;
			height: 73px;
			left: -95px;
			top: -48px;
		}
		&:after{
			width: 96px;
			height: 73px;
			right: -95px;
			bottom: -60px;
		}
	}
	.why-title{
		margin-bottom: 55px;
	}
	#home-about{
		padding-top: 260px;
		padding-bottom: 185px;
	}
	#home-about .column{
		flex-basis: 1070px;
		max-width: 1070px;
		margin-left: auto;
		margin-right: auto;
	}
	.footer-menu-column ul{
		& li{
			padding-left: 25px;
			padding-right: 25px;
		}
	}
	#page-hero{
		padding-top: 230px;
		padding-bottom: 150px;
	}
	.deputy-quote-wrapper{
		padding-top: 96px;
	}
	.deputy-quote{
		padding-left: 35px;
		padding-right: 35px;
		margin-bottom: 55px;
		&:before{
			width: 96px;
			height: 73px;
			left: -75px;
			top: -48px;
		}
		&:after{
			width: 96px;
			height: 73px;
			right: -75px;
			bottom: -60px;
		}
	}
	.deputy-column{
		flex-basis: 35%;
		max-width: 35%;
	}
	.deputy-quote-column{
		flex-basis: 65%;
		max-width: 65%;
		padding-left: 45px;
		padding-right: 45px;
	}
	#commissioner{
		flex-direction: row;
		& .image-column{
			flex-basis: 50%;
			max-width: 50%;
			min-height: unset;
			background-position: top center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		& .data-column{
			flex-basis: 50%;
			max-width: 50%;
			padding: 30px 15px;
			& p{
				font-weight: 500;
				font-size: 1.125em;
			}
		}
	}
	#family{
		flex-direction: row;
		& .image-column{
			order:1;
			flex-basis: 50%;
			max-width: 50%;
			min-height: unset;
			background-position: top center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		& .data-column{
			order: 2;
			flex-basis: 50%;
			max-width: 50%;
			padding: 30px 15px;
			& p{
				font-weight: 500;
				font-size: 1.125em;
			}
		}
	}
	#solution{
		flex-direction: row;
		& .image-column{
			flex-basis: 50%;
			max-width: 50%;
			min-height: unset;
			background-position: top center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		& .data-column{
			flex-basis: 50%;
			max-width: 50%;
			padding: 30px 15px;
			& p{
				font-weight: 500;
				font-size: 1.125em;
			}
		}
	}
	#serve{
		flex-direction: row;
		& .image-column{
			order:1;
			flex-basis: 50%;
			max-width: 50%;
			min-height: unset;
			background-position: top center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		& .data-column{
			order: 2;
			flex-basis: 50%;
			max-width: 50%;
			padding: 30px 15px;
			& p{
				font-weight: 500;
				font-size: 1.125em;
			}
		}
	}
	#worker{
		flex-direction: row;
		& .image-column{
			flex-basis: 50%;
			max-width: 50%;
			min-height: unset;
			background-position: top center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		& .data-column{
			flex-basis: 50%;
			max-width: 50%;
			padding: 30px 15px;
			& p{
				font-weight: 500;
				font-size: 1.125em;
			}
		}
	}
	#leadership{
		flex-direction: row;
		& .image-column{
			flex-basis: 50%;
			max-width: 50%;
			min-height: unset;
			background-position: top center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		& .data-column{
			flex-basis: 50%;
			max-width: 50%;
			padding: 30px 15px;
			& p{
				font-weight: 500;
				font-size: 1.125em;
			}
		}
	}
	#accomplishment{
		padding-top: 220px;
		padding-bottom: 180px;
	}
	#accomplishment .column{
		flex-basis: 876px;
		max-width: 876px;
	}
	#endorsements{
		padding-bottom: 70px;
	}
	.endorsements-title-column{
		flex-basis: 50%;
		max-width: 50%;
	}
	.endorsements-description-column{
		padding-top: 20px;
		flex-basis: 50%;
		max-width: 50%;
	}
	.gallery{
		& h4{
			padding-left: 70px;
			padding-right: 70px;
		}
		& .gallery-left-image{
			flex-basis: 50%;
			max-width: 50%;
			text-align: right;
			padding-right: 14px;
		}
		& .gallery-right-image{
			flex-basis: 50%;
			max-width: 50%;
			text-align: left;
			padding-left: 14px;
		}
	}
}


@media only screen and (min-width : 1530px){
	#commissioner{
		& .data-column{
			padding-left: calc((100% - 1500px)/ 2);
			padding-right: 90px;
			padding-top: 120px;
			padding-bottom: 90px;
		}
	}
	#family{
		& .data-column{
			padding-right: calc((100% - 1500px)/ 2);
			padding-left: 90px;
			padding-top: 120px;
			padding-bottom: 90px;
		}
	}
	#solution{
		& .data-column{
			padding-left: calc((100% - 1500px)/ 2);
			padding-right: 90px;
			padding-top: 120px;
			padding-bottom: 90px;
		}
	}
	#serve{
		& .data-column{
			padding-right: calc((100% - 1500px)/ 2);
			padding-left: 90px;
			padding-top: 120px;
			padding-bottom: 90px;
		}
	}
	#worker{
		& .data-column{
			padding-left: calc((100% - 1500px)/ 2);
			padding-right: 90px;
			padding-top: 120px;
			padding-bottom: 90px;
		}
	}
	#issues-list{
		& .issues-item:nth-child(1){
			flex-basis: 35%;
			max-width: 35%;
		}
		& .issues-item:nth-child(2){
			flex-basis: 65%;
			max-width: 65%;
		}
		& .issues-item:nth-child(3){
			flex-basis: 33.33%;
			max-width: 33.33%;
		}
		& .issues-item:nth-child(4){
			flex-basis: 33.33%;
			max-width: 33.33%;
		}
		& .issues-item:nth-child(5){
			flex-basis: 33.33%;
			max-width: 33.33%;
		}
	}
	#leadership{
		& .data-column{
			padding-left: calc((100% - 1500px)/ 2);
			padding-right: 90px;
			padding-top: 120px;
			padding-bottom: 90px;
		}
	}
	#seals{
		& .seals-row{
			justify-content: space-between;
		}
	}

}

@media only screen and (min-width : 1600px){
	h1, .h1{
	  font-size: 4.125em;
	}
	h2{
	  font-size: 3em;
	}
	h3{
		font-size: 2.25em;
	}
	h4{
		font-size: 1.875em;
	}
	#header{
		margin-bottom: -142px;
	}
	.logo-column{
		flex-basis: 230px;
		max-width: 230px;
	}
	.header-social-column{
		flex-basis: 180px;
		max-width: 180px;
		& #header-social-links{
			& li{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
	.header-cta-buttons{
		flex-basis: 463px;
		max-width: 463px;
	}
	.main-menu-column{
		flex-basis: calc(100% - 230px - 180px - 463px);
		max-width: calc(100% - 230px - 180px - 463px);
	}
	.home-issues-row{
		display: flex;
		& .home-issue{
			padding: 95px 65px;
			& .home-issue-more-link{
				width: calc(100% - 130px);
				bottom: 75px;
			}
		}
	}
	#page-hero{
		padding-top: 308px;
		padding-bottom: 60px;
	}
	.page-hero-description-column{
		padding-top: 60px;
	}
	.deputy-quote{
		padding-left: 25px;
		padding-right: 25px;
		margin-bottom: 55px;
		&:before{
			width: 96px;
			height: 73px;
			left: -95px;
			top: -48px;
		}
		&:after{
			width: 96px;
			height: 73px;
			right: -95px;
			bottom: -60px;
		}
	}
	.deputy-column{
		flex-basis: 40%;
		max-width: 40%;
		padding-right: 45px;
		& h4{
			padding-right: 15px;
		}
	}
	.deputy-quote-column{
		flex-basis: 60%;
		max-width: 60%;
		padding-left: 45px;
	}
	#issues-list{
		& .issues-item{
			& h4{
				min-height: 55px;
			}
		}
	}
}

@media only screen and (min-width : 1800px){
	.deputy-quote-column{
		padding-right: 0;
	}
}