@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";


#header{
	padding: 15px 0;
	position: relative;
	margin-bottom: -328px;
	z-index: 5;
}

#home-hero{
	position: relative;
	background-position: -150px center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 328px;
	padding-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items:center;
}

#header-social-links{
	margin: 0;
	padding: 15px 0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	& li{
		padding-left: 5px;
		padding-right: 5px;
	}
}

.home-hero-subtitle{
	color: $blue;
	font-weight: 700;
	font-size: 2.06em;
	text-transform: uppercase;
	padding: 6px 30px;
	background-color: #fff;
	display: inline-block;
}

.home-hero-description{
	font-size: 1.25em;
	font-weight: 500;
	margin-bottom: 30px;
}

#subscribe{
	background-color: $red;
	padding-bottom: 25px;
	& input[type='submit']{
		cursor: pointer;
		margin-left: 0;
		margin-right: 0;
		&:hover{
			background-color:$blue;
			color: $red;
		}
	}
}

#why{
	background-position: 55% center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 280px;
	padding-bottom: 50px;
}

.why-wrapper{
	padding: 15px;
	background-color: $blue;
}

.why-title{
	margin-bottom: 10px;
}

.why-quote{
	padding-left: 35px;
	padding-right: 35px;
	margin-bottom: 55px;
	font-size: 1.125em;
	font-weight: 500;
	position: relative;
	&:before{
		content: '';
		width: 48px;
		height: 36.5px;
		position: absolute;
		left: -10px;
		top: -25px;
		background-image: url('../img/quote.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&:after{
		content: '';
		width: 48px;
		height: 36.5px;
		position: absolute;
		right: -10px;
		bottom: -15px;
		transform: rotate(180deg);
		background-image: url('../img/quote.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.why-quote-author{
	padding-left: 35px;
	padding-right: 35px;
	margin-bottom: 35px;
	font-size: 1.35em;
	font-weight: 500;
	& span{
		font-weight: 700;
	}
}

#home-about{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 90px;
	padding-bottom: 60px;
}

.home-about-title{
	margin-bottom: 45px;
}

.home-about-description{
	font-size: 1.125em;
	font-weight: 500;
	margin-bottom: 45px;
}

.home-issue{
	padding: 45px 15px 65px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	color: #fff;
	text-align: center;
	& .home-issue-label{
		color: $blue;
		font-weight: 700;
		background-color: #fff;
		padding: 2.5px 45px;
		display: inline-block;
		margin-bottom: 15px;
	}
	& .home-issue-description{
		font-size: 1.125em;
		margin-bottom: 20px;
	}
	& .home-issue-more-link{
		position: absolute;
		bottom: 45px;
		width: calc(100% - 30px);
		& a{
			color: $red;
			font-weight: 700;
			text-transform: uppercase;
			&:hover{
				color: #fff;
			}
		}
	}
}

#contribute{
	background-color: $blue;
	padding-bottom: 65px;
	padding-top: 30px;
}

#dark-footer{
	background-color: #141414;
	padding: 60px 0;
}

.footer-menu-row{
	text-align: center;
	margin-bottom: 30px;
}

.footer-logo-column{
	margin-bottom: 15px;
}

.footer-menu-column ul{
	margin: 0 0 15px;
	padding: 0;
	list-style: none;
	& li{
		padding-top: 5px;
		padding-bottom: 5px;
		& a{
			color: $red;
			text-transform: uppercase;
			font-weight: 500;
			&:hover{
				color: #fff;
			}
		}
	}
}

.footer-social-column ul{
	margin: 0;
	padding: 0;
	list-style: none;
	& li{
		padding: 5px 15px;
		display: inline-block;
	}
}

.footer-contact-column{
	font-weight: 500;
	& a{
		color: $red;
		&:hover{
			color: #fff;
		}
	}
}

.footer-copyright-row{
	margin-top: 50px;
	text-align: center;
	color: #fff;
	opacity: 0.43;
	font-size: 0.75em;
}

#page-hero{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 328px;
	padding-bottom: 50px;
	min-height: 605px;
	& h1{
		text-transform: uppercase;
	}
}

.page-hero-title-column{
	text-align: center;
}

.page-hero-description-column{
	& h2{
		text-align: center;
	}
	& a{
		color: $red;
		font-weight: 700;
		&:hover{
			color: #fff;
		}
	}
	& p{
		font-size: 1.25em;
		font-weight: 500;
	}
}

.read-more{
	position: relative;
	&:after{
		content:url('../img/read-more-arrow.svg');
		position: absolute;
		width: 24px;
		height: 24px;
		top: 50%;
		transform: translateY(-50%);
		right: -30px;
		display: block;
	}
}

#deputy{
	background-color: $red;
	color: #fff;
	padding-bottom: 60px;
	padding-top: 30px;
}

.deputy-column{
	margin-bottom: 30px;
	font-size: 1.25em;
	font-weight: 500;
	& h4{
		line-height: 1.13;
	}
	p{
		margin-bottom: 30px;
	}
}

.deputy-quote-wrapper{
	background-color: $blue;
	padding: 45px 15px 15px;
	text-align: center;
}

.deputy-quote{
	padding-left: 35px;
	padding-right: 35px;
	margin-bottom: 55px;
	font-size: 1.125em;
	font-weight: 500;
	position: relative;
	&:before{
		content: '';
		width: 48px;
		height: 36.5px;
		position: absolute;
		left: -10px;
		top: -25px;
		background-image: url('../img/quote-white.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&:after{
		content: '';
		width: 48px;
		height: 36.5px;
		position: absolute;
		right: -10px;
		bottom: -15px;
		transform: rotate(180deg);
		background-image: url('../img/quote-white.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.deputy-quote-author{
	padding-left: 35px;
	padding-right: 35px;
	margin-bottom: 35px;
	font-size: 1.35em;
	font-weight: 500;
	& span{
		font-weight: 700;
	}
}

#commissioner{
	background-color: $black;
	color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	& .image-column{
		flex-basis: 100%;
		max-width: 100%;
		min-height: 50vw;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	& .data-column{
		padding: 30px 15px;
		& p{
			font-weight: 500;
			font-size: 1.125em;
		}
	}
}

#family{
	background-color: $blue;
	color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	& .image-column{
		flex-basis: 100%;
		max-width: 100%;
		min-height: 50vw;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	& .data-column{
		padding: 30px 15px;
		& p{
			font-weight: 500;
			font-size: 1.125em;
		}
	}
}

#solution{
	background-color: $black;
	color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	& .image-column{
		flex-basis: 100%;
		max-width: 100%;
		min-height: 50vw;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	& .data-column{
		padding: 30px 15px;
		& p{
			font-weight: 500;
			font-size: 1.125em;
		}
	}
}

#serve{
	background-color: $blue;
	color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	& .image-column{
		flex-basis: 100%;
		max-width: 100%;
		min-height: 50vw;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	& .data-column{
		padding: 30px 15px;
		& p{
			font-weight: 500;
			font-size: 1.125em;
		}
	}
}

#worker{
	background-color: $black;
	color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	& .image-column{
		flex-basis: 100%;
		max-width: 100%;
		min-height: 50vw;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	& .data-column{
		padding: 30px 15px;
		& p{
			font-weight: 500;
			font-size: 1.125em;
		}
	}
}

#accomplishment{
	color: #fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 60px 0 45px;
	& p{
		font-weight: 500;
		font-size: 1.125em;
	}
}

#issues-list{
	display: flex;
	flex-wrap: wrap;
	& .issues-item{
		color:#fff;
		padding: 80px 20px 90px;
		flex-basis: 100%;
		max-width: 100%;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		& h4{
			min-height: 45px;
			text-transform: uppercase;
		}
		& .issues-description{
			font-size: 1.125em;
			font-weight: 500;
			margin-bottom: 40px;
		}
		& .issues-read-more{
			position: absolute;
			bottom: 90px;
			left: 20px;
			& a{
				color: $red;
				font-weight: 700;
				&:hover{
					color: #fff;
				}
			}
		}
	}
}

#endorsements{
	padding: 330px 0 60px;
	color: #fff;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	& h2{
		text-transform: uppercase;
		word-wrap: break-word;
	}
	p{
		font-size: 1.125em;
		font-weight: 500;
	}
}

#leadership{
	background-color: $black;
	color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	& .image-column{
		flex-basis: 100%;
		max-width: 100%;
		min-height: 50vw;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	& .data-column{
		padding: 30px 15px;
		& p{
			font-weight: 500;
			font-size: 1.125em;
		}
	}
}

#seals{
	padding: 30px 0;
	& .seals-row{
		align-items:center;
		justify-content: center;
		& .seal{
			padding: 20px 15px;
		}
	}
}

.gallery{
	padding: 30px 0;
	color: #fff;
	& h4{
		font-weight: 700;
		line-height: 1.13;
	}
	& .gallery-left-image{
		text-align: center;
		margin-bottom: 15px;
	}
	& .gallery-right-image{
		text-align: center;
		margin-bottom: 15px;
	}
}


.gallery-red{
	background-color: $red;
}

.gallery-blue{
	background-color: $blue;
}

.gallery-black{
	background-color: $black;
}

#news-list{
	background-color: $black;
	padding: 30px 0 100px;
}

.news-item{
	background-color: $blue;
	padding: 70px 30px 130px;
	position: relative;
	color: #fff;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
	& a{
		color: #fff;
		&:hover{
			color: $red;
		}
	}
	& .news-data{
		font-weight: 500;
	}
	& .news-date{
		margin-bottom: 15px;
	}
	& .news-read-more{
		position: absolute;
		left: 15px;
		bottom: 80px;
		& a{
			color: $red;
			font-weight: 700;
			text-transform: uppercase;
			&:hover{
				color: #fff;
			}
		}
	}
	& .news-type{
		display: inline-block;
		color: $blue;
		text-transform: uppercase;
		font-weight: 700;
		background-color: #fff;
		padding: 2px 15px;
		min-width: 187px;
		text-align: center;
	}
}


.pagination{
	display: flex;
	justify-content: center;
	position: relative;
}

.page-numbers{
	color: #fff;
	display: flex;
	width: 48px;
	height: 48px;
	justify-content: center;
	align-items:center;
	border:1px solid transparent;
	margin-left: 5px;
	margin-right: 5px;
	&.current{
		border-color: #fff;
	}
	&:hover:not(.dots){
		border-color:#fff;
		color: #fff;
	}
	&.prev{
		margin-left: 0;
		position: absolute;
		top: 65px;
		left: 0;
		text-transform: uppercase;
		background-color: $red;
		padding: 10px 15px;
		min-width: 150px;
		font-weight: 700;
		display: inline-block;
		text-align: center;
		border: 1px solid $red;
		&:hover{
			background-color: transparent;
			color: #fff;
		}
	}
	&.next{
		margin-right: 0;
		position: absolute;
		top: 65px;
		right: 0;
		text-transform: uppercase;
		background-color: $red;
		padding: 10px 15px;
		min-width: 150px;
		font-weight: 700;
		display: inline-block;
		text-align: center;
		border: 1px solid $red;
		&:hover{
			background-color: transparent;
			color: #fff;
		}
	}
}

@import "media";