@import "../libs/normalize-css/normalize.css";
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "DroidSans";
  src: url("../fonts/DroidSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  position: relative;
}

body {
  color: #093A57;
  font-size: 16px;
  line-height: 1.4;
  font-family: PTSans, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: DroidSans, sans-serif;
}

h1 {
  font-size: 2.1em;
  line-height: 0.95;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 1.3em;
  line-height: 1.2;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #CE2D15;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #093A57;
}

a:hover, a:active, a:focus {
  outline: none;
}

button, button:hover, button:active, button:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

input:focus, textarea:focus {
  outline: none;
}

object, embed {
  outline: none;
}

::-webkit-input-placeholder {
  color: #A4B49F;
  opacity: 1;
}

::-moz-placeholder {
  color: #A4B49F;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #A4B49F;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #A4B49F;
  opacity: 1;
}

::placeholder {
  color: #A4B49F;
  opacity: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.column {
  padding: 0 15px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  border-radius: 23px;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  padding: 15px 25px;
  height: 46px;
  min-width: 190px;
  max-width: 100%;
}
.btn:hover {
  text-decoration: none;
}
.btn.wide-button {
  min-width: 270px;
  max-width: 100%;
}

.red-button {
  color: #fff;
  background-color: #CE2D15;
}
.red-button:hover {
  color: #093A57;
  background-color: #fff;
}

.red-button.alt:hover {
  color: #fff;
  background-color: #093A57;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #093A57;
}

.text-red {
  color: #CE2D15;
}

.text-grey {
  color: #A4B49F;
}

.text-uppercase {
  text-transform: uppercase;
}

.mt-15 {
  margin-top: 15px;
}

.bg-grey {
  background-color: #F9F8F8;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
  height: 82px;
}

body {
  padding-top: 82px;
}

#header.sticky {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header .contact-button-column {
  display: none;
}

header .logo-column img {
  padding: 15px 0;
}

#inv-nav-main-btn {
  background-color: #CE2D15;
  padding: 10px 10px 3px;
  top: 14px;
  right: 9px;
  z-index: 99;
}

#inv-nav-main-btn.is-active {
  background: #CE2D15;
  right: 9px;
}

ul#inv-menu {
  background: #CE2D15;
  padding-bottom: 45px;
  z-index: 99;
  top: 82px;
}

ul#inv-menu li ul .submenu-title a {
  font-weight: 700;
  padding-left: 20px;
}

ul#inv-menu > li > a {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
}

ul#inv-menu li ul li a {
  background-color: transparent;
  padding-left: 25px;
}

ul#inv-menu li ul li.have-children {
  position: relative;
}
ul#inv-menu li ul li.have-children svg {
  position: absolute;
  top: 13px;
  right: 10px;
}
ul#inv-menu li ul li.have-children ul {
  padding-left: 10px;
}
ul#inv-menu li ul li.have-children ul a {
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  ul#inv-menu li.mobile {
    display: none;
  }
  #header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
  }
  body {
    padding-top: 110px;
  }
  #header.sticky {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  ul#inv-menu {
    background: transparent;
    padding-bottom: 0;
  }
  ul#inv-menu li a {
    margin: 0;
    padding: 0 20px;
    line-height: 110px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: PTSans, sans-serif;
    color: #000;
    background-color: transparent;
    border: 0;
  }
  #header.sticky ul#inv-menu > li > a {
    line-height: 80px;
  }
  ul#inv-menu li:hover a, ul#inv-menu li.menu-show a {
    color: #CE2D15;
    background-color: transparent;
  }
  ul#inv-menu li:hover, ul#inv-menu li.menu-show {
    color: #CE2D15;
    background-color: transparent;
  }
  ul#inv-menu li a:hover, ul#inv-menu li a:focus, ul#inv-menu li a:active {
    background: transparent;
    color: #CE2D15;
    text-decoration: none;
  }
  ul#inv-menu > li:hover > ul, ul#inv-menu > li.menu-show > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff;
    position: absolute;
    top: 110px;
    left: -245px;
    right: -15px;
    padding: 45px 15px 0;
    margin: 0;
    text-align: left;
    box-shadow: inset 0 0 11px 0 rgba(0, 0, 0, 0.18);
    border-bottom: 1px solid #ccc;
  }
  ul#inv-menu > li:hover > ul > li, ul#inv-menu > li.menu-show > ul > li {
    -webkit-flex-basis: 238px;
    -ms-flex-preferred-size: 238px;
    flex-basis: 238px;
    max-width: 238px;
  }
  #header.sticky ul#inv-menu > li:hover > ul, #header.sticky ul#inv-menu > li.menu-show > ul {
    top: 81px;
    padding-top: 20px;
  }
  ul#inv-menu > li.short {
    position: relative;
  }
  ul#inv-menu > li.short ul {
    left: -30px;
    right: -30px;
  }
  ul#inv-menu > li:hover > ul > li > ul, ul#inv-menu > li.menu-show > ul > li > ul {
    display: block;
    padding: 0;
  }
  ul#inv-menu > li:hover > ul > li > ul li, ul#inv-menu > li.menu-show > ul > li > ul li {
    margin-bottom: 0;
    padding: 0;
  }
  ul#inv-menu {
    display: inline-block;
    float: none;
    text-align: center;
    position: relative;
    width: 100%;
  }
  header .logo-column {
    -webkit-flex-basis: 230px;
    -ms-flex-preferred-size: 230px;
    flex-basis: 230px;
    max-width: 230px;
  }
  header .menu-column {
    -webkit-flex-basis: calc(100% - 230px);
    -ms-flex-preferred-size: calc(100% - 230px);
    flex-basis: calc(100% - 230px);
    max-width: calc(100% - 230px);
  }
  ul#inv-menu li:hover .submenu-title, ul#inv-menu li.menu-show .submenu-title {
    min-height: 60px;
  }
  ul#inv-menu li:hover .submenu-title a, ul#inv-menu li.menu-show .submenu-title a {
    color: #CE2D15;
    font-weight: 700;
    font-size: 18px;
  }
  ul#inv-menu li:hover .submenu-title a:hover, ul#inv-menu li.menu-show .submenu-title a:hover {
    color: #000;
  }
  ul#inv-menu li:hover ul li, ul#inv-menu li.menu-show ul li {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 45px;
  }
  ul#inv-menu li:hover ul li a, ul#inv-menu li.menu-show ul li a {
    font-size: 16px;
    padding: 0;
    color: #000;
    line-height: 20px;
    min-height: unset;
    padding: 5px 0;
    text-transform: none;
    -webkit-transition-property: all;
    transition-property: all;
  }
  ul#inv-menu li:hover ul li a:hover, ul#inv-menu li:hover ul li a:focus, ul#inv-menu li:hover ul li a:active, ul#inv-menu li.menu-show ul li a:hover, ul#inv-menu li.menu-show ul li a:focus, ul#inv-menu li.menu-show ul li a:active {
    color: #CE2D15;
    background-color: transparent;
  }
  ul#inv-menu li:hover ul li.have-children {
    position: unset;
    float: none;
    display: block;
    width: 100%;
  }
  ul#inv-menu li:hover ul li.have-children ul {
    display: none;
    position: absolute;
    top: 0;
    min-height: 100%;
    left: -270px;
    width: 270px;
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: inset 0 0 11px 0 rgba(0, 0, 0, 0.18);
  }
  ul#inv-menu li:hover ul li.have-children ul li {
    float: right;
  }
  ul#inv-menu li:hover ul li.have-children ul li a {
    font-size: 14px;
  }
  ul#inv-menu li:hover ul li.have-children a {
    position: relative;
  }
  ul#inv-menu li:hover ul li.have-children svg {
    position: absolute;
    top: 7px;
    right: 5px;
  }
  ul#inv-menu li:hover ul li.have-children:hover > a {
    color: #CE2D15;
  }
  ul#inv-menu li:hover ul li.have-children:hover ul {
    display: block;
  }
  ul#inv-menu li:hover ul li.have-children:hover svg g#arrow polyline {
    stroke: #CE2D15;
  }
}
@media only screen and (min-width: 992px) {
  ul#inv-menu li:hover ul li.have-children {
    position: unset;
    float: none;
    display: block;
    width: 100%;
  }
  ul#inv-menu li:hover ul li.have-children ul {
    display: none;
    position: absolute;
    top: 0;
    min-height: 100%;
    left: unset;
    right: -270px;
    width: 270px;
    background-color: #fff;
  }
  ul#inv-menu li:hover ul li.have-children ul li {
    float: left;
  }
  ul#inv-menu li:hover ul li.have-children ul li a {
    font-size: 14px;
  }
  ul#inv-menu li:hover ul li.have-children a {
    position: relative;
  }
  ul#inv-menu li:hover ul li.have-children svg {
    position: absolute;
    top: 8px;
    right: 5px;
  }
  ul#inv-menu li:hover ul li.have-children:hover > a {
    color: #CE2D15;
  }
  ul#inv-menu li:hover ul li.have-children:hover ul {
    display: block;
  }
  ul#inv-menu li:hover ul li.have-children:hover svg g#arrow polyline {
    stroke: #CE2D15;
  }
  ul#inv-menu li a {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  ul#inv-menu li:hover ul, ul#inv-menu li.menu-show ul {
    padding-left: 30px;
    padding-right: 30px;
  }
  header .contact-button-column {
    display: block;
    -webkit-flex-basis: 220px;
    -ms-flex-preferred-size: 220px;
    flex-basis: 220px;
    max-width: 220px;
  }
  header .menu-column {
    -webkit-flex-basis: calc(100% - 230px - 220px);
    -ms-flex-preferred-size: calc(100% - 230px - 220px);
    flex-basis: calc(100% - 230px - 220px);
    max-width: calc(100% - 230px - 220px);
  }
  ul#inv-menu > li:hover > ul, ul#inv-menu > li.menu-show > ul {
    left: -245px;
    right: -235px;
  }
  ul#inv-menu > li.short {
    position: relative;
  }
  ul#inv-menu > li.short ul {
    left: -45px;
    right: -45px;
    min-width: 230px;
  }
}
#home-hero {
  background-image: url("../img/bg-home-hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}
#home-hero .home-hero-subtitle {
  color: #fff;
  margin-bottom: 30px;
}
#home-hero .home-hero-seals {
  margin-top: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#home-hero .home-hero-seals img {
  padding-left: 15px;
  padding-right: 15px;
}

#home-features .home-features-bg {
  background-color: #fff;
}
#home-features .column {
  margin-top: 35px;
  margin-bottom: 15px;
}
#home-features h3 {
  margin-top: 0;
  margin-bottom: 8px;
}
#home-features .features-description {
  text-transform: uppercase;
  color: #A4B49F;
  font-weight: 700;
  font-size: 0.8em;
}

#mission {
  padding: 60px 0;
}
#mission .home-mission-description {
  margin-bottom: 30px;
  font-size: 1.2em;
  font-weight: 700;
}

#service-solution {
  padding-top: 20px;
  padding-bottom: 20px;
}
#service-solution .column {
  padding-bottom: 45px;
}
#service-solution .service-solution-wrap {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#service-solution .service-solution-wrap .service-solution-img {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#service-solution .service-solution-wrap .service-solution-data {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  padding: 15px 15px 70px;
  position: relative;
}
#service-solution .service-solution-wrap h6 {
  margin-top: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.1em;
}
#service-solution .service-solution-wrap .service-solution-description {
  font-size: 0.9em;
  line-height: 1.67;
}
#service-solution .service-solution-wrap .service-solution-link {
  position: absolute;
  bottom: 30px;
  left: 15px;
}
#service-solution .service-solution-wrap .service-solution-link a {
  font-size: 13px;
  letter-spacing: 2px;
  color: #fff;
}
#service-solution .service-solution-wrap .service-solution-link a:after {
  content: url("../img/arrow-more.svg");
  padding-left: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#service-solution .service-solution-wrap .service-solution-link a:hover:after {
  padding-left: 30px;
}

#values {
  position: relative;
  padding-bottom: 80px;
}
#values .the-boss-way {
  text-align: center;
}
#values .data-column {
  padding-top: 30px;
  position: relative;
  margin-bottom: 60px;
}
#values .value-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}
#values .value-wrap h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
#values .value-wrap .data-icon-column {
  -webkit-flex-basis: 75px;
  -ms-flex-preferred-size: 75px;
  flex-basis: 75px;
  max-width: 75px;
}
#values .value-wrap .data-icon-column .data-icon-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #093A57;
  border-radius: 50%;
  padding: 15px;
  height: 75px;
  width: 75px;
}
#values .value-wrap.visible .data-icon-column .data-icon-wrap {
  background-color: #CE2D15;
}
#values .value-wrap .data-text-column {
  -webkit-flex-basis: calc(100% - 75px);
  -ms-flex-preferred-size: calc(100% - 75px);
  flex-basis: calc(100% - 75px);
  max-width: calc(100% - 75px);
  padding-left: 15px;
}
#values .value-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 49px;
  z-index: -1;
}
#values .bottom-waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#slogan-slide {
  background-image: url("../img/slogan-slide-bg.png");
  background-position: center;
  background-size: cover;
  padding: 80px 0;
}
#slogan-slide .slick-dots li {
  width: 40px;
  height: 20px;
}
#slogan-slide .slick-dots li button {
  width: 40px;
  height: 20px;
}
#slogan-slide .slick-dots li button:before {
  content: "";
  width: 40px;
  height: 8px;
  border-radius: 4px;
  background-color: #fff;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#slogan-slide .slick-dots li.slick-active button:before {
  background-color: #CE2D15;
}

#services-solution-slider {
  padding: 60px 0 80px;
}
#services-solution-slider .container {
  max-width: 950px;
}
#services-solution-slider .service-solution-slider-subtile {
  margin-bottom: 80px;
}
#services-solution-slider .services-solution-slider-item {
  background-color: #A4B49F;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-image {
  height: 255px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body {
  padding: 48px 35px 80px;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body h6 {
  margin-top: 0;
  margin-bottom: 20px;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body .services-solution-slider-item-description {
  color: #fff;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body .services-solution-slider-item-link-more {
  position: absolute;
  bottom: 30px;
  left: 35px;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body .services-solution-slider-item-link-more a {
  font-size: 13px;
  letter-spacing: 2px;
  color: #fff;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body .services-solution-slider-item-link-more a:after {
  content: url("../img/arrow-more.svg");
  padding-left: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#services-solution-slider .services-solution-slider-item .services-solution-slider-item-body .services-solution-slider-item-link-more a:hover:after {
  padding-left: 30px;
}
#services-solution-slider .slick-track {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
#services-solution-slider .slick-slide {
  height: inherit !important;
}
#services-solution-slider .slick-dots {
  bottom: -50px;
}
#services-solution-slider .slick-dots li {
  width: 40px;
  height: 20px;
}
#services-solution-slider .slick-dots li button {
  width: 40px;
  height: 20px;
}
#services-solution-slider .slick-dots li button:before {
  content: "";
  width: 40px;
  height: 8px;
  border-radius: 4px;
  background-color: #CE2D15;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#services-solution-slider .slick-dots li.slick-active button:before {
  background-color: #CE2D15;
  opacity: 1;
}

#testimonials {
  padding: 60px 0 90px;
  background-color: #F9F8F8;
}
#testimonials .testimonials-wrap .testimonials-item {
  padding-bottom: 40px;
}
#testimonials .testimonials-wrap .testimonials-item .testimonial-text {
  color: #fff;
  font-weight: 700;
  position: relative;
  padding: 45px;
  background-color: #093A57;
}
#testimonials .testimonials-wrap .testimonials-item .testimonial-text:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 28px solid transparent;
  border-top: 83px solid #093A57;
  display: block;
  position: absolute;
  bottom: -83px;
  left: 15px;
}
#testimonials .testimonials-wrap .testimonials-item .testimonial-text .open-quote {
  position: absolute;
  top: 15px;
  left: 20px;
}
#testimonials .testimonials-wrap .testimonials-item .testimonial-text .close-quote {
  position: absolute;
  top: 15px;
  right: 20px;
  -webkit-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  transform: rotatey(180deg);
}
#testimonials .testimonials-wrap .testimonials-item .testimonials-data {
  margin-left: 70px;
  padding: 10px 0;
}
#testimonials .testimonials-wrap .testimonials-item .testimonials-data .author {
  color: #CE2D15;
  font-family: DroidSans, sans-serif;
  font-weight: 700;
}
#testimonials .testimonials-wrap .testimonials-item .testimonials-data .separator {
  color: #EDF4EA;
  padding-left: 5px;
  padding-right: 5px;
}
#testimonials .testimonials-wrap .testimonials-item .testimonials-data .company-name {
  font-size: 0.7em;
}
#testimonials .slick-dots {
  bottom: 0;
}
#testimonials .slick-dots li {
  width: 40px;
  height: 20px;
}
#testimonials .slick-dots li button {
  width: 40px;
  height: 20px;
}
#testimonials .slick-dots li button:before {
  content: "";
  width: 40px;
  height: 8px;
  border-radius: 4px;
  background-color: #093A57;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#testimonials .slick-dots li.slick-active button:before {
  background-color: #CE2D15;
  opacity: 1;
}
#testimonials .slick-track {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
#testimonials .slick-slide {
  height: inherit !important;
}

footer {
  background-color: #093A57;
  padding: 28px 0 25px;
  color: #fff;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #CE2D15;
}
footer .footer-logo-column {
  text-align: center;
  margin-bottom: 15px;
}
footer .footer-menu-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
}
footer .footer-menu-column #footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
footer .footer-menu-column #footer-menu li {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
footer .footer-menu-column #footer-menu li a {
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 5px 0;
  display: block;
  color: #fff;
}
footer .footer-menu-column #footer-menu li a:hover {
  color: #CE2D15;
}
footer .footer-social-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
}
footer .footer-social-column #footer-social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
footer .footer-social-column #footer-social li {
  padding-left: 13px;
  padding-right: 13px;
}
footer .footer-social-column #footer-social li:first-child {
  padding-left: 0;
}
footer .footer-social-column #footer-social li:last-child {
  padding-right: 0;
}
footer .footer-social-column #footer-social li svg path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .footer-social-column #footer-social li:hover svg path {
  fill: #CE2D15;
}
footer .footer-contact-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
}
footer .footer-contact-column #footer-contact {
  list-style: none;
  margin: 0 -13px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
footer .footer-contact-column #footer-contact li {
  margin: 5px 0;
}
footer .footer-contact-column #footer-contact li a {
  font-size: 0.7em;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
}
footer .footer-contact-column #footer-contact li a svg {
  margin-right: 7px;
}
footer .footer-contact-column #footer-contact li a svg path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .footer-contact-column #footer-contact li:hover a {
  color: #CE2D15;
}
footer .footer-contact-column #footer-contact li:hover svg path.svgfilled {
  stroke: #CE2D15;
}
footer .footer-copyright {
  text-align: center;
  font-size: 10px;
  opacity: 0.6;
}

@media only screen and (min-width: 510px) {
  footer .footer-menu-column #footer-menu li {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  footer .row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .footer-logo-column {
    text-align: left;
    margin-bottom: 15px;
    -webkit-flex-basis: 230px;
    -ms-flex-preferred-size: 230px;
    flex-basis: 230px;
    max-width: 230px;
    margin-bottom: 30px;
  }
  footer .footer-menu-column {
    -webkit-flex-basis: calc(100% - 230px);
    -ms-flex-preferred-size: calc(100% - 230px);
    flex-basis: calc(100% - 230px);
    max-width: calc(100% - 230px);
    margin-bottom: 30px;
  }
  footer .footer-menu-column #footer-menu {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  footer .footer-menu-column #footer-menu li {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .footer-menu-column #footer-menu li:first-child {
    padding-left: 0;
  }
  footer .footer-menu-column #footer-menu li:last-child {
    padding-right: 0;
  }
  footer .footer-social-column {
    -webkit-flex-basis: 125px;
    -ms-flex-preferred-size: 125px;
    flex-basis: 125px;
    max-width: 125px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 0;
  }
  footer .footer-contact-column {
    -webkit-flex-basis: calc(100% - 125px - 170px);
    -ms-flex-preferred-size: calc(100% - 125px - 170px);
    flex-basis: calc(100% - 125px - 170px);
    max-width: calc(100% - 125px - 170px);
    margin-bottom: 0;
  }
  footer .footer-copyright {
    -webkit-flex-basis: 170px;
    -ms-flex-preferred-size: 170px;
    flex-basis: 170px;
    max-width: 170px;
    text-align: right;
  }
}
@media only screen and (min-width: 992px) {
  footer .footer-menu-column #footer-menu li {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 510px) {
  #home-features .column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #home-features .column:nth-child(1) {
    border-right: 1px solid #EDF4EA;
  }
  #home-features .column:nth-child(3) {
    border-right: 1px solid #EDF4EA;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .header-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #service-solution .column {
    padding-bottom: 45px;
  }
  #service-solution .service-solution-wrap {
    min-height: 250px;
  }
  #service-solution .service-solution-wrap .service-solution-img {
    -webkit-flex-basis: 250px;
    -ms-flex-preferred-size: 250px;
    flex-basis: 250px;
    max-width: 250px;
    height: 100%;
  }
  #service-solution .service-solution-wrap .service-solution-data {
    -webkit-flex-basis: calc(100% - 250px);
    -ms-flex-preferred-size: calc(100% - 250px);
    flex-basis: calc(100% - 250px);
    max-width: calc(100% - 250px);
    padding: 15px 35px 70px;
    position: relative;
  }
  #service-solution .service-solution-wrap .service-solution-link {
    position: absolute;
    bottom: 30px;
    left: 35px;
  }
  #values .the-boss-way {
    text-align: center;
  }
  #values .value-wrap h4 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  #values .value-wrap .data-icon-column {
    -webkit-flex-basis: 110px;
    -ms-flex-preferred-size: 110px;
    flex-basis: 110px;
    max-width: 110px;
  }
  #values .value-wrap .data-icon-column .data-icon-wrap {
    padding: 15px;
    height: 110px;
    width: 110px;
  }
  #values .value-wrap .data-text-column {
    -webkit-flex-basis: calc(100% - 110px);
    -ms-flex-preferred-size: calc(100% - 110px);
    flex-basis: calc(100% - 110px);
    max-width: calc(100% - 110px);
    padding-left: 15px;
  }
  #values .value-line {
    left: 66px;
  }
  #testimonials .testimonials-column {
    -webkit-flex-basis: 890px;
    -ms-flex-preferred-size: 890px;
    flex-basis: 890px;
    max-width: 890px;
    margin-left: auto;
    margin-right: auto;
  }
  #testimonials .testimonials-wrap .testimonials-item .testimonial-text {
    padding: 45px 120px;
  }
  #testimonials .testimonials-wrap .testimonials-item .testimonial-text:after {
    left: 80px;
  }
  #testimonials .testimonials-wrap .testimonials-item .testimonial-text .open-quote {
    top: 29px;
    left: 24px;
  }
  #testimonials .testimonials-wrap .testimonials-item .testimonial-text .close-quote {
    top: 29px;
    right: 24px;
  }
  #testimonials .testimonials-wrap .testimonials-item .testimonials-data {
    margin-left: 140px;
    padding: 28px 0;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #home-hero .home-hero-title-column {
    -webkit-flex-basis: 58.33%;
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    max-width: 58.33%;
  }
  #home-hero .home-hero-seals-column {
    -webkit-flex-basis: 41.67%;
    -ms-flex-preferred-size: 41.67%;
    flex-basis: 41.67%;
    max-width: 41.67%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  #home-hero .home-hero-seals-column .home-hero-seals {
    margin-top: 0;
  }
  #home-features .column {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  #home-features .column:nth-child(2) {
    border-right: 1px solid #EDF4EA;
  }
  #mission .container {
    max-width: 962px;
  }
  #service-solution .column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #values .data-column {
    padding-top: 60px;
  }
  #values .the-boss-way {
    text-align: center;
  }
  #values .value-wrap h4 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  #values .value-wrap .data-icon-column {
    -webkit-flex-basis: 153px;
    -ms-flex-preferred-size: 153px;
    flex-basis: 153px;
    max-width: 153px;
  }
  #values .value-wrap .data-icon-column .data-icon-wrap {
    padding: 15px;
    height: 153px;
    width: 153px;
  }
  #values .value-wrap .data-text-column {
    -webkit-flex-basis: calc(100% - 153px);
    -ms-flex-preferred-size: calc(100% - 153px);
    flex-basis: calc(100% - 153px);
    max-width: calc(100% - 153px);
    padding-left: 60px;
  }
  #values .value-line {
    left: 88px;
  }
  #slogan-slide {
    padding: 220px 0;
  }
  #slogan-slide .slick-dots li {
    width: 105px;
    height: 20px;
  }
  #slogan-slide .slick-dots li button {
    width: 105px;
    height: 20px;
  }
  #slogan-slide .slick-dots li button:before {
    content: "";
    width: 105px;
    height: 8px;
    border-radius: 4px;
    background-color: #fff;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #slogan-slide .slick-dots li.slick-active button:before {
    background-color: #CE2D15;
  }
  #testimonials .slick-dots li {
    width: 105px;
    height: 20px;
  }
  #testimonials .slick-dots li button {
    width: 105px;
    height: 20px;
  }
  #testimonials .slick-dots li button:before {
    width: 105px;
    height: 8px;
    border-radius: 4px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1320px) {
  body {
    font-size: 20px;
  }
  #home-hero {
    padding-bottom: 200px;
  }
  #home-hero .home-hero-title-column {
    padding-left: 50px;
  }
  #home-hero .home-hero-title-column h1 {
    margin-bottom: 45px;
  }
  #home-hero .home-hero-title-column .home-hero-subtitle {
    margin-bottom: 45px;
  }
  #home-features {
    margin-top: -140px;
    height: 140px;
  }
  #home-features .home-features-bg {
    padding-left: 25px;
    padding-right: 25px;
    min-height: 140px;
  }
  #home-features .home-features-bg .features-description {
    padding-left: 45px;
    padding-right: 45px;
  }
  #values .title-column {
    -webkit-flex-basis: 43%;
    -ms-flex-preferred-size: 43%;
    flex-basis: 43%;
    max-width: 43%;
    position: relative;
  }
  #values .title-column .the-boss-way {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  #values .data-column {
    -webkit-flex-basis: 57%;
    -ms-flex-preferred-size: 57%;
    flex-basis: 57%;
    max-width: 57%;
  }
  #service-solution .container {
    padding-left: 45px;
    padding-right: 45px;
  }
  #services-solution-slider .services-solution-slider-wrap {
    padding-left: 90px;
    padding-right: 90px;
  }
  #services-solution-slider .slick-prev {
    width: 74px;
    height: 60px;
    left: 0;
    background-color: #CE2D15;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  #services-solution-slider .slick-prev:before {
    content: url("../img/arrow-left.svg");
    opacity: 1;
  }
  #services-solution-slider .slick-next {
    width: 74px;
    height: 60px;
    right: 0;
    background-color: #CE2D15;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  #services-solution-slider .slick-next:before {
    content: url("../img/arrow-right.svg");
    opacity: 1;
  }
}