@font-face{
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.ttf');
	font-weight: 500;
	font-display: swap;
}

@font-face{
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'Spartan';
	src: url('../fonts/Spartan-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}