@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	#about-photos{
		& .photo-slider{
			& .slider-item{
				height: 480px;
			}
		}
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	#home-hero{
		& .andreka-jasek{
			margin-bottom: 30px;
		}
		& .hero-subtitle{
			font-size: 1.87em;
		}
	}

	h1, .h1{
		font-size: 4.5em;
	}
	h3, .h3{
		font-size: 2.7em;
	}
	h2, .h2{
		font-size: 4em;
	}
	.big{
		font-size: 1.5em;
	}
	#experience{
		padding: 80px 0;
		&:before{
			content: '';
			width: 1px;
			height: 90%;
			background-color: $grey;
			position: absolute;
			top: 0;
			left: calc(50% - 45px);
		}
		&:after{
			content: '';
			width: 1px;
			height: 80%;
			background-color: $grey;
			position: absolute;
			top: 0;
			left: calc(50% - 21px);
		}
	}
	#latest-updates{
		background: linear-gradient(to right, #F2F2F2, #F2F2F2 calc(50% + 178px), #fff calc(50% + 178px), #fff 100%);
	}
	footer{
		& .footer-menu{
			padding-right: 50%;
		}
	}
	#about-photos{
		background: linear-gradient(to right, #323232, #323232 calc(50% + 178px), #fff calc(50% + 178px), #fff 100%);
		& .photo-slider{
			& .slider-item{
				height: 736px;
			}
		}
		& .photo-slider-buttons{
			position: absolute;
			padding: 15px;
			background-color: #535756;
			display: inline-block;
			& .photo-slider-prev{
				display: inline-block;
				cursor: pointer;
				padding: 15px 45px 15px 30px;
				border-right: 1px solid $grey;
				&:hover svg path{
					fill: $blue;
				}
			}
			& .photo-slider-next{
				display: inline-block;
				cursor: pointer;
				padding: 15px 30px 15px 45px;
				&:hover svg path{
					fill: $blue;
				}
			}
		}
		& .transform{
			transform: translateY(260px);
		}
	}
	#who-benefits{
		padding: 120px 0;
		& .transform{
			transform: translateY(260px);
		}
	}
	#how{
		padding: 120px 0;
		& .how-text-wrap{
			padding: 64px;
			margin-left: 0;
			margin-top: 0;
		}
		& .image-transform{
			margin-left: 7.33%;
			margin-right: calc(-14.66% - 15px);
		}
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	.container{
		max-width: 1260px;
	}

	#latest-updates .h1{
		font-size: 9.25em;
	}
	.news-item{
		padding-left: 17px;
		padding-right: 17px;
	}
}