@import "../libs/normalize-css/normalize.css";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  position: relative;
}

body {
  color: #030508;
  font-size: 16px;
  line-height: 1.44;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow-x: hidden;
  background-color: #E6E6E9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

h1, .h1 {
  font-size: 2.55em;
  line-height: 1.2;
}

h2 {
  font-size: 1.77em;
  line-height: 1.1875;
}

h3 {
  font-size: 1.44em;
  line-height: 1.46;
}

h4 {
  font-size: 21px;
  line-height: 27px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #B7094C;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  text-decoration: none;
}
a:hover {
  color: #030508;
}

a:hover, a:active, a:focus {
  outline: none;
}

button, button:hover, button:active, button:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

input:focus, textarea:focus {
  outline: none;
}

object, embed {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1;
}

::-moz-placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1;
}

::-ms-input-placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1;
}

::placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.column {
  padding: 0 15px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-60 {
  margin-bottom: 60px;
}

.small {
  font-size: 0.88em;
}

.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blue-bg {
  background-color: #0091AD;
}

.pink-bg {
  background-color: #B7094C;
}

#main-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
#main-menu ul {
  height: 100vh;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#main-menu ul li {
  position: relative;
  margin-bottom: 25px;
}
#main-menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #030508;
}
#main-menu ul li a:hover {
  color: #B7094C;
  text-decoration: none;
}

#main-menu.open {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

/* Toggle */
#toggle-btn {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9999999;
}

#toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
}

.hamburger .icon-bar {
  background-color: #B7094C;
  display: block;
  height: 4px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 30px;
}

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 4px;
}

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (min-width: 992px) {
  #main-menu {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    background-color: transparent;
  }
  #main-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  #main-menu ul li {
    margin-bottom: 0;
    padding-left: 35px;
    padding-right: 35px;
  }
  #main-menu ul li a {
    font-size: 16px;
  }
  #main-menu ul li.current-menu-item a {
    color: #B7094C;
  }

  #toggle-btn {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  #main-menu ul li {
    padding-left: 45px;
    padding-right: 45px;
  }
}
#header {
  padding-top: 15px;
  padding-bottom: 15px;
}
#header .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#header .btn {
  width: 260px;
  min-width: 260px;
  padding: 21px 30px;
}
#header .brand {
  margin-bottom: 15px;
}

.pink {
  color: #B7094C;
}

.blue {
  color: #0091AD;
}

.black {
  color: #030508;
}

.btn {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 1;
  min-width: 290px;
  max-width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  padding: 21px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.black-button {
  background-color: #030508;
  color: #fff;
}
.black-button:hover {
  color: #fff;
  background-color: #B7094C;
}

.pink-button {
  background-color: #B7094C;
  color: #fff;
}
.pink-button:hover {
  color: #fff;
  background-color: #030508;
}

.blue-button {
  background-color: #0091AD;
  color: #fff;
}
.blue-button:hover {
  color: #fff;
  background-color: #B7094C;
}

#home-hero {
  padding-bottom: 60px;
}
#home-hero .hero-title-column {
  text-align: center;
}

#what-we-do {
  padding: 60px 0 90px;
  background-color: #fff;
}
#what-we-do .feature-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  max-width: 330px;
  margin: 0 auto 30px;
}
#what-we-do .feature-column .feature-icon {
  -webkit-flex-basis: 82px;
  -ms-flex-preferred-size: 82px;
  flex-basis: 82px;
  max-width: 82px;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#what-we-do .feature-column .feature-title {
  -webkit-flex-basis: calc(100% - 82px);
  -ms-flex-preferred-size: calc(100% - 82px);
  flex-basis: calc(100% - 82px);
  max-width: calc(100% - 82px);
  color: #0091AD;
  font-weight: 700;
}

#order-now {
  margin-top: -60px;
}
#order-now .product-column {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
  text-align: center;
}
#order-now .product-column img {
  margin-bottom: 45px;
  box-shadow: 0 22px 20px 0 rgba(0, 0, 0, 0.12);
}

#how-it-works {
  padding: 60px 0;
}
#how-it-works .how-it-works-column {
  margin-bottom: 45px;
}
#how-it-works .how-it-works-column .how-it-works-title {
  font-weight: 700;
}
#how-it-works .how-it-works-column .how-it-works-icon {
  height: 202px;
  margin-bottom: 30px;
}

#home-offer {
  position: relative;
}
#home-offer .home-offer-bg {
  position: absolute;
  height: 80%;
  width: 100%;
  background-image: url("../img/home-offer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#home-offer .offer-info-column .offer-info-wrap {
  background-color: #fff;
  padding: 30px;
}
#home-offer .main-offer-column {
  color: #fff;
}
#home-offer .main-offer-column .main-offer-wrap {
  background-color: #0091AD;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}
#home-offer .main-offer-column .main-offer-wrap .row {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}
#home-offer .main-offer-column .main-offer-title {
  font-size: 4.55em;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  -webkit-flex-basis: 60px;
  -ms-flex-preferred-size: 60px;
  flex-basis: 60px;
}
#home-offer .main-offer-column .main-offer-subtitle {
  font-size: 1.77em;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: #030508;
}
#home-offer .main-offer-column .main-offer-hr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.35);
  margin-top: 45px;
  margin-bottom: 45px;
}

#home-features {
  padding: 60px 0;
  position: relative;
}
#home-features .home-features-bg {
  position: absolute;
  width: 100%;
  height: 70%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
  z-index: -1;
}
#home-features video {
  max-width: 100%;
  height: auto;
}

#faq {
  padding-bottom: 60px;
}
#faq h2 {
  margin-bottom: 95px;
}
#faq .faq-wrap .faq-item {
  background-color: #fff;
  padding: 30px 15px;
  position: relative;
  margin-bottom: 14px;
}
#faq .faq-wrap .faq-item .faq-arrow {
  position: absolute;
  top: 45px;
  right: 15px;
  -webkit-transform-origin: center 25px;
  -ms-transform-origin: center 25px;
  transform-origin: center 25px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
  z-index: 22;
}
#faq .faq-wrap .faq-item .faq-answer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.9s ease-in-out;
  transition: max-height 0.9s ease-in-out;
}
#faq .faq-wrap .faq-item .faq-question {
  cursor: pointer;
  padding-right: 50px;
}
#faq .faq-wrap .faq-item.active .faq-arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#faq .faq-wrap .faq-item.active .faq-arrow svg polyline {
  stroke: #0091AD;
}
#faq .faq-wrap .faq-item.active .faq-answer {
  max-height: 200px;
  overflow: auto;
}
#faq .faq-wrap .faq-item.active .faq-question {
  color: #0091AD;
}
#faq .read-more-faqs a {
  border-bottom: 1px dashed #030508;
}

#cta {
  padding-bottom: 60px;
}

.star-rating {
  position: relative;
  width: 136px;
  height: 24px;
}
.star-rating:before {
  content: url("../img/star-grey.svg");
  position: absolute;
  top: 0;
  left: 0;
}
.star-rating[data-rate="1"]:after {
  content: url("../img/star-pink.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  overflow: hidden;
}
.star-rating[data-rate="2"]:after {
  content: url("../img/star-pink.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  overflow: hidden;
}
.star-rating[data-rate="3"]:after {
  content: url("../img/star-pink.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  overflow: hidden;
}
.star-rating[data-rate="4"]:after {
  content: url("../img/star-pink.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  overflow: hidden;
}
.star-rating[data-rate="5"]:after {
  content: url("../img/star-pink.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#testimonials {
  padding-bottom: 60px;
}
#testimonials .slick-dots {
  bottom: -25px;
}
#testimonials .slick-dots li.slick-active button::before {
  color: #B7094C;
}
#testimonials .slick-track {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
#testimonials .slick-slide {
  height: inherit !important;
}

.testimonials-item {
  background-color: #fff;
  padding: 65px 15px 65px;
  margin-left: 7px;
  margin-right: 7px;
  position: relative;
  height: 100%;
}
.testimonials-item .testimonials-quote {
  position: relative;
  margin-bottom: 15px;
}
.testimonials-item .testimonials-quote:before {
  content: url("../img/quote.svg");
  position: absolute;
  top: -35px;
  left: 0;
}
.testimonials-item .testimonials-data {
  position: absolute;
  left: 15px;
  bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: calc(100% - 30px);
}
.testimonials-item .testimonials-data .testimonials-score {
  -webkit-flex-basis: 136px;
  -ms-flex-preferred-size: 136px;
  flex-basis: 136px;
  max-width: 136px;
}
.testimonials-item .testimonials-data .testimonials-author {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: #0091AD;
  padding-right: 15px;
  font-size: 1.44em;
  line-height: 1;
  -webkit-flex-basis: calc(100% - 136px);
  -ms-flex-preferred-size: calc(100% - 136px);
  flex-basis: calc(100% - 136px);
  max-width: calc(100% - 136px);
}

footer {
  background-color: #030508;
  padding: 60px 0;
}
footer .footer-logo-column {
  text-align: center;
  margin-bottom: 15px;
}
footer .footer-contact {
  text-align: center;
  margin-bottom: 20px;
}
footer .footer-contact a {
  color: #fff;
  font-size: 0.88em;
  font-weight: 300;
  position: relative;
  padding-left: 35px;
}
footer .footer-contact a:hover {
  color: #B7094C;
}
footer .footer-contact a:before {
  content: url("../img/email.svg");
  position: absolute;
  display: block;
  left: 0;
  top: 0;
}
footer .footer-menu {
  margin-bottom: 20px;
}
footer .footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.88em;
  text-align: center;
}
footer .footer-menu ul li {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
}
footer .footer-menu ul li a {
  color: #fff;
}
footer .footer-menu ul li a:hover {
  color: #B7094C;
}
footer .footer-terms {
  margin-bottom: 20px;
}
footer .footer-terms ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  text-align: center;
}
footer .footer-terms ul li {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
}
footer .footer-terms ul li a {
  color: #fff;
  font-weight: 300;
}
footer .footer-terms ul li a:hover {
  color: #B7094C;
}
footer .copyright {
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

#price {
  background-color: #fff;
  margin-top: 160px;
}
#price .price-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
}
#price .price-wrap .table-head {
  padding: 0 15px;
  -webkit-flex-basis: 140px;
  -ms-flex-preferred-size: 140px;
  flex-basis: 140px;
  max-width: 140px;
  font-weight: 700;
  color: #B7094C;
  border-right: 1px solid #E6E6E9;
}
#price .price-wrap .table-head div {
  height: 66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#price .price-wrap .price-table {
  -webkit-flex-basis: calc(100% - 140px);
  -ms-flex-preferred-size: calc(100% - 140px);
  flex-basis: calc(100% - 140px);
  max-width: calc(100% - 140px);
  margin-top: -85px;
}
#price .price-wrap .price-table .slick-prev::before, #price .price-wrap .price-table .slick-next::before {
  color: #B7094C;
}
#price .price-wrap .price-table .slick-prev {
  left: 5px;
  top: 262px;
  z-index: 20;
}
#price .price-wrap .price-table .slick-next {
  right: 10px;
  top: 262px;
}
#price .price-wrap .price-table .price-column {
  margin-left: 7.5px;
  padding-right: 7.5px;
  border-right: 1px solid #E6E6E9;
  text-align: center;
}
#price .price-wrap .price-table .price-column div {
  height: 66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
#price .price-wrap .price-table .price-column div:after {
  content: "";
  width: calc(100% - 120px);
  display: block;
  position: absolute;
  bottom: 0;
  left: 60px;
  border-bottom: 1px dashed #E6E6E9;
}
#price .price-wrap .price-table .price-column div:last-child:after {
  border-bottom: none;
}
#price .price-wrap .price-table .price-column div:nth-last-child(2):after {
  border-bottom: none;
}
#price .price-wrap .price-table .price-column div.price-name {
  height: 230px;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#price .price-wrap .price-table .price-column div.price-name:after {
  border-color: transparent;
}
#price .price-wrap .price-table .price-column div.price-name h2 {
  margin-top: 0;
}
#price .price-wrap .price-table .price-column div.price-name .price-value {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 82px;
}
#price .price-wrap .price-table .price-column .btn {
  margin-bottom: 30px;
  min-width: 145px;
}

#why-us {
  padding: 60px 0;
}
#why-us .feature-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  max-width: 330px;
  margin: 0 auto 30px;
}
#why-us .feature-column .feature-icon {
  -webkit-flex-basis: 62px;
  -ms-flex-preferred-size: 62px;
  flex-basis: 62px;
  max-width: 62px;
  padding: 0 20px 0 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#why-us .feature-column .feature-title {
  -webkit-flex-basis: calc(100% - 62px);
  -ms-flex-preferred-size: calc(100% - 62px);
  flex-basis: calc(100% - 62px);
  max-width: calc(100% - 62px);
  color: #0091AD;
  font-weight: 700;
}
#why-us .why-us-info-row .info-icon {
  -webkit-flex-basis: 62px;
  -ms-flex-preferred-size: 62px;
  flex-basis: 62px;
  max-width: 62px;
  padding: 15px 15px 0px;
}
#why-us .why-us-info-row .why-us-info-column {
  -webkit-flex-basis: calc(100% - 62px);
  -ms-flex-preferred-size: calc(100% - 62px);
  flex-basis: calc(100% - 62px);
  max-width: calc(100% - 62px);
  padding-left: 12px;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  #order-now .product-column:nth-child(7) {
    display: none;
  }
}
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #how-it-works .how-it-works-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  #order-now .product-column {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  #home-offer > .container {
    padding-left: 45px;
    padding-right: 45px;
  }

  #price .price-wrap .table-head {
    padding: 0 15px;
    -webkit-flex-basis: 264px;
    -ms-flex-preferred-size: 264px;
    flex-basis: 264px;
    max-width: 264px;
  }
  #price .price-wrap .table-head div {
    height: 66px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #price .price-wrap .price-table {
    -webkit-flex-basis: calc(100% - 264px);
    -ms-flex-preferred-size: calc(100% - 264px);
    flex-basis: calc(100% - 264px);
    max-width: calc(100% - 264px);
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  body {
    font-size: 18px;
  }

  .brand-column {
    -webkit-flex-basis: 100px;
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
    max-width: 100px;
  }

  .cta-column {
    -webkit-flex-basis: 290px;
    -ms-flex-preferred-size: 290px;
    flex-basis: 290px;
    max-width: 290px;
  }

  .main-menu-column {
    -webkit-flex-basis: calc(100% - 100px - 290px);
    -ms-flex-preferred-size: calc(100% - 100px - 290px);
    flex-basis: calc(100% - 100px - 290px);
    max-width: calc(100% - 100px - 290px);
  }

  #header .brand {
    margin-bottom: 0;
  }

  #home-hero {
    padding-bottom: 0;
    padding-top: 0;
  }
  #home-hero .hero-title-column {
    -webkit-flex-basis: 42%;
    -ms-flex-preferred-size: 42%;
    flex-basis: 42%;
    max-width: 42%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding-bottom: 60px;
    text-align: left;
  }
  #home-hero .hero-image-column {
    -webkit-flex-basis: calc(58% + 60px);
    -ms-flex-preferred-size: calc(58% + 60px);
    flex-basis: calc(58% + 60px);
    max-width: calc(58% + 60px);
    margin-left: -60px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  #what-we-do {
    padding: 90px 0;
  }
  #what-we-do .section-title-column {
    -webkit-flex-basis: 52%;
    -ms-flex-preferred-size: 52%;
    flex-basis: 52%;
    max-width: 52%;
    margin: 0 auto;
  }
  #what-we-do .section-subtitle-column {
    -webkit-flex-basis: 70%;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%;
    margin: 0 auto 45px;
  }
  #what-we-do .feature-column {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 10px;
  }

  #how-it-works {
    padding: 90px 0 0;
  }
  #how-it-works .how-it-works-column {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  #home-offer {
    position: relative;
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  #home-offer .offer-info-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    padding-right: 0;
    margin-left: 30px;
  }
  #home-offer .offer-info-column .offer-info-wrap {
    padding-right: 60px;
  }
  #home-offer .main-offer-column {
    -webkit-flex-basis: calc(50% - 30px);
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
    padding-left: 0;
    margin-left: -30px;
    position: relative;
  }
  #home-offer .main-offer-oval {
    background-image: url("../img/Oval.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    width: 830px;
    height: 830px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #faq .faq-column {
    -webkit-flex-basis: 88%;
    -ms-flex-preferred-size: 88%;
    flex-basis: 88%;
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  #faq .faq-column .faq-wrap .faq-item {
    padding-left: 80px;
    padding-bottom: 45px;
    padding-right: 120px;
  }

  .btn {
    padding: 21px 53px;
  }

  footer .row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .row:first-child {
    margin-bottom: 45px;
  }
  footer .footer-logo-column {
    text-align: left;
    margin-bottom: 0;
    -webkit-flex-basis: 150px;
    -ms-flex-preferred-size: 150px;
    flex-basis: 150px;
    max-width: 150px;
  }
  footer .footer-contact {
    text-align: center;
    margin-bottom: 0;
    -webkit-flex-basis: 325px;
    -ms-flex-preferred-size: 325px;
    flex-basis: 325px;
    max-width: 325px;
  }
  footer .footer-menu {
    -webkit-flex-basis: calc(100% - 325px - 150px);
    -ms-flex-preferred-size: calc(100% - 325px - 150px);
    flex-basis: calc(100% - 325px - 150px);
    max-width: calc(100% - 325px - 150px);
    margin-bottom: 0;
  }
  footer .footer-menu ul {
    text-align: right;
  }
  footer .footer-menu ul li {
    padding-left: 15px;
    padding-right: 15px;
  }
  footer .footer-menu ul li:last-child {
    padding-right: 0;
  }
  footer .footer-terms {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  footer .footer-terms ul {
    text-align: right;
  }
  footer .footer-terms ul li {
    padding-left: 6px;
    padding-right: 6px;
  }
  footer .footer-terms ul li:last-child {
    padding-right: 0;
  }
  footer .copyright {
    text-align: left;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  #why-us {
    padding: 90px 0;
  }
  #why-us .section-title-column {
    -webkit-flex-basis: 52%;
    -ms-flex-preferred-size: 52%;
    flex-basis: 52%;
    max-width: 52%;
    margin: 0 auto;
  }
  #why-us .section-subtitle-column {
    -webkit-flex-basis: 70%;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%;
    margin: 0 auto 45px;
  }
  #why-us .feature-column {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 20px 0 10px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .hero-title-column h1 {
    padding-right: 70px;
  }

  #what-we-do .feature-column {
    padding: 0 20px;
  }

  #order-now .product-column {
    -webkit-flex-basis: 14.28%;
    -ms-flex-preferred-size: 14.28%;
    flex-basis: 14.28%;
    max-width: 14.28%;
  }

  #home-offer .offer-info-column {
    margin-left: 50px;
  }
  #home-offer .offer-info-column .offer-info-wrap {
    padding-right: 100px;
    padding-left: 80px;
  }
  #home-offer .main-offer-column {
    -webkit-flex-basis: calc(50% - 50px);
    -ms-flex-preferred-size: calc(50% - 50px);
    flex-basis: calc(50% - 50px);
    max-width: calc(50% - 50px);
    margin-left: -50px;
  }
  #home-offer .main-offer-column .main-offer-wrap {
    padding-left: 45px;
    padding-right: 45px;
  }

  #home-hero .hero-title-column {
    -webkit-flex-basis: 42%;
    -ms-flex-preferred-size: 42%;
    flex-basis: 42%;
    max-width: 42%;
    padding-bottom: 60px;
    padding-top: 60px;
  }
  #home-hero .hero-image-column {
    -webkit-flex-basis: calc(58% + 60px);
    -ms-flex-preferred-size: calc(58% + 60px);
    flex-basis: calc(58% + 60px);
    max-width: calc(58% + 60px);
    margin-left: -60px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  #testimonials .testimonials-wrap {
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
  }
  #testimonials .testimonials-item {
    padding: 120px 30px 100px 44px;
  }
  #testimonials .testimonials-item .testimonials-quote:before {
    top: -45px;
  }
  #testimonials .testimonials-item .testimonials-data {
    position: absolute;
    left: 44px;
    bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: calc(100% - 74px);
  }
  #testimonials .slick-prev {
    left: 20px;
  }
  #testimonials .slick-prev:before {
    content: url("../img/slide-arrow.svg");
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 51px;
    height: 51px;
    background-color: #B7094C;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  #testimonials .slick-next {
    right: 51px;
  }
  #testimonials .slick-next:before {
    content: url("../img/slide-arrow.svg");
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 51px;
    height: 51px;
    background-color: #B7094C;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  footer .row {
    padding-left: 95px;
    padding-right: 95px;
  }
  footer .footer-logo-column {
    -webkit-flex-basis: 200px;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
    max-width: 200px;
  }
  footer .footer-contact {
    -webkit-flex-basis: 325px;
    -ms-flex-preferred-size: 325px;
    flex-basis: 325px;
    max-width: 325px;
  }
  footer .footer-menu {
    -webkit-flex-basis: calc(100% - 325px - 200px);
    -ms-flex-preferred-size: calc(100% - 325px - 200px);
    flex-basis: calc(100% - 325px - 200px);
    max-width: calc(100% - 325px - 200px);
  }
  footer .footer-menu ul li {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media only screen and (min-width: 1600px) {
  #home-offer .offer-info-column {
    margin-left: 100px;
  }
  #home-offer .offer-info-column .offer-info-wrap {
    padding-right: 170px;
    padding-left: 110px;
    padding-bottom: 60px;
    padding-top: 40px;
  }
  #home-offer .main-offer-column {
    -webkit-flex-basis: calc(50% - 100px);
    -ms-flex-preferred-size: calc(50% - 100px);
    flex-basis: calc(50% - 100px);
    max-width: calc(50% - 100px);
    margin-left: -100px;
  }
  #home-offer .main-offer-column .main-offer-wrap {
    padding-left: 45px;
    padding-right: 45px;
  }
}