@font-face{
	font-family: 'WorkSans-NewLead';
	src: url('../fonts/WorkSans-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}
@font-face{
	font-family: 'WorkSans-NewLead';
	src: url('../fonts/WorkSans-Medium.ttf');
	font-weight: 500;
	font-display: swap;
}
@font-face{
	font-family: 'Mont-NewLead';
	src: url('../fonts/Mont-Heavy.otf');
	font-weight: 800;
	font-display: swap;
}
@font-face{
	font-family: 'Mont-NewLead';
	src: url('../fonts/Mont-ExtraLight.otf');
	font-weight: 200;
	font-display: swap;
}
@font-face{
	font-family: 'ButtercellBrush-NewLead';
	src: url('../fonts/ButtercellBrush.ttf');
	font-weight: 400;
	font-display: swap;
}