@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	#hero-slider{
		padding-bottom: 200px;
	}
	#capabilities{
		margin-bottom: 200px;
		& .our-work{
			bottom: -207px;
		}
	}
	#our-work{
		padding-bottom: 149px;
		& .our-work-slider{
			top: 60px;
			width: 200%;
			margin-left: -50%;
			margin-right: -50%;
			& .our-work-slider-item{
				& .our-work-slider-image{
					height: 320px;
					margin-bottom: 30px;
				}
			}
		}
		& .our-work-slider-control{
			bottom: 150px;
		}
	}
	#contact-us{
		& .contact-us-label{
			top: -88px;
		}
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body{
		font-size: 18px;
	}
	#hero-slider{
		padding-bottom: 250px;
	}
	#capabilities{
		margin-bottom: 250px;
		& .our-work{
			bottom: -257px;
		}
	}
	#our-work{
		padding-bottom: 180px;
	}
	#contact-us{
		& .contact-us-label{
			top: -109px;
		}
	}
	
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	.slider-item{
		min-height: 765px;
		padding: 100px;
		& h1{
			margin-right: 120px;
		}
	}
	#hero-slider{
		padding-bottom: 290px;
	}
	#capabilities{
		margin-bottom: 290px;
		& .our-work{
			bottom: -302px;
		}
		& .quote{
			font-size: 1.6em;
		}
	}
	#capabilities .capabilities-slider-item{
		padding: 100px 200px 100px 100px;
	}
	#our-work{
		padding-bottom: 250px;
		& .our-work-slider{
			top: 80px;
			width: 150%;
			margin-left: -25%;
			margin-right: -25%;
			& .our-work-slider-item{
				& .our-work-slider-image{
					height: 380px;
					margin-bottom: 30px;
				}
			}
		}
		& .our-work-slider-bg{
			min-height: 680px;
		}
		& .our-work-slider-control{
			bottom: 160px;
			& .arrow-left{
				margin-left: -70px;
			}
			& .arrow-right{
				margin-right: -70px;
			}
		}
	}
	#contact-us{

		& .contact-form-wrap{
			padding: 72px 150px 60px;
		}
		& .contact-us-label{
			top: -132px;
		}
	}

}

@media only screen and (min-width : 1600px){
	body{
		font-size: 20px;
	}
	header .email{
		margin-left: 50px;
	}
	#hero-slider{
		padding-bottom: 340px;
	}
	#capabilities{
		margin-bottom: 340px;
		& .our-work{
			bottom: -355px;
		}
	}
	#our-work{
		padding-bottom: 340px;
		& .our-work-slider{
			top: 80px;
			width: 150%;
			margin-left: -25%;
			margin-right: -25%;
			& .our-work-slider-item{
				& .our-work-slider-image{
					height: 480px;
					margin-bottom: 30px;
				}
			}
		}
		& .our-work-slider-bg{
			min-height: 780px;
		}
		& .our-work-slider-control{
			bottom: 150px;
		}
	}
	#contact-us{

		& .contact-form-wrap{
			padding: 72px 207px 60px;
		}
		& .contact-line{
			gap: 0 60px;
		}
		& .contact-us-label{
			top: -186px;
		}
	}
}