@font-face{
	font-family: 'WorkSans-Mandi';
	src: url('../fonts/WorkSans-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'WorkSans-Mandi';
	src: url('../fonts/WorkSans-Medium.ttf');
	font-weight: 500;
	font-display: swap;
}

@font-face{
	font-family: 'WorkSans-Mandi';
	src: url('../fonts/WorkSans-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'Mont-Mandi';
	src: url('../fonts/Mont-Heavy.otf');
	font-weight: 900;
	font-display: swap;
}