@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";

header{
	padding: 15px;		
}

.btn-red{
  width: 309px;
  max-width: 100%;
  border-radius: 26.5px;
  background-color: #FF0010;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 10px;
  margin-bottom: 15px;
  margin-left: 3px;
  margin-right: 3px;
  &:hover{
  	color:$black;
  }		
}

.btn-white{
  width: 309px;
  max-width: 100%;
  border-radius: 26.5px;
  background-color: #fff;
  color: $black;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 10px;
  margin-bottom: 15px;
  margin-left: 3px;
  margin-right: 3px;
  &:hover{
  	color: $red;
  }			
}

.btn-black{
  width: 309px;
  max-width: 100%;
  border-radius: 26.5px;
  background-color: $black;
  color: $red;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 10px;
  margin-bottom: 15px;
  margin-left: 3px;
  margin-right: 3px;
  &:hover{
  	color: #fff;
  }			
}

#home-hero{
	margin-top: -117px;
	padding-top: 117px;
	background-image: url('../img/Hero-background.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 100%;
}

#official-media-relises{
	padding-top: 50px;
	padding-bottom: 50px;
}

.red{
	color: $red;
}

.media-logos{
	margin-top: 35px;
	margin-bottom: 35px;
	& .logos-item{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 15px;
		padding-right: 15px;
	}
}

#official-media-relises .slick-track
{
    display: flex !important;
}

#official-media-relises .slick-slide
{
    height: inherit !important;
}

.overview-wrap{
	background-color: $red;
	padding: 25px 15px;
	border-radius: 26.5px;
}

.overview-image{
	max-width: 474px;
}

#mandi-app{
	padding: 60px 0;
	position: relative;
}

.app-buttons{
	margin-bottom: 100px;
}

.app-buttons a{
	margin-left: 7.5px;
	margin-right: 7.5px;
	& img{
		margin-bottom: 15px;		
	}

}

.app-background{
	position: absolute;
	top: 400px;
	left: 0;
	width: 100%;
	z-index: -1;
	& img{
		width: 100%;
	}
}

.app-hr{
	margin-top: 80px;
	margin-bottom: 80px;
	height: 2px;
	width: 55%;
	background-color: $red;
	margin-left: auto;
	margin-right: auto;
}

#holding-company{
	padding-top: 60px;
	padding-bottom: 60px;
	position: relative;
}

.holding-curve-2{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	& img{
		width: 100%;
		height: auto;
	}
}

.holding-curve-1{
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	& img{
		width: 100%;
		height: auto;
	}
}

.holding-subtitle{
	font-size: 1.5em;
}

#strategic-partners{
	background-color: #171819;
	padding: 60px 0;
}

.partners-criteria{
	font-size: 1.5em;
}

#approved-companies{
	padding: 60px 0;
}

.approved-subtitle{
	font-size: 1.5em;
}

.approved-company-logo{
	& .approved-logo-wrap{
		height: 112px;
		background-color: #fff;
		padding: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 26.5px;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 25px;
	}
	& .app-company-name{
		margin-bottom: 25px;
	}
}


#undereview-companies{
	padding: 60px 0;
}


#approved-companies .slick-track
{
    display: flex !important;
}

#approved-companies .slick-slide
{
    height: inherit !important;
}

#undereview-companies .slick-track
{
    display: flex !important;
}

#undereview-companies .slick-slide
{
    height: inherit !important;
}

.undereview-subtitle{
	font-size: 1.5em;
}

.undereview-company-logo{
	& .undereview-item{
		padding-left: 15px;
		padding-right: 15px;
	}
	& .undereview-logo-wrap{
		margin-bottom: 25px;
		& img{
			margin-left: auto;
			margin-right: auto;
		}
	}
	& .undereview-company-name{
		margin-bottom: 25px;
	}
}

#projects-being-assessed{
	padding: 60px 0;
	background-color: #171819;
	& .projects-description{
		font-size: 1.5em;
		margin-bottom: 45px;
	}
	& .project-features{
		font-size: 1.5em;
	}
}

.projects-slider{
	background-color: $black;
	border-radius: 26.5px;
	padding: 70px 50px 100px;
}

.project-slider-logo-wrap{
    border-radius: 26.5px;
	background-color: #FFFFFF;
	overflow: hidden;
	padding: 8px 15px;
	height: 88px;	
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 45px;
}

.community-voting{
	text-align: center;
	font-weight: 700;
	margin-bottom: 25px;
}

.star-line{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	& img{
		padding-left: 5px;
		padding-right: 5px;
	}
}

.coming-soon {
  color: #FFFFFF;
  font-size: .67em;
  letter-spacing: 0.25px;
  text-align: center;
  margin-bottom: 40px;
}

.projects-slider .slick-track
{
    display: flex !important;
}

.projects-slider .slick-slide
{
    height: inherit !important;
}

.project-slider-control{
	padding: 0 50px;	
	& .project-slider-control-buttons{
		position: absolute;
		bottom: 70px;
		left: 0;
		font-size: 0.67em;
		display: flex;
		justify-content: space-between;
		width: calc(100% - 15px);
		& a{
			color: #fff;
			opacity: 0.25;
			&:hover{
				color: #fff;
				opacity: 1;
			}
		}
		& .prev-button:before{
			content: url('../img/project-slider-arrow.svg');
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
		}
		& .next-button:after{
			content: url('../img/project-slider-arrow.svg');
			transform: rotate(180deg);
			display: inline-block;
			vertical-align: middle;
			margin-left: 15px;
		}
	}
}

#white-paper{
	padding: 180px 0;
	background-color: $red;
	position: relative;
}

.white-paper-top-curve{
	position: absolute;
	width: 100%;
	top: -2px;
	left: 0;
	& img{
		width: 100%;
		height: auto;
	}
}

.white-paper-bottom-curve{
	position: absolute;
	width: 100%;
	bottom: -2px;
	left: 0;
	& img{
		width: 100%;
		height: auto;
	}
}

.white-paper-wrap {
	width: 293px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.white-paper-wrap img{
	position: relative;
	z-index: 1;
}

.white-paper-button{
	position: absolute;
	height: 53px;
	left: 55px;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	z-index: 0;
	& .btn-black{
		padding: 15px 30px 15px 100px;
		width: 250px;
		height: 53px;
	}
}

#mandi-experts{
	padding: 60px 0 0;
	background-image: url('../img/Hero-background.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.linkedin svg{
	margin-right: 15px;
}

.linkedin a{
	color: #fff;
	opacity: 0.25;
	font-size: 0.67em;
	line-height: 24px;
	&:hover{
		color: #fff;
		opacity: 1;
	}
}

.expert-title{
	margin-bottom: 80px;
}

.expert-photo{
	text-align: center;
	background-image: url('../img/expert-photo-background.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.hero-bg img{
	width: 100%;
	height: auto;
}

footer{
	background-color: #171819;
	padding: 60px 0 20px;
}

.footer-social-buttons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer-social-buttons a{
	width: 64px;
	height: 64px;
	background-color: $red;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: opacity .3s ease;
	margin: 5px;
	&:hover{
		opacity: 0.75;
	}
}

.footer-form-wrap{
	text-align: center;
	background-color: $red;
	border-radius: 26.5px;
	padding: 20px 15px;
	margin-bottom: 25px;
	& form{
		position: relative;
	}
	& input[type="email"]{
		height: 76px;
		width: 100%;
		border: 1px solid #A30E17;
		border-radius: 6px;
		background-color: #FFFFFF;
		padding: 15px 100px 15px 26px;
	}
	& input[type="submit"]{
		height: 76px;
		width: 145px;
		border-radius: 6px;
		background-color: #000000;
		border: 1px solid #000000;
		color: #fff;
		position: absolute;
		top: 0;
		right: 0;
		transition: color 0.3s ease;
		&:hover{
			color:$red;
		}
	}
}

.footer-community-partners{
	margin: 30px 0 45px;
	list-style: none;
	padding: 0;
	& li{
		margin-bottom: 15px;
	}
}

.footer-exchanges{
	margin: 25px 0 45px;
	list-style: none;
	padding: 0;
	& li{
		margin-bottom: 15px;
	}
}

.footer-notes{
	opacity: 0.44;
	font-size: 0.67em;
	letter-spacing: 1.32px;
}

.copyright{
	opacity: 0.44;
	font-size: 0.67em;
	letter-spacing: 1.32px;
	margin-top: 25px;
}

.slick-dots{
	bottom: -20px;
}

.slick-dots li button::before {
	color: #fff;
}

.slick-dots li.slick-active button::before {
	color: $red;
}

@import "media";