@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body{
		font-size: 18px;
	}
	#home-hero{
		padding: 190px 0 160px;
	}
	#pricing-hero{
		padding: 140px 0 190px;
	}
	#secret-hero{
		padding: 140px 0 120px;
	}
	#our-cases .section-label{
		top: 60px;
	}
	#our-cases .case-image{
		min-height: 840px;
	}
	#our-cases .case-data{
		padding: 75px 0;
	}
	#our-cases .slide-controls{
		position: absolute;
		bottom: 30px;
		left: 15px;
	}
	footer{
		padding-top: 60px;
		& .contacts-wrap{
			text-align: left;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			& div{
				width: inherit;
				margin-left: 40px;
				margin-right: 40px;
				margin-bottom: 30px;
			}
		}
		& #footer-menu{
			justify-content: flex-end;
		}
	}
	.hr{
		margin-top: 120px;
		margin-bottom: 60px;
	}
	.secret-sauce .section-label{
		top: 60px;
	}
	.secret-sauce .sauce-data{
		padding: 100px 0;
	}
	.secret-sauce .sauce-image{
		min-height: 760px;
	}
	.secret-sauce:nth-child(odd) .col-lg-6:first-child{
		padding-left: calc((100% - 930px) / 2);
	}
	.secret-sauce:nth-child(even) .col-lg-6:first-child{
		padding-right: calc((100% - 930px) / 2);
	}
	.secret-sauce .container-fluid{
		padding: 0;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	#our-services{
		padding: 60px 0;
	}
	#our-cases{
		padding: 60px 0;
	}
	#testimonials{
		padding: 60px 0;
	}
	footer{
		margin-top: -60px;
		padding-top: 170px;
	}
	#trusted-companies{
		padding: 60px 0 120px;
		& .trusted-companies-logo{
			justify-content: space-between;
		}
	}
	.secret-sauce{
		padding: 60px 0;
	}
	.secret-sauce:nth-child(odd) .col-lg-6:first-child{
		padding-left: calc((100% - 1110px) / 2);
	}
	.secret-sauce:nth-child(even) .col-lg-6:first-child{
		padding-right: calc((100% - 1110px) / 2);
	}
	
}

@media only screen and (min-width : 1300px){
	.container{
		max-width: 1270px;
	}
	#home-hero{
		padding: 220px 0;
	}
	.secret-sauce:nth-child(odd) .col-lg-6:first-child{
		padding-left: calc((100% - 1240px) / 2);
	}
	.secret-sauce:nth-child(even) .col-lg-6:first-child{
		padding-right: calc((100% - 1240px) / 2);
	}
}