@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	height: 100%;
}

body {
	color: $black;
	font-size: 16px;
	line-height: 1.3;
	font-family: WorkSans-Calvert, sans-serif;
	overflow-x: hidden;
}

input{
	font-family: WorkSans-Calvert, sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: Prata-Calvert, serif;
}

h1{
  font-size: 2.4em;
  line-height: 1.3;
}

h2{
  font-size: 1.9em;
  line-height: 1.3;
}

h3{
  font-size: 1.3em;
  line-height: 1.3;
}

h4{
  font-size: 1.2em;
  line-height: 1.3;
}

h5{
  font-size: 14px;
  line-height: 18px;
}

a{
	color:$red;
	transition: all 0.3s ease-in-out;
	&:hover{
		color:$black;
		text-decoration: none;
	}
}

a:hover, a:active, a:focus {
	outline: 0;
}

input::-moz-focus-inner { 
  border: 0; 
}

object, embed { 
  outline: 0;
}