@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	#table table{
		& div{
			min-height: 82px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		& tr td:nth-child(1){
			text-align: left;
		}
		& tr td:nth-child(2){
			width: 400px;
		}
		& tr td:nth-child(5){
			white-space: nowrap;
		}
	}
	.join-wrap{
		flex-basis: 33%;
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body{
		font-size: 16px;
	}
	#hero{
		padding-left: 70px;
	}
	.col-50{
		max-width: 50%;
	}
	#table table{
		& tr td:nth-child(1){
			width:175px;
		}
	}
	#faq{
		padding-top: 140px;
		padding-bottom: 80px;
	}
	.button-red{
		padding: 19px 119px;
	}
	a.video:after{
		right: 35px;
	}
	.join-wrap{
		flex-basis: 25%;
	}
	
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	.pl-xl-30{
		padding-left: 30px!important;
	}
	.pr-xl-30{
		padding-right: 30px!important;
	}
	.pl-xl-45{
		padding-left: 45px!important;
	}
	.pr-xl-45{
		padding-right:45px!important;
	}
	#table table{
		& tr td:nth-child(1){
			width:205px;
		}
	}
	#faq{
		& .description{
			padding-right: 250px;
		}
	}
	footer{
		p{
			padding-left: 260px;
			padding-right: 260px;
		}
	}
	.join-wrap{
		flex-basis: 20%;
	}
}