@import "fonts";
@import "libs";
@import "base";
@import "vars";

.button-telegram{
	text-decoration: none;
	font-size: 16px;
	font-family: Mont-BC, sans-serif;
	font-weight: 900;
	line-height: 1;
	color: #fff;
	border:none;
	border-radius: 19px;
    background: linear-gradient(270deg, #48BEF8 0%, #0B90D1 100%);
    background-repeat: no-repeat;
	padding: 10px 72px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 25px;
		top: 9px;
		width: 20px;
		height: 17px;
		-webkit-mask: url('../img/tg-icon.svg') no-repeat 50% 50%;
		mask: url('../img/tg-icon.svg') no-repeat 50% 50%;
		-webkit-mask-size: cover;
		mask-size: cover;
		background-color: #fff;
		transition: all 0.15s ease-in-out;
	}
	&:hover{
		color: #000;
		background: #fff;
	}
	&:hover:before{
		background-color: #000;
	}
}

.black-button{
	text-decoration: none;
	font-family: Mont-BC, sans-serif;
	font-weight: 900;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	background-color: #000;
	min-width: 191px;
	border-radius: 19px;
	padding: 11px 20px;
	&:hover{
		color: #000;
		background-color: #fff;
	}
}

header{
	padding: 25px 0 550px;
	background-image: url('../img/hero-bg.png');
	background-position: 50% 0;
	background-size: cover;
	position: relative;
	& .hero-subtitle{
		color: $blue;
		font-size: 1.7em;
		letter-spacing: 1px;
	}
	& .hero-bg-img{
		position: absolute;
		left: 0;
		right: 0;
		top: 30%;
		transform: translateY(-50%);
		& img{
			max-width: 100%;
			height: auto;
		}
	}
}

#best-groups{
	margin-top: -500px;
	& .table-title{
		font-size: 1.3em;
	}
	& table{
		border:none;
		color: #8C8C8C;
		font-size: 16px;
		min-width: 980px;
		border-collapse: separate;
		border-spacing:0 16px;
		& p:last-child{
			margin-bottom: 0;
		}
		& thead{
			transform: translateY(16px);
			& th{
				font-size: 14px;
				font-family: Mont-BC, sans-serif;
				font-weight: 900;
				color: $blue;
				border:none;
				&:nth-child(2){
					padding-left: 30px;
				}
				&:nth-child(3){
					text-align: center;
				}
				&:nth-child(4){
					text-align: center;
				}
			}
		}
			
		& tbody{
			& tr{
				padding-bottom: 30px;
			}
			& td{
				background-color: #131415;
				border:none;
				vertical-align: middle;
				padding: 30px;
				overflow: hidden;
				position: relative;
				&:first-child{
					padding-left: 33px;
					border-top-left-radius: 14px;
					border-bottom-left-radius: 14px;
					text-align: center;
					font-family: Mont-BC, sans-serif;
					font-weight: 900;
					font-size: 16px;
					line-height: 1;
					letter-spacing: 1px;
					color: $blue;
					vertical-align: top;
					& img{
						display: block;
						margin-bottom: 10px;
						margin-left: auto;
						margin-right: auto;
					}
				}
				&:last-child{
					padding-right: 33px;
					border-top-right-radius: 14px;
					border-bottom-right-radius: 14px;
				}
				&:nth-child(3) ul{
					margin: 0 0 0 15px;
					padding: 0;
					& li::marker{
						color: $blue;
					}
				}
				&:nth-child(3):before{
					content: '';
					position: absolute;
					left: 0;
					top: 20px;
					display: block;
					width: 1px;
					height: calc(100% - 40px);
					background-color: #000;
				}
				&:nth-child(4):before{
					content: '';
					position: absolute;
					left: 0;
					top: 20px;
					display: block;
					width: 1px;
					height: calc(100% - 40px);
					background-color: #000;
				}
				&:nth-child(5):before{
					content: '';
					position: absolute;
					left: 0;
					top: 20px;
					display: block;
					width: 1px;
					height: calc(100% - 40px);
					background-color: #000;
				}
			}
		}
			
	}
}

#pump-and-dump{
	margin-top: -90vw;
	padding: 97vw 0 16vw;
	background-image: url('../img/curve.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#pump-and-dump-description{
	padding: 60px 0;
}

#how-it-works{
	padding: 60px 0;
	& .strategy-title{
		color: $blue;
		font-size: 1.7em;
	}
}

#best-group{
	padding: 60px 0;
	background-color: $blue;
	font-size: 1.2em;
	letter-spacing: 0.71px;
	& a.btn{
		margin-left: 7.5px;
		margin-right: 7.5px;;
	}
}

#contact-us{
	padding: 120px 0;
	& .contact-us-title{
		color: $blue;
		font-size: 1.7em;
		letter-spacing: 1px;
	}
}

#crypto-signals{
	background-image: url('../img/crypto-signals-bg.png');
	background-size: cover;
	background-position: center;
	margin-top: -140px;
	padding-top: 200px;
	padding-bottom: 210px;
	& .crypto-signals-wrap{
		padding: 25px 15px;
		border-radius: 14px;
  		background-color: #131415;
	}
	& .crypto-signals-item-wrap{
		height: 100%;
		border-radius: 14px;
  		background-color: #0D0E0E;
  		padding: 25px 15px;
  		font-size: 0.8em;
  		& a.btn{
  			max-width: 100%;
  		}
	}
}

#telegram-advertising{
	padding-bottom: 80px;
	& .telegram-advertising-channels-title{
		color: $blue;
		font-size: 1.7em;
		letter-spacing: 1px;	
	}
	& .advertising-channels-slider-item{
		background-color: $blue;
		padding: 32px 45px 35px;
		border-radius: 14px;
		text-align: center;
		margin-left: 15px;
		margin-right: 15px;
		transition: all 0.3s ease-in-out;
		
		& img{
			border:8px solid #0D0E0E;
			border-radius: 14px;
			background-color: #0D0E0E;
			margin-bottom: 7px;
			margin-left: auto;
			margin-right: auto;
		}
		& .channel-name{
			font-size: 1.2em;
			font-family: Mont-BC, sans-serif;
			font-weight: 900;
			margin-bottom: 10px;
		}
		& .channel-description{
			font-size: 0.8em;
		}
		& .channel-data{
			font-size: 0.8em;
			line-height: 1;
			padding-left: 10px;
			padding-right: 10px;
			& .people:before{
				content: url('../img/people.svg');
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
			}
			& .view:before{
				content: url('../img/eye.svg');
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
			}
		}
		& .channel-price{
			font-size: 1.2em;
			font-family: Mont-BC, sans-serif;
			font-weight: 900;
		}
	}
}

#related-video{
	padding: 60px 0;
	& .related-video-title{
		color: $blue;
		font-size: 1.7em;
		letter-spacing: 1px;
	}
	& .video-wrap{
		border-radius: 14px;
		height: 240px;
		width: 100%;
		max-width: 390px;
		margin-left: auto;
		margin-right: auto;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center; 
		& a{
			text-decoration: none;
		}
	}	
}

footer{
	& .social-buttons{
		font-family: Mont-BC, sans-serif;
		font-weight: 900;
		font-size: 14px;
		text-transform: uppercase;
		display: flex;
		flex-wrap: wrap;
		gap:45px 65px;
		justify-content: center;
		align-items: center;
		& a{
			text-decoration: none;
			transition: all 0.3s ease-in-out;
			&:hover{
				color: #fff;
			}
			&.youtube:before{
				content: url('../img/youtube.svg');
				display: inline-block;
				vertical-align: middle;
				margin-right: 15px;
			}
			&.medium:before{
				content: url('../img/medium.svg');
				display: inline-block;
				vertical-align: middle;
				margin-right: 15px;
			}
			&.crunchbase:before{
				content: url('../img/crunchbase.svg');
				display: inline-block;
				vertical-align: middle;
				margin-right: 15px;
			}
			&.bitcointalk:before{
				content: url('../img/bitcointalk.png');
				display: inline-block;
				vertical-align: middle;
				margin-right: 15px;
			}
		}
	}
	& .footer-menu{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			display: inline-block;
			padding-left: 15px;
			padding-right: 20px;
			line-height: 1;
			& a{
				text-decoration: none;
				text-transform: uppercase;
				font-size: 14px;
				color: #fff;
				&:hover{
					color: $blue;
				}
			}
		}
	}
	& .copyright{
		font-size: 10px;
		opacity: 0.5;
	}
}

@import "media";