@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	#slider{
		& .slider-wrap{
			& .slider-item{
				height: 290px;
			}
		}
	}
}


@media only screen and (min-width : 510px){
	#slider{
		& .slider-wrap{
			& .slider-item{
				height: 350px;
			}
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	#our-lessons{

		& .col-lg-6{
			& .our-lessons-wrap{
				height: 100%;
				background-color: #fff;
				border-radius: 30px;
				padding: 45px 40px;
				box-shadow: 0.518px 1.932px 51px 0px rgba(125, 205, 200, 0.27);
				& h3{
					min-height: 84px;
					display: flex;
					align-items: center;
					width: 100%;
				}
				
			}
			&:first-child{
				& h3{
					&:before{
						display: inline-block;
						vertical-align: middle;
						margin-right: 15px;
						width: unset;
					}
				}
			}
		}
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body{
		font-size: 17px;
	}
	h1{
		font-size: 3.52em;
	}
	h2{
		font-size: 2.58em;
	}
	#hero{
		padding-bottom: 350px;
		& .hero-bg{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-position: center bottom;
			background-repeat: no-repeat;
			background-image: url('../img/hero-bg.png');
		}
	}
	header{
		& .brand{
			& img{
				max-height: 105px;
				width: auto;
			}
			a{
				font-size: 2.35em;
			}
		}
	}
	.green-button{
		font-family: Gilroy, sans-serif;
		font-size: 1.41em;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		background-color: $green;
		line-height: 1;
		border-radius: 45px;
		padding: 31px 50px;
		&:hover{
			color: $yellow;
		}
	}
	.red-button{
		font-family: Gilroy, sans-serif;
		font-size: 1.41em;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		background-color: $red;
		line-height: 1;
		border-radius: 45px;
		padding: 31px 50px;
		&:hover{
			color: $yellow;
		}
	}
	#slider{
		padding: 80px 0;
		& .slider-wrap{
			& .slider-item{
				height: 560px;
			}
		}
		& .slider-bg{
			background-image: url('../img/slider-bg.png');
		}
	}
	#why-us{
		padding: 80px 0;
	}
	#our-teachers{
		& .col-lg-4:nth-child(3n + 2){
			transform: translateY(30px);
		}
		& .col-lg-4:nth-child(3n + 3){
			transform: translateY(60px);
		}
		& .teacher-wrap{
			padding: 45px 40px;
			&:hover{
				background-color: #fff;
				box-shadow: 0.518px 1.932px 51px 0px rgba(125, 205, 200, 0.64);
			}
		}
		& .teacher-bg{
			background-image: url('../img/teacher-bg.png');
		}
	}
	#schedule{
		padding: 80px 0 30px;
	}
	#meal{
		padding: 80px 0;
			& .meal-slider{
			& .meal-slider-item{
				margin-left: 30px;
				margin-right: 30px;
			}
		}
	}
	#testimonials{
		padding: 80px 0;
		background-color: #f5eeeb;
		& .testimonial-item{
				margin-left: 30px;
				margin-right: 30px;
			}
	}
	#gallery{
		padding: 80px 0;
	}
	#price{
		padding: 80px 0;
	}
	#contact{
		padding: 80px 0;
		& .contact-wrap{
			padding: 45px 35px;
		}
	}
	.modal-dialog {
		& .close{
			top: -20px;
			right: -20px;
		}
		& .modal-body{
			padding-left: 40px;
			padding-right: 40px;
			padding-bottom: 45px;
		}
	}
	
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	#meal{
		& .meal-slider{
			& .meal-slider-item{
				opacity: 0.5;
				min-height: 16vw;
				transition: all 0.3s ease-in-out;
				&.slick-current{
					opacity: 1;
				}
			}
		}
	}
}

@media only screen and (min-width : 1600px){
	#our-teachers{
		& .left-composition{
			display: block;
			position: absolute;
			top: 565px;
			left: 0px;
			z-index: 0;
		}
		& .right-composition{
			display: block;
			position: absolute;
			top: 60px;
			right: 0px;
			z-index: 0;
		}
		& .right-composition-2{
			display: block;
			position: absolute;
			top: 860px;
			right: 0px;
			z-index: 0;
		}
	}
}

@media only screen and (min-width : 1920px){
	#hero{
		& .hero-bg{
			background-image: url('../img/hero-bg-big.png');
		}
	}
	#slider{
		padding: 120px 0;
		& .slider-bg{
			background-image: url('../img/slider-bg-big.png');
		}
	}
	#our-teachers{
		& .left-composition{
			left: 4%;
		}
		& .right-composition{
			right: 5%;
		}
		& .right-composition-2{
			right: 3%;
		}
		& .teacher-bg{
			background-image: url('../img/teacher-bg-big.png');
		}
	}
	#gallery{
		& .gallery-bg{
			background-image: url('../img/gallery-bg-big.png');
		}
	}
}

@media only screen and (min-width : 2500px){
	#hero{
		& .hero-bg{
			background-size: cover;
		}
	}
	#our-teachers{
		& .teacher-bg{
			background-size: contain;
		}
	}
}