
.main-menu{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 14px;
	font-weight: 400;
	background-color: #fff;
	z-index: 99;
	transform: translateY(-200%);
	transition: transform 0.3s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	& ul{
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;
		& li{
			display: block;
			padding-left: 24px;
			padding-right: 24px;
			margin-bottom: 30px;
			line-height: 1;
			& a{
				font-family: Gilroy, sans-serif;
				font-weight: 700;
				position: relative;
				color:$black;
				font-size: 16px;
				line-height: 1;
				text-transform: uppercase;
				transition: color 0.3s ease-in-out;
				text-decoration: none;
				&:hover{
					color:$green;
					text-decoration: none;	
				}
			}
		}
	}
}

.main-menu.open{
	transform: translateY(0%);
}


/* Toggle */
.toggle-btn {
  display: block;
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 9999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
  width: 35px;	
  height: 35px;
  padding: 10px 5px;	
  border:1px solid $green;
  border-radius:50%;
  transition: all 0.3s ease-in-out;}

.hamburger .icon-bar {
  background-color: $green;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 23px; }

.toggle-btn:hover{
	& .hamburger{
		border-color: #1cc3b9;
	}
	& .hamburger .icon-bar{
		background-color: #1cc3b9	;
	}
}  

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 6px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -4px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }


@media only screen and (min-width: 992px){
	.main-menu{
		position: unset;
		background-color: transparent;
		transform: unset;
		align-content: center;
		font-size: 14px;
		font-weight: 400;
		& ul{
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
			& li{
				display: inline-block;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-left: 20px;
				padding-right: 20px;
				line-height: 1;
				margin-bottom: 0;
				& a{
					font-family: Gilroy, sans-serif;
					font-weight: 700;
					color:#fff;
					text-transform: uppercase;
					font-size: 0.94em;
					text-decoration: none;
					transition: color 0.3s ease-in-out;
					&:hover{
						color:$yellow;
					}
				}
			}
		}
	}
	.toggle-btn{
		display: none;
	}
}

