
.main-menu{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 14px;
	font-weight: 400;
	background-color: #fff;
	z-index: 99;
	transform: translateY(-200%);
	transition: transform 0.3s ease-in-out;
	& ul{
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		& li{
			display: block;
			padding-left: 24px;
			padding-right: 24px;
			margin-bottom: 30px;
			line-height: 1;
			& a{
				position: relative;
				color:$black;
				font-size: 12px;
				line-height: 14px;
				align-items: center;
				letter-spacing: 0.1em;
				text-transform: capitalize;
				transition: color 0.3s ease-in-out;
				&:hover{
					color:$black;
				}
			}
		}
	}
}

.main-menu.open{
	transform: translateY(0%);
}

.main-menu .menu-button a{
	padding: 18px 65px;
	border:1px solid $gold;
	border-radius: 25px;
	transition: all 0.3s ease-in-out;
	&:hover{
		background-color: $gold;
		color: #fff;
	}
}

.dropdown-link:after{
	content: url('../img/arrow-down.svg');
	position: absolute;
	right: -5px;
	top: -2px;
}


/* Toggle */
.toggle-btn {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 9999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
   }

.hamburger .icon-bar {
  background-color: $gold;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 15px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }


@media only screen and (min-width: 992px){
	.main-menu{
		position: unset;
		background-color: transparent;
		transform: unset;
		align-content: center;
		font-size: 14px;
		font-weight: 400;
		& ul{
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
			& li{
				display: inline-block;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-left: 20px;
				padding-right: 20px;
				line-height: 1;
				margin-bottom: 0;
				& a{
					font-family: Gilroy, sans-serif;
					font-weight: 700;
					color:#fff;
					text-transform: uppercase;
					font-size: 0.94em;
					text-decoration: none;
					transition: color 0.3s ease-in-out;
					&:hover{
						color:$yellow;
					}
				}
			}
		}
	}
	.toggle-btn{
		display: none;
	}
}

