@import "../libs/normalize-css/normalize.css";
@font-face {
  font-family: "NotoSerif";
  src: url("../fonts/NotoSerif-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "NotoSerif";
  src: url("../fonts/NotoSerif-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Lemon-Tuesday";
  src: url("../fonts/Lemon-Tuesday.otf");
  font-weight: 400;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  position: relative;
  overflow-x: hidden;
}

body {
  color: #fff;
  background-color: #0C0E0D;
  font-size: 16px;
  line-height: 19px;
  font-family: NotoSerif, sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: NotoSerif, sans-serif;
}

h1 {
  font-size: 3.3em;
  line-height: 0.95;
}

h2 {
  font-size: 32px;
  line-height: 42px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 21px;
  line-height: 27px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

a {
  color: #AC1713;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #fff;
}

a:hover, a:active, a:focus {
  outline: none;
}

button, button:hover, button:active, button:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

input:focus, textarea:focus {
  outline: none;
}

object, embed {
  outline: none;
}

::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container {
  padding: 0 15px;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.column {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.text-center {
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px 45px;
  line-height: 1;
  width: 222px;
  max-width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.dark-btn {
  margin-left: 13px;
  margin-right: 13px;
  color: #fff;
  background-color: #000;
  padding: 28px 78px 28px 35px;
  width: 415px;
  max-width: calc(100% - 26px);
}
.dark-btn:hover {
  color: #AC1713;
}
.dark-btn:hover:before {
  background-color: #AC1713;
}
.dark-btn:hover:after {
  background-color: #AC1713;
}
.dark-btn:before {
  content: "";
  width: 26px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dark-btn:after {
  content: "";
  width: 2px;
  height: 26px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  transform: translateY(-12px);
  right: 42px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dark-btn.active {
  color: #AC1713;
}
.dark-btn.active:before {
  background-color: #AC1713;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dark-btn.active:after {
  background-color: #AC1713;
  -webkit-transform: rotate(270deg) translateX(12px);
  -ms-transform: rotate(270deg) translateX(12px);
  transform: rotate(270deg) translateX(12px);
}

.light-btn {
  margin-left: 13px;
  margin-right: 13px;
  color: #AC1713;
  background-color: #1B1B1B;
  padding: 28px 78px 28px 35px;
  width: 415px;
  max-width: calc(100% - 26px);
}
.light-btn:hover {
  color: #AC1713;
  background-color: #fff;
}
.light-btn:hover:before {
  background-color: #AC1713;
}
.light-btn:hover:after {
  background-color: #AC1713;
}
.light-btn:before {
  content: "";
  width: 26px;
  height: 2px;
  background-color: #AC1713;
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.light-btn:after {
  content: "";
  width: 2px;
  height: 26px;
  background-color: #AC1713;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  transform: translateY(-12px);
  right: 42px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.light-btn.active {
  color: #AC1713;
  background-color: #fff;
}
.light-btn.active:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.light-btn.active:after {
  -webkit-transform: rotate(270deg) translateX(12px);
  -ms-transform: rotate(270deg) translateX(12px);
  transform: rotate(270deg) translateX(12px);
}

.red-btn {
  background-color: #AC1713;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.red-btn:hover {
  color: #AC1713;
  background-color: #fff;
}

input {
  display: block;
  width: 100%;
  padding: 17px 23px;
  font-family: NotoSerif, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  border: 1px solid #2C2C2C;
  background-color: #0C0E0D;
  max-width: 695px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  margin-bottom: 12px;
}

textarea {
  display: block;
  width: 100%;
  height: 128px;
  padding: 17px 23px;
  font-family: NotoSerif, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  border: 1px solid #2C2C2C;
  background-color: #0C0E0D;
  max-width: 695px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  margin-bottom: 24px;
}

header {
  padding: 15px 0;
}

#hero {
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 728px;
  margin-top: -105px;
  padding-top: 95px;
}
#hero .container .row {
  min-height: 638px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
#hero .top-left {
  position: absolute;
  top: 130px;
  left: 0;
}
#hero .top-right {
  position: absolute;
  right: 0;
  top: 60px;
}
#hero .bottom-left {
  position: absolute;
  bottom: 80px;
  left: -140px;
  z-index: 3;
}

.hero-banner {
  width: 980px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #AC1713;
  font-family: Lemon-Tuesday, cursive;
  font-size: 34px;
  line-height: 33px;
  padding: 30px 40px;
  -webkit-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  position: relative;
}
.hero-banner .top-right-banner {
  position: absolute;
  top: -50px;
  right: -50px;
}
.hero-banner .shots {
  position: absolute;
  bottom: -30px;
  left: 0;
}

#buttons {
  padding: 60px 0;
}

.form-control-column .btn {
  margin-bottom: 15px;
}

.form-wrap-column .form-wrap {
  padding: 45px 0;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}
.form-wrap-column .form-wrap .form-bg {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -100px;
  z-index: -1;
}
.form-wrap-column .form-wrap.active {
  display: block;
}
.form-wrap-column .form-wrap form {
  display: none;
}

#updates {
  margin-top: 50px;
}

footer {
  font-size: 10px;
  padding: 45px 0;
}

#thankyou {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: calc(100vh - 94.5px - 109px);
}
#thankyou .back-link {
  margin-top: 45px;
  display: inline-block;
  font-weight: 700;
  position: relative;
  padding-left: 40px;
}
#thankyou .back-link:before {
  content: url("../img/left-arrow.svg");
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
}
#thankyou .hero-banner {
  font-family: NotoSerif, sans-serif;
  font-size: 16px;
}
#thankyou .hero-banner .shots {
  position: absolute;
  bottom: -38px;
  left: 0;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .hero-banner {
    font-size: 44px;
    line-height: 43px;
    padding: 40px 90px;
  }

  #hero .top-left {
    position: absolute;
    top: 130px;
    left: 60px;
  }
  #hero .top-right {
    position: absolute;
    right: 80px;
    top: 82px;
  }
  #hero .bottom-left {
    position: absolute;
    bottom: 80px;
    left: -80px;
  }

  .dark-btn {
    padding: 32px 78px 32px 65px;
  }

  .light-btn {
    padding: 32px 78px 32px 65px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #hero .top-left {
    position: absolute;
    top: 130px;
    left: 160px;
  }
  #hero .top-right {
    position: absolute;
    right: 218px;
    top: 82px;
  }
  #hero .bottom-left {
    position: absolute;
    bottom: 80px;
    left: 0;
  }
}