@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: 'Mont-BC';
  src: url("../fonts/Mont-Heavy.otf");
  font-weight: 900;
  font-display: swap; }

@font-face {
  font-family: 'Mont-BC';
  src: url("../fonts/Mont-Regular.otf");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'Questrial-BC';
  src: url("../fonts/Questrial-Regular.ttf");
  font-weight: 400;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  color: #fff;
  background-color: #0D0E0E;
  font-size: 14px;
  line-height: 1.5;
  font-family: Questrial-BC, sans-serif;
  position: relative;
  height: 100%;
  overflow-x: hidden; }
  body.light {
    color: #0D0E0E;
    background-color: #F1F2F2; }

h1, h2, h3, h4, h5, h6 {
  font-family: Mont-BC, sans-serif;
  font-weight: 900; }

h1, .h1 {
  font-size: 3.1em;
  line-height: 0.95;
  font-weight: 900; }

h2 {
  font-size: 32px;
  line-height: 42px; }

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px; }

h4 {
  font-size: 21px;
  line-height: 27px; }

h5 {
  font-size: 14px;
  line-height: 18px; }

a {
  color: #0B90D1;
  text-decoration: underline; }
  a:hover {
    color: #fff; }

.light a:not(.btn) {
  color: #0D0E0E; }
  .light a:not(.btn):hover {
    color: #0B90D1; }

a:hover, a:active, a:focus {
  outline: none; }

button, button:hover, button:active, button:focus {
  outline: none; }

input::-moz-focus-inner {
  border: 0; }

input:focus, textarea:focus {
  outline: none; }

object, embed {
  outline: none; }

::-webkit-input-placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1; }

::-moz-placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1; }

:-ms-input-placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1; }

::-ms-input-placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1; }

::placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1; }

body.overlayed {
  overflow-y: hidden; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 0;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

body.overlayed .overlay {
  display: block;
  opacity: 1;
  z-index: 99999; }

#color-button {
  color: #000;
  width: 55px;
  height: 38px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999999;
  cursor: pointer;
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.light #color-button {
  color: #fff;
  background-color: #000; }

.button-telegram {
  text-decoration: none;
  font-size: 16px;
  font-family: Mont-BC, sans-serif;
  font-weight: 900;
  line-height: 1;
  color: #fff;
  border: none;
  border-radius: 19px;
  background: -webkit-linear-gradient(right, #0B90D1 0%, #48BEF8 50%, #0B90D1 100%);
  background: linear-gradient(270deg, #0B90D1 0%, #48BEF8 50%, #0B90D1 100%);
  background-size: 200%;
  background-repeat: no-repeat;
  padding: 10px 72px;
  position: relative;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .button-telegram:before {
    content: url("../img/tg-icon.svg");
    position: absolute;
    left: 25px;
    top: 9px; }
  .button-telegram:hover {
    color: #fff;
    background-position: 100% 0; }

.black-button {
  text-decoration: none;
  font-family: Mont-BC, sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  background-color: #000;
  min-width: 191px;
  border-radius: 19px;
  padding: 11px 20px; }
  .black-button:hover {
    color: #000;
    background-color: #fff; }

header {
  padding: 25px 0 550px;
  background-image: url("../img/hero-bg.png");
  background-position: 50% 0;
  background-size: cover;
  position: relative; }
  header .hero-subtitle {
    color: #0B90D1;
    font-size: 1.7em;
    letter-spacing: 1px; }
  header .hero-bg-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    header .hero-bg-img img {
      max-width: 100%;
      height: auto; }

.light header {
  background-image: url("../img/bg-hero-white.png"); }

#best-groups {
  margin-top: -500px; }
  #best-groups .table-title {
    font-size: 1.3em; }
  #best-groups table {
    border: none;
    color: #8C8C8C;
    font-size: 16px;
    min-width: 980px;
    border-collapse: separate;
    border-spacing: 0 16px; }
    #best-groups table p:last-child {
      margin-bottom: 0; }
    #best-groups table thead {
      -webkit-transform: translateY(16px);
      -ms-transform: translateY(16px);
      transform: translateY(16px); }
      #best-groups table thead th {
        font-size: 14px;
        font-family: Mont-BC, sans-serif;
        font-weight: 900;
        color: #0B90D1;
        border: none; }
        #best-groups table thead th:nth-child(2) {
          padding-left: 30px; }
        #best-groups table thead th:nth-child(3) {
          text-align: center; }
        #best-groups table thead th:nth-child(4) {
          text-align: center; }
    #best-groups table tbody tr {
      padding-bottom: 30px; }
    #best-groups table tbody td {
      background-color: #131415;
      border: none;
      vertical-align: middle;
      padding: 30px;
      overflow: hidden;
      position: relative; }
      #best-groups table tbody td:first-child {
        padding-left: 33px;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
        text-align: center;
        font-family: Mont-BC, sans-serif;
        font-weight: 900;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 1px;
        color: #0B90D1;
        vertical-align: top; }
        #best-groups table tbody td:first-child img {
          display: block;
          margin-bottom: 10px;
          margin-left: auto;
          margin-right: auto; }
      #best-groups table tbody td:last-child {
        padding-right: 33px;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px; }
      #best-groups table tbody td:nth-child(3) ul {
        margin: 0 0 0 15px;
        padding: 0; }
        #best-groups table tbody td:nth-child(3) ul li::marker {
          color: #0B90D1; }
      #best-groups table tbody td:nth-child(3):before {
        content: '';
        position: absolute;
        left: 0;
        top: 20px;
        display: block;
        width: 1px;
        height: calc(100% - 40px);
        background-color: #000; }
      #best-groups table tbody td:nth-child(4):before {
        content: '';
        position: absolute;
        left: 0;
        top: 20px;
        display: block;
        width: 1px;
        height: calc(100% - 40px);
        background-color: #000; }
      #best-groups table tbody td:nth-child(5):before {
        content: '';
        position: absolute;
        left: 0;
        top: 20px;
        display: block;
        width: 1px;
        height: calc(100% - 40px);
        background-color: #000; }

.light #best-groups table tbody td {
  background-color: #fff; }
  .light #best-groups table tbody td:nth-child(3):before {
    background-color: #D7E6ED; }
  .light #best-groups table tbody td:nth-child(4):before {
    background-color: #D7E6ED; }
  .light #best-groups table tbody td:nth-child(5):before {
    background-color: #D7E6ED; }

#pump-and-dump {
  margin-top: -90vw;
  padding: 97vw 0 16vw;
  background-image: url("../img/curve.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff; }

#pump-and-dump-description {
  padding: 60px 0; }

#how-it-works {
  padding: 60px 0; }
  #how-it-works .strategy-title {
    color: #0B90D1;
    font-size: 1.7em; }

#best-group {
  padding: 60px 0;
  background-color: #0B90D1;
  font-size: 1.2em;
  letter-spacing: 0.71px; }
  #best-group a.btn {
    margin-left: 7.5px;
    margin-right: 7.5px; }

#contact-us {
  padding: 120px 0; }
  #contact-us .contact-us-title {
    color: #0B90D1;
    font-size: 1.7em;
    letter-spacing: 1px; }

#crypto-signals {
  background-image: url("../img/crypto-signals-bg.png");
  background-size: cover;
  background-position: center;
  margin-top: -140px;
  padding-top: 200px;
  padding-bottom: 210px; }
  #crypto-signals .crypto-signals-wrap {
    padding: 25px 15px;
    border-radius: 14px;
    background-color: #131415; }
  #crypto-signals .crypto-signals-item-wrap {
    height: 100%;
    border-radius: 14px;
    background-color: #0D0E0E;
    padding: 25px 15px;
    font-size: 0.8em; }
    #crypto-signals .crypto-signals-item-wrap a.btn {
      max-width: 100%; }

.light #crypto-signals {
  background-image: url("../img/crypto-signal-bg-white.png"); }
  .light #crypto-signals .crypto-signals-wrap {
    background-color: #fff; }
  .light #crypto-signals .crypto-signals-item-wrap {
    background-color: #F3F3F3; }

#telegram-advertising {
  padding-bottom: 80px; }
  #telegram-advertising .telegram-advertising-channels-title {
    color: #0B90D1;
    font-size: 1.7em;
    letter-spacing: 1px; }
  #telegram-advertising .advertising-channels-slider-item {
    background-color: #0B90D1;
    padding: 32px 45px 35px;
    border-radius: 14px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff; }
    #telegram-advertising .advertising-channels-slider-item img {
      border: 8px solid #0D0E0E;
      border-radius: 14px;
      background-color: #0D0E0E;
      margin-bottom: 7px;
      margin-left: auto;
      margin-right: auto; }
    #telegram-advertising .advertising-channels-slider-item .channel-name {
      font-size: 1.2em;
      font-family: Mont-BC, sans-serif;
      font-weight: 900;
      margin-bottom: 10px; }
    #telegram-advertising .advertising-channels-slider-item .channel-description {
      font-size: 0.8em; }
    #telegram-advertising .advertising-channels-slider-item .channel-data {
      font-size: 0.8em;
      line-height: 1;
      padding-left: 10px;
      padding-right: 10px; }
      #telegram-advertising .advertising-channels-slider-item .channel-data .people:before {
        content: url("../img/people.svg");
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px; }
      #telegram-advertising .advertising-channels-slider-item .channel-data .view:before {
        content: url("../img/eye.svg");
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px; }
    #telegram-advertising .advertising-channels-slider-item .channel-price {
      font-size: 1.2em;
      font-family: Mont-BC, sans-serif;
      font-weight: 900; }

#related-video {
  padding: 60px 0; }
  #related-video .related-video-title {
    color: #0B90D1;
    font-size: 1.7em;
    letter-spacing: 1px; }
  #related-video .video-wrap {
    border-radius: 14px;
    height: 240px;
    width: 100%;
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #related-video .video-wrap a {
      text-decoration: none; }

footer .social-buttons {
  font-family: Mont-BC, sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 45px 65px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  footer .social-buttons a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    footer .social-buttons a:hover {
      color: #fff; }
    footer .social-buttons a.youtube:before {
      content: url("../img/youtube.svg");
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px; }
    footer .social-buttons a.medium:before {
      content: url("../img/medium.svg");
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px; }
    footer .social-buttons a.crunchbase:before {
      content: url("../img/crunchbase.svg");
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px; }
    footer .social-buttons a.bitcointalk:before {
      content: url("../img/bitcointalk.png");
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px; }

footer .footer-menu {
  margin: 0;
  padding: 0;
  list-style: none; }
  footer .footer-menu li {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    line-height: 1; }
    footer .footer-menu li a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      color: #fff; }
      footer .footer-menu li a:hover {
        color: #0B90D1; }

footer .copyright {
  font-size: 10px;
  opacity: 0.5; }

.light footer .social-buttons a {
  color: #0B90D1; }
  .light footer .social-buttons a:hover {
    color: #000; }

.light footer .social-buttons a.youtube:before {
  content: url("../img/youtube-black.svg");
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px; }

.light footer .social-buttons a.medium:before {
  content: url("../img/medium-black.svg");
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px; }

.light footer .social-buttons a.crunchbase:before {
  content: url("../img/crunchbase-black.svg");
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px; }

.light footer .social-buttons a.bitcointalk:before {
  content: url("../img/bitcointalk-black.png");
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 510px) {
  #telegram-advertising .advertising-channels-slider {
    margin-left: 45px;
    margin-right: 45px; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px; }
  #telegram-advertising .advertising-channels-slider {
    margin-left: 45px;
    margin-right: 45px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  body {
    font-size: 18px; }
  header {
    padding: 110px 0 550px; }
  #crypto-signals .crypto-signals-wrap {
    padding: 80px 60px; }
  #crypto-signals .crypto-signals-item-wrap {
    padding: 40px 45px 36px; }
  footer .footer-menu li {
    border-right: 1px solid #0B90D1;
    padding-top: 0;
    padding-bottom: 0; }
    footer .footer-menu li:last-child {
      border-right: none; } }

@media only screen and (min-width: 992px) and (max-width: 1599px) {
  .slick-track .slick-current {
    opacity: 0.6; }
  .slick-track .slick-current + .slick-active + .slick-active {
    opacity: 0.6; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 20px; }
  .container {
    max-width: 1320px; } }

@media only screen and (min-width: 1600px) {
  .slick-track .slick-current {
    opacity: 0.6; }
  .slick-track .slick-current + .slick-active + .slick-active + .slick-active {
    opacity: 0.6; }
  #telegram-advertising .advertising-channels-slider {
    margin-left: 100px;
    margin-right: 100px; }
  #telegram-advertising .slick-prev::before {
    content: url("../img/slider-arrow.svg");
    display: block;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  #telegram-advertising .slick-next::before {
    content: url("../img/slider-arrow.svg");
    display: block; } }
