
.main-menu{
	position: fixed;
	padding-top: 120px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 14px;
	font-weight: 400;
	background-color: #2B74B9;
	z-index: 99;
	transform: translateX(-200%);
	transition: transform 0.3s ease-in-out;
	& ul{
		list-style: none;
		margin: 0;
		padding: 0;
		& li{
			display: block;
			padding: 15px 40px;
			line-height: 1;
			border-bottom: 1px solid #fff;
			&:last-child{
				border-bottom: none;
			}
			&:hover{
				background-color: #15499F;
			}
			& a{
				position: relative;
				color:#fff;
				font-size: 18px;
				transition: color 0.3s ease-in-out;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}

.main-menu.open{
	transform: translateX(0%);
}

.main-menu .menu-button a{
	padding: 18px 65px;
	border:1px solid $gold;
	border-radius: 25px;
	transition: all 0.3s ease-in-out;
	&:hover{
		background-color: $gold;
		color: #fff;
	}
}

.dropdown-link:after{
	content: url('../img/arrow-down.svg');
	position: absolute;
	right: -5px;
	top: -2px;
}


/* Toggle */
.toggle-btn {
  display: block;
  position: absolute;
  top: 44px;
  right: 23px;
  z-index: 9999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
   }

.hamburger .icon-bar {
  background-color: #fff;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 18px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }


@media only screen and (min-width: 992px){
	.main-menu{
		padding-top: unset;
		position: unset;
		background-color: transparent;
		transform: unset;
		display: flex;
		justify-content: flex-end;
		font-size: 14px;
		font-weight: 400;
		& ul{
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: right;
			& li{
				display: inline-block;
				line-height: 1;
				margin-bottom: 0;
				border-bottom: none;
				padding: 0;
				margin-left: 12px;
				margin-right: 12px;
				&:hover{
					background-color: unset;
				}
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
				&.current-menu-item a:after{
						width: 100%;
				}
				& a{
					color:#fff;
					padding: 20px 0;
					text-decoration: none;
					text-transform: none;
					transition: color 0.3s ease-in-out;
					&:after{
						content: '';
						width: 0;
						height: 1px;
						background-color: #fff;
						transition: width 0.3s ease-in-out;
						display: block;
						position: absolute;
						bottom: 0;
					}
					&:hover{
						color:#fff;
					}
					
					
					&:hover:after{
						width: 100%;
					}
				}
			}
		}
	}
	.toggle-btn{
		display: none;
	}
	.brand{
		text-align: left;
	}
}

@media only screen and (min-width: 1200px){
	.main-menu ul li{
		margin-left: 25px;
		margin-right: 25px;
	}
}