@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";

header{
	padding: 23px 0;
	z-index: 99;
	position: relative;
}

body.menu-open{
	overflow-y: hidden;
} 

.brand img{
	position: relative;
	max-height: 74px;
	height: auto;
	z-index: 9999999;
}

#home-hero{
	background: linear-gradient(289.5deg, #15499F 0%, #008AC5 97.14%);
	min-height: 650px;
	margin-top: -120px;
	position: relative;
}

.overlay{
	background: linear-gradient(360deg, #15499F -3.76%, rgba(0, 138, 197, 0) 18.36%);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.home-slider{
	min-height: 650px;
	padding-top: 120px;
	& img{
		max-width: 100%;
	}
}

.slider-item{
	position: relative;
}

.slider-title{
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
	color: #FFFFFF;
	z-index: 81;
	position: relative;
}

.hero-action{
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
	& span{
			font-weight: 700;
		}
}

.gold-button{
	background-color: $gold;
	border-radius: 4px;
	color: #fff;
	z-index: 189;
	position: relative;
	padding: 20px 35px;
	&:hover{
		color: #fff;
		background-color: #FF953F;
	}
	&:focus{
		color: #fff;
		background-color: #DE6705;
	}
}

.slick-dots{
	z-index: 90;
	bottom: 30px;
}

.slick-dots li button::before {
	color: #478ECC;
	font-size: 13px;
}

.slick-dots li.slick-active button::before {
	color: #fff;
}

#home-buttons{
	padding: 70px 0 130px;
}

#home-buttons .button-wrap{
	margin-bottom: 20px;
	background: #FFFFFF;
	border-radius: 4px;
	box-shadow: 0px 6px 20px rgba(43, 116, 185, 0.15);
	&.col-12{
		max-width: calc(100% - 30px);
		margin-left: 15px;
		margin-right: 15px;
	}
	&:hover{
		background: linear-gradient(285.65deg, #15499F 0%, #008AC5 97.14%);
		& svg{
			fill: #fff;
		}
		& a{
			color:#fff;
			text-decoration: none;
		}
	}
	& svg{
		fill:#2B74B9;
	}	
	& a{
		padding: 40px 35px;
		color: $black;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		height: 100%;
		& .link-title{
			max-width: calc(100% - 50px);
			padding-left: 15%;
			display: flex;
			justify-content: center;
		}
	}
}

#pay-online{
	padding: 30px 0 0;
	background: linear-gradient(304.99deg, #15499F 0%, #008AC5 97.14%);
	position: relative;
	& .overlay{
		background-image: url('../img/bg-pay-online.svg');
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-position: center;
		z-index: 0;
	}
	& h2{
		font-weight: bold;
		font-size: 30px;
		line-height: 39px;
	}
	& .cards{
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

#news{
	margin-top: 58px;
	background-color: #fff;
	padding: 70px 0;
	& h2{
		font-weight: bold;
		font-size: 30px;
		line-height: 39px;
	}
	& a:hover .news-thumbnail{
		opacity: 0.8;
	}
	& a:hover{
		text-decoration: none;
	}
}

.news-wrap{
	padding-bottom: 20px;
	position: relative;
	margin-bottom: 30px;
}

.post-data{
	width: 100%;
	position: absolute;
	bottom: 15px;
}

.news-thumbnail{
	min-height: 250px;
	border-radius: 4px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.date{
	color: #999999;
	margin-bottom: 5px;
}

.link-more:after{
	content: url('../img/arrow-right.svg');
	margin-left: 15px;
}

.news-title{
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
	color: $black;

}

.transparent-button{
	border-radius: 4px;
	border: 1px solid #2B74B9;
	padding: 20px 35px;
	&:hover{
		background-color: #2B74B9;
		color: #fff;
	}
}

#plans{
	padding: 70px 0;
	& h2{
		font-weight: bold;
		font-size: 30px;
		line-height: 39px;
	}
}

#filter-button{
	position: absolute;
	right: 0;
	top: 6px;
	cursor: pointer;
}

#plans .nav{
	display: none;
	position: absolute;
	background-color: #F1F9FF;
	padding: 15px;
	z-index: 9;
	top: 47px;
	left: 0;
	right: 0;
	&.open{
		display: block;
	}
}

#v-pills-tab a{
	color: $black;
	padding: 7px 30px;
	position: relative;
	&.active{
		color: #2B74B9;
		&:after{
			content: '';
			width: 8px;
			height: 8px;
			background-color: #2B74B9;
			border-radius: 1px;
			position: absolute;
			left: 3px;
			top: 14px;
		}
	}
	&:before{
		content: '';
		width: 14px;
		height: 14px;
		border: 1px solid #ccc;
		border-radius: 1px;
		position: absolute;
		left: 0;
		top: 11px;
	}
	&:hover{
		color: #2B74B9;
	}
	&:hover:after{
		content: '';
		width: 8px;
		height: 8px;
		background-color: #2B74B9;
		border-radius: 1px;
		position: absolute;
		left: 3px;
		top: 14px;
		display: block;
	}
}

.tarif-item{
	background-color: #fff;
	border: 1px solid #BEDEF5;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 42px;
	&:hover {
		background-color: #2B74B9;
	}
	& .tarif-logo-max{
		width: 46px;
		height: 13px;
		margin-bottom: 10px;
		background-image: url('../img/icon-max.svg');
	}
	&:hover .tarif-logo-max{
		background-image: url('../img/icon-max-hover.svg');
	}
	& .tarif-logo-middle{
		width: 46px;
		height: 13px;
		margin-bottom: 10px;
		background-image: url('../img/icon-middle.svg');
	}
	&:hover .tarif-logo-middle{
		background-image: url('../img/icon-middle-hover.svg');
	}
	& .tarif-logo-low{
		width: 46px;
		height: 13px;
		margin-bottom: 10px;
		background-image: url('../img/icon-low.svg');
	}
	&:hover .tarif-logo-low{
		background-image: url('../img/icon-low-hover.svg');
	}
	& .tarif-title{
		font-weight: bold;
		font-size: 24px;
		line-height: 31px;
		margin-bottom: 60px;
	}
	&:hover .tarif-title{
		color: #fff;
	}
	& .tarif-speed{
		font-weight: bold;
		font-size: 30px;
		line-height: 39px;
		margin-bottom: 15px;
	}
	&:hover .tarif-speed{
		color: #fff;
	}
	& .tarif-price{
		font-size: 18px;
		line-height: 23px;
		margin-bottom: 70px;
	}
	&:hover .tarif-price{
		color: #fff;
	}
	& .order-button{
		color: #fff;
		border-radius: 4px;
		padding: 20px 35px;
		background-color: #2B74B9;
	}
	&:hover .order-button{
		background-color: #F58020;
	}
}

.footer-top{
	background-color: #00060F;
	padding: 35px 0;
}

#footer-menu{
	margin: 35px 0;
	padding: 0;
	list-style: none;
	& li{
		display: block;
		padding: 7.5px 0;
		text-align: center;
		& a{
			color: #fff;

		}
		&.button{
			margin-top: 50px; 
			& a{
				color: #fff;
				border-radius: 4px;
				padding: 20px 35px;
				background-color: #2B74B9;
				&:hover{
					background-color: #F58020;
					text-decoration: none;
				}
			}
		}
	}
}

.footer-bottom{
	background-color: #0B0B0B;
	padding: 40px 0;
}

.sosial-title{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
}

.sosial-links{
	& a{
		margin-left: 4px;
		margin-right: 4px;
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}
}

.address-title{
	color:#2B74B9;
	font-size: 24px;
	font-weight: 700;
	position: relative;
	& .title{
		position: relative;
		background-color: #0B0B0B;
		display: inline-block;
		padding-right: 20px;
		z-index: 2;
	}
	&:after{
		content: '';
		width: 100%;
		height: 1px;
		background-color: #478ECC;
		position: absolute;
		left: 0;
		top: 5px;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		z-index: 0;
	}
}

.service-contact ul{
	margin: 0;
	padding: 0;
	list-style: none;
	& a{
		color: #ccc;
		font-size: 16px;
	}
}

@import "media";