@font-face{
	font-family: 'Assistant-Newsletters';
	src: url('../fonts/Assistant-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'Assistant-Newsletters';
	src: url('../fonts/Assistant-SemiBold.ttf');
	font-weight: 600;
	font-display: swap;
}

@font-face{
	font-family: 'Assistant-Newsletters';
	src: url('../fonts/Assistant-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'Oswald-Newsletters';
	src: url('../fonts/Oswald-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'Oswald-Newsletters';
	src: url('../fonts/Oswald-Medium.ttf');
	font-weight: 500;
	font-display: swap;
}

@font-face{
	font-family: 'Oswald-Newsletters';
	src: url('../fonts/Oswald-SemiBold.ttf');
	font-weight: 600;
	font-display: swap;
}