@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){
	.thead{
		font-size: 12px;}

	#staking-table{
		font-size: 12px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	#staking-table{
		font-size: 16px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body{
		font-size: 22px;
	}
	.col-50{
		max-width: 50%;
	}
	.text-lg-right{
		text-align: right;
	}
	.brand{
		margin-bottom: 0;
	}
	.amount{
		font-size: 5.9em;
	}
	.hero-button .violet-button{
		font-size: 18px;
		padding: 25px 120px;
	}
	#staking-table{
		font-size: 0.81em;
		border-spacing: 0 10px;
		margin-top: -50px;
	}
	.thead{
		font-size: 14px;
		margin-bottom: -10px;
		&:after{
			content: '';
			display: inline-block;
			width: 0; 
			height: 0; 
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 6px solid #fff;
		}
	}
	#staking-table > tbody > tr > td{
		padding: 10px 0 10px;
	}
	#staking-table > tbody > tr > td:nth-child(5) img{
		max-height: 26px;
	}
	#staking-table > tbody > tr td:nth-child(1) img{
		max-height: 40px;
	}
	#staking-table > tbody > tr td:nth-child(5){
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: none;
	}
	#staking-table > tbody > tr > td:nth-child(6){
		display: table-cell;
		position: relative;
		bottom: unset;
		left: unset;
		width: 257px;
		background-color: #fff;
		border-right: 1px solid $blue;
		border-top: 1px solid $blue;
		border-bottom: 1px solid $blue;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.currency-table tr{
		display: table-row;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		& td:nth-child(1){
			text-align: center;
			width: 24%;
		}
		& td:nth-child(2){
			text-align: left;
			width: 24%;
			display: table-cell;
		}
		& td:nth-child(3){
			width: 2%;
			transform: none;
		}
		& td:nth-child(4){
			text-align: center;
			width: 24%;
		}
		& td:nth-child(5){
			text-align: left;
			width: 24%;
			display: table-cell;
		}
	}
	.blue-button{
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 1px;
		color: #fff;
		background-color: $blue;
		text-transform: uppercase;
		border-radius: 5px;
		padding: 16px 33px;
		display: inline-block;
		&:hover{
			color: #fff;
			background-color: $violet;
		}
	}

	.violet-button{
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 1px;
		color: #fff;
		background-color: $violet;
		text-transform: uppercase;
		border-radius: 5px;
		padding: 16px 33px;
		display: inline-block;
		&:hover{
			color: #fff;
			background-color: $blue;
		}
	}
	.hero-button .violet-button{
		font-size: 18px;
		padding: 25px 70px;
	}
	ul#earning{
		& li{
			padding-left: 99px;
			&:before{
				width: 47px;
				height: 47px;
				left: 0;
				top: -12px;
			}
		}
	}
	.social-wrap{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		justify-content: space-between;

		& img{
			transform: scale(1);
			margin-right: 10px;
		}
	}
	#footer-menu{
		& li{
			padding-left: 17px;
			padding-right: 17px;
			padding-bottom: 5px;
			border-right: 1px solid $black;
			&:last-child{
				border: none;
			}
			& a{
				font-size: 14px;
			}
		}
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	.pl-xl-75{
		padding-left: 90px!important;
	}
	#footer-menu{
		& li{
			padding-left: 35px;
			padding-right: 35px;
		}
	}
}