@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	height: 100%;
}

body {
	color: #00194C;
	font-size: 14px;
	font-weight: 400;
	line-height: 180%;
	font-family: Mont-Ecom, sans-serif;
	overflow-x: hidden;
	background-color: #E5E5E5;
}



h1,h2,h3,h4,h5,h6{
	font-family: Mont-Ecom, serif;
	color: $black;
}

h1{
  font-size: 3.3em;
  line-height: 0.95;
}

h2{
  font-size: 3.14em;
  font-weight: 700;
  line-height: 127%;
}

h3{
  font-size: 2.28em;
  font-weight: 700;
  line-height: 128%;
}

h4{
  font-size: 1.71em;
  font-weight: 500;
  line-height: 130%;
}

h5{
  font-size: 1.43em;
  font-weight: 700;
  line-height: 130%;
}

a{
	color:$green;
	transition: all 0.3s ease-in-out;
	&:hover{
		color:darken($green, 15%);
		text-decoration: none;
	}
}

a:hover, a:active, a:focus {
	outline: 0;
}

input::-moz-focus-inner { 
  border: 0; 
}

object, embed { 
  outline: 0;
}

::placeholder { 
  color:#00194C;
  opacity: .8; 
}

input[type="text"],input[type="tel"],input[type="email"]{
	color: #00194C;
	width: 100%;
	border: none;
	padding: 10px 0;
	border-bottom: 1px solid #C4C9D4; 
	margin-bottom: 10px;
	font-family: Mont-Ecom, sans-serif;
}

ul.list{
	margin: 0;
	padding: 0;
	list-style: none;
	& li{
		position: relative;
		padding-left: 16px;
		&:before{
			content:'';
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: $green;
			position: absolute;
			left: 0;
			top: 11px;
		}
	}
}