@font-face{
	font-family: 'SourceSansPro-Slaapkops';
	src: url('../fonts/SourceSansPro-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'SourceSansPro-Slaapkops';
	src: url('../fonts/SourceSansPro-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'SourceSansPro-Slaapkops';
	src: url('../fonts/SourceSansPro-Light.ttf');
	font-weight: 300;
	font-display: swap;
}


@font-face{
	font-family: 'ButtercellBrush-Slaapkops';
	src: url('../fonts/ButtercellBrush.ttf');
	font-weight: 400;
	font-display: swap;
}