footer{
	background-color: $blue;
	padding: 28px 0 25px;
	color: #fff;
	& a{
		color: #fff;
		&:hover{
			color: $red;
		}
	}
	& .footer-logo-column{
		text-align: center;
		margin-bottom: 15px;
	}
	& .footer-menu-column{
		display: flex;
		justify-content: center;
		margin-bottom: 15px;
		& #footer-menu{
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			& li{
				flex-basis: 50%;
				max-width: 50%;
				& a{
					font-size: 0.7em;
					text-transform: uppercase;
					padding: 5px 0;
					display: block;
					color: #fff;
					&:hover{
						color: $red;
					}
				}
			}
		}
	}
	& .footer-social-column{
		display: flex;
		justify-content: center;
		margin-bottom: 15px;
		& #footer-social{
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			align-items:center;
			& li{
				padding-left: 13px;
				padding-right: 13px;
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
				}
				& svg path{
					transition: all 0.3s ease-in-out;
				}
				&:hover svg path{
					fill:$red;
				}
			}
		}
	}
	& .footer-contact-column{
		display: flex;
		justify-content: center;
		margin-bottom: 15px;
		& #footer-contact{
			list-style: none;
			margin: 0 -13px;
			padding: 0;
			display: flex;
			flex-wrap: wrap;

			& li{
				margin: 5px 0;
				& a{
					font-size: 0.7em;
					color: #fff;
					display: flex;
					align-items:center;
					padding-left: 13px;
					padding-right: 13px;
					& svg{
						margin-right: 7px;
						& path{
							transition: all 0.3s ease-in-out;
						}
					}
				}
				&:hover{
					& a{
						color: $red;
					}
					& svg path.svgfilled{
						stroke: $red;
					}
				}
			}
		}
	}
	& .footer-copyright{
		text-align: center;
		font-size: 10px;
		opacity: 0.6;
	}
}


@media only screen and (min-width : 510px){
	footer{
		& .footer-menu-column{
			& #footer-menu{
				& li{
					flex-basis: 20%;
					max-width: 20%;
					text-align: center;
				}
			}
		}
	}
		
}

@media only screen and (min-width : 768px){
	footer{
		& .row{
			align-items:center;
		}
		& .footer-logo-column{
			text-align: left;
			margin-bottom: 15px;
			flex-basis: 230px;
			max-width: 230px;
			margin-bottom: 30px;
		}
		& .footer-menu-column{
			flex-basis: calc(100% - 230px);
			max-width: calc(100% - 230px);
			margin-bottom: 30px;
			& #footer-menu{
				justify-content: flex-end;
				& li{
					flex-basis: auto;
					max-width: auto;
					text-align: center;
					padding-left: 20px;
					padding-right: 20px;
					&:first-child{
						padding-left: 0;
					}
					&:last-child{
						padding-right: 0;
					}
				}
			}
		}
		& .footer-social-column{
			flex-basis: 125px;
			max-width: 125px;
			justify-content: flex-start;
			margin-bottom: 0;
		}
		& .footer-contact-column{
			flex-basis: calc(100% - 125px - 170px);
			max-width: calc(100% - 125px - 170px);
			margin-bottom: 0;
		}
		& .footer-copyright{
			flex-basis: 170px;
			max-width: 170px;
			text-align: right;
		}
	}
		
}

@media only screen and (min-width : 992px){
	footer{
		& .footer-menu-column{
			& #footer-menu{
				& li{
					padding-left: 30px;
					padding-right: 30px;
				}
			}
		}
	}
}