@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){
	#home-features{
		& .column{
			flex-basis: 50%;
			max-width: 50%;
			&:nth-child(1){
				border-right:1px solid #EDF4EA;
			}
			&:nth-child(3){
				border-right:1px solid #EDF4EA;
			}
		}
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	#header{
		height: unset;
	}

	.header-row{
		align-items:center;
	}
	#service-solution{
		& .column{
			padding-bottom: 45px;
		}
		& .service-solution-wrap{
			min-height: 250px;
			& .service-solution-img{
				flex-basis: 250px;
				max-width: 250px;
				height: 100%;
			}
			& .service-solution-data{
				flex-basis: calc(100% - 250px);
				max-width: calc(100% - 250px);
				padding: 15px 35px 70px;
				position: relative;
			}

			& .service-solution-link{
				position: absolute;
				bottom: 30px;
				left: 35px;
			}
		}
	}
	#values{
		& .the-boss-way{
			text-align: center;
		}
		& .value-wrap{
			& h4{
				margin-top: 0;
				margin-bottom: 15px;
			}
			& .data-icon-column{
				flex-basis: 110px;
				max-width: 110px;
				& .data-icon-wrap{
					padding: 15px;
					height: 110px;
					width: 110px;
				}
			}
			& .data-text-column{
				flex-basis: calc(100% - 110px);
				max-width: calc(100% - 110px);
				padding-left: 15px;
			}
		}
		& .value-line{
			left: 66px;
		}
	}
	#testimonials{
		& .testimonials-column{
			flex-basis: 890px;
			max-width: 890px;
			margin-left: auto;
			margin-right: auto;
		}
		& .testimonials-wrap{
			& .testimonials-item{
				& .testimonial-text{
					padding: 45px 120px;
					&:after{
						left: 80px;	
					}
					& .open-quote{
						top: 29px;
						left: 24px;
					}
					& .close-quote{
						top: 29px;
						right: 24px;
					}
				}
				& .testimonials-data{
					margin-left: 140px;
					padding: 28px 0;
				}
			}
		}
			
	}
	#contact-form{
		& .data-column{
			flex-basis: 50%;
			max-width: 50%;
		}
		& .message-column{
			flex-basis: 50%;
			max-width: 50%;
		}
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	#home-hero .home-hero-title-column{
		flex-basis: 58.33%;
		max-width: 58.33%;
	}
	#home-hero .home-hero-seals-column{
		flex-basis: 41.67%;
		max-width: 41.67%;
		display: flex;
		justify-content: flex-end;
		align-items:flex-end;
		& .home-hero-seals{
			margin-top: 0;
		}
	}
	#home-features{
		& .column{
			flex-basis: 25%;
			max-width: 25%;
			&:nth-child(2){
				border-right:1px solid #EDF4EA;
			}
		}
	}
	#mission{
		& .container{
			max-width: 962px;
		}
	}
	#service-solution{
		& .column{
			flex-basis: 50%;
			max-width: 50%;
		}
	}
	#values{
		& .data-column{
			padding-top: 60px;
		}
		& .the-boss-way{
			text-align: center;
		}
		& .value-wrap{
			& h4{
				margin-top: 0;
				margin-bottom: 15px;
			}
			& .data-icon-column{
				flex-basis: 153px;
				max-width: 153px;
				& .data-icon-wrap{
					padding: 15px;
					height: 153px;
					width: 153px;
				}
			}
			& .data-text-column{
				flex-basis: calc(100% - 153px);
				max-width: calc(100% - 153px);
				padding-left: 60px;
			}
		}
		& .value-line{
			left: 88px;
		}
	}
	#slogan-slide{
		padding: 220px 0;
		& .slick-dots{
			& li{
				width: 105px;
				height: 20px;
				& button{
					width: 105px;
					height: 20px;
					&:before{
						content: '';
						width: 105px;
						height: 8px;
						border-radius:4px;
						background-color: #fff;
						opacity: 1;
						transition: all 0.3s ease-in-out;
					}
				}
				&.slick-active{
					& button{
						&:before{
							background-color: $red;
						}
					}
				}
			}
		}
	}
	#testimonials{
		& .slick-dots{
			& li{
				width: 105px;
				height: 20px;
				& button{
					width: 105px;
					height: 20px;
					&:before{
						width: 105px;
						height: 8px;
						border-radius:4px;
					}
				}
			}
		}
	}
	section.content-section{
		& .container{
			max-width: 1100px;
		}
	}
	#contact-form{
		& .container{
			padding: 65px 90px 40px;
		}
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1320px){
	body{
		font-size: 20px;
	}
	#home-hero{
		padding-bottom: 200px;
	}
	#home-hero .home-hero-title-column{
		padding-left: 50px;
		& h1{
			margin-bottom: 45px;
		}
		& .home-hero-subtitle{
			margin-bottom: 45px;
		}
	}
	#home-features{
		margin-top: -140px;
		height: 140px;
		& .home-features-bg{
			padding-left: 25px;
			padding-right: 25px;
			min-height: 140px;
			& .features-description{
				padding-left: 45px;
				padding-right: 45px;
			}
		}
	}
	#values{
		& .title-column{
			flex-basis: 43%;
			max-width: 43%;
			position: relative;
			& .the-boss-way{
				position: absolute;
				text-align: center;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
			}
		}
		& .data-column{
			flex-basis: 57%;
			max-width: 57%;
		}
	}
	#service-solution{
		& .container{
			padding-left: 45px;
			padding-right: 45px;
		}
	}
	#services-solution-slider{
		& .services-solution-slider-wrap{
			padding-left: 90px;
			padding-right: 90px;
		}
		& .slick-prev{
			width: 74px;
			height: 60px;
			left: 0;
			background-color: $red;
			border-top-right-radius: 30px;
			border-bottom-right-radius: 30px;
			&:before{
				content: url('../img/arrow-left.svg');
				opacity: 1;
			}
		}
		& .slick-next{
			width: 74px;
			height: 60px;
			right: 0;
			background-color: $red;
			border-top-left-radius: 30px;
			border-bottom-left-radius: 30px;
			&:before{
				content: url('../img/arrow-right.svg');
				opacity: 1;
			}
		}
	}
	section.page-title{
		padding-bottom: 216px;
	}
	section.content-section{
		padding: 80px 0;
		&.background{
			padding: 120px 0;
		}
		&.first-section{
			margin-top: -220px;
			& .container{
				background-color: #fff;
				padding: 80px 95px 0;
				max-width: 1260px;
			}
		}
	}
	.team-grid{
		& .team-item{
			margin-left: 9px;
			margin-right: 9px;
		}
	}
	#contact-form{
		padding-top: 80px;
		& .data-column{
			padding-right: 35px;
			border-right:1px solid rgba(#fff, 0.22);
		}
		& .message-column{
			padding-left: 35px;
			& .form-element{
				margin-bottom: 0;
			}
		}
		& .form-element.company{
			margin-bottom: 0;
		}
		& button{
			margin-top: 31px;
		}

	}

}