header .contact-button-column{
	display: none;
}

header .logo-column{
	& img{
		padding: 15px 0;
	}
}

#inv-nav-main-btn{
	background-color: rgba($red, 0.2);
	padding: 10px 10px 3px;	
}

#inv-nav-main-btn.is-active{
	background: lighten($red, 25%);
}

ul#inv-menu{
	background: lighten($red, 25%);
	padding-bottom: 45px;	
}

ul#inv-menu li ul .submenu-title a{
	font-weight: 700;
	padding-left: 20px;		
}

ul#inv-menu > li > a{
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 700;		
}

ul#inv-menu li ul li a{
	background-color: transparent;
	padding-left: 25px;	
}

ul#inv-menu li ul li.have-children{
	position: relative;	
	& svg{
		position: absolute;	
		top: 13px;	
		right: 10px;	
	}
	& ul{
		padding-left: 10px;
		& a{
			font-size: 12px;	
		}
	}
}

@media only screen and (min-width : 768px){
	ul#inv-menu{
		background: transparent;
		padding-bottom: 0;	
	}
	ul#inv-menu li a {
		margin: 0;
		padding: 0 20px;
		line-height: 110px;
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		font-family: PTSans, sans-serif;
		color: $black;
		background-color: transparent;
		border: 0;
	}
	ul#inv-menu li:hover a, ul#inv-menu li.menu-show a {
		color: $red;
		background-color: transparent;
	}
	ul#inv-menu li:hover, ul#inv-menu li.menu-show {
		color: $red;
		background-color: transparent;
	}
	ul#inv-menu li a:hover, ul#inv-menu li a:focus, ul#inv-menu li a:active {
		background: transparent;
		color: $red;
		text-decoration: none;
	}
	ul#inv-menu > li:hover > ul, ul#inv-menu > li.menu-show > ul{
		display: flex;
		flex-wrap: wrap;
		background-color: #fff;
		position: absolute;
		top: 110px;
		left: -245px;
		right: -15px;
		padding: 45px 15px 0;
		margin: 0;
		text-align: left;
		box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.18);
		border-bottom: 1px solid #ccc;
		& > li{
			flex-basis: 238px;
			max-width: 238px;
		}
	}
	ul#inv-menu > li.short{
		position: relative;
		& ul{
			left: -30px;	
			right: -30px;	
		}	
	}
	ul#inv-menu > li:hover > ul > li > ul, ul#inv-menu > li.menu-show > ul > li > ul{
		display: block;
		padding: 0;
		& li{
			margin-bottom: 0;
			padding: 0;
		}
	}
	ul#inv-menu {
		display: inline-block;
		float: none;
		text-align: center;
		position: relative;
		width: 100%;
	}
	header .logo-column{
		flex-basis: 230px;
		max-width: 230px;
	}
	header .menu-column{
		flex-basis: calc(100% - 230px);
		max-width: calc(100% - 230px);
	}
	ul#inv-menu li:hover .submenu-title, ul#inv-menu li.menu-show .submenu-title{
		min-height: 60px;
		& a{
			color: $red;
			font-weight: 700;
		  font-size: 18px;
		  &:hover{
		  	color:#000;
		  }
		}
	}
	ul#inv-menu li:hover ul li, ul#inv-menu li.menu-show ul li {
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 45px;
	}
	ul#inv-menu li:hover ul li a, ul#inv-menu li.menu-show ul li a {
		font-size: 16px;
		padding: 0;
		color: $black;
		line-height: 20px;
		min-height: unset;
		padding: 5px 0;
		text-transform: none;
		transition-property: all;
	}
	ul#inv-menu li:hover ul li a:hover, ul#inv-menu li:hover ul li a:focus, ul#inv-menu li:hover ul li a:active, ul#inv-menu li.menu-show ul li a:hover, ul#inv-menu li.menu-show ul li a:focus, ul#inv-menu li.menu-show ul li a:active {
		color: $red;
		background-color: transparent;
	}
	ul#inv-menu li:hover ul li.have-children{
		position: unset;
		float: none;
		display: block;
		width: 100%;
		& ul{
			display: none;
			position: absolute;
			top: 0;
			min-height: 100%;
			left: -230px;
			width: 230px;
			padding: 10px 15px;
			background-color: #fff;
			box-shadow: inset 0 0 11px 0 rgba(0,0,0,0.18);
			& li a{
				font-size: 14px;
			}
		}
		& a{
			position: relative;
		}
		& svg{
			position: absolute;
			top: 7px;
			right: 5px;
		}
		&:hover{
			& > a{
				color: $red;
			}
			& ul{
				display: block;
			}
			& svg g#arrow polyline{
				stroke:$red;
			}
		}
	}
}

@media only screen and (min-width : 992px){
	ul#inv-menu li:hover ul li.have-children{
		position: unset;
		float: none;
		display: block;
		width: 100%;
		& ul{
			display: none;
			position: absolute;
			top: 0;
			min-height: 100%;
			left: unset;
			right: -230px;
			width: 230px;
			background-color: #fff;
			& li a{
				font-size: 14px;
			}
		}
		& a{
			position: relative;
		}
		& svg{
			position: absolute;
			top: 8px;
			right: 5px;
		}
		&:hover{
			& > a{
				color: $red;
			}
			& ul{
				display: block;
			}
			& svg g#arrow polyline{
				stroke:$red;
			}
		}
	}
}

@media only screen and (min-width : 1200px){
	ul#inv-menu li:hover ul, ul#inv-menu li.menu-show ul {
		padding-left: 30px;
		padding-right: 30px;
	}
	
}