@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	#top-5-wifi{
		& .product{
			flex-basis: calc(20% - 2px);
		}
	}
	#content{
		.side-bar{
			flex-basis: 380px;
			order: 1;
		}
		.content{
			flex-basis: calc(100% - 450px);
			order: 2;
		}
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	body{
		font-size: 18px;
	}
	#home-hero{
		
		& .home-hero-data{
			flex-basis: 50%;
			& h1{
				max-width: 380px;
			}
		}
		& .home-hero-img{
			flex-basis: 50%;
		}
	}
	.d-xl-block{
		display: block;
	}
		
}