@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";


header{
	padding: 40px 0;
	& .header-row{
		padding-left: 15px;
		padding-right: 15px;
		align-items: center;
		justify-content: space-between;
	}
	& .header-note{
		padding-left: 15px;
		padding-right: 15px;
		font-size: 0.77em;
	}
}

#home-hero{
	.home-hero-data{
		flex-basis: 100%;
		padding-left: 15px;
		padding-right: 15px;
		& h1{
			margin-bottom: 30px;
		}
	}
	.home-hero-img{
		flex-basis: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}
	
#top-5-wifi{
	padding-top: 60px;
	padding-bottom: 60px;
	& .section-title{
		flex-basis: 100%;
		text-align: center;
		margin-bottom: 3.88em;
	}
	& .product-wrap{
		height: 100%;
		border-radius: 23px;
		border: 1px solid #ECECEC;
		overflow: hidden;
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 130px;
		position: relative;
		background: #F9FAFF;
	}
	& .products-row{
		gap:30px 1px;
	}
	& .product{
		flex-basis: 100%;
	}
	& .product-title{
		color: #fff;
		background: $black;
		font-family: Mont-WiFi, sans-serif;
		font-weight: 800;
		height: 66px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 40px;
		padding-right: 40px;
		text-align: center;
	}
	& .product-image{
		background: #fff;
		height: 226px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		& img{
			max-height: 100%;
		}
	}
	& .product-name{
		background: #fff;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 15px;
		padding-right: 15px;
		& h4{
			margin: 0;
		}
	}
	& .product-rating{
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding-left: 15px;
		padding-right: 15px;
		gap:5px;
		text-align: center;
		& .rating{
			font-size: 1.05em;
			font-weight: 700;
		}
		& .user-count{
			flex-basis: 100%;
			font-size: 0.66em;
		}
	}
	& .product-button{
		background: #fff;
		padding-top: 15px;
		padding-bottom: 25px;
		margin-left: 4px;
		margin-right: 4px;
	}
	& .product-description{
		padding: 25px 14px;
		& ul{
			margin: 0;
			padding: 0;
			list-style: none;
			& li{
				position: relative;
				padding-left: 20px;
				margin-bottom: 12px;
				font-size: 12px;
				&:before{
					content: url('../img/list-marker.svg');
					position: absolute;
					left: 0;
					top: 0;
				}
				&.info{
					color:$red;
					&:before{
						content: url('../img/info.svg');
						position: absolute;
						left: 0;
						top: 1px;
					}
				}
			}
		}
	}
	& .product-price{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 130px;
		background: $black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;
		& .price-line{
			font-size: 12px;
			font-weight: 500;
		}
		& .price-amount{
			font-family: Mont-WiFi, sans-serif;
			font-weight: 800;
			line-height: 1.2;
			font-size: 1.5em;
		}
		& .price-before{
			font-size: 12px;
			font-weight: 700;
			& span{
				color: $red;
				text-decoration: line-through;
			}
		}
		& .review-link a{
			color: #fff;
			font-size: 10px;
			font-weight: 700;
			text-decoration: none;
			position: relative;
			&:after{
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				border-bottom: 1px dashed #fff;
				transition: all 0.3s ease-in-out;
			}
			&:hover{
				color:$blue;
			}
			&:hover:after{
				border-color: $blue;
			}
		}
	}
	& .best-product{
		& .product-wrap{
			background: #F9FFF7;
		}
		& .product-title{
			  background: linear-gradient(90deg, #00A6C0 0%, #A5E65A 100%);
			&:before{
				content: url('../img/favorite-bookmark-star.svg');
				margin-right: 18px;
				margin-top: 7px;
			}
		}
		& .product-price{
			background: $green;
			& .price-before{
				color: $black;
			}
		}
	}
}

#info-block{
	margin-bottom: 65px;
	& .info-content-wrap{
		width: 100%;
		background: #EEFBE9;
		display: flex;
		flex-wrap: wrap;
		padding: 30px 44px;
		gap:30px;
		& .info-icon{
			flex-basis: 60px;
		}
		& .info-description{
			flex-basis: calc(100% - 90px);
		}
	}
}	

#content{
	& .row{
		gap:35px 70px;
	}
	& .side-bar{
		flex-basis: 100%;
		padding-left: 15px;
		padding-right: 15px;
		& .side-bar-note{
			background: #EEFBE9;
			padding: 45px;
			font-size: 0.88em;
			margin-bottom: 60px;
		}
		& .side-bar-product{
			margin-bottom: 60px;
		}
		& .side-bar-product-name h4{
			margin-bottom: 0;
		}
		& .side-bar-product-rating{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			& .rating{
				font-weight: 700;
			}
			& .user-count{
				flex-basis: 100%;
				text-align: center;
				font-size: 0.66em;
				margin-bottom: 30px;
			}
		}
		& .content-table{
			& h4{
				font-size: 1.33em;
			}
			& ul{
				margin: 0;
				padding: 0;
				list-style: none;
				& li{
					margin-bottom: 35px;
					& a{
						color: $black;
						font-weight: 700;
						text-decoration: none;
						&:hover{
							color: $blue;
							& svg g{
								stroke:$blue;
							}
						}
						& svg{
							margin-right: 30px;
						}
					}
				}
			}
		}
	}
	& .content{
		flex-basis: 100%;
		padding-bottom: 30px;
		& #top-pick{
			border-bottom: 1px solid #ECECEC;
			padding-bottom: 30px;
			padding-left: 15px;
			padding-right: 15px;
			& h2{
				margin-top: 0;
				margin-bottom: 45px;
			}
		}
		& #reasons-for-poor-connectivity{
			border-bottom: 1px solid #ECECEC;
			padding-bottom: 30px;
			padding-left: 15px;
			padding-right: 15px;
			& h3{
				margin-top: 45px;
				margin-bottom: 30px;
			}
		}
		& #how-wi-fi-extenders-work{
			border-bottom: 1px solid #ECECEC;
			padding-bottom: 30px;
			padding-left: 15px;
			padding-right: 15px;
			& h3{
				margin-top: 45px;
				margin-bottom: 30px;
			}
		}
		& #how-to-use{
			padding-bottom: 30px;
			padding-left: 15px;
			padding-right: 15px;
			& h3{
				margin-top: 45px;
				margin-bottom: 30px;
			}
		}
	}
}

footer{
	& .top-footer{
		padding: 60px 0;
		background: #5F7174;
				
		& .footer-logo{
			flex-basis: 100%;
			text-align: center;
		}
		& .footer-menu{
			flex-basis: 100%;
			text-align: center;
			margin-top: 30px;
			& ul{
				margin: 0;
				padding: 0;
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				& li{
					padding-left: 30px;
					padding-right: 30px;
					& a{
						font-size: 0.88em;
						color: $green;
						text-decoration: none;
						&:hover{
							color:$blue;
						}
					}
				}
			}
		}
	}
	& .bottom-footer{
		padding: 34px 15px;
		background: #4B5B5E;
		& .copyright{
			flex-basis: 100%;
			font-size: 0.88em;
			color: #fff;
			text-align: center;
		}
	}
}

:root {
  --star-size: 24px;
  --star-color: #EFECEC;
  --star-background: #A5E65A;
}

.Stars {
  --percent: calc(var(--rating) / 10 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;
  
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@import "media";