@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: 'Roboto-chmark';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'Roboto-chmark';
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  color: #030303;
  font-size: 16px;
  line-height: 19px;
  font-family: Roboto-chmark, sans-serif;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto-chmark, sans-serif; }

h1 {
  font-size: 1.8em;
  line-height: 0.95; }

h2 {
  font-size: 32px;
  line-height: 42px; }

h3 {
  font-size: 24px;
  line-height: 32px; }

h4 {
  font-size: 21px;
  line-height: 27px; }

h5 {
  font-size: 14px;
  line-height: 18px; }

a {
  color: #FE6531;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }
  a:hover {
    color: #FE6531;
    opacity: .75; }

a:hover, a:active, a:focus {
  outline: 0; }

.text-center {
  text-align: center; }

input:focus {
  outline: 0; }

object, embed {
  outline: 0; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

::-webkit-input-placeholder {
  color: #030303;
  opacity: 1; }

::-moz-placeholder {
  color: #030303;
  opacity: 1; }

:-ms-input-placeholder {
  color: #030303;
  opacity: 1; }

::-ms-input-placeholder {
  color: #030303;
  opacity: 1; }

::placeholder {
  color: #030303;
  opacity: 1; }

.toggle-btn {
  display: block;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 9999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block; }

.hamburger .icon-bar {
  background-color: #FE6531;
  display: block;
  height: 3px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 20px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 6px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

header {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px; }

.brand {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slogan {
  margin-left: 30px;
  margin-right: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  line-height: .95; }

.left-menu {
  background-color: #F9DDCB;
  padding: 55px 15px 25px;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  position: absolute;
  left: -250px;
  top: 0;
  z-index: 999;
  -webkit-transition: background-position 0.3s linear, left 0.3s ease-in-out;
  transition: background-position 0.3s linear, left 0.3s ease-in-out; }
  .left-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .left-menu ul li {
      font-size: 1em;
      line-height: 1;
      font-weight: 700;
      text-align: center;
      padding: 10px 15px;
      background-color: #6F6460;
      border-radius: 3px;
      margin-bottom: 7px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .left-menu ul li.current-page {
        background-color: #FE6531; }
      .left-menu ul li:hover {
        background-color: #FE6531; }
      .left-menu ul li a {
        display: block;
        color: #fff; }
        .left-menu ul li a:hover {
          opacity: 1; }
  .left-menu #main-menu {
    margin-bottom: 15px; }
  .left-menu #mark-menu {
    margin-top: 15px;
    margin-bottom: 15px; }
    .left-menu #mark-menu li {
      background-color: #7D7D7D; }
      .left-menu #mark-menu li:hover {
        background-color: #FE6531; }
      .left-menu #mark-menu li.current-page {
        background-color: #FE6531; }
  .left-menu #bottom-menu {
    margin-top: 15px; }

.menu-open .left-menu {
  left: 0; }

.hero-slider {
  margin-bottom: 45px !important; }
  .hero-slider .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px 60px;
    height: 250px;
    max-height: 60vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .hero-slider .item h1 {
      text-transform: uppercase;
      text-align: center;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); }
      .hero-slider .item h1 a {
        color: #fff; }
  .hero-slider .slick-next {
    right: 25px; }
    .hero-slider .slick-next:before {
      font-size: 36px; }
  .hero-slider .slick-prev {
    left: 25px;
    z-index: 99; }
    .hero-slider .slick-prev:before {
      font-size: 36px; }
  .hero-slider .slick-dots {
    bottom: -35px; }
  .hero-slider .slick-dots li button::before {
    color: #FE6531;
    font-size: 10px; }

.content {
  margin-left: 0;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out; }

.services {
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .services .item {
    width: 100%;
    max-width: calc(100% - 30px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    height: 200px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1; }
    .services .item:hover {
      opacity: .75; }
    .services .item a {
      color: #fff;
      font-size: 1.5em;
      line-height: .95;
      padding: 45px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); }

.our-partners {
  margin-bottom: 45px; }
  .our-partners .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px; }
    .our-partners .item img {
      max-width: 100%;
      height: auto;
      max-height: 150px; }
  .our-partners .slick-next {
    right: -15px; }
    .our-partners .slick-next:before {
      color: #FE6531; }
  .our-partners .slick-prev {
    left: -15px; }
    .our-partners .slick-prev:before {
      color: #FE6531; }

.terms {
  background-color: #F67B57;
  padding: 45px 15px; }
  .terms .item {
    text-align: center;
    color: #fff; }
    .terms .item a {
      color: #fff; }

.terms-title {
  color: #fff;
  margin-bottom: 45px; }

.mfp-content {
  max-width: 640px;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px; }

.terms-wrap {
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .terms-wrap .item {
    width: 100%;
    max-width: calc(100% - 30px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: top;
    -webkit-align-items: top;
    -ms-flex-align: top;
    align-items: top;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px; }
    .terms-wrap .item .icon {
      margin-bottom: 15px; }

.law {
  padding: 45px 0; }

.law-document {
  padding-top: 45px; }
  .law-document .item {
    margin-bottom: 45px; }
    .law-document .item h4 {
      margin-top: 0;
      margin-bottom: 0; }
    .law-document .item p {
      margin-top: 5px; }
    .law-document .item .document-description {
      padding-left: 95px;
      position: relative; }
      .law-document .item .document-description a:before {
        content: url("../img/document.svg");
        position: absolute;
        left: 0;
        top: 0; }

.how-it-work {
  background-color: #F67B57;
  padding: 45px 15px;
  color: #fff; }

.title-how-it-work {
  margin-bottom: 45px; }

.steps-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .steps-wrap .item {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px; }

.step-icon {
  text-align: center;
  margin-bottom: 15px; }

.step-title {
  text-align: center; }

.white-button {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 3px;
  background-color: #fff;
  color: #FE6531;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .white-button:hover {
    color: #FE6531;
    opacity: .8; }

.red-button {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 3px;
  background-color: #FE6531;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .red-button:hover {
    color: #fff;
    background-color: #fb4101;
    opacity: 1; }

#features {
  padding: 0;
  margin: 0 0 45px;
  list-style: none; }
  #features li {
    padding-left: 25px;
    position: relative;
    margin-bottom: 15px; }
    #features li:before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 3px;
      background-color: #FE6531;
      display: block;
      position: absolute;
      left: 0;
      top: 3px; }

footer {
  padding: 30px 0 30px;
  font-size: .75em; }

#arrow-up {
  z-index: 99999999;
  display: none;
  position: fixed;
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 15px;
  left: 15px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }
  #arrow-up:hover {
    background-color: rgba(0, 0, 0, 0.4); }

.page-title {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .page-title h1 {
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); }

.chmark {
  padding: 0;
  margin: 0 0 45px;
  list-style: none; }
  .chmark li {
    padding-left: 25px;
    position: relative;
    margin-bottom: 15px; }
    .chmark li:before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 3px;
      background-color: #FE6531;
      display: block;
      position: absolute;
      left: 0;
      top: 3px; }

.dropdown {
  width: 100%;
  text-align: left;
  color: #030303;
  margin-bottom: 15px;
  border-radius: 0;
  border: 1px solid #6F6460;
  height: 40px;
  font-size: 12px;
  position: relative;
  background-color: #EFC4B0;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 95% 3px; }
  .dropdown.active {
    border-color: #FE6531; }
  .dropdown:focus {
    border-color: #FE6531; }

.dropdown .select {
  padding: 9px 12px; }

.dropdown .dropdown-menu {
  display: none;
  position: relative;
  z-index: 99;
  width: calc(100% + 2px);
  padding: 0;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #FE6531;
  border-top: none;
  background-color: #fff;
  margin-top: 1px;
  margin-left: -1px;
  margin-right: -1px; }

.dropdown .dropdown-menu li {
  padding: 10px 12px;
  font-size: 12px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer; }

.dropdown .dropdown-menu li:hover {
  background-color: #FAFBF9; }

input:not([type="submit"]) {
  color: #030303;
  margin-bottom: 15px;
  border-radius: 0;
  border: 1px solid #6F6460;
  height: 40px;
  font-size: 12px;
  background-color: #EFC4B0;
  padding: 12px;
  width: 100%;
  margin-bottom: 15px; }
  input:not([type="submit"]):focus {
    border-color: #FE6531; }

input[type="submit"] {
  border: none; }

.form-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

input[name="owner-other"] {
  display: none; }

input[name="control-system-other"] {
  display: none; }

input[name="sklad-quantity"] {
  display: none; }

input[name="sklad-address"] {
  display: none; }

.blog-wrap {
  padding: 45px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.blog-item {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 60px; }

.blog-excerpt {
  margin-bottom: 30px; }

.blog-thumbnail {
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }
  .blog-thumbnail:hover {
    opacity: .8; }

.pagenavi {
  margin-bottom: 45px; }

.pagenavi .pages {
  margin-right: 5px; }

.pagenavi .current {
  padding: 10px 15px;
  margin-right: 5px;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid #6F6460; }

.pagenavi a {
  text-decoration: none;
  padding: 10px 15px;
  margin-right: 5px;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid #FE6531; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 510px) {
  .services .item {
    max-width: calc(50% - 30px); }
  .terms-wrap .item {
    max-width: calc(50% - 30px); }
  .steps-wrap .item {
    max-width: calc(50% - 30px); } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .toggle-btn {
    display: none; }
  .hero-slider .item {
    height: 450px; }
  .left-menu {
    left: 0;
    top: 0; }
  .content {
    margin-left: 250px; }
  h1 {
    font-size: 2.3em;
    line-height: 0.95; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .terms-wrap .item {
    max-width: calc(25% - 30px); }
  .steps-wrap .item {
    max-width: calc(25% - 30px); }
  .blog-wrap .blog-item {
    max-width: calc(50% - 30px); }
  .form-wrap {
    margin-left: -15px;
    margin-right: -15px; }
    .form-wrap .dropdown {
      margin-left: 15px;
      margin-right: 15px;
      max-width: calc(50% - 30px); }
    .form-wrap input {
      margin-left: 15px;
      margin-right: 15px;
      max-width: calc(50% - 30px); } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .services .item {
    max-width: calc(25% - 30px); }
  h1 {
    font-size: 3.3em;
    line-height: 0.95; } }
