@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){
	#home-hero{
		& .section-bg{
			background-position: right bottom;
			background-size: 70%;
		}
	}
	header{
		& .top-bar-phone{
			padding-right: 14px;
			padding-left: 0;
		}
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	#home-hero{
		& .section-bg{
			background-position: right bottom;
			background-size: unset;
		}
	}

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	body{
		font-size: 18px;
	}
	.copyright{
		margin-top: -20px;
	}
	#join-now{
		& .form-wrap{
			padding: 98px 65px 68px;
		}
	}
	#contact{
		& .form-wrap{
			padding: 98px 65px 68px;
		}
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	body{
		font-size: 20px;
	}
	#home-hero{
		& h1{
			padding-left: 65px;
			padding-right: 65px;
		}
	}
}