@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";

header{
	& .brand img{
		max-width: 105px;
		height: auto;
	}
	& .header-wrap{
		margin-top: 15px;
		background-color: #fff;
		padding: 20px 36px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	& .header-social-buttons ul{
		display: none;
	}
	& .header-buttons-block{
		display: none;
	}
	& .header-menu-wrap{
		display: flex;
		align-items: center;
	}
	& .search-button{
		margin-right: 20px;
		& img{
			max-width: 20px;
			height: auto;
		}
	}
}

.yellow-button{
	color: $black;
	font-size: 16px;
	font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: $yellow;
    padding: 11px 15px;
    border-radius: 0;
    &:hover{
    	color:$black;
    	background-color: lighten($yellow, 10%);
    }
}
.green-button{
	color:#fff;
	font-size: 16px;
	font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: $green;
    padding: 11px 15px;
    border-radius: 0;
    &:hover{
    	color: #fff;
    	background-color: lighten($green, 10%);
    }
}

.blue-button{
	color:#fff;
	font-size: 16px;
	font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: $darkblue;
    padding: 11px 15px;
    border-radius: 0;
    &:hover{
    	color: #fff;
    	background-color: lighten($darkblue, 10%);
    }
}

.yellow{
	color: $yellow;
}

.green{
	color: $green;
}

#home-hero{
	padding: 260px 0;
	margin-top: -98px;
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	& h1{
		color: #fff;
		font-size: 3.37em;
		line-height: .7;
		letter-spacing: -0.5px;
		margin-bottom: 12px;
		text-transform: uppercase;	
	}
	& .home-hero-subtitle{
		font-size: 1.5em;
		font-weight: 500;
	}
}

#home-slider{
	margin-top: -160px;
	padding-left: 5px;
	padding-right: 5px;
	& .home-slider-data-wrap{
		padding: 25px;
		background-color: #fff;
	}
	& .home-slider-text{
		font-family: Veljovic-McKee, serif;
		font-size: 1.8em;
		line-height: 1.16;
		background-image: url('../img/2021.svg');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	& .home-slider-button a{
		min-width: 310px;
	}
	& .home-slider-img{
		height: 100%;
		min-height: 315px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	& .home-slider-buttons{
		position: absolute;
		bottom: 235px;
		right: 25px;
		left: 25px;
		text-align: center;
		& a{
			display: inline-block;
			width: 50px;
			height: 50px;
			border: 1px solid #fff;
			background: linear-gradient(180deg, rgba(255,255,255,0.13) 0%, rgba(255,255,255,0.13) 100%);
			position: relative;
			&:hover{
				background: linear-gradient(180deg, rgba(255,255,255,0.43) 0%, rgba(255,255,255,0.43) 100%);
			}
			&.prev-slide:before{
				content: url('../img/ic_arrow_back_white.svg');
				position: absolute;
				width: 18px;
				height: 18px;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
			}
			&.next-slide:before{
				content: url('../img/ic_arrow_back_white.svg');
				transform: rotate(180deg);
				position: absolute;
				width: 18px;
				height: 18px;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
			}
		}
	}
}

#top-picks{
	padding: 90px 0;

	& .top-picks-wrap{
		background-color: #F4F2E9;
		padding: 33px 33px 27px 42px;
		position: relative;
		&.event:before{
			content: 'event';
			display: inline-block;
			position: absolute;
			color: $black;
			text-transform: uppercase;
			background-color: $green;
			font-size: 0.75em;
			font-weight: 500;
			line-height: 1;
			padding: 5px 10px;
			left: 25px;
			top: -10px;
		}
		&.exhibit:before{
			content: 'exhibit';
			display: inline-block;
			position: absolute;
			color: $black;
			text-transform: uppercase;
			background-color: $lightblue;
			font-size: 0.75em;
			font-weight: 500;
			line-height: 1;
			padding: 5px 10px;
			left: 25px;
			top: -10px;
		}
		&.canceled:after{
			content: 'canceled';
			display: inline-block;
			position: absolute;
			color: $black;
			text-transform: uppercase;
			background-color: $yellow;
			font-size: 0.75em;
			font-weight: 500;
			line-height: 1;
			padding: 5px 10px;
			top: -10px;
		}
		&.exhibit.canceled:after{
			left: 98px;
		}
		&.event.canceled:after{
			left: 92px;
		}
	}
	& .top-picks-title{
		font-size: 1.25em;
		font-weight: 500;
		margin-bottom: 10px;
		color: $darkblue;
	}
	& .top-picks-annonce{
		color:$black;
	}
	& .hours-operation-title{
		font-size: 1.25em;
		font-weight: 500;
	}
	& .hours-operation-time{
		font-size: 1.25em;
		font-weight: 500;
	}
	& .hours-operation-button{
		min-width: 320px;
	}

}

#home-children-garden{
	padding: 90px 0;
	display: flex;
	align-items: center;
	min-height: 80vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	& .home-children-garden-wrap{
		background-color: #fff;
		padding: 45px 12px;
	}
	& .home-children-garden-text{
		font-size: 1.25em;
		font-weight: 500;
		max-width: 345px;
		margin-left: auto;
		margin-right: auto;
	}
}

.call-to-action{
	padding: 30px 11px 37px;
	& .call-to-action-wrap{
		display: flex;
		flex-wrap: wrap;
		gap:15px 50px;
		justify-content: center;
	}
	& .call-to-action-social-block{
		display: flex;
		flex-wrap: wrap;
		flex-basis: 330px;
		justify-content: center;
		align-items: center;
		gap:15px;
	}
	& .call-to-action-social-links ul{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		gap:22px;
	}
	& .call-to-action-social-title{
		font-size: 0.87em;
		flex-basis: 100%;
		text-align: center;
	}
	& .call-to-action-buttons-block a{
		min-width: 352px;
		line-height: 1;
		padding: 3px 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
	}
}

#home-programms{
	position: relative;
	padding: 90px 0 260px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	& .home-programm-subtitle{
		color: #fff;
		font-size: 1.25em;
		font-weight: 500;
	}
	& .home-programm-blur{
		display: none;
	}
	& .home-programm-wrap{
		position: relative;
		text-align: center;
		height: 100%;
		overflow: hidden;
		transition: all 0.3s ease-in-out;
		&:hover{
			opacity: 0.8;
		}
	}
	& .home-programm-thumbnail{
		height: 345px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		z-index: 2;
	}
	& .home-programm-data{
		height: calc(100% - 345px);
		padding: 0 20px 40px;
		z-index: 3;
		position: relative;
		background: linear-gradient(180deg, rgba(255,255,255,0.13) 0%, rgba(255,255,255,0.13) 100%);
	}
	& .home-programm-date{
		background-color: #fff;
		color: $black;
		font-size: 0.75em;
		font-weight: 500;
		padding: 5px 12px;
		text-align: left;
		transform: translateY(-50%);
		margin-bottom: 15px;
	}
	& .home-programm-title{
		font-size: 1.25em;
		font-weight: 500;
		color: #fff;
		text-align: left;
		margin-bottom: 20px;
	}
	& .home-programm-excerpt{
		color: #fff;
		text-align: left;
	}
	& .yellow-button{
		line-height: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		max-width: 352px;
		margin-left: auto;
		margin-right: auto;
	}
	
	& .slick-track
	{
	    display: flex !important;
	}

	& .slick-slide
	{
	    height: inherit !important;
	}
	& .slick-prev, & .slick-next{
		width: 50px;
		height: 50px;
		z-index: 99;
	}
	& .slick-prev{
		left: -20px;
	}
	& .slick-next{
		right: -20px;
	}
	& .slick-prev:before{
		content: url("../img/ic_arrow_back_white.svg");
		padding: 15px 0;
		display: block;
		width: 50px;
		height: 50px;
		border: 1px solid #fff;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
	}
	& .slick-next:before{
		content: url("../img/ic_arrow_back_white.svg");
		padding: 15px 0;
		transform: rotate(180deg);
		display: block;
		width: 50px;
		height: 50px;
		border: 1px solid #fff;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
	}
}

#subscribe-form{
	position: relative;
	transform: translateY(-50%);
	margin-bottom: -100px;
	& .subscribe-form-wrap{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 25px;
		background-color: #fff;
		padding: 25px;
		z-index: 2;
		& .form-title{
			font-family: Cormorant-McKee, serif;
			font-weight: 700;
			font-size: 1.5em;
			letter-spacing: -0.26px;
			flex-basis: 200px;

		}
		& .inline-form{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap:11px 20px;
			flex-basis: 100%;
		}
		& input:not([type="submit"]){
			border: 1px solid #3959A8;
  			background-color: #EBEBEB;
  			font-family: WorkSans-McKee, sans-serif;
  			font-size: 14px;
  			line-height: 1;
  			padding: 16px 25px;
  			flex-basis: 100%;
		}
		& input[type="submit"]{
			background-color: $darkblue;
			color: #fff;
			font-family: WorkSans-McKee, sans-serif;
			font-size: 15px;
			font-weight: 500;
			border:none;
			padding: 16px 45px;
			transition: all 0.3s ease-in-out;
			flex-basis: 100%;
			&:hover{
				background-color: lighten($darkblue, 10%);
			}
		}
	}
}

footer{
	padding: 0 0 25px;
	background-color: $green;
	position: relative;
	& .widget{
		color: #fff;
	}
	& a{
		color: #fff;
		transition: all 0.3s ease-in-out;
		&:hover{
			color: $darkblue;
		}
	}
	& .footer-wrap{
		display: flex;
		flex-wrap: wrap;
		gap:30px 5%;
	}
	& .footer-logo{
		margin-bottom: 45px;
	}
	& .footer-address{
		margin-bottom: 15px;
	}
	& .widget-title{
		color: $yellow;
		font-family: WorkSans-McKee, sans-serif;
		font-size: 1em;
		font-weight: 700;
		margin-bottom: 20px;
	}
	& .widget ul{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			margin-bottom: 15px;
		}
	}
	& .footer-hours-operation{
		margin-bottom: 15px;
		& .days-operation{
			font-size: 1.25em;
		}
		& .hours-operation{
			font-size: 1.25em;
		}
	}
	& .footer-hr{
		width: 100%;
		height: 1px;
		background-color: #fff;
		opacity: 0.31;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	& .footer-copyright{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap:30px 15px;
	}
	& .footer-seals{
		display: flex;
		flex-wrap: wrap;
		gap:30px;
		& img{
			align-self: center;
		}
	}
	& .copyright{
		color: #fff;
	}
}

@import "media";