@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){
	#hero{
		background-size: 510px;
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	.hero-banner{
		width: 980px;
		font-size: 44px;
		line-height: 43px;
		padding: 40px 90px;
	}
	#hero{
		background-image: url('../img/hero-bg.png');
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 1230px;
		min-height: 728px;
		margin-top: -105px;
		padding-top: 95px;
		& .top-left{
			position: absolute;
			top: 130px;
			left: 60px;
		}
		& .top-right{
			position: absolute;
			right: 80px;
			top: 82px;
		}
		& .bottom-left{
			display: block;
		position: absolute;
			bottom: 80px;
			left: -80px;
		}
		& .container{
			& .row{
				min-height: 638px;
				align-items:flex-end;
			}
		}
	}
	.dark-btn{
		padding: 32px 74px 32px 48px;
	}

	.light-btn{
		padding: 32px 74px 32px 48px;
	}
	
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	#hero{
		& .top-left{
			position: absolute;
			top: 130px;
			left: 160px;
		}
		& .top-right{
			position: absolute;
			right: 218px;
			top: 82px;
		}
		& .bottom-left{
		position: absolute;
			bottom: 60px;
			left: -30px;
		}
	}
}