@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: 'Roboto-CC';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'Roboto-CC';
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-display: swap; }

@font-face {
  font-family: 'SourceSerifPro-CC';
  src: url("../fonts/SourceSerifPro-Regular.ttf");
  font-weight: 400;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  color: #000000;
  background-color: #F1EEE9;
  font-size: 14px;
  letter-spacing: 0.6px;
  line-height: 1.375;
  font-family: Roboto-CC, sans-serif;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: SourceSerifPro-CC, serif; }

h1 {
  font-size: 3.3em;
  line-height: 1.25; }

h2 {
  font-size: 1.82em;
  line-height: 1.25; }

h3 {
  font-size: 1.5em;
  line-height: 1.25; }

h4 {
  font-size: 21px;
  line-height: 27px; }

h5 {
  font-size: 14px;
  line-height: 18px; }

a {
  color: #EE3F6A;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a:hover {
    color: #EE3F6A; }

a:hover, a:active, a:focus {
  outline: 0; }

input::-moz-focus-inner {
  border: 0; }

object, embed {
  outline: 0; }

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .main-menu ul li {
      display: block;
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 45px;
      line-height: 1; }
      .main-menu ul li a {
        position: relative;
        color: #000000;
        font-size: 16px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .main-menu ul li a:hover {
          color: #EE3F6A;
          text-decoration: none; }

.main-menu.open {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

.main-menu .menu-button a {
  padding: 18px 65px;
  border: 1px solid #EE3F6A;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .main-menu .menu-button a:hover {
    background-color: #EE3F6A;
    color: #fff; }

.dropdown-link:after {
  content: url("../img/arrow-down.svg");
  position: absolute;
  right: -5px;
  top: -2px; }

/* Toggle */
.toggle-btn {
  display: block;
  position: absolute;
  top: -50px;
  right: 15px;
  z-index: 9999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block; }

.hamburger .icon-bar {
  background-color: #EE3F6A;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 15px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media only screen and (min-width: 992px) {
  .main-menu {
    position: unset;
    background-color: transparent;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    font-size: 15px;
    font-weight: 400; }
    .main-menu ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .main-menu ul li {
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;
        line-height: 1;
        margin-bottom: 0; }
        .main-menu ul li:last-child {
          padding-right: 0; }
        .main-menu ul li a {
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          .main-menu ul li a:hover {
            color: #EE3F6A; }
  .toggle-btn {
    display: none; }
  .brand {
    text-align: left; } }

@media only screen and (min-width: 1200px) {
  .main-menu ul li {
    padding-left: 20px;
    padding-right: 20px; }
    .main-menu ul li:first-child {
      padding-left: 0; }
    .main-menu ul li:last-child {
      padding-right: 0; } }

header {
  padding: 15px 0; }

.yellow {
  color: #EBB800; }

.pink {
  color: #EE3F6A; }

.bronse {
  color: #744C28; }

#home-hero {
  margin-top: -120px;
  padding-top: 200px;
  padding-bottom: 265px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.donate-button a {
  color: #fff !important;
  background-color: #EE3F6A;
  padding: 15px 70px; }
  .donate-button a:hover {
    color: #fff !important;
    background-color: #e61448; }

.transparent-button {
  font-size: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 11px 25px;
  width: 260px;
  max-width: 100%; }
  .transparent-button:hover {
    color: #fff;
    background-color: #EE3F6A;
    border-color: #EE3F6A; }

.transparent-pink-button {
  font-size: 15px;
  border: 1px solid #EE3F6A;
  border-radius: 0;
  color: #EE3F6A;
  text-transform: uppercase;
  padding: 11px 25px;
  width: 260px;
  max-width: 100%; }
  .transparent-pink-button:hover {
    color: #fff;
    background-color: #EE3F6A;
    border-color: #EE3F6A; }

.yellow-button {
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #EBB800;
  background-color: #EBB800;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 11px 25px;
  width: 260px;
  max-width: 100%; }
  .yellow-button:hover {
    color: #fff;
    background-color: #EE3F6A;
    border-color: #EBB800; }

#our-location {
  margin-top: -95px;
  padding-bottom: 60px; }

.quotes-slider-item {
  padding: 30px 70px;
  position: relative; }
  .quotes-slider-item:before {
    position: absolute;
    content: url("../img/icon-quote.svg");
    left: 0;
    top: 0; }
  .quotes-slider-item:after {
    position: absolute;
    content: url("../img/icon-quote.svg");
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(180DEG);
    -ms-transform: rotate(180DEG);
    transform: rotate(180DEG); }
  .quotes-slider-item .quote-text {
    padding-top: 40px;
    color: #fff;
    font-family: SourceSerifPro-CC, serif;
    font-size: 1.5em;
    margin-bottom: 45px; }
  .quotes-slider-item .quote-author {
    color: #EE3F6A;
    font-size: 1.5em; }

#home-quotes {
  padding: 120px 0 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#call-to-action {
  background-color: #EE3F6A;
  padding: 20px 0; }
  #call-to-action .yellow-button {
    width: 195px; }

#our-mission {
  padding: 60px 0 80px; }

footer {
  padding: 15px 0;
  background-color: #fff; }
  footer #footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    footer #footer-menu li {
      padding-left: 10px;
      padding-right: 10px; }
      footer #footer-menu li a {
        color: #744C28;
        font-size: .93em;
        text-transform: uppercase;
        line-height: 1; }
        footer #footer-menu li a:hover {
          color: #EE3F6A;
          text-decoration: none; }

#page-hero {
  margin-top: -120px;
  padding-top: 140px;
  padding-bottom: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#our-services {
  margin-top: -50px;
  padding-bottom: 60px; }
  #our-services .service-icon img {
    height: 78px;
    width: auto; }

#call-to-action .yellow-button.position-absolute {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 44px;
  width: 255px;
  margin: auto; }

#page-description {
  margin-top: -50px;
  padding-bottom: 0px; }

#stories {
  padding-bottom: 50px; }

.support-address {
  padding-left: 55px;
  position: relative; }
  .support-address:before {
    content: url("../img/icon-address-marker.svg");
    position: absolute;
    top: 0;
    left: 0; }

.form-donation input[type="text"] {
  font-family: Roboto-CC, sans-serif;
  width: 100%;
  height: 45px;
  padding: 10px 195px 10px 15px;
  color: #744C28;
  border: 1px solid #CD9E72;
  background-color: #F1EEE9; }

.form-donation input[type="submit"] {
  font-family: Roboto-CC, sans-serif;
  position: absolute;
  right: 0;
  height: 45px;
  width: 195px;
  font-weight: 500; }

#page-description.form {
  min-height: calc(100vh - 458px); }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px; }
  footer #footer-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer #footer-menu li:first-child {
      padding-left: 0; }
    footer #footer-menu li:last-child {
      padding-right: 0; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .quotes-slider-item {
    padding: 30px 130px; } }
