@import "../libs/normalize-css/normalize.css";
@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-ExtraBold.ttf");
  font-weight: 900;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  position: relative;
}

body {
  color: #000;
  font-size: 16px;
  line-height: 1.6;
  font-family: FiraSans, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: WorkSans, sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 1.95em;
  line-height: 0.97;
}

h2 {
  font-size: 1.3em;
  line-height: 0.97;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 21px;
  line-height: 27px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: #FF0100;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #000;
}

a:hover, a:active, a:focus {
  outline: none;
}

button, button:hover, button:active, button:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

input:focus, textarea:focus {
  outline: none;
}

object, embed {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1;
}

::-moz-placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1;
}

::-ms-input-placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1;
}

::placeholder {
  color: rgba(89, 88, 90, 0.5);
  opacity: 1;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 12px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.column {
  padding: 0 12px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.btn {
  line-height: 1;
  padding: 16px 25px;
  display: inline-block;
  font-size: 0.85em;
  min-width: 237px;
  text-align: center;
}

.red-button {
  color: #fff;
  background-color: #FF0100;
  border: 1px solid #FF0100;
}
.red-button:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.transparent-button {
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
}
.transparent-button:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.black-button {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}
.black-button:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.red {
  color: #FF0100;
}

.uppercase {
  text-transform: uppercase;
}

#main-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
#main-menu ul {
  height: 100vh;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#main-menu ul li {
  position: relative;
  margin-bottom: 25px;
}
#main-menu ul li a {
  text-decoration: none;
  font-size: 1.2em;
}
#main-menu ul li a:hover {
  text-decoration: none;
}

#main-menu.open {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

/* Toggle */
#toggle-btn {
  display: block;
  position: absolute;
  top: 43px;
  right: 15px;
  z-index: 9999999;
}

#toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
}

.hamburger .icon-bar {
  background-color: #FF0100;
  display: block;
  height: 4px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 30px;
}

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 5px;
}

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -9px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (min-width: 992px) {
  #main-menu {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    margin-left: 220px;
    margin-bottom: 20px;
    background-color: transparent;
  }
  #main-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  #main-menu ul li {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  #main-menu ul li a {
    color: #272226;
    font-size: 0.8em;
  }
  #main-menu ul li a:hover {
    color: #FF0100;
  }
  #main-menu ul li.current-menu-item a {
    color: #FF0100;
  }
  #main-menu ul li:first-child {
    padding-left: 0;
  }
  #main-menu ul li:last-child {
    padding-right: 0;
  }

  #toggle-btn {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  #main-menu ul li {
    padding-left: 32px;
    padding-right: 32px;
  }
  #main-menu ul li:first-child {
    padding-left: 0;
  }
  #main-menu ul li:last-child {
    padding-right: 0;
  }
}
#header {
  padding-top: 12px;
}

.brand {
  padding-bottom: 12px;
}
.brand img {
  max-height: 90px;
  width: auto;
}

#bar-menu-wrap {
  background-color: #000;
  padding: 12px 0;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.08);
}
#bar-menu-wrap #bar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#bar-menu-wrap #bar-menu li {
  padding: 12px;
}
#bar-menu-wrap #bar-menu li a {
  color: #fff;
  font-size: 0.85em;
}
#bar-menu-wrap #bar-menu li a:hover {
  color: #FF0100;
}
#bar-menu-wrap #bar-menu li.bar-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#bar-menu-wrap #bar-menu li.bar-button a {
  line-height: 1;
  padding: 16px 43px;
  background-color: #FF0100;
}
#bar-menu-wrap #bar-menu li.bar-button a:hover {
  background-color: #fff;
  color: #000;
}

#home-hero {
  background-position: 63% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 60px;
}
#home-hero h1 {
  text-transform: uppercase;
  padding-right: 14%;
}
#home-hero .home-hero-description {
  margin-bottom: 35px;
  line-height: 1.16;
  padding-right: 29%;
}
#home-hero .home-hero-buttons {
  text-align: center;
}
#home-hero .home-hero-buttons .btn {
  margin-bottom: 12px;
}

#home-about-us {
  padding: 60px 0;
}
#home-about-us .home-about-description {
  margin-bottom: 20px;
}
#home-about-us .arrow-right {
  margin-bottom: 25px;
}

a.arrow-right {
  font-size: 0.8em;
}
a.arrow-right:after {
  content: url("../img/right-arrow.svg");
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a.arrow-right:hover:after {
  margin-left: 18px;
}

.feature-icon {
  margin-bottom: 12px;
}

.feature-item {
  margin-bottom: 30px;
}

.feature-title {
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
}

.feature-text {
  font-size: 0.8em;
}

#features {
  position: relative;
}
#features .features-bg {
  height: 210px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

#services {
  padding: 77px 0;
}
#services .service-column {
  margin-bottom: 24px;
}
#services .service-column a {
  display: block;
}
#services .service-column a:hover .service-image {
  opacity: 0.8;
}

.service-wrap {
  height: 100%;
  background-color: #fff;
  max-width: 390px;
  margin-right: auto;
  margin-left: auto;
}
.service-wrap .service-image {
  height: 235px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.service-wrap .service-name {
  min-height: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #FF0100;
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1.13;
  padding: 12px;
}

.home-service-buttons {
  padding-top: 26px;
}
.home-service-buttons .btn {
  margin-bottom: 24px;
}

#home-clients-experience {
  padding: 77px 0;
}
#home-clients-experience h2 {
  margin-bottom: 70px;
}
#home-clients-experience .client-experience-name {
  font-weight: 700;
  font-size: 1.1em;
}
#home-clients-experience .client-experience-icon {
  min-height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}
#home-clients-experience .client-experience-column {
  margin-bottom: 48px;
}

footer {
  background-color: #000;
  padding: 105px 0 93px;
}
footer .footer-logo {
  margin-bottom: 24px;
  text-align: center;
}
footer .footer-contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .footer-contact ul li {
  position: relative;
  margin-bottom: 12px;
}
footer .footer-contact ul li a {
  color: #fff;
  font-size: 0.8em;
  padding-left: 40px;
  line-height: 1;
}
footer .footer-contact ul li a:hover {
  color: #FF0100;
}
footer .footer-contact ul li a.footer-email:before {
  content: url("../img/email-letter-square.svg");
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
footer .footer-contact ul li a.footer-tel:before {
  content: url("../img/iphone-mobile-phone.svg");
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

[class^=footer-menu-] ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
[class^=footer-menu-] ul li {
  position: relative;
  margin-bottom: 12px;
}
[class^=footer-menu-] ul li a {
  color: #fff;
  font-size: 0.8em;
  padding-left: 40px;
  line-height: 1;
}
[class^=footer-menu-] ul li a:hover {
  color: #FF0100;
}

.footer-button {
  text-align: center;
  padding-top: 24px;
}

.footer-button .red-button:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.copyright {
  padding-top: 24px;
  font-size: 0.6em;
  opacity: 0.5;
  color: #fff;
  text-align: center;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  #features .features-bg {
    height: 300px;
  }
}
@media only screen and (min-width: 510px) {
  .home-hero-title-column {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }

  #home-hero {
    background-position: 63% 50%;
    padding: 60px 0 60px;
  }
  #home-hero h1 {
    padding-right: 14%;
  }
  #home-hero .home-hero-description {
    padding-right: 29%;
  }
  #home-hero .home-hero-buttons {
    text-align: left;
  }
  #home-hero .home-hero-buttons .btn {
    margin-bottom: 12px;
  }

  #features .features-bg {
    height: 350px;
  }

  .services-row .service-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #bar-menu-wrap #bar-menu li {
    padding-left: 27px;
    padding-right: 27px;
  }

  #home-hero {
    background-position: 50% 50%;
    padding: 60px 0 60px;
  }
  #home-hero h1 {
    padding-right: 14%;
  }
  #home-hero .home-hero-description {
    padding-right: 29%;
  }
  #home-hero .home-hero-buttons .btn {
    margin-bottom: 12px;
  }
  #home-hero .home-hero-buttons .btn:not(:first-child) {
    margin-left: 15px;
  }

  .feature-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .feature-item .feature-icon {
    -webkit-flex-basis: 148px;
    -ms-flex-preferred-size: 148px;
    flex-basis: 148px;
    max-width: 148px;
    padding-top: 5px;
  }
  .feature-item .feature-description {
    -webkit-flex-basis: calc(100% - 148px);
    -ms-flex-preferred-size: calc(100% - 148px);
    flex-basis: calc(100% - 148px);
    max-width: calc(100% - 148px);
  }
  .feature-item .feature-title {
    text-align: left;
  }

  #features .features-bg {
    height: 450px;
  }

  .home-service-buttons .btn:first-child {
    margin-right: 19px;
  }

  #home-clients-experience .client-experience-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .footer-column-2 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .footer-column-3 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  body {
    font-size: 18px;
  }

  .brand {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.08);
    padding: 15px 45px;
    top: 0;
  }
  .brand img {
    max-height: 150px;
  }

  #bar-menu-wrap #bar-menu {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  #bar-menu-wrap #bar-menu li {
    padding-left: 18px;
    padding-right: 18px;
  }
  #bar-menu-wrap #bar-menu li.bar-button {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  #header {
    padding-top: 20px;
  }

  .home-hero-title-column {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }

  #home-hero {
    padding: 130px 0 160px;
  }
  #home-hero h1 {
    padding-right: 0;
  }
  #home-hero .home-hero-description {
    padding-right: 0;
  }
  #home-hero .home-hero-buttons .btn {
    margin-bottom: 0;
  }
  #home-hero .home-hero-buttons .btn:not(:first-child) {
    margin-left: 30px;
  }

  #home-about-us .arrow-right {
    margin-bottom: 0;
  }
  #home-about-us .row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #home-about-us .column:first-child {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  #home-about-us .column:last-child {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }

  .features-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .features-row .column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    margin-left: 50%;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  #features .features-bg {
    height: 100%;
    position: absolute;
    width: calc(50vw - 7px);
    top: 0;
    left: 0;
  }

  footer .footer-logo {
    text-align: left;
  }
  footer .footer-contact ul li {
    margin-bottom: 24px;
  }

  .footer-column-1 {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }

  .footer-column-2 {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%;
  }

  .footer-column-3 {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }

  .footer-column-4 {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%;
  }

  [class^=footer-menu-] ul {
    padding-top: 5px;
  }
  [class^=footer-menu-] ul li {
    margin-bottom: 24px;
  }

  .copyright {
    text-align: left;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #bar-menu-wrap #bar-menu li {
    padding-left: 67px;
    padding-right: 67px;
  }
}
@media only screen and (min-width: 1250px) {
  body {
    font-size: 20px;
  }

  .home-hero-title-column {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  #services .container {
    max-width: 1640px;
  }
  #services .container .service-column {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  #home-clients-experience .client-experience-column {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer-column-1 {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  .footer-column-2 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .footer-column-3 {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }

  .footer-column-4 {
    -webkit-flex-basis: 21.67%;
    -ms-flex-preferred-size: 21.67%;
    flex-basis: 21.67%;
    max-width: 21.67%;
  }

  .footer-button {
    text-align: right;
    padding-top: 48px;
  }
}