@font-face{
	font-family: 'EBGaramond-Venandi';
	src: url('../fonts/EBGaramond-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'NunitoSans-Venandi';
	src: url('../fonts/NunitoSans-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'NunitoSans-Venandi';
	src: url('../fonts/NunitoSans-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}