@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: 'Mont-Brilliant';
  src: url("../fonts/Mont-Regular.otf");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'Mont-Brilliant';
  src: url("../fonts/Mont-SemiBold.otf");
  font-weight: 600;
  font-display: swap; }

@font-face {
  font-family: 'Mont-Brilliant';
  src: url("../fonts/Mont-Bold.otf");
  font-weight: 700;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  color: #0A1B2F;
  font-size: 14px;
  line-height: 1.6;
  font-family: Mont-Brilliant, sans-serif;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: Mont-Brilliant, sans-serif;
  font-weight: 700; }

h1 {
  font-size: 3.57em;
  line-height: .95; }

h2 {
  font-size: 2.86em;
  line-height: .95; }

h3 {
  font-size: 2.58em;
  line-height: 0.95; }

h4 {
  font-size: 2.28em;
  line-height: .95; }

h5 {
  font-size: 1.42em;
  line-height: .95; }

a:hover, a:active, a:focus {
  outline: 0; }

a {
  color: #54CC76; }
  a:hover {
    color: #54CC76;
    text-decoration: none; }

input::-moz-focus-inner {
  border: 0; }

object, embed {
  outline: 0; }

::-webkit-input-placeholder {
  color: #0A1B2F;
  opacity: .4; }

::-moz-placeholder {
  color: #0A1B2F;
  opacity: .4; }

:-ms-input-placeholder {
  color: #0A1B2F;
  opacity: .4; }

::-ms-input-placeholder {
  color: #0A1B2F;
  opacity: .4; }

::placeholder {
  color: #0A1B2F;
  opacity: .4; }

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 999999;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .main-menu ul li {
      position: relative;
      padding: 5px 0; }
      .main-menu ul li ul {
        margin-left: 10px;
        display: block; }
      .main-menu ul li a {
        color: #0A1B2F; }
        .main-menu ul li a:hover {
          color: #54CC76; }

.main-menu.open {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

/* Toggle */
.toggle-btn {
  display: block;
  position: absolute;
  top: 32px;
  left: 15px;
  z-index: 9999999999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block; }

.hamburger .icon-bar {
  background-color: #54CC76;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 15px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media only screen and (min-width: 768px) {
  .menu-item-has-children > a:after {
    content: url("../img/arrow-down.svg");
    position: absolute;
    right: 5px;
    top: 12px;
    -webkit-transition: -webkit-transform 0.15s ease;
    transition: -webkit-transform 0.15s ease;
    transition: transform 0.15s ease;
    transition: transform 0.15s ease, -webkit-transform 0.15s ease; }
  .menu-item-has-children:hover > a:after {
    content: url("../img/arrow-down.svg");
    position: absolute;
    right: 5px;
    top: 16px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .main-menu {
    position: unset;
    background-color: transparent;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 14px;
    font-weight: 400; }
    .main-menu ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .main-menu ul li {
        padding: 15px 19px;
        position: relative; }
        .main-menu ul li.current-menu-item a {
          color: #54CC76; }
      .main-menu ul.sub-menu {
        display: none;
        position: absolute;
        left: 0;
        top: 45px;
        background-color: #fff;
        width: 175px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 10px 15px; }
        .main-menu ul.sub-menu li {
          padding: 5px 0;
          line-height: 1; }
        .main-menu ul.sub-menu.open {
          display: block; }
  .toggle-btn {
    display: none; }
  .brand {
    text-align: left; } }

@media only screen and (min-width: 992px) {
  .main-menu ul li {
    padding: 15px 25px; } }

#top-bar {
  background: #F2F4F7;
  padding: 8.5px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px; }

.social-buttons {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 99; }
  .social-buttons li {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px; }
  .social-buttons li.facebook a:hover svg path {
    fill: #0A1B2F; }
  .social-buttons li.instagram a:hover svg path {
    stroke: #0A1B2F; }
  .social-buttons li.twitter a:hover svg path {
    fill: #0A1B2F; }

header {
  padding: 28px 0;
  position: relative;
  z-index: 99999999; }

.green-button {
  color: #54CC76;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  padding: 18px 40px;
  background: #FFFFFF;
  border: 2px solid #54CC76;
  border-radius: 60px; }
  .green-button:hover {
    background: #54CC76;
    color: #fff; }

.green {
  color: #54CC76; }

.item-description {
  margin-bottom: 30px; }

#hero-slider .item-image {
  max-width: 100%;
  height: auto;
  margin-top: -50px; }

.prev-button {
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #E6E8F0;
  border-radius: 50%;
  margin-right: 12px; }
  .prev-button:hover svg path {
    stroke: #0A1B2F; }

.next-button {
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #E6E8F0;
  border-radius: 50%; }
  .next-button:hover svg path {
    stroke: #0A1B2F; }

.hero-slider-buttons {
  position: relative;
  padding-left: 15px;
  margin-top: -50px;
  z-index: 999999; }

#our-products {
  padding: 120px 0; }

.product-slider-wrap {
  position: relative; }
  .product-slider-wrap .slick-track {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .product-slider-wrap .slick-slide {
    height: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.product-slider-item {
  position: relative;
  padding-top: 60px;
  margin-left: 15px;
  margin-right: 15px; }

.product-slider-bg {
  height: auto;
  position: relative;
  margin-top: 125px;
  text-align: center;
  padding: 28px 28px 125px; }

.product-slider-image {
  margin-top: -140px; }
  .product-slider-image img {
    display: inline-block;
    margin-bottom: 30px; }

.product-slider-title {
  font-size: 1.71em;
  font-weight: 700;
  line-height: 1.5; }

.white-button {
  font-size: 1.14em;
  font-weight: 600;
  color: #54CC76;
  background-color: #fff;
  line-height: 1;
  padding: 24.5px 45px;
  border-radius: 70px; }
  .white-button:hover {
    color: #fff;
    background-color: #54CC76; }

.product-slider-button {
  position: absolute;
  bottom: 28px;
  left: 28px;
  right: 28px; }
  .product-slider-button .btn {
    width: 100%;
    max-width: 320px; }

.yellow-bg {
  background: -webkit-linear-gradient(top, #FFF8E1 0%, #F4FDD1 100%);
  background: linear-gradient(180deg, #FFF8E1 0%, #F4FDD1 100%);
  border-radius: 20px; }

.magenta-bg {
  background: -webkit-linear-gradient(top, #FFE1E1 0%, #FFE9FD 100%);
  background: linear-gradient(180deg, #FFE1E1 0%, #FFE9FD 100%);
  border-radius: 20px; }

.green-bg {
  background: -webkit-linear-gradient(top, #C8FCE6 0%, #E7FFE1 100%);
  background: linear-gradient(180deg, #C8FCE6 0%, #E7FFE1 100%);
  border-radius: 20px; }

.violet-bg {
  background: -webkit-linear-gradient(top, #FFE1FE 0%, #FFF7FB 100%);
  background: linear-gradient(180deg, #FFE1FE 0%, #FFF7FB 100%);
  border-radius: 20px; }

.navy-bg {
  background: -webkit-linear-gradient(top, #C1D9FC 0%, #E6F1FC 100%);
  background: linear-gradient(180deg, #C1D9FC 0%, #E6F1FC 100%);
  border-radius: 20px; }

.play-video-link a {
  color: #0A1B2F;
  font-weight: 600; }

.play-video-link a:hover {
  color: #54CC76; }

.play-video-link a:hover svg path {
  stroke: #54CC76; }

.company-logo {
  margin-bottom: 120px; }

.video-wrap {
  text-align: center;
  position: relative; }
  .video-wrap .video-button {
    position: absolute;
    top: 45%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }
  .video-wrap img {
    width: 550px;
    height: auto;
    max-width: 100%; }

#why {
  padding: 80px 0; }

.brilliant-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.14em; }
  .brilliant-list li {
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative; }
    .brilliant-list li:before {
      content: url("../img/list-marker.svg");
      position: absolute;
      left: 0; }

#home-blog {
  background-color: #F2F4F7;
  padding: 120px 0;
  position: relative; }
  #home-blog .top-curve {
    background-image: url("../img/top-curve.svg");
    height: 3vw;
    background-size: cover;
    background-position: 50% 100%;
    position: absolute;
    top: 0;
    width: 100%; }
  #home-blog .bottom-curve {
    background-image: url("../img/bottom-curve.svg");
    height: 3vw;
    background-size: cover;
    background-position: 50% 0%;
    position: absolute;
    bottom: 0;
    width: 100%; }

.blogpost-wrap {
  background-color: #fff;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 74px;
  position: relative; }

.blogpost-tumbnail {
  width: 100%;
  height: 226px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px; }

.blogpost-title {
  padding: 0 24px;
  margin-bottom: 15px;
  color: #0A1B2F; }

.blogpost-excerpt {
  padding: 0 24px;
  color: #0A1B2F; }

.blogpost-date {
  position: absolute;
  bottom: 24px;
  left: 24px;
  opacity: .4; }

#subscribe {
  padding: 140px 0 40px; }
  #subscribe .subscribe-form-wrap {
    background-color: #E4FFE3;
    border-radius: 20px;
    padding: 35px 15px 30px; }
  #subscribe form {
    position: relative; }
    #subscribe form input[type='email'] {
      width: 100%;
      border: none;
      line-height: 1;
      padding: 22px 160px 21px 32px;
      background-color: #fff;
      border-radius: 70px;
      font-style: italic;
      height: 60px; }
    #subscribe form input[type="submit"] {
      position: absolute;
      right: 0;
      border: none;
      background-color: #54CC76;
      color: #fff;
      line-height: 1;
      padding: 22px 42px 21px 42px;
      border-radius: 70px;
      height: 60px; }
      #subscribe form input[type="submit"]:hover {
        color: #0A1B2F; }

footer {
  background-color: #F2F4F7;
  position: relative;
  padding-top: 140px;
  padding-bottom: 40px; }

.footer-curve {
  background-image: url("../img/footer-curve.svg");
  height: 16vw;
  background-size: cover;
  background-position: 50% 100%;
  position: absolute;
  top: 0;
  width: 100%; }

#footer-menu {
  list-style: none;
  padding: 0;
  margin: 0; }
  #footer-menu li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px; }
    #footer-menu li a {
      font-weight: 600;
      color: #0A1B2F; }
      #footer-menu li a:hover {
        color: #54CC76; }

.hr {
  width: 100%;
  height: 1px;
  background-color: #D1D5E5;
  position: relative; }

.copyright {
  font-size: 0.86em;
  font-weight: 600; }

#bottom-menu {
  list-style: none;
  padding: 0;
  margin: 0; }
  #bottom-menu li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px; }
    #bottom-menu li a {
      font-weight: 600;
      color: #0A1B2F; }
      #bottom-menu li a:hover {
        color: #54CC76; }

#our-blog .blogpost-wrap {
  border: 1px solid #E0E6EE; }

.post-tumbnail {
  height: 27.7vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-top: 60px;
  margin-bottom: 60px; }

.singlepost-date {
  opacity: .4; }

.aligncenter {
  text-align: center; }

.share-buttons {
  width: 100%;
  text-align: center;
  margin-top: 3rem; }
  .share-buttons ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .share-buttons ul li {
      padding: 6px;
      display: inline-block; }

#article {
  margin-bottom: 80px; }

input[type='text'], input[type='tel'], input[type='email'] {
  width: 100%;
  line-height: 1;
  padding: 22px 160px 21px 32px;
  background-color: #fff;
  border: 1px solid #E0E6EE;
  border-radius: 70px;
  font-style: italic;
  height: 60px;
  font-family: Mont-Brilliant, sans-serif; }

input[type="submit"] {
  font-family: Mont-Brilliant, sans-serif;
  border: none;
  background-color: #54CC76;
  color: #fff;
  line-height: 1;
  padding: 22px 42px 21px 42px;
  border-radius: 70px;
  height: 60px; }
  input[type="submit"]:hover {
    color: #0A1B2F; }

textarea {
  font-family: Mont-Brilliant, sans-serif;
  width: 100%;
  line-height: 1;
  padding: 22px 160px 21px 32px;
  background-color: #fff;
  border: 1px solid #E0E6EE;
  border-radius: 30px;
  font-style: italic;
  height: 140px; }

#contact {
  padding-top: 30px; }

#product {
  padding-top: 30px;
  padding-bottom: 30px; }

.product-image-wrap {
  border: 1px solid #D1D5E5;
  border-radius: 20px;
  padding: 50px;
  text-align: center; }
  .product-image-wrap img {
    max-height: 458px; }

.product-dimensions {
  color: #7B8A9B;
  font-size: 1.14em; }

.product-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.gallery-item {
  border: 1px solid #D1D5E5;
  border-radius: 20px;
  padding: 18px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer; }
  .gallery-item img {
    max-height: 105px; }

.product-amount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .product-amount .amount {
    color: #AABAC5;
    margin-right: 40px; }
  .product-amount .less {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 54px;
    height: 54px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #F2F4F7;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
    -webkit-transition: all .15s ease;
    transition: all .15s ease; }
    .product-amount .less:hover {
      background-color: #e2e7ed; }
  .product-amount .more {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 54px;
    height: 54px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #F2F4F7;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
    -webkit-transition: all .15s ease;
    transition: all .15s ease; }
    .product-amount .more:hover {
      background-color: #e2e7ed; }

.add-to-cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .add-to-cart .btn {
    margin-right: 30px; }
  .add-to-cart .price {
    font-size: 2.14em;
    font-weight: 600;
    color: #54CC76; }

.features {
  margin-top: 60px; }

#product-reviews {
  padding: 60px 0; }
  #product-reviews .review-autor {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  #product-reviews .review-autor-avatar {
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 15px; }
  #product-reviews .review-date {
    font-size: 1.14em;
    font-weight: 600;
    color: #AABAC5; }
  #product-reviews .review-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 510px) {
  #hero-slider .item-image {
    margin-top: -100px; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .product-slider-buttons {
    position: absolute;
    left: 430px;
    top: -8px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #hero-slider {
    margin-top: -180px; }
    #hero-slider .item-description {
      margin-right: 50px; }
    #hero-slider .item-image {
      max-width: unset;
      height: auto;
      margin-left: -200px;
      margin-top: 0; }
  .hero-slider-buttons {
    margin-top: -170px; }
  .company-description {
    margin-right: 50px; }
  .share-buttons {
    position: absolute;
    text-align: left;
    left: 3rem; }
    .share-buttons ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .share-buttons ul a:hover {
        opacity: .8; }
      .share-buttons ul li {
        padding: 6px;
        display: block; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #hero-slider {
    margin-top: -180px; }
    #hero-slider .item-description {
      margin-right: 280px; }
    #hero-slider .item-image {
      max-width: unset;
      height: auto;
      margin-left: -200px; }
  .company-description {
    margin-right: 200px; }
  #subscribe .subscribe-form-wrap {
    padding: 35px 15px 30px 80px; }
  .video-wrap {
    margin-left: -200px; } }
