@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: 'Asap';
  src: url("../fonts/Asap-Regular.ttf");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'Nexa';
  src: url("../fonts/NexaHeavy.otf");
  font-weight: 900;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html {
  position: relative; }

body {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.14;
  font-family: Asap, sans-serif;
  overflow-x: hidden; }

.main {
  height: 100%;
  overflow-y: auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: Nexa, sans-serif;
  font-weight: 900;
  line-height: 1.2; }

h1 {
  font-size: 2.1em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 21px; }

h5 {
  font-size: 14px; }

a {
  color: #9B0758;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:hover {
    color: #fff; }

a:hover, a:active, a:focus {
  outline: none;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

button, button:hover, button:active, button:focus {
  outline: none; }

input::-moz-focus-inner {
  border: 0; }

input:focus, textarea:focus {
  outline: none; }

object, embed {
  outline: none; }

::-webkit-input-placeholder {
  color: #323232;
  opacity: 1; }

::-moz-placeholder {
  color: #323232;
  opacity: 1; }

:-ms-input-placeholder {
  color: #323232;
  opacity: 1; }

::-ms-input-placeholder {
  color: #323232;
  opacity: 1; }

::placeholder {
  color: #323232;
  opacity: 1; }

#countdown {
  margin-bottom: 30px;
  max-width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto; }

.countdown-row {
  clear: both;
  width: 100%;
  padding: 0px 2px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .countdown-row .countdown-section {
    background-color: rgba(6, 10, 33, 0.7);
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 11px;
    padding: 15px; }
  .countdown-row .countdown-amount {
    font-family: Nexa, sans-serif;
    font-weight: 900;
    font-size: 1.5em; }
  .countdown-row .countdown-period {
    color: #9B0758;
    font-size: .5em; }

.countdown-show1 .countdown-section {
  width: 98%; }

.countdown-show2 .countdown-section {
  width: 48%; }

.countdown-show3 .countdown-section {
  width: 32.5%; }

.countdown-show4 .countdown-section {
  width: 24.5%; }

.countdown-show5 .countdown-section {
  width: 19.5%; }

.countdown-show6 .countdown-section {
  width: 16.25%; }

.countdown-show7 .countdown-section {
  width: 14%; }

.countdown-section {
  display: block;
  float: left;
  text-align: center; }

.countdown-amount {
  font-family: Vote-DelFi, sans-serif;
  font-size: 3.5em;
  margin-bottom: 30px; }

.countdown-period {
  display: block;
  font-size: 0.63em;
  text-transform: uppercase; }

.countdown-descr {
  display: block;
  width: 100%; }

.magenta {
  color: #9B0758; }

#top-bar {
  padding: 45px 0; }
  #top-bar ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #top-bar ul li {
      padding-left: 20px;
      padding-right: 20px;
      display: inline-block; }
      #top-bar ul li:first-child {
        padding-left: 0; }
      #top-bar ul li:last-child {
        padding-right: 0; }
      #top-bar ul li a {
        color: #fff;
        font-size: 0.7em;
        line-height: 1;
        text-transform: uppercase; }
        #top-bar ul li a:hover {
          color: #9B0758;
          text-decoration: none;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }
      #top-bar ul li.menu-button a {
        background-color: #9B0758;
        padding: 17px 28px;
        border-radius: 5px; }
        #top-bar ul li.menu-button a:hover {
          background-color: #fff;
          color: #9B0758; }

.white-button {
  background-color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 1;
  padding: 17px 55px;
  border-radius: 5px;
  letter-spacing: 1.28px;
  color: #9B0758; }
  .white-button:hover {
    color: #fff;
    background-color: #9B0758; }

.magenta-button {
  background-color: #9B0758;
  text-transform: uppercase;
  font-size: 0.7em;
  line-height: 1;
  padding: 15px 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  width: 200px;
  max-width: 100%;
  color: #fff; }
  .magenta-button:hover {
    color: #9B0758;
    background-color: #fff; }

#buy-tokens {
  padding: 60px 0; }
  #buy-tokens .token-card {
    height: 100%;
    background-color: rgba(6, 10, 33, 0.7);
    border-radius: 11px;
    padding: 30px 25px; }
    #buy-tokens .token-card .token-icon {
      height: 160px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 15px; }
    #buy-tokens .token-card .token-description {
      font-size: 0.7em; }
    #buy-tokens .token-card .token-table {
      border-top: 1px solid rgba(155, 7, 88, 0.28);
      border-bottom: 1px solid rgba(155, 7, 88, 0.28); }
      #buy-tokens .token-card .token-table table {
        width: 100%;
        font-size: 0.7em;
        margin-top: 15px; }
        #buy-tokens .token-card .token-table table tr td {
          padding-bottom: 15px; }
        #buy-tokens .token-card .token-table table tr td:first-child {
          text-align: left; }
        #buy-tokens .token-card .token-table table tr td:last-child {
          text-align: right; }

#road-map {
  padding-bottom: 60px; }
  #road-map .map-element {
    padding-left: 45px;
    position: relative;
    padding-bottom: 45px; }
    #road-map .map-element:last-child {
      padding-bottom: 0; }
    #road-map .map-element .element-date {
      background-color: rgba(6, 10, 33, 0.7);
      display: inline-block;
      padding: 15px 25px 5px;
      margin-bottom: 15px;
      border-radius: 5px;
      font-family: Nexa, sans-serif;
      font-size: 2em;
      color: #9B0758;
      line-height: 1; }
    #road-map .map-element:before {
      content: '';
      display: block;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: #9B0758;
      position: absolute;
      top: 0;
      left: -9px; }
    #road-map .map-element:after {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 6px;
      left: -3.5px; }
    #road-map .map-element:first-child:before {
      content: url("");
      background-image: url("../img/start-road.svg");
      background-size: cover;
      display: block;
      position: absolute;
      background-color: transparent;
      width: 90px;
      height: 90px;
      left: -33px;
      top: -35px; }
    #road-map .map-element:first-child:after {
      display: none; }
  #road-map .road-map:before {
    content: '';
    position: absolute;
    left: 25px;
    height: 100%;
    display: block;
    border-left: 2px dashed #fff; }

#team {
  padding: 60px 0;
  margin-bottom: -160px; }
  #team .mb-160 {
    margin-bottom: 160px; }
  #team .team-member {
    height: 100%;
    background-color: rgba(6, 10, 33, 0.7);
    border-radius: 11px;
    padding: 25px 25px 60px 50px; }
    #team .team-member .member-avatar {
      margin-top: -110px; }
      #team .team-member .member-avatar img {
        border-radius: 50%;
        border: 9px solid #9B0758; }
    #team .team-member .name {
      font-family: Nexa, sans-serif;
      font-weight: 900; }
    #team .team-member .position {
      font-size: 0.7em;
      color: #9B0758; }
    #team .team-member .member-description {
      font-size: 0.7em;
      padding-right: 35px; }

footer {
  padding: 60px 0; }
  footer .social-link {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    footer .social-link a {
      font-family: Nexa, sans-serif;
      font-weight: 900;
      font-size: 0.7em;
      text-transform: uppercase;
      line-height: 1;
      color: #fff; }
      footer .social-link a svg {
        width: 55px;
        margin-right: 10px; }
        footer .social-link a svg path {
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }
      footer .social-link a:hover {
        color: #9B0758;
        text-decoration: none; }
        footer .social-link a:hover svg path {
          fill: #9B0758; }
  footer .sosial-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  footer .copyright {
    padding-top: 30px;
    font-size: 10px;
    opacity: 0.5; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .countdown-row {
    width: 100%; }
    .countdown-row .countdown-amount {
      font-size: 3em; }
    .countdown-row .countdown-section {
      padding: 25px; }
    .countdown-row .countdown-period {
      font-size: 0.7em; }
  body {
    font-size: 18px; }
  #road-map .map-element {
    width: 50%;
    padding-bottom: 0; }
    #road-map .map-element:nth-child(odd) {
      margin-left: 50%;
      padding-left: 130px; }
      #road-map .map-element:nth-child(odd):before {
        left: -18px; }
      #road-map .map-element:nth-child(odd):after {
        left: -13px; }
    #road-map .map-element:nth-child(even) {
      text-align: right;
      padding-right: 130px;
      padding-left: unset; }
      #road-map .map-element:nth-child(even):before {
        left: unset;
        right: -22px; }
      #road-map .map-element:nth-child(even):after {
        left: unset;
        right: -15px; }
    #road-map .map-element:first-child:before {
      width: 215px;
      height: 215px;
      left: -105px;
      top: -105px; }
    #road-map .map-element .element-description {
      font-size: 1.3em; }
  #road-map .road-map:before {
    content: '';
    position: absolute;
    left: 50%;
    height: calc(100% - 70px);
    display: block;
    border-left: 2px dashed #fff; }
  footer .sosial-wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer .sosial-wrap .social-link {
      -webkit-flex-basis: unset;
      -ms-flex-preferred-size: unset;
      flex-basis: unset; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .countdown-row .countdown-amount {
    font-size: 4em; }
  body {
    font-size: 20px; } }

@media only screen and (min-width: 1350px) {
  .container {
    max-width: 1350px; }
  .countdown-row .countdown-amount {
    font-size: 5em; } }
