@font-face{
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay-Italic.ttf');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face{
	font-family: 'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'HammersmithOne';
	src: url('../fonts/HammersmithOne-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}