#main-menu{
	position: fixed;
	width: 265px;
	top: 109.483px;
	right: 0;
	bottom: 0;
	background-color: $violet;
	z-index: 99;
	transform: translateX(265px);
	transition: transform 0.3s ease-in-out;
	height: calc(100vh - 109.483px);
	overflow-y: auto;
	& ul#primary-menu{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 30px 24px;
		& li{
			position: relative;
			margin-bottom: 25px;
			& a{
				text-decoration: none;
				color: #fff;
				font-size: 0.8em;	
				font-family: HammersmithOne, sans-serif;
				line-height: 1;	
				text-transform: uppercase;
				&:hover{
					text-decoration: none;
				}
			}
			& .sub-menu{
				margin: 25px 0 0;
				padding: 0;
				list-style: none;
				& li{
					margin-bottom: 12px;
					&:last-child{
						margin-bottom: 0;	
					}
					& a{
						font-family: Quicksand, sans-serif;
						text-transform: none;	
					}
				}
			}
			&.menu-button-1{
				width: 100%;
				margin-bottom: 10px;	
				& a{
					display: inline-block;	
					font-family: Quicksand, sans-serif;
					width: 215px;
					max-width: 100%;	
					background-color: $red;
					font-size: 1em;	
					text-align: center;	
					padding: 12px 15px;	
					border-radius:18.5px;
					text-transform: none;

				}
			}
			&.menu-button-2{
				width: 100%;
				margin-bottom: 10px;	
				& a{
					display: inline-block;	
					font-family: Quicksand, sans-serif;
					width: 215px;
					max-width: 100%;
					color: $red;	
					background-color: #fff;
					font-size: 1em;	
					text-align: center;	
					padding: 12px 15px;	
					border-radius:18.5px;
					text-transform: none;

				}
			}
		}
	}
}

#main-menu.open{
	transform: translateX(0);
}

/* Toggle */
#toggle-btn {
  display: block;
  position: absolute;
  top: 56px;
  right: 24px;
  z-index: 9999999; }

#toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
   }

.hamburger .icon-bar {
  background-color: $violet;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.4s;
  border-radius: 2px;
  width: 19px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 4px;
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -6px;
  transform: rotate(-45deg); }


@media only screen and (min-width: 992px){

	#main-menu{
		transform:translateX(0%);
		position: relative;
		width: unset;
		height: unset;
		top: unset;
		left: unset;
		right: unset;
		bottom:unset;
		background-color: transparent;
		overflow: visible;
		& ul#primary-menu{
			display: flex;
			height: unset;
			flex-direction: row;
			justify-content: flex-end;
			align-items:center;
			padding: 0;
			& li{
				margin-bottom: 0;
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 20px;
				padding-bottom: 20px;
				position: relative;
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
				}
				& .sub-menu{
					position: absolute;
					left: 0;
					top: 99%;
					background-color: $violet;
					padding: 10px 10px 20px;
					margin: 0;
					width: 190px;
					display: none;
					& li{
						padding: 0;
						& a{
							color: #fff;
							&:hover{
								color: $red;
							}
						}
					}
				}
				& a{
					color: $violet;
					&:hover{
						color: $pink;
					}
				}
				&.menu-button-1{
					width: unset;
					margin-bottom: 0;	
					padding-left: 5px;
					padding-right: 5px;
					& a{
						display: inline-block;	
						font-family: Quicksand, sans-serif;
						width: unset;
						max-width: 100%;	
						background-color: $violet;
						color: #fff;
						font-size: 1em;
						font-weight: 700;	
						text-align: center;	
						padding: 10px 18px;	
						border-radius:18.5px;
						border:1px solid transparent;
						&:hover{
							background-color: #fff;
							color: $violet;
							border-color:$violet;
						}
					}
				}
				&.menu-button-2{
					width: unset;
					margin-bottom: 0;
					padding-left: 5px;
					padding-right: 5px;	
					& a{
						display: inline-block;	
						font-family: Quicksand, sans-serif;
						width: 130px;
						max-width: 100%;
						color: #fff;	
						background-color: $red;
						font-size: 1em;
						font-weight: 700;	
						text-align: center;	
						padding: 10px 18px;	
						border-radius:18.5px;
						border:1px solid transparent;
						&:hover{
							background-color: #fff;
							color: $red;
							border-color:$red;
						}
					}
				}
			}
		}
		& #mobile-social{
			display: none;
		}
		
	}
	#toggle-btn{
		display: none;
	}
}

@media only screen and (min-width: 1250px){
	#main-menu ul#primary-menu li{
		padding-left: 27px;
		padding-right: 27px;
		& a{
			font-size: 0.83em;
		}
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
		&.menu-button-1{
			& a{
				min-width: 210px;
				font-size: 0.83em;
				padding: 11px 18px;
			}
		}
		&.menu-button-2{
			& a{
				min-width: 170px;
				font-size: 0.83em;
				padding: 11px 18px;
			}
		}
	}
}