@font-face{
	font-family: 'Avenir-ECT';
	src: url('../fonts/Avenir-Book-01.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'Avenir-ECT';
	src: url('../fonts/Avenir-Heavy-05.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'Montserrat-ECT';
	src: url('../fonts/Montserrat-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'Montserrat-ECT';
	src: url('../fonts/Montserrat-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'Montserrat-ECT';
	src: url('../fonts/Montserrat-Medium.ttf');
	font-weight: 500;
	font-display: swap;
}