@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
	
}
		


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 509px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px){

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


@media only screen and (min-width : 510px){


}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	.slider-item{
		height: 660px;
		position: relative;
		& .slider-image{
			height: 620px;
			background-size: cover;
			background-position: center;
		}
		& .slider-text{
			background-color: $yellow;
			color:#fff;
			padding: 45px 70px;
			position: absolute;
			bottom: 0;
			right: 60px;
			max-width:640px;
		}
	}
	.slick-prev{
		top: 80%;
	}

	.slick-next{
		top: 80%;
	}
	.slick-dots{
		bottom: -13px;
		text-align: left;
		& li {
			width: 30px;
			height: 3px;
			padding: 3px 0;
				& button{
				width: 30px;
				height: 3px;
				&:before{
					content:'';
					width: 30px;
					height: 3px;
					background-color: rgba(145,145,145,0.15);
					opacity: 1;
				}
			}
		}
		& li.slick-active{
			& button:before{
				content:'';
				width: 30px;
				height: 3px;
				background-color: $yellow;
			}
		}
		& li:hover{
			& button:before{
				content:'';
				width: 30px;
				height: 3px;
				background-color: $yellow;
			}
		}
	}
	#about{
		padding: 60px 0;
	}
	#what-we-do{
		padding: 60px 0 140px;
	}
	#why-choose-us{
		padding: 60px 0 140px;
	}
	#opportunities{
		padding: 80px 0 60px;
	}
	#contact{
		padding: 60px 0 80px;
	}
	.form-wrap{
		padding: 70px 90px 50px;
	}
	.copyright{
		padding-left: 65px;
		text-align: left;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	body{
		font-size: 20px;
	}
}

@media only screen and (min-width : 1300px){
	.container{
		max-width:1260px;
	}
	.slick-dots{
		bottom: -13px;
		text-align: left;
		padding-left: 30px;
		& li {
			width: 57px;
			height: 3px;
			padding: 3px 0;
				& button{
				width: 57px;
				height: 3px;
				&:before{
					content:'';
					width: 57px;
					height: 3px;
					background-color: rgba(145,145,145,0.15);
					opacity: 1;
				}
			}
		}
		& li.slick-active{
			& button:before{
				content:'';
				width: 57px;
				height: 3px;
				background-color: $yellow;
			}
		}
		& li:hover{
			& button:before{
				content:'';
				width: 57px;
				height: 3px;
				background-color: $yellow;
			}
		}
	}
}