
.main-menu{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 14px;
	font-weight: 400;
	background-color: #eee;
	z-index: 99;
	transform: translateX(200%);
	transition: transform 0.3s ease-in-out;
	display: flex;
	align-items:center;
	justify-content: center;
	& ul{
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		& li{
			display: block;
			padding-left: 24px;
			padding-right: 24px;
			margin-bottom: 30px;
			line-height: 1;
			& a{
				position: relative;
				color:$violet;
				font-size: 18px;
				line-height: 18px;
				text-transform: uppercase;
				transition: color 0.3s ease-in-out;
				&:hover{
					color:$yellow;
				}
			}
		}
	}
}

.main-menu.open{
	transform: translateX(0%);
}

.main-menu .menu-button a{
	padding: 18px 65px;
	border:1px solid $yellow;
	border-radius: 25px;
	transition: all 0.3s ease-in-out;
	&:hover{
		background-color: $yellow;
		color: #fff;
	}
}

.dropdown-link:after{
	content: url('../img/arrow-down.svg');
	position: absolute;
	right: -5px;
	top: -2px;
}




/* Toggle */
.toggle-btn {
  display: block;
  position: absolute;
  top: 32px;
  right: 15px;
  z-index: 9999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block;
   }

.hamburger .icon-bar {
  background-color: $yellow;
  display: block;
  height: 4px;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 25px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 4px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 6px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -10px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }


@media only screen and (min-width: 992px){
	.toggle-btn{
		display: none;
	}
	.left-menu, .right-menu{
		& ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
			& li{
				display: inline-block;
				padding: 20px 25px;
				& a{
					font-family: Montserrat-ECT, serif;
					font-size: 16px;
					color:$violet;
					text-transform: uppercase;
					&:hover{
						color:$yellow;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1300px){
	.left-menu, .right-menu{
		& ul li{
			padding: 20px 45px;
		}
	}
}