@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "menu";

header{
	padding: 30px;
}

.slider-item{
	position: relative;
	& .slider-image{
		height: 320px;
		background-size: cover;
		background-position: center;
	}
	& .slider-text{
		background-color: $yellow;
		color:#fff;
		padding: 20px 30px;
		& .slider-title{
			font-family: Montserrat-ECT, sans-serif;
			font-weight: 700;
			font-size: 1.6em;
			line-height: 1.21;
			margin-bottom: 15px;
		}
		& .slider-subtitle{
			font-size: 0.9em;
		}
	}
}

.slick-prev{
	z-index: 99;
	left: -35px;
	width: 72px;
	height: 72px;
}

.slick-next{
	z-index: 99;
	right: -35px;
	width: 72px;
	height: 72px;
}

.slick-prev:before {
	content:url('../img/slide-arrow.svg');
	width: 72px;
	height: 72px;
	background-color: $violet;
	display: flex;
	justify-content: center;
	align-items:center;
}

.slick-next:before {
	content:url('../img/slide-arrow.svg');
	transform:rotate(180deg);
	width: 72px;
	height: 72px;
	background-color: $violet;
	display: flex;
	justify-content: center;
	align-items:center;
}

.slick-dots{
	bottom: -30px;
	& li {
		width: 20px;
		height: 3px;
		padding: 3px 0;
			& button{
			width: 20px;
			height: 3px;
			&:before{
				content:'';
				width: 20px;
				height: 3px;
				background-color: rgba(145,145,145,0.15);
				opacity: 1;
			}
		}
	}
	& li.slick-active{
		& button:before{
			content:'';
			width: 20px;
			height: 3px;
			background-color: $yellow;
		}
	}
	& li:hover{
		& button:before{
			content:'';
			width: 20px;
			height: 3px;
			background-color: $yellow;
		}
	}
}

#about{
	padding: 30px 0;
}

.violet-button{
	font-family: Montserrat-ECT, sans-serif;
	font-weight: 500;
	line-height: 1;
	color:#fff;
	background-color: $violet;
	border-radius: 0;
	padding: 16px 65px;
	text-transform: uppercase;
	&:hover{
		color:#fff;
		background-color: lighten($violet, 5%);
	}
}

#what-we-do{
	padding: 30px 0 ;
	background:#F3F3F3;
	position: relative;
	& .top-curve{
		position: absolute;
		top: 0;
		width: 100%;
		text-align: center;	
	}
	& .bottom-curve{
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}
}

#why-choose-us{
	padding: 30px 0 60px;
}

.experience{
	position: relative;
	padding-left: 80px;
	margin-bottom: 30px;
	&:before{
		content:url('../img/experience.svg');
		position: absolute;
		left: 0;
		top: 4px;
	}
}

.team{
	position: relative;
	padding-left: 80px;
	margin-bottom: 30px;
	&:before{
		content:url('../img/team.svg');
		position: absolute;
		left: 0;
		top: 4px;
	}
}

.first-place{
	position: relative;
	padding-left: 80px;
	margin-bottom: 30px;
	&:before{
		content:url('../img/first-place.svg');
		position: absolute;
		left: 6px;
		top: 4px;
	}
}

#opportunities{
	padding: 30px 0;
	background-color: #F3F3F3;
	& .violet-button{
		padding-left: 40px;
		padding-right: 40px;
	}
}

.yellow{
	color:$yellow;
}

.violet{
	color:$violet;
}

.ect{
	list-style: none;
	margin: 0;
	padding: 0;
	color:$violet;
	& li{
		position: relative;
		padding-left: 45px;
		margin-bottom: 10px;
		&:before{
			position: absolute;
			content:'';
			width: 22px;
			height: 3px;
			background-color: $yellow;
			display: block;
			left: 0;
			top: 13px;
		}
	}
}

#contact{
	padding: 30px 0;
	background-color: $violet;
	color:#fff;
}

.address{
	position: relative;
	padding-left: 65px;
	font-size: 0.8em;
	line-height: 2.375;
	margin-bottom: 35px;
	&:before{
		content:url('../img/pin.svg');
		position: absolute;
		left: 0;
		top: 5px;
	}
}

.direction a{
	font-size: 0.6em;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	font-family: Montserrat-ECT, sans-serif;
	font-weight: 700;
	&:after{
		content:url('../img/arrow-right.svg');
		padding-left: 20px;
		vertical-align:middle;
		transition:all 0.3s ease-in-out;
	}
	&:hover{
		color:#fff;
		&:after{
			padding-left: 25px;
		}
	}
}

.phone{
	position: relative;
	padding-left: 65px;
	font-size: 0.8em;
	line-height: 2.375;
	margin-bottom: 35px;	
	&:before{
		content:url('../img/phone.svg');
		position: absolute;
		left: 0;
		top: 5px;
	}
	& a{
		color:#fff;
		&:hover{
			color:$yellow;
		}
	}
}

.fax{
	position: relative;
	padding-left: 65px;
	font-size: 0.8em;
	line-height: 2.375;
	margin-bottom: 35px;	
	&:before{
		content:url('../img/fax.svg');
		position: absolute;
		left: 0;
		top: 0;
	}
	& a{
		color:#fff;
		&:hover{
			color:$yellow;
		}
	}
}

.email{
	position: relative;
	padding-left: 65px;
	font-size: 0.8em;
	line-height: 2.375;
	margin-bottom: 35px;	
	&:before{
		content:url('../img/mail.svg');
		position: absolute;
		left: 0;
		top: 0;
	}
	& a{
		color:#fff;
		&:hover{
			color:$yellow;
		}
	}
}

.copyright{
	font-size: 0.5em;
	text-align: center;
}

.form-wrap{
	background-color: $yellow;
	padding: 20px 30px 10px;
	& input:not([type="submit"]){
		font-family: Avenir-ECT, sans-serif;
		color:$black;
		width: 100%;
		border:1px solid #D89B00;
		font-size: 0.6em;
		padding: 13px 15px;
	}
	& textarea{
		font-family: Avenir-ECT, sans-serif;
		color:$black;
		width: 100%;
		height: 97px;
		border:1px solid #D89B00;
		font-size: 0.6em;
		padding: 13px 15px;
	}
	& input[type="submit"]{
		font-family: Montserrat-ECT, sans-serif;
		font-size: 0.6em;
		font-weight: 500;
		line-height: 1;
		color:#fff;
		background-color: $violet;
		border-radius: 0;
		border:none;
		padding: 16.5px 144px 16.5px 17px;
		text-transform: uppercase;
		background-image: url('../img/arrow-right.svg');
		background-repeat: no-repeat;
		background-position: 90% 50%;
		&:hover{
			color:#fff;
			background-color: lighten($violet, 5%);
		}
	}
}

@import "media";