@import "vars";

*{
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
}

html, body {
	height: 100%;
}

body {
	color: $black;
	font-size: 14px;
	line-height: 1.8;
	font-family: Avenir, sans-serif;
	overflow-x: hidden;
}



h1,h2,h3,h4,h5,h6{
	font-family: SignPainter, serif;
	font-weight: 400;
}

h1{
  font-size: 4.68em;
  line-height: 0.95;
}

h2{
  font-size: 3.25em;
  line-height: .95;
}

h3{
  font-size: 1.44em;
  line-height: .95;
}

h4{
  font-size: 21px;
  line-height: 27px;
}

h5{
  font-size: 16px;
  line-height: 18px;
}

a{
	color:$orange;
	&:hover{
		color:$yellow;
		text-decoration: none;
	}
}

a:hover, a:active, a:focus {
	outline: none;
}

button, button:hover, button:active, button:focus {
	outline: none;
}

input::-moz-focus-inner { 
  border: 0; 
}

input:focus, textarea:focus{
	outline: none;
}

object, embed { 
  outline: none;
}

::placeholder { 
  color: $black;
  opacity: 1; 
}

